<div class="back_main">
    <div class="back_main_title">
        <span>子账号管理</span>
        <a href="javascript:;" class="back_title_btn floatR">+ 添加子账号</a>
    </div>
    <div class="back_main_content">
        <div class="back_main_list">
            <div class="material_list">
                <table>
                    <colgroup>
                        <col width="50">
                        <col width="100">
                        <col width="150">
                        <col width="150">
                        <col width="100">
                        <col width="150">
                        <col width="50">
                        <col width="50">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>姓名</th>
                        <th>登录手机号</th>
                        <th>邮箱</th>
                        <th>身份</th>
                        <th>添加时间</th>
                        <th>状态</th>
                        <th>操作</th>

                    </tr>
                    </thead>
                    <tbody class="page_list">
                    <tr>
                        <td>1</td>
                        <td>XXXX</td>
                        <td>15007137362</td>
                        <td>cassie_gy@163.com</td>
                        <td>管理员</td>
                        <td>2018-06-29 12:00:00</td>
                        <td><span>有效</span></td>
                        <td><a href="javascript:;" class="textBlue">启用</a></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>XXXX</td>
                        <td>15007137362</td>
                        <td>cassie_gy@163.com</td>
                        <td>子账号</td>
                        <td>2018-06-29 12:00:00</td>
                        <td><span class="textRed">无效</span></td>
                        <td><a href="javascript:;" class="textBlue">禁用</a></td>
                    </tr>
                    </tbody>
                </table>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>