<div class="login_wrap">
    <div class="login_bg">
        <div class="login_con">
            <div class="login_box">
                <div class="login_item position_relative">
                    <strong class="active">我是供应商</strong>
                    <strong>我是采购商</strong>
                    <span class="login_line"></span>
                </div>
                <div class="login_item">
                    <i class="iconfont icon-ren user_icon"></i>
                    <input type="text" name="user_mobile" placeholder="请输入手机号"/>
                </div>
                <div class="login_item">
                    <i class="iconfont icon-quanxian-shouxian pwd_icon"></i>
                    <input type="password" name="user_pwd" placeholder="请输入密码"/>
                </div>
                <div class="err_area" style="display: none;">
                    <div class="err_tips">
                        <i class="iconfont icon-cha1 err_icon"></i>
                        <span>账号错误</span>
                    </div>
                </div>
                <div class="login_item">
                    <button>登录生材网</button>
                </div>
                <div class="login_item clearfix">
                    <a class="forget_pwd" href="javascript:;">忘记密码？</a>
                    <a class="sign_up" href="javascript:;">立即注册</a>
                </div>
            </div>
        </div>
    </div>
</div>