<div class="breadcrumbs_wrap">
    <div class="breadcrumbs_inner">
        <%= backCrumbs %>
    </div>
</div>
<div class="guestmode_bg">
    <div class="guestmode_bg_inner">
        <div class="guestmode_jindu">
            <i class="iconfont icon-jinrongtubiao_jindu"></i>
            <p>截标时间：<b>2018-08-08&nbsp;&nbsp;12:00:00</b></p>
        </div>
    </div>
</div>
<div class="bgf2">
    <div class="msg_tips_wrap">
        <p class="msg_tips"><i class="iconfont icon-i"></i>登录后可在线报名、投标，马上<a class="" href="javascript:;">登录</a>。</p>
    </div>
    <div class="zhaobiao_info">
        <div class="zb_tabs">
            <ul class="zb_tabs_list clearfix">
                <li class="zb_tabs_li active"><a href="javascript:;">招标基本信息</a></li>
                <li class="zb_tabs_li"><a href="javascript:;">招标细节要求</a></li>
                <li class="zb_tabs_li"><a href="javascript:;">招标单位简介</a></li>
                <li class="zb_tabs_li"><a href="javascript:;">项目简介</a></li>
                <li class="zb_tabs_li"><a href="javascript:;">答疑/回复</a></li>
            </ul>
        </div>
        <div class="zb_tabs_wrap">
            <div class="zb_tabs_content">
                <ul class="zb_basic_list clearfix">
                    <li class="zb_list_item">
                        <span class="item_name">招标名称：</span><strong class="textBlack">常州奇华顿项目钢材招标</strong>
                    </li>
                    <li class="zb_list_item">
                        <span class="item_name">企业招标编号：</span><strong>ES11938484940</strong>
                    </li>
                    <li class="zb_list_item">
                        <span class="item_name">报名截止时间：</span><strong class="textOrange">2018-07-12   12:00:00</strong>
                    </li>
                    <li class="zb_list_item">
                        <span class="item_name">平台招标编号：</span><strong>ES11938484940</strong>
                    </li>
                    <li class="zb_list_item">
                        <span class="item_name">公告期限：</span><strong class="textOrange">自发布之日起5个工作日</strong>
                    </li>
                    <li class="zb_list_item">
                        <span class="item_name">投标/报价方式：</span><strong>在线投标</strong>
                    </li>
                    <li class="zb_list_item">
                        <span class="item_name">采购预算：</span><strong><b class="textBlack">3,600,000</b>（拦标价）</strong>
                    </li>
                </ul>
                <div class="rich_web_txt">
                    <!-- 文本区域 -->
                </div>
                <div class="dowload_area">
                    <ul class="dowload_ul">
                        <li>
                            <i class="iconfont icon-fujian"></i><span>公告文件附件1.doc</span><a class="download_file" href="javascript:;">下载</a>
                        </li>
                        <li>
                            <i class="iconfont icon-fujian"></i><span>公告文件附件1.doc</span><a class="download_file" href="javascript:;">下载</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>