/* 面包屑 */
.breadcrumbs_wrap{
    width: 100%;
    background-color: #f2f2f2;
}
.breadcrumbs_inner{
    width: 1180px;
    margin: 0 auto;
}
/* 招标头部 */
.guestmode_bg{
    width: 100%;
    height: 245px;
}
.guestmode_bg .guestmode_bg_inner{
    max-width: 1920px;
    height: 245px;
    margin: 0 auto;
    background: url(imgs/bg.jpg) center no-repeat;
}
.guestmode_bg_inner .guestmode_jindu{
    width: 1180px;
    text-align: center;
    margin: 0 auto;
    padding-top: 40px;
}
.guestmode_jindu i{
    display: inline-block;
    width: 65px;
    height: 65px;
    font-size: 28px;
    color: #f69b6e;
    text-align: center;
    line-height: 65px;
    background-color: #fff;
    border-radius: 100%;
}
.guestmode_jindu p{
    font-size: 20px;
    color: #fff;
    margin-top: 18px;
}
.guestmode_jindu p b{
    font-weight: normal;
}

.bgf2{
    padding: 20px 0 80px;
    background-color: #f2f2f2;
}
/* 登录提示 */
.msg_tips_wrap{
    width: 1178px;
    margin: 0 auto;
}
.msg_tips{
    font-size: 14px;
    color: #666;
    height: 40px;
    line-height: 40px;
    text-indent: 10px;
    border: 1px solid #f7e3a4;
    background-color: #fcfae3;
}
.msg_tips i{
    display: inline-block;
    width: 24px;
    height: 24px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    text-indent: 0;
    line-height: 24px;
    background-color: #50b2f6;
    border-radius: 100%;
    margin-right: 10px;
}
.msg_tips a{
    color: #0084ff;
}
.msg_tips a:hover{
    text-decoration: underline;
}

/* 招标基本信息 */
.zhaobiao_info{
    width: 1178px;
    margin: 20px auto 0;
}
.zb_tabs_list{
    border-left: 1px solid #ececec;
}
.zb_tabs_list .zb_tabs_li{
    float: left;
    font-size: 16px;
    padding: 16px 28px;
    border-top: 1px solid #ececec;
    border-right: 1px solid #ececec;
    background-color: #f8f8f8;
}
.zb_tabs_list li.active{
    background-color: #fff;
}
.zb_tabs_list .zb_tabs_li a{
    color: #999;
}
.zb_tabs_list li.active a{
    color: #333;
}
.zhaobiao_info .zb_tabs_wrap{
    width: 1058px;
    padding: 60px 60px 40px;
    border: 1px solid #ececec;
    background-color: #fff;
}

/* 招标基本信息 */
.zb_basic_list{
    border-bottom: 1px solid #ececec;
}
.zb_basic_list li{
    width: 50%;
    float: left;
}
.zb_list_item .item_name{
    display: inline-block;
    width: 120px;
    font-size: 16px;
    color: #999;
    text-align: right;
    font-weight: normal;
    margin-bottom: 30px;
    vertical-align: top;
}
.zb_list_item strong{
    display: inline-block;
    width: 380px;
    font-size: 16px;
    color: #999;
    text-align: left;
    font-weight: normal;
    margin-bottom: 30px;
}
.zb_list_item .textBlack{
    font-size: 16px;
    color: #333;
    font-weight: normal;
}
.dowload_area{
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #ececec;
}
.dowload_ul li{
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}
.dowload_ul span{
    margin-left: 10px;
}
.dowload_ul a{
    color: #fc6940;
    margin-left: 20px;
}
.dowload_ul a:hover{
    text-decoration: underline;
}