<div class="room_container">
    <div class="room_bg"></div>
    <div class="room_box_bid">
        <div class="bidLine_container">
            <ul>
                <li class="line_none" style="margin-left: -30px;"><span class="line_inner"></span></li>
                <li class="line_done"><span class="line_inner"><i class="iconfont icon-xinfeng"></i></span></li>
                <li class="line_done"><span class="line_inner"><i class="iconfont icon-maikefeng"></i></span></li>
                <li class="line_act"><span class="line_inner"><i class="iconfont icon-ren1"></i></span></li>
                <li class="line_done"><span class="line_inner"><i class="iconfont icon-fenxi"></i></span></li>
                <li class="line_none"><span class="line_inner"></span></li>
                <li class="line_none"><span class="line_inner"></span></li>
            </ul>
        </div>
        <div class="room_box_title"><p>评标</p><a href="javascript:;" class="box_title_back">返回打分页面</a><a href="javascript:;" class="box_title_going">直接提交</a></div>
        <div class="room_box_content">
            <div class="box_info_time" expire_time="0">
                <span>0</span><span class="marginR10">0</span>:<span class="marginL10">3</span><span class="marginR10">8</span>:<span class="marginL10">1</span><span>9</span>
            </div>
            <div class="package_con">
                <ul>
                    <li class="act">
                        <a href="javascript:;" class="package_cell">包件1（BJBH-001）</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="package_cell">包件2（BJBH-002）</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="package_cell">包件3（BJBH-003）</a>
                    </li>
                </ul>
            </div>
            <div class="material_list">
                    <table>
                        <colgroup>
                            <col width="100">
                            <col width="50">
                            <col width="50">
                            <col width="50">
                            <col width="50">
                            <col width="50">
                        </colgroup>
                        <thead>
                        <tr>
                            <th rowspan="2">供应商名称</th>
                            <th>经济因素（30%）</th>
                            <th colspan="4">经济因素（30%）</th>
                        </tr>
                        <tr>
                            <th> 投标报价（30）</th>
                            <th> 企业注册资金（20）</th>
                            <th> 近期业绩（10）</th>
                            <th> 垫资额度（10）</th>
                            <th> 支付方式（10）</th>
                        </tr>
                        </thead>
                        <tbody class="page_list">
                            <tr>
                                <td class="tdGreen">湖北交投物流集团有限公司</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="tdGreen">湖北交投物流集团有限公司</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>