<div class="top_bar_wrap">
    <div class="com_top_bar clearfix">
        <div class="top_bar_left">
            <b class="top_bar_user">楚生材</b>
            <span class="top_bar_txt">，您好，欢迎登录生材网</span>
            <a href="#">注册</a>
            <span class="top_bar_txt">|</span>
            <a href="#" style="margin-left: 0">登录</a>
        </div>
        <div class="top_bar_right">
            <a href="javascript:;">生材网首页</a>
            <a href="javascript:;">采购商中心</a>
            <div class="top_drop_down">
                <span style="color: #999;">手机APP<i class="iconfont icon-xiajiantou"></i></span>
                <dl class="drop_app">
                    <dd>
                        <div class="drop_qrcode">
                            <img src="<%= qrcode %>" alt="生材网APP二维码">
                            <p>扫描二维码下载</p>
                        </div>
                        <div class="drop_alink">
                            <a class="ios_app" href="javascript:;"><i class="iconfont icon-ios"></i>iOS版本</a>
                            <a class="android_app" href="javascript:;"><i class="iconfont icon-android"></i>Android版本</a>
                        </div>
                    </dd>
                </dl>
            </div>
            <span class="top_bar_line"></span>
            <div class="top_drop_down">
                <span>我是供应商<i class="iconfont icon-xiajiantou"></i></span>
                <dl>
                    <dd class="active">我是供应商</dd>
                    <dd>我是采购商</dd>
                </dl>
            </div>
            <a class="top_bar_exit" href="javascript:;">退出登录</a>
            <a class="new_come" href="javascript:;">新手入门</a>
        </div>
    </div>
</div>