<div class="back_main">
    <div class="back_main_title">
        <span>企业基本信息</span>
        <a href="javascript:;" class="back_title_btn floatR" id="change_company">修改基本信息</a>
    </div>
    <form>
        <div class="back_main_content">
            <div class="back_info_item clearfix">
                <label class="back_info_title">公司名称：</label>
                <label>湖北省楚建易网络科技有限公司-供应商1</label>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title">公司logo：</label>
                <img name="logo" data-url="group1/M00/00/05/rBAM3FuSSzGAFjGdAAQV8ShmCPk526.png" src="https://file.materialw.com/group1/M00/00/05/rBAM3FuSSzGAFjGdAAQV8ShmCPk526.png">
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title">公司规模：</label>
                <label name="size">151-500人</label>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title">注册资金：</label>
                <label>2.000万元</label>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title">企业类型：</label>
                <label name="company_type">联营企业</label>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title">纳税人类型：</label>
                <label>一般纳税人</label>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title">年营业额：</label>
                <label name="business_volume">100万-500万</label>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title">公司联系方式：</label>
                <label name="company_phone">13476103436</label>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title">公司地址：</label>
                <label area="井陉矿区" city="石家庄市" province="河北省" province_code="37" city_code="38" area_code="42">
                    河北省-石家庄市-井陉矿区</label>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title">详细地址：</label>
                <label name="detail_address">江岸区新长江国际</label>
            </div>

            <div class="back_info_item clearfix">
                <label class="back_info_title">供应物资分类：</label>
                <div class="back_box clearfix" style="display: block;" name="product">
                    <span product_id="1" parent_id="0" category_id="0" class="back_box_cell">生铁、铁合金</span>
                    <span product_id="235" parent_id="194" category_id="194" class="back_box_cell">金属波纹管</span>
                </div>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title">经营区域：</label>
                <div class="back_box clearfix" name="operation" style="display: block;">
                    <span scope_operation="735" class="back_box_cell">翠峦区</span>
                    <span scope_operation="910" class="back_box_cell">宝应县</span>
                </div>
            </div>
        </div>
    </form>
    <div class="back_main_btns clearfix" style="display: none">
        <a class="btn_confirm floatR" href="javascript:;">确定</a>
    </div>
    <div class="back_main_title">
        <span>统一社会信用代码，公司授权书</span>
        <a href="javascript:;" class="back_title_btn floatR">修改</a>
    </div>
    <div class="back_main_content">
        <div class="back_info_item clearfix">
            <label class="back_info_title">统一社会信用代码：</label>
            <label>XXXXXXXXXXXXXXXXXXXXXXXXXX</label>
        </div>
        <div class="back_info_item clearfix">
            <label class="back_info_title">营业执照：</label>
            <img src="<%= npPic %>">
        </div>
        <div class="back_info_item clearfix">
            <label class="back_info_title">公司授权书：</label>
            <img src="<%= npPic %>">
        </div>
    </div>
</div>