<div class="back_main_title">
    <span>商品发布</span>
</div>
<div class="order_process">
    <div class="process_bar_box">
        <div class="process_bar has_bar"></div>
        <div class="process_bar has_bar"></div>
        <div class="process_bar has_bar"></div>
    </div>
    <div class="process_wrap">
        <div class="process_box has_process">
            <div class="process_circle">
                <span>1</span>
            </div>
            <p>所属类目</p>
        </div>
        <div class="process_box has_process">
            <div class="process_circle">
                <span>2</span>
            </div>
            <p>基本信息</p>
        </div>
        <div class="process_box has_process">
            <div class="process_circle">
                <span>3</span>
            </div>
            <p>完成</p>
        </div>
    </div>
</div>
<div class="publish_wrap">
    <div class="publish_complete">
        <i class="iconfont icon-gou"></i>
        <p class="complete_state">完成</p>
        <div class="complete_btn_box">
            <a class="publish_new" href="javascript:;">发布新商品</a>
            <a class="publish_admin" href="javascript:;">去管理商品</a>
        </div>
    </div>
</div>