<div class="back_main">
    <div class="inquiry_warp">
        <div class="inquiry_head">
            <div class="inquiry_title">中铁八局集团昆明铁路建设有限公司珠三角城际新白广XBZH-2标四工程项目部</div>
            <div class="inquiry_line clearfix">
                <label>发布时间：</label>
                <div class="block_line">2018-12-18   0：47</div>
                <label>报价截止日期：</label>
                <div class="block_line">2018-12-18   0：47</div>
            </div>
            <div class="inquiry_line clearfix">
                <label>发布时间：</label>
                <div class="block_line" style="width: 850px;">询价物资：螺纹钢（品牌/规格型号）， 螺纹钢（品牌/规格型号）， 螺纹钢（品牌/规格型号）螺纹钢（品牌/规格型号），过长则两行询价物资：螺纹钢（品牌/规格型号）， 螺纹钢（品牌/规格型号）， 螺纹钢（品牌/规格型号）螺纹钢（品牌/规格型号），过长则两行</div>
            </div>
            <div class="inquiry_btns">
                <a href="javascript:;" class="inquiry_view"><i class="iconfont icon-yanjing"></i>查看询价单</a>
                <a href="javascript:;" class="inquiry_export"><i class="iconfont icon-daochu"></i>导出</a>
            </div>
            <div class="inquiry_statusIng"></div>
        </div>
        <div class="material_list">
            <table>
                <colgroup>
                    <col width="150">
                    <col width="150">
                    <col width="120">
                    <col width="120">
                    <col width="100">
                    <col width="100">
                </colgroup>
                <thead>
                    <tr>
                        <th>供应商名称</th>
                        <th>联系方式</th>
                        <th><a href="javascript:;" sort-type="1">报价总金额（含运费）<i class="iconArr arrUp"></i></a></th>
                        <th><a href="javascript:;" sort-type="2">报价总金额（不含含运费）<i class="iconArr"></i></a></th>
                        <th>报价时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align: left;">
                            <input type="radio" name="inquiry_chose" title=""><a class="inquiry_company">湖北省楚建易网络科技有限公司2</a><i class="icon_done">已选中</i>
                            <p class="inquiry_tips"><span>历史报价10次</span>累计成交1次<span></span><a class="textBlue">查看历史评价</a></p>
                        </td>
                        <td class="fontSize14"><span>1346103436</span><span>（刘风华）</span></td>
                        <td class="fontSize14 textRed">￥1200.00（含运费 480.00）</td>
                        <td class="fontSize14 textRed">￥1200.00（含运费 480.00）</td>
                        <td class="fontSize14">2018-12-18   21：06：08</td>
                        <td><a href="javascript:;" class="fontSize14 textBlue">查看报价单</a></td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">
                            <input type="radio" name="inquiry_chose" title=""><a class="inquiry_company">湖北省楚建易网络科技有限公司2</a>
                            <p class="inquiry_tips"><span>历史报价10次</span>累计成交1次<span></span><a class="textBlue">查看历史评价</a></p>
                        </td>
                        <td class="fontSize14"><span>1346103436</span><span>（刘风华）</span></td>
                        <td class="fontSize14 textRed">￥1200.00（含运费 480.00）</td>
                        <td class="fontSize14 textRed">￥1200.00（含运费 480.00）</td>
                        <td class="fontSize14">2018-12-18   21：06：08</td>
                        <td><a href="javascript:;" class="fontSize14 textBlue">查看报价单</a></td>
                    </tr>
                </tbody>
            </table>
            <div class="clear"></div>
        </div>
    </div>
    <div class="back_main_btns clearfix">
        <a class="btn_confirm floatR" href="javascript:;">创建订单</a>
        <span class="btn_tips floatR">已选中<span class="textRed marginL10">湖北省楚建易网络科技有限公司3</span></span>
    </div>
</div>