<div class="back_main">
    <div class="back_main_title">
        <span class="active">我的待评</span>
    </div>
    <div class="back_main_content">
        <div class="back_main_search">
            <div>
                <select name="collect_type">
                    <option value="">招标方式</option>
                    <option value="1">公开招标</option>
                    <option value="2">邀请招标</option>
                    <option value="3">公开询比价</option>
                    <option value="4">邀请询比价</option>
                    <option value="5">竞争性谈判</option>
                </select>
                <select name="tender_class">
                    <option value="">招标类型</option>
                    <option value="1">物资/设备采购</option>
                    <option value="2">物资/设备租赁</option>
                    <option value="3">劳务分包</option>
                    <option value="4">专业分包</option>
                    <option value="5">施工总承包</option>
                    <option value="6">设计/咨询/服务</option>
                    <option value="9">其他</option>
                </select>
                <input name="company_name" type="text" placeholder="输入关键字：招标名称/所属项目名称/经办人" class="cjy-input-">
            </div>
            <div class="marginT20">
                <a href="javascript:;" class="btn_confirm">搜索</a>
                <a href="javascript:;" class="btn_clear">清除</a>
            </div>
        </div>

        <div class="back_main_list" id="supplier">
            <div class="back_list_top">
                <ul class="back_list_sort">
                    <li :class="[{act:sort_type=='1'}]" @click="changeSort('1')">开标时间<i class="iconfont icon-xiajiantou1"></i></li>
                    <li :class="[{act:sort_type=='2'}]" @click="changeSort('2')">发布时间<i class="iconfont icon-xiajiantou1"></i></li>
                </ul>
                <span class="floatR">共<span>{{count}}</span>条记录</span>
            </div>
            <div class="material_list">
                <table>
                    <colgroup>
                        <col width="50">
                        <col width="80">
                        <col width="100">
                        <col width="100">
                        <col width="200">
                        <col width="80">
                        <col width="80">
                        <col width="50">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>状态</th>
                        <th>（预计）开标时间</th>
                        <th>实际开标时间</th>
                        <th>招标名称</th>
                        <th>招标方式</th>
                        <th>招标类型</th>
                        <th>经办人</th>

                    </tr>
                    </thead>
                    <tbody class="page_list">
                    <tr v-if="loading">
                        <td colspan="8">
                            <div class="page_loading"></div>
                        </td>
                    </tr>
                    <template v-if="list.length>0">
                    <tr v-for="(item,index) in list">
                        <td>{{index+1}}</td>
                        <td>{{item.room_status_name}}</td>
                        <td>{{item.bid_end_time}}</td>
                        <td>{{item.bid_end_time}}</td>
                        <td>{{item.tender_name}}</td>
                        <td>{{item.collect_type_title}}</td>
                        <td>{{item.tender_class_title}}</td>
                        <td>{{item.create_name}}</td>
                    </tr>
                    </template>
                    <tr v-else><td colspan="8"><div class="page_list_noneBg"></div><p class="page_list_noneCon" style="width: 100%;margin-bottom: 10px;font-size: 24px;color: #999;text-align: center;">暂无专家列表，快去邀请吧〜</p></td></tr>
                    </tbody>
                </table>
                <div class="clear"></div>
            </div>
            <div id="pages">
                <vue-page @get-list="getSupplier" :count="count" :limit="10" v-if="list.length>0"></vue-page>
            </div>
        </div>
    </div>
</div>