<div class="back_main">
    <div class="back_main_title">
        <span class="active">新增定期评价</span>
    </div>
    <div class="back_main_nav">
        <ul>
            <li class="act"><a>物资/设备采购</a></li>
            <li><a>物资/设备租赁</a></li>
            <li><a>劳务分包</a></li>
            <li><a>专业分包</a></li>
            <li><a>其它</a></li>
        </ul>
    </div>
    <div class="back_main_content">
        <div class="modelType">
            <span class="active"><i class="iconfont icon-shitu-liebiao"></i>列表视图</span>
            <span><i class="iconfont icon-shitu-suolvetu"></i>缩略图视图</span>
        </div>
        <div class="material_list">
            <table>
                <colgroup>
                    <col width="300">
                    <col width="100">
                    <col width="200">
                    <col width="200">
                </colgroup>
                <thead>
                <tr>
                    <th>评价模板</th>
                    <th>指标层级</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody class="page_list">
                <tr>
                    <td>模板名称模板名称模板名称模板名称模板名称模板名称</td>
                    <td>3级</td>
                    <td>2018-06-29 12:00</td>
                    <td><a href="javascript:;" class="marginR10 textBlue">查看</a>-<a href="javascript:;" class="marginL10">删除</a></td>
                </tr>
                <tr>
                    <td>模板名称模板名称模板名称模板名称模板名称模板名称</td>
                    <td>3级</td>
                    <td>2018-06-29 12:00</td>
                    <td><a href="javascript:;" class="marginR10 textBlue">查看</a>-<a href="javascript:;" class="marginL10">删除</a></td>
                </tr>
                <tr>
                    <td>模板名称模板名称模板名称模板名称模板名称模板名称</td>
                    <td>3级</td>
                    <td>2018-06-29 12:00</td>
                    <td><a href="javascript:;" class="marginR10 textBlue">查看</a>-<a href="javascript:;" class="marginL10">删除</a></td>
                </tr>
                </tbody>
            </table>
            <div class="clear"></div>
        </div>
        <ul class="modelWarp clearfix">
            <li class="modelCell">
                <a href="javascript:;" class="modelAdd"><span></span><p>新增模板</p></a>
            </li>
            <li class="modelCell">
                <div class="modelImg">
                    <div class="modelImgBg"></div>
                    <div class="modelBg"></div>
                    <div class="modelCtrBg">
                        <span class="normal">
                            <a href="javascript:;" class="modelView">预览模板</a>
                        </span>
                    </div>
                </div>
                <p class="modelTitle">模板名称模板名称模板名称模板名称模板名称模板名称</p>
                <div class="modelTips">
                    <span>交货情况</span>
                    <span>沟通情况</span>
                    <span>一级指标标题</span>
                </div>
                <a href="javascript:;" class="iconfont icon-cha1 moderlDel"></a>
            </li>
            <li class="modelCell">
                <div class="modelImg">
                    <div class="modelImgBg"></div>
                    <div class="modelBg"></div>
                    <div class="modelCtrBg">
                        <span class="normal">
                            <a href="javascript:;" class="modelView">预览模板</a>
                        </span>
                    </div>
                </div>
                <p class="modelTitle">模板名称模板名称模板名称模板名称模板名称模板名称</p>
                <div class="modelTips">
                    <span>交货情况</span>
                    <span>沟通情况</span>
                </div>
                <a href="javascript:;" class="iconfont icon-cha1 moderlDel"></a>
            </li>
            <li class="modelCell">
                <div class="modelImg">
                    <div class="modelImgBg"></div>
                    <div class="modelBg"></div>
                    <div class="modelCtrBg">
                        <span class="normal">
                            <a href="javascript:;" class="modelView">预览模板</a>
                        </span>
                    </div>
                </div>
                <p class="modelTitle">模板名称模板名称模板名称模板名称模板名称模板名称</p>
                <div class="modelTips">
                    <span>交货情况</span>
                    <span>沟通情况</span>
                    <span>一级指标标题</span>
                </div>
                <a href="javascript:;" class="iconfont icon-cha1 moderlDel"></a>
            </li>
            <li class="modelCell">
                <div class="modelImg">
                    <div class="modelImgBg"></div>
                    <div class="modelBg"></div>
                    <div class="modelCtrBg">
                        <span class="normal">
                            <a href="javascript:;" class="modelView">预览模板</a>
                        </span>
                    </div>
                </div>
                <p class="modelTitle">模板名称模板名称模板名称模板名称模板名称模板名称</p>
                <div class="modelTips">
                    <span>交货情况</span>
                    <span>沟通情况</span>
                </div>
                <a href="javascript:;" class="iconfont icon-cha1 moderlDel"></a>
            </li>
            <li class="modelCell">
                <div class="modelImg">
                    <div class="modelImgBg"></div>
                    <div class="modelBg"></div>
                    <div class="modelCtrBg">
                        <span class="normal">
                            <a href="javascript:;" class="modelView">预览模板</a>
                        </span>
                    </div>
                </div>
                <p class="modelTitle">模板名称模板名称模板名称模板名称模板名称模板名称</p>
                <div class="modelTips">
                    <span>交货情况</span>
                    <span>沟通情况</span>
                </div>
                <a href="javascript:;" class="iconfont icon-cha1 moderlDel"></a>
            </li>
            <li class="modelCell">
                <div class="modelImg">
                    <div class="modelImgBg"></div>
                    <div class="modelBg"></div>
                    <div class="modelCtrBg">
                        <span class="normal">
                            <a href="javascript:;" class="modelView">预览模板</a>
                        </span>
                    </div>
                </div>
                <p class="modelTitle">模板名称模板名称模板名称模板名称模板名称模板名称</p>
                <div class="modelTips">
                    <span>交货情况</span>
                    <span>沟通情况</span>
                    <span>一级指标标题</span>
                </div>
                <a href="javascript:;" class="iconfont icon-cha1 moderlDel"></a>
            </li>
            <li class="modelCell">
                <div class="modelImg">
                    <div class="modelImgBg"></div>
                    <div class="modelBg"></div>
                    <div class="modelCtrBg">
                        <span class="normal">
                            <a href="javascript:;" class="modelView">预览模板</a>
                        </span>
                    </div>
                </div>
                <p class="modelTitle">模板名称模板名称模板名称模板名称模板名称模板名称</p>
                <div class="modelTips">
                    <span>交货情况</span>
                    <span>沟通情况</span>
                </div>
                <a href="javascript:;" class="iconfont icon-cha1 moderlDel"></a>
            </li>
            <li class="modelCell">
                <div class="modelImg">
                    <div class="modelImgBg"></div>
                    <div class="modelBg"></div>
                    <div class="modelCtrBg">
                        <span class="normal">
                            <a href="javascript:;" class="modelView">预览模板</a>
                        </span>
                    </div>
                </div>
                <p class="modelTitle">模板名称模板名称模板名称模板名称模板名称模板名称</p>
                <div class="modelTips">
                    <span>交货情况</span>
                    <span>沟通情况</span>
                </div>
                <a href="javascript:;" class="iconfont icon-cha1 moderlDel"></a>
            </li>
            <a href="javascript:;" class="modelmore"><i class="iconfont icon-xiajiantou"></i></a>
        </ul>
    </div>
</div>