/* banner */

.banner_wrap {
    width: 100%;
    height: 410px;
    overflow: hidden;
    position: relative;
}

.banner_wrap .banner_bg {
    height: 410px;
    margin: 0 auto;
}

.slides_cell {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.banner_bg .banner_item {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 410px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel_dot {
    display: none;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 27px;
    left: 0;
    z-index: 1;
}

.carousel_dot .carousel_dot_span {
    display: inline-block;
    width: 40px;
    height: 6px;
    background-color: #fff;
    margin: 0 10px;
    cursor: pointer;
    opacity: 0.5;
}

.carousel_dot a.active {
    opacity: 1;
}

.banner_wrap .carousel_btn {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 460px;
}

.banner_wrap:hover .carousel_btn {
    display: block;
}

.carousel_btn span {
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    margin-top: -50px;
    background-color: #000;
    opacity: 0.3;
    cursor: pointer;
    border-radius: 100%;
    z-index: 10;
}

.carousel_btn span:hover {
    opacity: 0.6;
}

.carousel_btn .left_btn {
    position: absolute;
    left: 0;
    top: 50%;
}

.carousel_btn .right_btn {
    position: absolute;
    right: 0;
    top: 50%;
}

.carousel_btn i {
    font-size: 30px;
    color: #fff;
}

.carousel_btn span:hover i {
    color: #FC6840;
}

.left_btn i {
    margin-left: -6px;
}

.right_btn i {
    margin-right: -6px;
}

/* banner顶部菜单 */

.banner_menu {
    position: absolute;
    width: 100%;
    height: 50px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.3);
    z-index: 2;
    transition: all 0.2s ease-in-out;
}
.banner_menu:hover{
    background-color: #5F453E;
}

.banner_menu_con {
    position: relative;
    width: 1400px;
    height: 50px;
    margin: 0 auto;
}

.banner_menu_list li {
    margin-right: 80px;
    float: left;
}

.banner_menu_list li a {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}

.banner_menu_con .indicator {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: #fff;
    top: 48px;
    left: 14px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.banner_menu_con .banner_btn {
    display: inline-block;
    width: 132px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    float: right;
}

.banner_menu_con .btnGreenBg {
    background-color: #3DCA55;
}

.banner_menu_con .btnGreenBg:hover {
    background-color: #48bc5c;
}

.banner_menu_con .btnRedBg {
    background-color: #FF3600;
}

.banner_menu_con .btnRedBg:hover {
    background-color: #ec3200;
}

.banner_menu_con .banner_company {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    margin-right: 20px;
    padding-left: 20px;
    border-left: solid 1px rgba(255, 255, 255, 0.5);
    color: #fff;
    float: right;
}

.banner_menu_con .banner_company img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 30px;
    background-color: #fff;
}

.banner_wrap .banner_box_left {
    position: absolute;
    width: 339px;
    height: 220px;
    margin-right: 360px;
    right: 50%;
    bottom: 0;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 2;
}

.banner_box_left .box_top {
    width: 339px;
    height: 25px;
    margin-top: -25px;
    background: url(imgs/topEq.png) no-repeat;
}

.banner_box_left .box_left, .banner_box_left .box_right, .banner_box_right .box_left, .banner_box_right .box_right {
    position: absolute;
    width: 26px;
    height: 26px;
    bottom: 0;
}

.banner_box_left .box_left, .banner_box_right .box_left {
    left: -26px;
    background: url(imgs/leftEq.png) no-repeat;
}

.banner_box_left .box_right, .banner_box_right .box_right {
    right: -26px;
    background: url(imgs/rightEq.png) no-repeat;
}

.banner_box_left .box_head {
    height: 70px;
    background-color: #FCFCFC;
    border-bottom: solid 1px #eee;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.banner_box_left .box_head ul {
    width: 678px;
    /* -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; */
}

.banner_box_left .box_head li {
    position: relative;
    width: 113px;
    height: 70px;
    text-align: center;
    float: left;
}

.banner_box_left .box_head li i {
    display: block;
    font-size: 22px;
    margin-top: 14px;
    margin-bottom: 2px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.banner_box_left .box_head li.act i {
    margin-top: 0;
    color: #DC2F00;
}

.banner_box_left .box_head li.act span, .banner_box_left .box_head a:hover i, .banner_box_left .box_head a:hover span {
    color: #DC2F00;
}

.banner_box_left .box_head li .box_head_line {
    position: absolute;
    display: none;
    width: 20px;
    height: 2px;
    margin-right: -10px;
    bottom: 0;
    right: 50%;
    background-color: #DC2F00;
}

.banner_box_left .box_head li.act .box_head_line {
    display: block;
}

.box_body .box_con_list {
    padding: 0 12px;
    width: 316px;
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: leftbit;
    animation-name: leftbit;
}

.box_body .box_con_list li {
    width: 146px;
    margin-top: 24px;
    padding-left: 12px;
    float: left;
}

.box_body .box_con_list li i.box_circle {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-right: 10px;
    border-radius: 4px;
    background-color: #e5e5e5;
    vertical-align: 3px;
}

.banner_wrap .banner_box_right {
    position: absolute;
    width: 340px;
    height: 215px;
    margin-left: 360px;
    left: 50%;
    bottom: 0;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 2;
}

.banner_box_right .box_head {
    height: 64px;
    line-height: 64px;
    padding: 0 24px;
    background-color: #FCFCFC;
    border-bottom: solid 1px #eee;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.box_head .box_index_item {
    position: relative;
    height: 64px;
    line-height: 64px;
    margin-left: 20px;
    float: right;
}

.box_index_item .index_item_line {
    position: absolute;
    display: none;
    width: 20px;
    height: 2px;
    margin-left: -10px;
    left: 50%;
    bottom: 0;
    background-color: #DC2F00;
}

.act .index_item_line {
    display: inline-block;
}

.box_head a.act {
    color: #DC2F00;
}

.chartWarp {
    padding: 0 24px;
    height: 120px;
}

.banner_box_right .chart_tips {
    height: 18px;
    line-height: 18px;
    margin-top: 10px;
    margin-right: 24px;
    padding: 0 10px;
    border: solid 1px #e5e5e5;
    font-size: 12px;
    color: #999;
    float: right;
}

.headline_wrap {
    width: 100%;
    padding: 40px 0 24px 0;
    background-color: #fff;
}

.headlien_container {
    width: 1400px;
    margin: 0 auto;
}

.headlien_left, .headlien_center, .headlien_right {
    height: 270px;
    padding: 24px;
    background-color: #FCFCFC;
    float: left;
}

.headlien_left, .headlien_right {
    width: 292px;
}

.headlien_center {
    width: 632px;
    margin: 0 20px;
}

.entering_con {
    height: 270px;
    padding-left: 14px;
    border-left: solid 1px #ECDFDE;
}

.entering_title {
    position: relative;
}

.entering_title span {
    font-size: 16px;
    font-weight: bold;
    color: #DC2F00;
}

.entering_title .entering_circle, .entering_item .entering_circle {
    position: absolute;
    display: inline-block;
    width: 15px;
    height: 15px;
    top: 2px;
    left: -22px;
    background-color: #fff;
    border-radius: 15px;
}

.entering_title .entering_circle::before {
    display: inline-block;
    content: ' ';
    width: 9px;
    height: 9px;
    margin: 3px;
    background-color: #DC2F00;
    border-radius: 9px;
}

.entering_item .entering_circle::before {
    display: inline-block;
    content: ' ';
    width: 7px;
    height: 7px;
    margin: 3px;
    border: solid 1px #E7CCC4;
    border-radius: 7px;
}

.entering_item {
    position: relative;
    margin-top: 16px;
}

.entering_item p {
    line-height: 1.5;
    margin-bottom: 5px;
    color: #555;
}

.entering_item .entering_role, .win_cell .win_role {
    display: inline-block;
    height: 18px;
    line-height: 18px;
    margin-right: 10px;
    padding: 0 8px;
    border: solid 1px #f5af9d;
    font-size: 12px;
    color: #DC2F00;
}

.win_title {
    margin-bottom: 17px;
}

.win_title span {
    display: inline-block;
    height: 16px;
    line-height: 16px;
    padding-left: 12px;
    border-left: solid 2px #DC2F00;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.win_cell_left {
    width: 48px;
    float: left;
}

.win_cell_left span {
    display: inline-block;
    width: 47px;
    border-right: solid 1px #DC2F00;
    font-size: 12px;
    color: #999;
    vertical-align: -3px;
}

.win_cell_right {
    width: 564px;
    padding-left: 14px;
    padding-bottom: 15px;
    border-left: solid 1px #F0F0F0;
    float: left;
}

.win_cell_right .win_link {
    display: block;
    line-height: 1.5;
    margin-bottom: 6px;
}

.win_cell_right .win_link:hover {
    color: #DC2F00;
    text-decoration: underline;
}

.news_title {
    margin-bottom: 15px;
}

.news_title span {
    display: inline-block;
    width: 94px;
    height: 17px;
    border-left: solid 2px #DC2F00;
    background: url(imgs/newsTitle.png) no-repeat right;
}

.news_top {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 24px;
    border-bottom: solid 1px #e5e5e5;
}

.news_top .news_top_date {
    display: block;
    width: 50px;
    height: 18px;
    line-height: 18px;
    margin-left: 24px;
    border: solid 1px #F5AF9D;
    font-size: 12px;
    color: #DC2F00;
    text-align: center;
}

.news_top_icon {
    position: absolute;
    top: 28px;
    font-size: 36px;
    color: #DC2F00;
}

.news_top .news_top_title {
    display: block;
    margin-top: 12px;
    margin-left: 24px;
    font-size: 16px;
    color: #DC2F00;
}

.news_top .news_top_title:hover {
    text-decoration: underline;
}

.news_top .news_top_content {
    line-height: 1.4;
    margin-top: 12px;
    margin-left: 24px;
    color: #888;
    word-break: break-all;
}

.news_item {
    margin-top: 16px;
}

.news_item .news_circle {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-right: 16px;
    border-radius: 4px;
    background-color: #ccc;
    vertical-align: 5px;
}

.news_item a {
    display: inline-block;
    width: 270px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}

.news_item a:hover {
    color: #DC2F00;
    text-decoration: underline;
}

.headline_column {
    width: 1400px;
    margin: 22px auto 40px auto;
}

.headline_column img {
    width: 100%;
}

.titleBidding {
    width: 404px;
    height: 40px;
    margin: 0 auto;
    background: url(imgs/titleBidding.png) no-repeat;
}

.bidding_wrap {
    width: 100%;
    padding: 20px 0;
    background-color: #F4F4F4;
}

.bidding_container {
    width: 1400px;
    margin: 0 auto;
}

.bidding_left {
    width: 340px;
    border-top: solid 2px #FF3600;
    background-color: #fff;
    float: left;
}

.bidding_l_title {
    height: 61px;
    line-height: 61px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.bidding_area_line li {
    display: block;
    padding: 15px 0 9px 24px;
}

.bidding_area_line li:nth-child(2n) {
    background-color: #fff;
}

.bidding_area_line li:nth-child(2n+1) {
    background-color: #fcfcfc;
}

.bidding_area_line .bidding_area_icon {
    width: 46px;
    float: left;
}

.bidding_area_line .bidding_area_icon span {
    display: inline-block;
    width: 44px;
    height: 18px;
    line-height: 18px;
    border: solid 1px #F5AF9D;
    font-size: 12px;
    color: #DC2F00;
    text-align: center;
}

.bidding_area_line .bidding_area_con {
    width: 240px;
    margin-left: 20px;
    float: left;
}

.bidding_area_line .bidding_area_con a {
    display: inline-block;
    width: 60px;
    height: 20px;
    line-height: 20px;
    margin-bottom: 6px;
    float: left;
}

.bidding_area_line .bidding_area_con a.areaLink {
    color: #333;
}

.bidding_area_line .bidding_area_con a.areaLink:hover {
    color: #DC2F00;
}

.bidding_area_line .bidding_area_con a.areaText {
    color: #aaa;
    cursor: default;
}

.bidding_model_head {
    width: 316px;
    height: 65px;
    margin-top: 20px;
    padding-top: 40px;
    padding-left: 24px;
    background: url(imgs/modelBg.png) no-repeat;
}

.bidding_model_head h1 {
    font-size: 18px;
    color: #fff;
}

.bidding_model_head p {
    margin-top: 10px;
    font-size: 12px;
    color: #fff;
}

.bidding_model_list {
    padding: 24px;
    background-color: #fff;
}

.bidding_model_list li {
    width: 145px;
    height: 106px;
    padding-top: 14px;
    border-right: solid 1px #eee;
    border-bottom: solid 1px #eee;
    text-align: center;
    float: left;
}

.bidding_model_list li:nth-child(2n) {
    border-right: none;
}

.bidding_model_list li:nth-child(-n+2) {
    padding-top: 0;
}
.bidding_model_list li:nth-child(n+5) {
    height:90px;
    border-bottom:none;
}
.bidding_model_list i {
    display: block;
    width: 46px;
    height: 46px;
    line-height: 46px;
    margin: 0 auto;
    border: solid 1px #E8BEB2;
    border-radius: 46px;
    font-size: 25px;
    color: #DC2F00;
    text-align: center;
}

.bidding_model_list a:hover i {
    border: solid 1px #DC2F00;
}

.bidding_model_list p {
    margin-top: 10px;
}

.bidding_model_list a:hover p {
    color: #DC2F00;
}

.bidding_right {
    width: 1040px;
    margin-left: 20px;
    float: left;
}

.bidding_right_cell {
    width: 484px;
    padding-right: 24px;
    background-color: #fff;
    float: left;
}

.bidding_right .bidding_right_cell:nth-child(2n+1) {
    padding-left: 24px;
}

.bidding_right_cell .right_cell_head, .bidding_announce .bidding_announce_head, .bidding_ranking .bidding_ranking_head {
    height: 61px;
    line-height: 61px;
    border-bottom: solid 1px #e5e5e5;
}
.bidding_announce .bidding_announce_head{
    position: relative;
    border-bottom: none;
    background-color: #fff;
    z-index: 2;
}

.right_cell_head>i, .bidding_announce_head>i, .bidding_ranking_head>i {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    border-radius: 30px;
    background-color: #FF3600;
    font-size: 20px;
    color: #fff;
    text-align: center;
}

.right_cell_head span, .bidding_announce_head span, .bidding_ranking_head span {
    display: inline-block;
    height: 16px;
    line-height: 16px;
    padding-left: 10px;
    border-left: solid 2px #ccc;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.bidding_right_cell .right_cell_head .showMore, .bidding_announce .bidding_announce_head .showMore, .bidding_ranking .bidding_ranking_head .showMore {
    margin-top: 21px;
}

.bidding_right_cell .right_cell_list {
    height: 428px;
    padding-bottom: 11px;
}

.right_cell_list li {
    padding-top: 20px;
    border-top: solid 1px #e5e5e5;
}

.right_cell_list li:first-child {
    border-top: none;
}

.right_cell_list li img {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    background-color: #fff;
    object-fit: scale-down;
    float: left;
}
.right_cell_list li img.default{
    background-color: #fcfcfc;
}

.right_cell_list li .cell_list_con {
    width: 404px;
    float: left;
}

.right_cell_list li .cell_list_con a {
    display: block;
    height: 40px;
    line-height: 1.4;
    margin-top: 10px;
    word-break: break-all;
    overflow: hidden;
}

.right_cell_list li .cell_list_con a:hover {
    color: #DC2F00;
    text-decoration: underline;
}

.cell_list_tips {
    margin-top: 10px;
    margin-bottom: 20px;
}

.cell_list_tips span {
    display: inline-block;
    height: 18px;
    line-height: 18px;
    margin-right: 6px;
    padding: 0 10px;
    border: solid 1px #e5e5e5;
    font-size: 12px;
    color: #999;
}

.cell_list_tips span.light {
    border: solid 1px #f5af9d;
    color: #DC2F00;
}

.bidding_column {
    width: 1400px;
    margin: 20px auto 0 auto;
}

.bidding_column img {
    width: 100%;
}

.bidding_infoWrap {
    width: 1400px;
    margin: 0 auto;
}
.bidding_infoWrap .bidding_announce_head>i,.bidding_infoWrap .bidding_ranking_head>i{
    background-color: #DC2F00;
}

.bidding_map {
    position: relative;
    width: 340px;
    border-top: solid 2px #DC2F00;
    float: left;
}

.bidding_map .bidding_map_title {
    height: 60px;
    line-height: 60px;
    padding: 0 24px;
    background-color: #fff;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.bidding_map .china_map {
    width: 340px;
    height: 355px;
    background: #E5F2FE;
}
.bidding_map .china_map canvas{
    cursor: url(https://api.map.baidu.com/images/openhand.cur) 8 8, default!important;
}

.point_area {
    position: absolute;
    width: 340px;
    height: 355px;
    top: 60px;
    visibility: visible;
    opacity: 1;
    text-align: center;
    transition: opacity .5s ease-out;
}
.bidding_map:hover .point_area{
    display: none;
}
.point_area .point_circle {
    width: 100%;
    height: 100%;
}
.point_area .point {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 300px;
    margin: auto;
    -webkit-border-radius: 50%;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 50%;
    -moz-background-clip: padding;
    border-radius: 50%;
    background-clip: padding-box;
    background: transparent;
}
.point_area .point:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    border: 1px dashed #4c7ad0;
    opacity: 0;
}

@-webkit-keyframes ripple {
    0% {
        opacity: 0;
        -webkit-transform: scale(.1)
    }
    5% {
        opacity: 1
    }
    to {
        opacity: 0;
        -webkit-transform: scale(1)
    }
}
@keyframes ripple {
    0% {
        opacity: 0;
        -webkit-transform: scale(.1);
        transform: scale(.1)
    }
    5% {
        opacity: 1
    }
    to {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}
.index_map_list {
    position: absolute;
    top: 104px
}

.point_area .point-1:after {
    -webkit-animation: ripple 4.5s ease-out .9s infinite;
    animation: ripple 4.5s ease-out .9s infinite;
}

.point_area .point-2:after {
    -webkit-animation: ripple 4.5s ease-out 2025ms infinite;
    animation: ripple 4.5s ease-out 2025ms infinite;
}
.point_area .point-3:after {
    -webkit-animation: ripple 4.5s ease-out 4050ms infinite;
    animation: ripple 4.5s ease-out 4050ms infinite;
}

.bidding_announce {
    width: 632px;
    height: 417px;
    margin-left: 20px;
    padding: 0 24px;
    background-color: #fff;
    float: left;
    overflow: hidden;
}
.bidding_announce_list{
    position: relative;
}
.bidding_announce_list li {
    padding: 21px 0;
    border-top: solid 1px #e5e5e5;
}

.bidding_announce_list .bidding_announce_title {
    display: block;
    width: 632px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}

.bidding_announce_list .bidding_announce_title:hover {
    color: #DC2F00;
    text-decoration: underline;
}

.bidding_announce_list .bidding_announce_title i {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-left: 4px;
    margin-right: 10px;
    background-color: #ddd;
    border-radius: 4px;
    vertical-align: 4px;
}

.bidding_announce_info {
    margin-top: 10px;
    margin-left: 18px;
}

.bidding_announce_info .announce_info_title {
    display: inline-block;
    height: 18px;
    line-height: 18px;
    margin-right: 10px;
    padding: 0 10px;
    border: solid 1px #F5AF9D;
    font-size: 12px;
    color: #DC2F00;
}

.bidding_announce_info .announce_info_date {
    margin-top: 4px;
    font-size: 12px;
    color: #aaa;
    float: right;
}

.bidding_ranking {
    width: 292px;
    margin-left: 20px;
    padding: 0 24px;
    background-color: #fff;
    float: left;
}

.bidding_ranking .ranking_tips {
    position: relative;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin-top: 20px;
    padding: 0 10px;
    background: #fff;
    border: 1px solid #F5AF9D;
    font-size: 12px;
    color: #DC2F00;
    float: right;
}

.bidding_ranking .ranking_tips:before {
    position: absolute;
    display: inline-block;
    border-top: 5px solid transparent;
    border-right: 5px solid #DC2F00;
    border-bottom: 5px solid transparent;
    border-right-color: #DC2F00;
    left: -5px;
    top: 4px;
    content: '';
}

.bidding_ranking .ranking_tips:after {
    position: absolute;
    display: inline-block;
    border-top: 4px solid transparent;
    border-right: 4px solid #fff;
    border-bottom: 4px solid transparent;
    left: -4px;
    top: 5px;
    content: '';
}

.bidding_ranking_first {
    position: relative;
    width: 292px;
    height: 109px;
    padding-top: 54px;
}

.ranking_first_bg {
    position: absolute;
    width: 303px;
    height: 135px;
    top: 29px;
    left: -14px;
    background: url(imgs/rankingBg.png) no-repeat;
}

.bidding_ranking_first h1 {
    margin-left: 60px;
    color: #DC2F00;
}

.bidding_ranking_first p {
    margin: 20px 0 10px 60px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.bidding_ranking_first>span {
    margin-left: 60px;
    color: #999;
}

.bidding_ranking_cell {
    height: 70px;
    padding-top: 25px;
    border-top: solid 1px #e5e5e5;
}

.ranking_cell_tips {
    display: inline-block;
    width: 60px;
    margin-top: -4px;
    font-size: 16px;
    font-weight: bold;
    color: #DC2F00;
    float: left;
}

.bidding_ranking_cell h1 {
    margin-left: 60px;
}

.bidding_ranking_cell p {
    margin-left: 60px;
    margin-top: 12px;
    color: #999;
}

.chain_wrap {
    width: 100%;
    background-color: #fff;
}

.chain_container {
    width: 1400px;
    margin: 0 auto;
}

.chain_container .titleChain {
    width: 404px;
    height: 40px;
    margin: 40px auto 20px auto;
    background: url(imgs/titleChain.png) no-repeat;
}

.chain_horizontal {
    padding-bottom: 18px;
    margin-bottom: 18px;
    border-bottom: solid 1px #EEEEEE;
}
.chain_horizontal_line{
    width: 1398px;
    padding-bottom: 18px;
    margin-bottom: 18px;
    border-bottom: solid 1px #EEEEEE;
    float: left;
}

.chain_cell_line {
    height: 340px;
    margin-left: 18px;
    margin-right: 17px;
    border-left: solid 1px #EEEEEE;
    float: left;
}

.chain_cell_big {
    position: relative;
    background-color: #f9f9f9;
    float: left;
}

.chain_cell_wrap {
    position: relative;
    width: 790px;
    height: 340px;
    background-color: #FCFCFC;
}

.chain_cell_big {
    width: 1398px;
    height: 340px;
}

.chain_cell_wrap .chain_cell_bank, .chain_cell_big .chain_cell_bank {
    position: relative;
    width: 120px;
    height: 340px;
    float: left;
}

.chain_cell_wrap .chain_cell_bank {
    background: url(imgs/chainBg.png) no-repeat left;
}

.chain_cell_big .chain_cell_bank {
    background: url(imgs/chainBg2.png) no-repeat left;
}
.chain_cell_big .bank_bg_red{
    background: url(imgs/chainBg.png) no-repeat left;
}

.chain_cell_wrap .chain_bankName, .chain_cell_big .chain_bankName {
    display: inline-block;
    width: 18px;
    font-size: 18px;
    color: #fff;
    word-break: break-all;
}
.chain_cell_wrap .chain_bankName{
    margin: 96px 42px;
}
.chain_cell_big .chain_bankName{
    margin: 99px 42px;
}
.chain_cell_wrap .chain_bankName_line, .chain_cell_big .chain_bankName_line {
    display: inline-block;
    width: 18px;
    border-bottom: solid 1px #fff;
    vertical-align: 7px;
    opacity: 0.5;
}

.chain_cell_wrap .chain_bankIcon, .chain_cell_big .chain_bankIcon {
    position: absolute;
    display: inline-block;
    width: 70px;
    height: 70px;
    line-height: 70px;
    top: 135px;
    left: 85px;
    background-color: #f9f9f9;
    border-radius: 70px;
    text-align: center;
}

.chain_cell_wrap .chain_bankIcon img, .chain_cell_big .chain_bankIcon img {
    width: 70px;
    height: 70px;
    object-fit: scale-down;
}

.chain_cell_wrap .chain_bankIcon i {
    color: #D62F2F;
}

.chain_cell_con {
    margin-left: 55px;
    float: left;
}

.chain_cell_con .chain_cell_item {
    width: 270px;
    margin-right: 36px;
    float: left;
}

.chain_cell_con .chain_cell_tips {
    margin-top: 30px;
}
.chain_cell_big .chain_cell_con .chain_cell_tips{
    margin-top: 0;
}

.chain_cell_con .chain_cell_tips .name {
    display: block;
    font-size: 12px;
    color: #DC2F00;
}

.chain_cell_con .chain_cell_tips .line {
    display: block;
    width: 20px;
    height: 2px;
    margin-top: 10px;
    background-color: #DC2F00;
}

.chain_cell_con .chain_cell_title {
    display: block;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
.chain_cell_con .chain_cell_title:hover{
    color: #dc2f00;
}

.chain_cell_con .chain_cell_text {
    height: 44px;
    line-height: 1.5;
    margin-top: 12px;
    color: #999;
    overflow: hidden;
    word-break: break-all;
}

.chain_cell_con .chain_cell_info {
    margin-top: 5px;
}

.chain_cell_big .chain_cell_con {
    width: 400px;
    margin-top: 34px;
    margin-left: 55px;
    margin-right: 40px;
    float: left;
}

.chain_cell_big .chain_cell_con .chain_cell_text {
    height: 84px;
    overflow: hidden;
}

.chain_cell_info .chain_info_item {
    display: inline-block;
    height: 26px;
    line-height: 26px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 0 10px;
    border: solid 1px #F5AF9D;
    font-size: 12px;
    color: #DC2F00;
    text-align: center;
}

.chain_cell_info i.iconfont{
    margin-right: 10px;
    font-size: 24px;
    color: #DC2F00;
    vertical-align: -4px;
}

.chain_cell_con .chain_cell_btn {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin-top: 30px;
    padding: 0 20px;
    border: solid 1px #FF3600;
    border-radius: 30px;
    background-color: #FF3600;
    color: #fff;
    text-align: center;
}

.chain_cell_con .chain_cell_btn:hover {
    background-color: #fff;
    color: #FF3600;
}

.chain_cell_product{
    width: 740px;
    height: 224px;
    margin-top: 60px;
    padding-left: 40px;
    border-left: solid 1px #e5e5e5;
    float: left;
}

.chain_product_item {
    position: relative;
    margin-bottom: 25px;
}
.chain_product_item .chain_check_tips{
    margin-top: 12px;
    color: #333;
}
.chain_product_item .chain_check_tips i{
    margin-right: 6px;
}
.chain_product_item .chain_product_code{
    position: absolute;
    width: 314px;
    height: 106px;
    line-height: 106px;
    top: 30px;
    right: 40px;
    background-color: #F9F2EF;
    border-top-left-radius: 106px;
    border-bottom-left-radius: 106px;
    color: #EF5300;
}
.chain_product_item .chain_product_code .code_show{
    display: inline-block;
    width: 87px;
    height: 87px;
    margin: 10px 15px;
    background: url(imgs/codeBg.png) no-repeat;
    float: left;
}
.chain_product_item .chain_product_code i.rightArr{
    display: inline-block;
    width: 15px;
    height: 12px;
    margin-left: 10px;
    background: url(imgs/rightArr.png) no-repeat;
}
.chain_product_item .chain_product_code img{
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-top: 13px;
    margin-right: 16px;
    float: right;
}
.chain_product_step{
    width: 709px;
    margin-top: 40px;
}
.chain_step_bg{
    width: 709px;
    height: 48px;
    background: url(imgs/chainStep.png) no-repeat;
}
.chain_product_step ul li{
    width: 172px;
    color: #333;
    text-align: center;
    float: left;
}
.chain_cell_product .chain_product_line, .chain_cell_flow .chain_flow_line {
    position: absolute;
    height: 28px;
    top: 0;
    left: -41px;
    border-left: solid 1px #DC2F00;
}

.chain_cell_product .product_item_name {
    display: block;
    width: 70px;
    height: 26px;
    line-height: 26px;
    border: solid 1px #F5AF9D;
    font-size: 12px;
    color: #DC2F00;
    text-align: center;
}

.chain_cell_product p {
    height: 42px;
    line-height: 1.5;
    margin-top: 12px;
    overflow: hidden;
}
.chain_cell_product .chain_product_tips{
    width: 340px;
    margin-top: 30px;
    margin-right: 30px;
    float: left;
}
.chain_cell_product .chain_product_tips i{
    display: inline-block;
    width: 64px;
    height: 64px;
    line-height: 64px;
    margin-right: 15px;
    background-color: #D62F2F;
    border-radius: 64px;
    font-size: 30px;
    color: #fff;
    text-align: center;
    float: left;
}
.chain_cell_product .chain_product_tips .product_tips_title{
    font-weight: bold;
    color: #333;
}
.chain_cell_product .chain_product_tips .product_tips_con{
    margin-top: 10px;
    font-size: 12px;
    color: #999;
}

.chain_cell_wrap .chain_cell_check, .chain_cell_big .chain_cell_check {
    position: absolute;
    display: inline-block;
    width: 46px;
    height: 46px;
    right: 0;
    bottom: 0;
    background: url(imgs/chainCheck.png) no-repeat;
}

.chain_cell_wrap:hover .chain_cell_check, .chain_cell_big:hover .chain_cell_check {
    background: url(imgs/chainChecked.png) no-repeat;
}

.chain_more {
    display: block;
    width: 1398px;
    height: 38px;
    line-height: 38px;
    margin: 20px auto;
    background-color: #F4F4F4;
    border: solid 1px #F4F4F4;
    border-radius: 38px;
    color: #666;
    text-align: center;
}

.chain_more i {
    margin-left: 10px;
    font-size: 12px;
}

.chain_more:hover {
    background-color: #fff;
    border: solid 1px #FF3600;
    color: #FF3600;
}

.jc_warp .jc_bank_con {
    width: 1400px;
    height: 340px;
}

.jc_bank_con li.jc_bank_cell {
    width: 120px;
    height: 340px;
    border-left: solid 2px #fff;
    background: url(imgs/chainCellBg.png) no-repeat 100%;
    float: left;
    overflow: hidden;
    transition-property: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
}

.jc_bank_con li.active, .jc_bank_con li.jc_bank_cell:first-child {
    border-left: none;
}

.jc_bank_con li.active {
    width: 790px;
}

.jc_bank_con .bank_f {
    display: inline-block;
    transition: opacity 0.3s linear;
}

.jc_bank_con li.active .bank_f {
    display: none;
}

.jc_bank_cell .bank_b {
    display: none;
    transition: opacity 0.3s linear;
}

.jc_bank_con li.active .bank_b {
    display: inline-block;
    background-color: #fff;
}

.jc_bank_cell .bank_b .bank_title {
    font-size: 18px;
    color: #fff;
}

.jc_bank_cell .bank_b .bank_title_line {
    display: block;
    width: 34px;
    height: 4px;
    margin: 20px 0;
    background-color: #fff;
    opacity: 0.5;
}

.jc_bank_cell .bank_b .bank_des_con {
    height: 102px;
    padding: 10px;
    overflow: hidden;
}

.jc_bank_cell .bank_b .bank_des_title {
    margin-bottom: 10px;
    font-size: 14px;
    color: #FFEA00;
}

.jc_bank_cell .bank_b .bank_des_item {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    padding: 6px 10px;
    font-size: 12px;
    border: solid 1px #fff;
    color: #fff;
}

.jc_bank_cell .bank_b .bank_des_line {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 10px;
    border-bottom: solid 1px #666;
}

.jc_bank_con .bank_f .bank_img {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 60px 25px 20px 25px;
    border-radius: 70px;
    background-color: #fff;
}

.jc_bank_con .bank_f .bank_img img {
    width: 70px;
    height: 70px;
    object-fit: scale-down;
}

.jc_bank_con .bank_f .bank_name {
    display: inline-block;
    width: 16px;
    line-height: 1.5;
    margin: 0 52px;
    padding: 4px 0;
    border-top: solid 1px #999;
    border-bottom: solid 1px #999;
    font-size: 16px;
    word-break: break-all;
}

.mall_wrap {
    width: 100%;
    padding-bottom: 30px;
}

.mall_wrap .titleMall {
    width: 492px;
    height: 40px;
    margin: 40px auto 20px auto;
    background: url(imgs/titleMall.png) no-repeat;
}

.mall_container {
    width: 1400px;
    margin: 0 auto;
}

.mall_cell_wrap {
    width: 690px;
    float: left;
}

.mall_cell_wrap .inquiry_head, .mall_cell_wrap .mall_head {
    width: 690px;
    height: 126px;
    padding-top: 34px;
}

.mall_cell_wrap .inquiry_head {
    background: url(imgs/inquiryBg.png) no-repeat;
}

.mall_cell_wrap .mall_head {
    background: url(imgs/mallBg.png) no-repeat;
}

.mall_cell_wrap .inquiry_head h1, .mall_cell_wrap .mall_head h1 {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.mall_cell_wrap .inquiry_head p, .mall_cell_wrap .mall_head p {
    width: 550px;
    line-height: 1.5;
    margin: 20px auto;
    color: #fff;
    text-align: center;
}

.mall_cell_wrap .cell_body {
    width: 688px;
    height: 248px;
    background-color: #FCFCFC;
    border: solid 1px #FCFCFC;
}
.mall_cell_wrap .cell_body:hover{
    border: solid 1px #eee;
    box-shadow: 0 0 5px #eee;
}

.inquiry_tips_list {
    width: 600px;
    padding: 40px 44px 0 44px;
}

.inquiry_tips_list .inquiry_tips_item {
    width: 120px;
    text-align: center;
    float: left;
}

.inquiry_tips_list .inquiry_tips_item i {
    display: inline-block;
    width: 68px;
    height: 68px;
    line-height: 68px;
    border: solid 1px #e5e5e5;
    border-radius: 68px;
    font-size: 36px;
    color: #999;
}

.inquiry_tips_list .inquiry_tips_item:hover i {
    border: solid 1px #EF5315;
    color: #EF5315;
}

.inquiry_tips_list .inquiry_tips_item p {
    margin-top: 15px;
    color: #333;
}

.inquiry_tips_list .inquiry_tips_item:hover p {
    color: #EF5315;
}

.inquiry_cell_btn {
    display: block;
    width: 132px;
    height: 30px;
    line-height: 30px;
    margin: 40px auto;
    background-color: #FEF1ED;
    border-radius: 30px;
    color: #FE4800;
    text-align: center;
}

.inquiry_cell_btn:hover {
    background-color: #EE623C;
    color: #fff;
}

.inquiry_cell_btn i {
    font-size: 12px;
    margin-left: 10px;
}

.inquiry_cell_btn:hover i {
    color: #fff;
}

.mall_tips_list {
    width: 640px;
    padding: 40px 44px 0 44px;
}

.mall_tips_list .mall_tips_item {
    width: 160px;
    text-align: center;
    float: left;
}

.mall_tips_list .mall_tips_item i {
    display: inline-block;
    width: 68px;
    height: 68px;
    line-height: 68px;
    border: solid 1px #e5e5e5;
    border-radius: 68px;
    font-size: 36px;
    color: #999;
}

.mall_tips_list .mall_tips_item:hover i {
    border: solid 1px #2DA241;
    color: #2DA241;
}

.mall_tips_list .mall_tips_item p {
    margin-top: 15px;
    color: #333;
}

.mall_tips_list .mall_tips_item:hover p {
    color: #2DA241;
}

.mall_cell_btn {
    display: block;
    width: 132px;
    height: 30px;
    line-height: 30px;
    margin: 40px auto;
    background-color: #E8F9EB;
    border-radius: 30px;
    color: #2DA241;
    text-align: center;
}

.mall_cell_btn:hover {
    background-color: #37AE4A;
    color: #fff;
}

.mall_cell_btn i {
    font-size: 12px;
    margin-left: 10px;
}

.mall_cell_btn:hover i {
    color: #fff;
}

.friend_wrap {
    width: 100%;
    background-color: #F4F4F4;
    padding: 40px 0 60px 0;
}

.titleFriend {
    width: 384px;
    height: 40px;
    margin: 0 auto;
    background: url(imgs/titleFriend.png) no-repeat;
}

.friend_container {
    width: 1398px;
    margin: 20px auto 0 auto;
}

.friedn_title_item {
    position: relative;
    display: inline-block;
    width: 466px;
    padding-bottom: 16px;
    font-weight: bold;
    color: #333;
    text-align: center;
    float: left;
}

.friedn_title_item .friedn_title_line {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 2px;
    margin-right: -10px;
    bottom: 0;
    right: 50%;
    background-color: #333;
}

.friedn_list_con {
    width: 418px;
    height: 320px;
    padding: 24px;
    background-color: #fff;
    float: left;
}

.friedn_list_con li {
    width: 138px;
    height: 86px;
    padding-top: 20px;
    border-right: solid 1px #e5e5e5;
    border-bottom: solid 1px #e5e5e5;
    text-align: center;
    float: left;
}

.friedn_list_con li:nth-child(3n+3) {
    border-right: none;
}

.friedn_list_con li:nth-child(n+7) {
    border-bottom: none;
}

.friedn_list_con li img {
    width: 90px;
    height: 40px;
    object-fit: scale-down;
}

.friedn_list_con li p {
    margin-top: 10px;
}

.showMore {
    display: inline-block;
    width: 45px;
    height: 18px;
    line-height: 18px;
    padding-left: 6px;
    background-color: #F4F4F4;
    border: solid 1px #F4F4F4;
    border-radius: 18px;
    font-size: 12px;
    text-align: center;
    float: right;
}

.showMore i {
    margin-left: 4px;
    font-size: 10px;
    color: #666;
}

.showMore:hover {
    background-color: #fff;
    border: solid 1px #FF3600;
    color: #FF3600;
}

.showMore:hover i {
    color: #FF3600;
}