<div class="back_main">
    <div class="back_main_title">
        <span><a href="#">项目详情</a></span>
        <span class="active">采购详情</span>
    </div>
    <div class="back_main_content">
        <div class="bid_info_title"><i class="bid_info_circle"></i>采购概况</div>
        <div class="bid_info_head clearfix">
            <div class="head_cell">
                <span class="head_icon1"></span>
                <p class="marginT16">招标合计</p>
                <p class="marginT14 fontSize24 textBlack1">9 笔</p>
            </div>
            <div class="head_cell">
                <span class="head_icon2"></span>
                <p class="marginT16">招标进行中···</p>
                <p class="marginT14 fontSize24 textBlack1">1 笔</p>
            </div>
            <div class="head_cell" style="width: 600px;">
                <span class="head_icon3"></span>
                <p class="marginT16">招标完成</p>
                <p class="marginT14"><span class="fontSize24 textBlack1">9 笔  /  5,800,000 万元</span><span class="head_cell_tips">成交额</span></p>
            </div>
        </div>
        <div class="bid_info_title"><i class="bid_info_circle"></i>招标记录<span class="textBlack1 fontBold">（23笔）</span></div>
        <div class="material_list">
            <table>
                <colgroup>
                    <col width="5%">
                    <col width="20%">
                    <col width="8%">
                    <col width="8%">
                    <col width="8%">
                    <col width="8%">
                    <col width="8%">
                    <col width="10%">
                </colgroup>
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>采购名称</th>
                        <th>采购方式</th>
                        <th>采购类型</th>
                        <th>经办人</th>
                        <th>发布时间</th>
                        <th>当前状态</th>
                        <th>成交金额（万元）</th>
                    </tr>
                </thead>
                <tbody class="page_list">
                    <!-- <tr>
                        <td colspan="9" styele="text">
                            <div class="page_loading"></div>
                        </td>
                    </tr> -->
                    <tr>
                        <td>1</td>
                        <td><p>黄陂区军运会保障工程-木兰大道美丽乡村带建设项目（EPC）总承包项目部仙河店混凝土采购询价，超出省略...</p><span class="table_package">包件1(BJBH-001)</span></td>
                        <td>邀请招标</td>
                        <td>物资/设备采购</td>
                        <td>张三</td>
                        <td>2018-12-12  20:00</td>
                        <td><span class="status1"></span>报名中</td>
                        <td>——</td>
                    </tr>
                    <!-- <tr>
                        <td colspan="9">
                            <div class="page_list_noneBg"></div>
                            <p class="page_list_noneCon"
                                style="width: 100%;margin-bottom: 60px;font-size: 24px;color: #999;text-align: center;">
                                没有找到相关内容</p>
                        </td>
                    </tr> -->
                </tbody>
            </table>
            <div class="clear"></div>
        </div>
    </div>
</div>