<div class="back_main">
    <div class="back_main_title">
        <span class="active">加入状态</span>
    </div>
    <div class="back_status_warp">
        <ul>
            <li class="back_status_cell status_done">
                <span class="iconLine"><i class="iconCon"></i></span>
                <p class="statusName">采购商邀请</p>
                <p>2018-06-29 12：00</p>
            </li>
            <li class="back_status_cell status_none">
                <span class="iconLine"><i class="iconCon"></i></span>
                <p class="statusName">待供应商回复</p>
            </li>
        </ul>
    </div>
    <div class="back_main_content">
        <div class="back_thin_content">
            <div class="back_info_item clearfix">
                <label class="back_info_title">加入状态：</label>
                <div class="back_main_block">
                    <input type="radio" title="审批通过" value="4" name="status" checked>
                    <input type="radio" title="审批驳回" value="5" name="status">
                </div>
            </div>
            <div class="back_info_item clearfix" id="is_show_reason" style="display:none;">
                <label class="back_info_title"></label>
                <div class="back_main_block">
                    <textarea class="cjy-textarea" placeholder="请输入驳回原因" maxlen="100"></textarea>
                </div>
            </div>
            <div id="is_show">
                <div class="back_info_item clearfix">
                    <label class="back_info_title">选择供应商类别：</label>
                    <div class="back_main_block">
                        <span class="inlineBlock width150">
                            <input type="checkbox" title="物资/设备采购" name="youshang_type_id" checked>
                        </span>
                        <span class="back_info_select">
                            <select>
                                <option value="">请选择初始等级</option>
                                <option value="1">A</option>
                                <option value="2">B</option>
                                <option value="3">C</option>
                                <option value="4">D</option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="back_info_item clearfix">
                    <label class="back_info_title"></label>
                    <div class="back_main_block">
                        <span class="inlineBlock width150">
                            <input type="checkbox" title="物资/设备租赁" name="youshang_type_id" checked>
                        </span>
                        <span class="back_info_select">
                            <select>
                                <option value="">请选择初始等级</option>
                                <option value="1">A</option>
                                <option value="2">B</option>
                                <option value="3">C</option>
                                <option value="4">D</option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="back_info_item clearfix">
                    <label class="back_info_title"></label>
                    <div class="back_main_block">
                        <span class="inlineBlock width150">
                            <input type="checkbox" title="专业分包" name="youshang_type_id" checked>
                        </span>
                        <span class="back_info_select">
                            <select>
                                <option value="">请选择初始等级</option>
                                <option value="1">A</option>
                                <option value="2">B</option>
                                <option value="3">C</option>
                                <option value="4">D</option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="back_info_item clearfix">
                    <label class="back_info_title"></label>
                    <div class="back_main_block">
                        <span class="inlineBlock width150">
                            <input type="checkbox" title="劳务分包" name="youshang_type_id" checked>
                        </span>
                        <span class="back_info_select">
                            <select>
                                <option value="">请选择初始等级</option>
                                <option value="1">A</option>
                                <option value="2">B</option>
                                <option value="3">C</option>
                                <option value="4">D</option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="back_info_item clearfix">
                    <label class="back_info_title"></label>
                    <div class="back_main_block">
                        <span class="inlineBlock width150">
                            <input type="checkbox" title="其他" name="youshang_type_id">
                        </span>
                        <span class="back_info_select" style="display:none">
                            <select>
                                <option value="">请选择初始等级</option>
                                <option value="1">A</option>
                                <option value="2">B</option>
                                <option value="3">C</option>
                                <option value="4">D</option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="back_info_item clearfix">
                    <label class="back_info_title">审批文件：</label>
                    <div class="back_main_block">
                        <span class="js_upload"></span>
                        <!-- <a href="javascript:;" class="itemBtn js_upload" style="position: relative;">上传
                            <input type="file" id="uploadFile" name="uploadFile" style="position: absolute;width: 100%;height: 100%;top: 0;right: 0;opacity: 0;cursor: pointer;">
                        </a> -->
                        <span class="msgCon"><span class="noticeBg"><i class="iconfont icon-i"></i></span>这里显示相关提示信息</span>
                        <div id="process-files"></div>
                        <div class="affixCon"></div>
                    </div>
                </div>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title">加入状态：</label>
                <label>已邀请</label>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title">供应商名称：</label>
                <label>名称名称名称名称名称名称名称名称名称名称</label>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title">联系人：</label>
                <label>王小二</label>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title">联系方式：</label>
                <label>13879654457</label>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title">加入方式：</label>
                <label>邀请加入</label>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title">加入时间：</label>
                <label>2018-06-29 12：00</label>
            </div>
        </div>
    </div>
</div>