.top_menu_right a{
    position: relative;
    display: inline-block;
    line-height: 16px;
    margin-top: 46px;
    font-size: 16px;
    color: #333;
    padding-bottom: 10px;
    margin-left: 40px;
    border-bottom: 4px solid #fff;
}
.top_menu_right .active{
    font-weight: bold;
    border-bottom: 4px solid #fc6940;
}
.top_menu_right a:hover{
    color: #fc6940;
}
.top_menu_right .icon-xiajiantou{
    display: inline-block;
    margin-left: 6px;
    font-weight: 400;
    color: #999;
    transition: transform .3s;
}
.back_wrapper {
    width: 100%;
    padding: 10px 0 0 0;
    background-color: #F2F2F2;
    overflow: hidden;
}
.back_contain {
    /*width: 1180px;*/
    margin: 0 auto;
}

.moreNav:hover .icon-xiajiantou {
    transform: rotate(180deg);
}
.moreNav dl{
    visibility: hidden;
    color: #333;
    width: 128px;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    position: absolute;
    left: -30px;
    top: 26px;
    z-index: 101;
    opacity: 0;
    transition: opacity .3s ease-in;
}
.moreNav:hover dl{
    visibility: visible;
    opacity: 1;
}
.moreNav dl dd{
    height: 48px;
    line-height: 48px;
    padding-left: 14px;
    font-weight: 400;
}
.moreNav dl .active{
    font-weight: 400;
    border-bottom: none;
    color: #fc6940;
}
.moreNav dd:hover{
    background-color: #f8f8f8;
}

/*做标题栏*/
.com_side_menu {
    width: 250px;
    min-height: 1000px;
    margin-bottom: -9999px;
    padding-bottom: 9999px;
    float: left;
    background-color: #FFFBFA;
}

.com_side_menu dt, .com_side_menu dd {
    font-size: 16px;
}
.com_side_menu dt{
    position: relative;
    height: 68px;
    line-height: 68px;
    padding-left: 60px;
    background-color: #fc6940;
    color: #fff;
}
.com_side_menu dt i{
    position: absolute;
    left: 30px;
    font-size: 24px;
}
.com_side_menu dd a{
    display: inline-block;
    width: 190px;
    height: 66px;
    line-height: 66px;
    padding-left: 60px;
}
.com_side_menu dd a i.icon-youjiantou-xi{
    display: none;
    margin-right: 30px;
    float: right;
}
.com_side_menu dd a.active{
    background-color: #fdf8f7;
    color: #fc6940;
}
.com_side_menu dd a.active i.icon-youjiantou-xi{
    display: inline-block;
}
.com_side_menu dd a:hover{
    color: #fc6940;
}

/*后台主体区域*/
.back_main_warp{
    width: 100%;
    min-height: 1000px;
    margin-right: -251px;
    border-left: solid 1px #EDD2CC;
    background-color: #fff;
    float: right;
}
.back_main{
    margin-right: 251px;
}
.back_main_title{
    padding: 0 30px;
    border-bottom: 1px solid #eee;
}
.back_main_title span{
    display: inline-block;
    height: 66px;
    line-height: 76px;
    border-bottom: 2px solid #fc6940;
    font-size: 16px;
    font-weight: 700;
}
.back_main_content{
    /* padding: 30px; */
}
.back_main_item{
    margin-bottom: 20px;
}
.back_main_item label{
    float: left;
    display: block;
    width: 100px;
    padding: 10px 0;
    line-height: 20px;
    text-align: right;
    font-size: 14px;
    color: #999;
}
.back_main_block{
    margin-left: 100px;
}
.back_main_block select{
    width: 300px;
}
.back_main_block textarea{
    width: 500px;
}
.back_main_btns{
    height: 40px;
    padding: 30px;
    background-color: #F7F7F7;
}
/*搜索部分*/
.back_main_search{
    padding: 20px 30px;
    background-color: #FAFAFA;
}
.back_main_search .cjy-input-{
    width: 210px;
    margin-right: 6px;
    font-size: 14px;
}
.back_main_search .cjy-calendar{
    margin-right: 6px;
}
.back_main_search .cjy-calendar .cjy-calendar-input{
    width: 130px;
    vertical-align: -1px;
}
.back_main_search .search_line{
    margin-right: 6px;
}
.back_main_search select{
    width: 160px;
}
.back_main_search label{
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #999;
}
.back_main_search .search_btn_con{
    margin-top: 20px;
    padding-top: 20px;
    border-top: solid 1px #e5e5e5;
}
.back_main_search .search_btn_con a{
    display: inline-block;
    width: 100px;
    height: 38px;
    line-height: 38px;
    background-color: #fff;
    border: solid 1px #ccc;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
}
.back_main_search .search_btn_con a.back_btn_search{
    background-color: #FC6940;
    border-color: #FC6940;
    color: #fff;
}
.back_main_search .search_btn_con a.back_btn_search:hover{
    background-color: #F3623A;
    border-color: #F3623A;
}
/*状态小标*/
.back_tips_waiting,.back_tips_disabled,.back_tips_success,.back_tips_havebid,.back_tips_bidded,.back_tips_expire{
    display: inline-block;
    width: 80px;
    height: 24px;
    line-height: 24px;
    border-radius: 12px;
    font-size: 14px;
    color: #fff;
    text-align: center;
}
/* 已报名 */
.back_tips_success{
    background-color: #00b27e;
}
/* 已投标 */
.back_tips_havebid{
    background-color: #e1a060;
}
/* 待投标 */
.back_tips_waiting{
    background-color: #0084ff;
}
/* 已中标 */
.back_tips_bidded{
    background-color: #fc6940;
}
/* 未中标 */
.back_tips_disabled{
    background-color: #bfbfbf;
}
/* 已过期 */
.back_tips_expire{
    background-color: #48b1a3;
}

/*重写顶部样式*/
.top_bar_wrap .com_top_bar{
    width: auto;
    padding: 0 30px;
}
.com_top_menu{
    width: auto;
    height: 110px;
    padding: 0 30px;
}