<div class="back_main">
    <div class="bIndex_head">
        <div class="head_cell">
            <span class="head_icon1"></span>
            <p class="fontSize20 textBlack1">126,560 次</p>
            <p>采购次数</p>
        </div>
        <div class="head_cell">
            <span class="head_icon2"></span>
            <p class="fontSize20 textBlack1">￥126,560</p>
            <p>采购金额</p>
        </div>
    </div>
    <div class="bIndex_body">
        <div class="bIndex_title">我的询价单</div>
        <div class="bIndex_con">
            <a href="#" class="body_item">
                <i class="iconfont icon-caogaoxiang"></i>
                <p class="body_item_num">1</p>
                <p class="marginT10 textBlack2">我的草稿箱</p>
            </a>
            <a href="#" class="body_item">
                <i class="iconfont icon-dengdaibaojia"></i>
                <p class="body_item_num">25</p>
                <p class="marginT10 textBlack2">等待报价中</p>
            </a>
            <a href="#" class="body_item">
                <i class="iconfont icon-daixuangongyingshang"></i>
                <p class="body_item_num">20</p>
                <p class="marginT10 textBlack2">待选供应商</p>
            </a>
            <a href="#" class="body_item">
                <i class="iconfont icon-dingdan1"></i>
                <p class="body_item_num">5</p>
                <p class="marginT10 textBlack2">已生成订单</p>
            </a>
            <a href="#" class="body_all">
                <i class="icon-all">>></i>
                <p class="marginT10 textOrange">全部报价单</p>
            </a>
        </div>
        <div class="bIndex_title">我的订单</div>
        <div class="bIndex_con">
            <a href="#" class="body_item">
                <i class="iconfont icon-fukuan"></i>
                <p class="body_item_num">3</p>
                <p class="marginT10 textBlack2">等待付款</p>
            </a>
            <a href="#" class="body_item">
                <i class="iconfont icon-huoche1"></i>
                <p class="body_item_num">1</p>
                <p class="marginT10 textBlack2">等待发货</p>
            </a>
            <a href="#" class="body_item">
                <i class="iconfont icon-shouhuo"></i>
                <p class="body_item_num">10</p>
                <p class="marginT10 textBlack2">等待收货</p>
            </a>
            <a href="#" class="body_all">
                <i class="icon-all">>></i>
                <p class="marginT10 textOrange">全部定单</p>
            </a>
        </div>
    </div>
</div>