<div class="back_main">
    <div class="back_main_title">
        <span class="active">加入状态</span>
    </div>
    <div class="back_status_warp">
        <ul>
            <li class="back_status_cell status_done">
                <span class="iconLine"><i class="iconCon"></i></span>
                <p class="statusName">采购商邀请</p>
                <p>2018-06-29 12：00</p>
            </li>
            <li class="back_status_cell status_none">
                <span class="iconLine"><i class="iconCon"></i></span>
                <p class="statusName">待供应商回复</p>
            </li>
        </ul>
    </div>
    <div class="back_main_content">
        <div class="back_thin_content">
            <div class="back_info_item clearfix">
                <label class="back_info_title">加入状态：</label>
                <div class="back_main_block">
                    <input type="radio" title="接受邀请" value="2" name="status" checked>
                    <input type="radio" title="拒绝邀请" value="3" name="status">
                </div>
            </div>
            <div id="is_show_reason" style="display:none;">
                <div class="back_main_nav">
                    <div class="back_nav_head">
                        <span class="back_nav_title">拒绝原因</span>
                    </div>
                    <div class="back_nav_body">
                        <div class="back_info_item clearfix">
                            <div class="back_main_block" style="margin-left: 0;">
                                <textarea class="cjy-textarea" placeholder="请输入驳回原因" maxlen="100"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="is_show">
                <div class="back_main_nav">
                    <div class="back_nav_head">
                        <span class="back_nav_title">提交申请材料</span>
                    </div>
                    <div class="back_nav_body">
                        <div class="back_info_item clearfix">
                            <label class="back_info_title">申请材料：</label>
                            <div class="back_main_block">
                                <span class="js_upload"></span>
                                <!-- <a href="javascript:;" class="itemBtn js_upload" style="position: relative;">上传
                                    <input type="file" id="uploadFile" name="uploadFile" style="position: absolute;width: 100%;height: 100%;top: 0;right: 0;opacity: 0;cursor: pointer;">
                                </a> -->
                                <span class="msgCon"><span class="noticeBg"><i class="iconfont icon-i"></i></span>具体要求可参考页面下方采购商自行设置的 “加入要求”</span>
                                <div id="process-files"></div>
                                <div class="affixCon"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="back_main_nav">
                <div class="back_nav_head">
                    <span class="back_nav_title">关于友商</span>
                </div>
                <div class="back_nav_body">
                    <div class="back_info_item clearfix">
                        <label class="back_info_title">友商名称：</label>
                        <div class="back_main_block">
                            <label style="width:100%;"><span>供应商名称供应商名称供应商名称供应商名称</span></label>
                        </div>
                    </div>
                    <div class="back_info_item clearfix">
                        <label class="back_info_title">联系人：</label>
                        <div class="back_main_block">
                            <label style="width:100%;"><span>张学友</span></label>
                        </div>
                    </div>
                    <div class="back_info_item clearfix">
                        <label class="back_info_title">联系方式：</label>
                        <div class="back_main_block">
                            <label style="width:100%;"><span>13800000000</span></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="back_main_nav">
                <div class="back_nav_head">
                    <span class="back_nav_title">加入要求</span>
                </div>
                <div class="back_nav_body" id="">
                    <p class="marginB20" name="requirement">附骨疮即附骨疽的讹写，据《医宗金鉴》所述，此“系调治可愈之证”，可见在当时并非绝症。“附骨疽生于大腿外侧，……由体虚之人露卧风，冷浴后乘凉寒湿侵袭，或房欲之后盖覆单薄，寒邪乘虚入里，遂成斯疾。初觉寒热往来，如同感冒风邪，随后筋骨疼痛，不热不红，甚则痛如锥刺筋骨，不能屈伸。”乾隆谈及永琪，曾不无遗憾的说“朕视皇五子于诸子中觉贵重，且汉文、满洲蒙古语，马步射及算法等事，并皆娴习，颇属意于彼而未明言，乃复因病旋逝。”可见永琪精于骑射，其病之起极有可能缘于风餐露宿骑马射猎所致。而因病薨逝，感觉病起仓促，可能即是因为陈氏所言的不得溃，此症状的特征是“三阴不足，外邪过盛，大腿通肿，皮色不变，疼痛日增不消不溃者，此属虚寒骨冷。”</p>
                    <div class="affix_item"><i class="iconfont icon-fujian"></i><span class="ellipsis">这里放名称这里放名称</span><a class="textBlue">下载</a></div>
                    <div class="affix_item"><i class="iconfont icon-fujian"></i><span class="ellipsis">这里放名称这里放名称</span><a class="textBlue">下载</a></div>
                </div>
            </div>
        </div>
    </div>
</div>