<div class="back_main">
    <div class="back_main_title">
        <span class="active">编辑供应商评价</span>
    </div>
    <div class="back_main_content">
        <div class="back_thin_content">
            <div class="back_info_item clearfix">
                <label class="back_info_title">供应商等级：</label>
                <div class="back_main_block">
                    <select>
                        <option value="">请选择供应商等级</option>
                        <option value="1">A</option>
                        <option value="2">B</option>
                        <option value="3">C</option>
                        <option value="4">D</option>
                    </select>
                </div>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title">评价记录：</label>
                <div class="back_main_block">
                    <label style="width:100%;"><span>2018/08/09</span><span class="marginL30 textOrange">B</span><i class="iconfont icon-youjiantou-"></i><span class="textOrange">A</span></label>
                    <label style="width:100%;"><span>2018/08/09</span><span class="marginL30 textOrange">B</span><i class="iconfont icon-youjiantou-"></i><span class="textOrange">A</span></label>
                    <label style="width:100%;"><a href="#" class="textBlue">查看全部</a></label>
                </div>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title">审批文件：</label>
                <div class="back_main_block">
                    <a href="javascript:;" class="itemBtn">新增不良记录</a>
                </div>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title"></label>
                <div class="back_main_block">
                    <label style="width:100%;"><span>2018/08/09</span><span class="marginL10 textOrange">交货情况不良记录</span></label>
                    <label style="width:100%;"><span>2018/08/09</span><span class="marginL10 textOrange">交货情况不良记录</span></label>
                    <label style="width:100%;"><a href="#" class="textBlue">查看全部</a></label>
                </div>
            </div>
            <div class="back_main_btns clearfix">
                <a class="btn_confirm floatR marginL10" href="javascript:;">保存</a>
                <a class="btn_cancel floatR" href="javascript:;">返回</a>
            </div>
        </div>
    </div>
</div>