<div class="back_main">
    <div class="back_main_title">
        <span class="active">加入状态</span>
    </div>
    <div class="back_status_warp">
        <ul class="clearfix">
            <li class="back_status_cell status_done">
                <span class="iconLine"><i class="iconCon"></i></span>
                <p class="statusName">设置模板内容</p>
            </li>
            <li class="back_status_cell status_done">
                    <span class="iconLine"><i class="iconCon"></i></span>
                    <p class="statusName">设置等级区间</p>
                </li>
            <li class="back_status_cell status_none">
                <span class="iconLine"><i class="iconCon"></i></span>
                <p class="statusName">完成模板</p>
            </li>
        </ul>
    </div>
    <div class="back_main_content">
        <div class="back_thin_content">
            <div class="back_info_item clearfix">
                <label class="back_info_title">设置供应商等级对应的分数区间：</label>
                <label>
                        <span class="msgCon"><span class="noticeBg"><i class="iconfont icon-i"></i></span>例&nbsp;&nbsp;&nbsp;&nbsp;A：80-100&nbsp;&nbsp;&nbsp;&nbsp;B：60-79&nbsp;&nbsp;&nbsp;&nbsp;C：40-59&nbsp;&nbsp;&nbsp;&nbsp;D：0-39</span>
                </label>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title"></label>
                <div class="back_main_block">
                    <span class="marginL10 marginR24">A</span><span class="textBlack3"><input type="text" class="cjy-input-">分&nbsp;&nbsp;&nbsp;&nbsp;——&nbsp;&nbsp;&nbsp;&nbsp;100分</span>
                </div>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title"></label>
                <div class="back_main_block">
                    <span class="marginL10 marginR24">B</span><span class="textBlack3"><input type="text" class="cjy-input-">分&nbsp;&nbsp;&nbsp;&nbsp;——&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class="cjy-input-">分</span>
                </div>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title"></label>
                <div class="back_main_block">
                    <span class="marginL10 marginR24">C</span><span class="textBlack3"><input type="text" class="cjy-input-">分&nbsp;&nbsp;&nbsp;&nbsp;——&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class="cjy-input-">分</span>
                </div>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title"></label>
                <div class="back_main_block">
                    <span class="marginL10 marginR24">D</span><span class="textBlack3" style="margin-left: 53px;">0分&nbsp;&nbsp;&nbsp;&nbsp;——&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class="cjy-input-">分</span>
                </div>
            </div>
            <div class="back_main_btns clearfix">
                <a class="btn_confirm floatR marginL10" href="javascript:;">下一步</a>
                <a class="btn_cancel floatR" href="javascript:;">上一步</a>
            </div>
        </div>
    </div>
</div>