<div class="userprotocol_bg_wrap">
    <div class="userprotocol_bg"></div>
</div>
<div class="userprotocol_main">
    <h1>隐私声明</h1>
    <p>尊敬的用户：</p>
    <p>欢迎访问生材网平台！</p>
    <p>为了给您提供更加安全的服务，本声明公开生材网平台（所涉域名为materialw.com，及生材网平台现在及将来可能开设的手机客户端、无线端等）的隐私政策。生材网平台承诺将按照本隐私声明收集、使用和披露用户信息，除本声明另有规定外，不会在未经您许可的情况下向第三方或公众披露您的信息。</p>
    <p>在您使用生材网平台提供的各项服务之前，请务必仔细阅读本声明。本隐私声明构成生材网平台规则不可分割的一部分，当您同意注册成为生材网平台用户时，即视为同意本声明的全部内容。</p>
    <p>随着生材网平台经营服务内容的变更或扩大，我们会本着高度谨慎原则对隐私声明进行改进。如果您对本声明有任何问题或建议，欢迎联系生材网平台。</p>
    <p>通过本声明，我们希望您了解如下政策：</p>
    <p>一、“用户信息”的范围</p>
    <p>二、“用户信息”的收集、使用和披露</p>
    <p>三、“用户信息”的保护</p>
    <p>四、“用户信息”的使用政策</p>
    <p>五、未成年人的信息政策</p>
    <p>六、免责</p>
    <h2>一、“用户信息”的范围</h2>
    <p>1.账户信息：您注册、变更生材网平台用户账户时，向生材网平台提供的注册信息，包括但不限于用户名、密码、姓名、银行账号、电话号码、地址等信息。</p>
    <p>2.生材网平台自动接收的信息包括：</p>
    <p>(1)您使用生材网平台时，我们将自动接收并记录您的浏览器和计算机上的信息，包括但不限于您的IP地址、浏览器的类型、使用的语言、访问日期和时间等数据；</p>
    <p>(2)您下载或使用生材网平台移动客户端软件，或使用移动设备运行生材网平台时，可能会读取与您位置和移动设备相关的信息，包括但不限于设备型号、设备识别码、操作系统、分辨率、电信运营商等。</p>
    <p>3.生材网平台通过其他合法途径取得的用户信息。</p>
    <p>4.需要提醒您，以下信息不属于用户信息：</p>
    <p>(1)您在生材网平台购买商品时的信息，包括但不限于购买时使用的用户名、成交时间、出价、数量、评价等信息；</p>
    <p>(2)您在生材网平台搜索商品时的关键字、时间和频率；</p>
    <p>(3)根据法律法规和规章，需要公开的信息。</p>
    <h2>二、“用户信息”的收集、使用和披露</h2>
    <p>1.为了给您提供更优质的服务，我们会全面分析用户地区分布、访问量和热搜商品等信息。</p>
    <p>2.为了给您提供更加贴心和个性化的服务，我们可能通过使用用户信息，分析您可能感兴趣的信息并向您提供；或通过系统向您展示个性化的第三方推广信息；或在您同意的情况下，与合作伙伴共享您的信息，帮助您获得最便捷的交易体验；或在您同意的情况下，在平台上公开您的用户信息，帮助您获取交易机会。</p>
    <p>3.生材网平台不会在未经您同意的情况下，向第三方披露任何可能用于识别用户个人身份的信息，但从用户的用户名或其它可披露资料分析得出的资料不受此限。</p>
    <p>4.为了给您提供更加安全的网络环境，生材网平台可能使用用户信息以预防、发现、调查违法或违反与生材网平台或其关联公司协议、政策或规则的行为，以保护您、生材网平台及关联公司的合法权益。</p>
    <p>5.生材网平台承诺披露用户信息的情形仅存在于：</p>
    <p>(1)经您事先同意，向第三方或公众披露；</p>
    <p>(2)根据法律的有关规定，或者行政或司法机关的要求，向第三方或者行政、司法机关披露；</p>
    <p>(3)如您的行为存在违反中国有关法律、法规或者生材网平台规则的情况，需要向第三方披露；</p>
    <p>(4)但为方便您使用生材网平台的服务及生材网平台关联公司或其他组织的服务（以下称“其他服务”），您同意并授权生材网平台将您的用户信息传递给您同时接受其他服务的生材网平台关联公司或其他组织，或从为您提供其他服务的生材网平台关联公司或其他组织获取您的用户信息；</p>
    <p>(5)在生材网平台的交易中，如交易任何一方履行或部分履行了交易义务并提出信息披露请求的，生材网平台有权决定向该用户提供其交易对方的联络方式等必要信息，以促成交易的完成或纠纷的解决；</p>
    <p>(6)其它根据法律、法规或者政策应进行的披露。</p>
    <h2>三、“用户信息”的保护</h2>
    <p>1.您的账户均有安全保护功能，请妥善保管您的账户及密码信息。生材网平台将通过向其它服务器备份、对用户密码进行加密等安全措施确保您的信息不丢失，不被滥用和变造。尽管有前述安全措施，但同时也提请您注意在信息网络上不存在所谓“完善的安全措施”。</p>
    <p>2.除非经过您的同意，生材网平台不允许任何用户、第三方通过生材网平台收集、出售或者无偿传播您的用户信息。任何用户、第三方如从事上述活动，一经发现，生材网平台将停止与其的服务或协议，必要时将采取法律手段保护您和生材网平台的权益。</p>
    <p>3.生材网平台含有其他网站的链接，生材网平台不对链接网站的隐私保护措施负责。当您登陆链接网站时，请提高警惕，注意保护个人隐私。</p>
    <h2>四、“Cookies”的使用政策</h2>
    <p>Cookies是少量的数据，在您未拒绝接受cookies的情况下，cookies将被发送到您的浏览器，并储存在您的计算机硬盘。我们使用cookies储存您访问生材网平台的相关数据，在您访问或再次访问生材网平台时，我们能识别您的身份，并通过分析数据为您提供更便捷更完善的服务。</p>
    <p>您有权选择接受或拒绝接受cookies。您可以通过修改浏览器的设置以拒绝接受cookies，但是我们需要提醒您，如果您拒绝接受cookies，您可能无法使用依赖cookies的生材网平台的部分功能。</p>
    <h2>五、未成年人的信息政策</h2>
    <p>如果您尚未年满18周岁，根据相关法律规定，您不能使用本平台提供的交易服务。因此，请您不要在本平台从事交易行为。</p>
    <h2>六、免责 </h2>
    <p>除上述第二条第5款规定属免责外，发生下列情况时本网站也不承担任何责任：</p>
    <p>(一)由于您将用户密码告知他人或与他人共享注册帐户，由此导致的任何个人资料泄露。</p>
    <p>(二)任何黑客政击、计算机病毒侵入或发作、政府部门管制和其他不可抗力等造成的个人资料泄露、丢失、被盗用或被窜改等。</p>
    <p>(三)因与本网站链接的其它网站造成个人资料泄露及由此而导致的任何法律争议和后果。</p>
    <p>本网站保护隐私声明的修改及更新权均属于生材网。</p>
    <h1 style="text-align: right;margin-top: 80px;">声明人：生材网平台</h1>
</div>