<div class="tender_wrap">
    <div class="tender_head_wrap">
        <div class="tender_head_crumbs">
            <i class="iconfont icon-ditu"></i>
            <a href="#">招标公告</a>><span>公告详情</span>
        </div>
        <div class="tender_head_con">
            <span class="tender_head_icon iconfont icon-baomingzhong"></span>
            <p class="tender_head_type"><span>.</span>报名中<span>.</span></p>
            <p class="tender_head_title">中铁八局集团昆明铁路建设有限公司珠三角城际新百广XBZH-2标四工XBZH-2标工程项目螺纹钢、管材等公开采购中铁八局集团昆明</p>
            <div class="tender_head_tips"><span>采购编号： HBLQJTCLZB20180141</span><span>发布时间： 2018-12-12 14:34</span><span>联系信息： 报名后可见</span></div>
            <span class="tender_head_attest">唯一报名渠道：生材网</span>
            <div class="tender_form">
                <div class="tender_block clearfix">
                    <label>采购单位：</label>
                    <div class="tender_block_item">武汉市市政建设集团有限公司公司信息显示全称，显示不下换行显示市政建设集团有限公司公司</div>
                </div>
                <div class="tender_block clearfix">
                    <div class="tender_block_half">
                        <label>采购方式：</label>
                        <div class="tender_block_item">公开招标</div>
                    </div>
                    <div class="tender_block_half">
                        <label>报名截止时间：</label>
                        <div class="tender_block_item"><span class="textGreen">2019-06-02 17:00</span><span class="tender_change">已变更</span></div>
                    </div>
                </div>
                <div class="tender_block clearfix">
                    <div class="tender_block_half">
                        <label>开标方式：</label>
                        <div class="tender_block_item">在线开标<span class="textBlack3 fontNormal">（投标/报价方将在线进行报价、上传投标文件）</span></div>
                    </div>
                    <div class="tender_block_half">
                        <label>投标截止时间：</label>
                        <div class="tender_block_item"><span class="textGreen">2019-06-02 17:00</span></div>
                    </div>
                </div>
                <div class="tender_block clearfix">
                    <div class="tender_block_half">
                        <label>资审文件费：</label>
                        <div class="tender_block_item">￥1200.00</div>
                    </div>
                    <div class="tender_block_half">
                        <label>资审文件递交截止时间：</label>
                        <div class="tender_block_item">2019-06-02 17:00</div>
                    </div>
                </div>
                <div class="tender_block clearfix">
                    <div class="tender_block_half">
                        <label>招标/询价文件费：</label>
                        <div class="tender_block_item">￥1200.00<span class="textBlack3 fontNormal">（包件号：GC-2009-01）</span><a href="javascript:;" type="2" class="marginL12 textRed js_morePackage">更多包件费用</a></div>
                    </div>
                    <div class="tender_block_half">
                        <label>开标时间：</label>
                        <div class="tender_block_item">2019-06-02 17:00
                            <a href="javascript:;" class="marginL12 textRed date_change">更多时间信息<i class="iconfont icon-xiajiantou"></i>
                                <div class="tagBox"><span class="tagArrow"></span>
                                    <div class="tagCon">
                                        <p><i class="tagBox_dot"></i>资审文件下载开始时间：<span class="textBlack1 fontBold">2019-06-02  17：50</span><span class="tender_change" style="margin-left:8px;">已变更</span></p>
                                        <p><i class="tagBox_dot"></i>资审文件下载截止时间：<span class="textBlack1 fontBold">2019-06-02  17：50</span></p>
                                        <p><i class="tagBox_dot"></i>招标文件下载开始时间：<span class="textBlack1 fontBold">2019-06-02  17：50</span></p>
                                        <p><i class="tagBox_dot"></i>招标文件下载截止时间：<span class="textBlack1 fontBold">2019-06-02  17：50</span></p>
                                        <p><i class="tagBox_dot"></i>澄清提问截止时间：<span class="textBlack1 fontBold">2019-06-02  17：50</span></p>
                                        <p><i class="tagBox_dot"></i>澄清补遗截止时间：<span class="textBlack1 fontBold">2019-06-02  17：50</span></p>
                                        <span class="textRed js_hideDate">收起<i class="iconfont icon-shangjiantou"></i></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tender_block clearfix">
                    <div class="tender_block_half">
                        <label>保证金金额：</label>
                        <div class="tender_block_item">￥1200.00</div>
                    </div>
                    <div class="tender_block_half">
                        <label>交付地区：</label>
                        <div class="tender_block_item">武汉，黄冈，上海</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tender_bottom_con">
            <div class="tender_bottom_info">
                <span class="tender_bottom_text"><i class="iconfont icon-dengdai"></i>距离报名截止还剩<span class="tender_text_num marginL10">0</span><span class="tender_text_num marginR10">3</span>天<span class="tender_text_num marginL10">0</span><span class="tender_text_num marginR10">3</span>小时<span class="tender_text_num marginL10">0</span><span class="tender_text_num marginR10">3</span>分</span>
                <a href="javascript:;" class="btn_manage"><i class="iconfont icon-zhaobiao"></i>管理我参与的投标</a>
                <a href="javascript:;" class="btn_bidding">继续报名</a>
                <a href="javascript:;" class="btn_bidded">已报名</a>
            </div>
        </div>
    </div>
    <div class="tender_step_nav">
        <a href="javascript:;" class="active" name="step1">招标公告<span class="step_line"></span></a>
        <a href="javascript:;" name="step2">变更公告<span class="step_line"></span></a>
        <a href="javascript:;" name="step3">资格预审文件
            <span class="step_line"></span>                                    
            <span class="stepTagBox"><span class="tagArrow"></span>
                <span class="tagCon">下载资审文件</span>
            </span>
        </a>
        <a href="javascript:;" name="step4">招标/询价文件<span class="step_line"></span>
            <span class="stepTagBox delay"><span class="tagArrow"></span>
                <span class="tagCon">下载标书</span>
            </span>
        </a>
        <a href="javascript:;" name="step5">答疑/澄清<span class="step_line"></span></a>
        <a href="javascript:;" name="step6">采购单位简介<span class="step_line"></span></a>
        <a href="javascript:;" name="step7">项目简介<span class="step_line"></span></a>
    </div>
    <div class="tender_step_section">
        <div class="tender_step_con" data-id="step1">
            <div class="rich_web_txt">
                    <p class="MsoNormal" style="text-autospace: ideograph-numeric; mso-pagination: none; text-align: center; line-height: 25.0000pt; mso-line-height-rule: exactly;" align="center"><strong><span style="font-family: 宋体; font-size: 15pt;">2019<span style="font-family: 宋体;">年</span></span></strong><strong><span style="font-family: 宋体; font-size: 15pt;"><span style="font-family: 宋体;">武汉市花木公司常用园林工程辅材泥炭土</span></span></strong><strong><span style="font-family: 宋体; font-size: 14pt;"><span style="font-family: 宋体;">采购</span></span></strong><strong><span style="font-family: 宋体; font-size: 15pt;"><span style="font-family: 宋体;">询价</span></span></strong><strong><span style="font-family: 宋体; font-size: 15pt;"><span style="font-family: 宋体;">公告</span></span></strong></p>
                    <p class="MsoNormal" style="text-autospace: ideograph-numeric; mso-pagination: none; text-align: center; line-height: 25.0000pt; mso-line-height-rule: exactly;" align="center"><strong><span style="font-family: 宋体; font-size: 15pt;"><span style="font-family: 宋体;">询价编号：</span></span></strong><strong><span style="font-family: 宋体; font-size: 15pt;">2019-001</span></strong></p>
                    <p class="MsoNormal" style="text-autospace: ideograph-numeric; mso-pagination: none; line-height: 25.0000pt; mso-line-height-rule: exactly;"><strong><span style="font-family: 宋体; font-size: 14pt;"><span style="font-family: 宋体;">致</span>: </span></strong><u><span style="font-family: 宋体; font-size: 14pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><u></u></p>
                    <p class="MsoNormal" style="text-indent: 24pt; line-height: 150%;"><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; line-height: 150%; font-size: 12.0000pt; mso-font-kerning: 1.0000pt;">7</span><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; line-height: 150%; font-size: 12.0000pt; mso-font-kerning: 1.0000pt;">.1 </span><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; line-height: 150%; font-size: 12.0000pt; mso-font-kerning: 1.0000pt;"><span style="font-family: 宋体;">在线</span></span><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; line-height: 150%; font-size: 12.0000pt; mso-font-kerning: 1.0000pt;"><span style="font-family: 宋体;">报名截止时间：</span>2019<span style="font-family: 宋体;">年</span></span><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; line-height: 150%; font-size: 12.0000pt; mso-font-kerning: 1.0000pt;">07</span><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; line-height: 150%; font-size: 12.0000pt; mso-font-kerning: 1.0000pt;"><span style="font-family: 宋体;">月</span>1</span><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; line-height: 150%; font-size: 12.0000pt; mso-font-kerning: 1.0000pt;">0</span><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; line-height: 150%; font-size: 12.0000pt; mso-font-kerning: 1.0000pt;"><span style="font-family: 宋体;">日</span>18<span style="font-family: 宋体;">时</span><span style="font-family: Times New Roman;">00</span><span style="font-family: 宋体;">分（北京时间）。</span></span></p>
                    <p class="MsoNormal" style="text-indent: 48pt; line-height: 150%;"><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; line-height: 150%; font-size: 12.0000pt; mso-font-kerning: 1.0000pt;"><span style="font-family: 宋体;">递交</span></span><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; line-height: 150%; font-size: 12.0000pt; mso-font-kerning: 1.0000pt;"><span style="font-family: 宋体;">报价</span></span><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; line-height: 150%; font-size: 12.0000pt; mso-font-kerning: 1.0000pt;"><span style="font-family: 宋体;">截止时间：</span>2019<span style="font-family: 宋体;">年</span><span style="font-family: Times New Roman;">0</span></span><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; line-height: 150%; font-size: 12.0000pt; mso-font-kerning: 1.0000pt;">7</span><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; line-height: 150%; font-size: 12.0000pt; mso-font-kerning: 1.0000pt;"><span style="font-family: 宋体;">月</span></span><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; line-height: 150%; font-size: 12.0000pt; mso-font-kerning: 1.0000pt;">15</span><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; line-height: 150%; font-size: 12.0000pt; mso-font-kerning: 1.0000pt;"><span style="font-family: 宋体;">日</span> </span><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; line-height: 150%; font-size: 12.0000pt; mso-font-kerning: 1.0000pt;">15</span><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; line-height: 150%; font-size: 12.0000pt; mso-font-kerning: 1.0000pt;">&nbsp;<span style="font-family: 宋体;">时</span> &nbsp;</span><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; line-height: 150%; font-size: 12.0000pt; mso-font-kerning: 1.0000pt;">00</span><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; line-height: 150%; font-size: 12.0000pt; mso-font-kerning: 1.0000pt;">&nbsp;<span style="font-family: 宋体;">分（北京时间）。</span></span></p>
                    <p class="MsoNormal" style="text-indent: 24pt; line-height: 150%;"><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; line-height: 150%; font-size: 12.0000pt; mso-font-kerning: 1.0000pt;">7</span><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; line-height: 150%; font-size: 12.0000pt; mso-font-kerning: 1.0000pt;">.2 <span style="font-family: 宋体;">投标方式：凡有意参加投标者，须在生材网（</span><span style="font-family: Times New Roman;">https://www.materialw.com/</span><span style="font-family: 宋体;">）先注册成为会员，在招投标平台完成线上报名并下载领取电子版招标文件，否则视为无效。</span></span></p>

            </div>
            <div class="tender_detail_title"><i class="detail_title_circle"></i>附件下载</div>
            <div class="tender_file_list">
                <div class="tender_file_cell"><i class="iconfont icon-fujian"></i>投标文件1.doc<a href="javascript:;" class="textBlue marginL12">下载</a></div>
                <div class="tender_file_cell"><i class="iconfont icon-fujian"></i>投标文件1.doc<a href="javascript:;" class="textBlue marginL12">下载</a></div>
            </div>
        </div>

        <div class="tender_step_con" data-id="step2">
            <h1>中铁一局集团城市轨道交通工程有限公司武汉市轨道交通8号线二期工程第二标段及武汉梨园广场公共停车场钢筋采购招标公告</h1>
            <p class="textBlack3 marginT14 textC">变更时间：2019-07-05  16:40</p>
            <div class="rich_web_txt marginT30">
                <p style="color: #333;margin-bottom: 20px;line-height: 2;">各潜在投标人：</p>
                <p style="color: #333;margin-bottom: 20px;line-height: 2;">经研究，对泽口灌区（潜江部分）续建配套与节水改造工程2019年度项目（项目名称）HBSJ-201905SL-002001001经研究，对泽口灌区（潜江部分）续建配套与节水改造工程2019年度项目（项目名称）HBSJ-201905SL-002001001经研究，对泽口灌区（潜江部分）续建配套与节水改造工程2019年度项目（项目名称）HBSJ-201905SL-002001001经研究，对泽口灌区（潜江部分）续建配套与节水改造工程2019年度项目（项目名称）HBSJ-201905SL-002001001经研究，对泽口灌区（潜江部分）续建配套与节水改造工程2019年度项目（项目名称）HBSJ-201905SL-002001001</p>
                <p style="text-align: right;color: #333;margin-bottom: 10px;line-height: 2;">湖北腾升工程管理有限责任公司</p>
                <p style="text-align: right;color: #333;line-height: 2;">2019年6月10日</p>
            </div>
            <div class="tender_detail_title"><i class="detail_title_circle"></i>时间变更</div>
            <div class="material_list clearfix">            
                <table>
                    <colgroup>
                        <col width="10%">
                        <col width="10%">
                        <col width="10%">
                    </colgroup>
                    <thead>
                        <th>时间项</th>
                        <th>最新时间</th>
                        <th>变更前</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>报名截止时间</td>
                            <td>2019-12-12  12：00</td>
                            <td>2019-12-12  12：00</td>
                        </tr>
                        <tr>
                            <td>资审文件递交截止时间</td>
                            <td>2019-12-12  12：00</td>
                            <td>2019-12-12  12：00</td>
                        </tr>
                        <tr>
                            <td>投标截止时间</td>
                            <td>2019-12-12  12：00</td>
                            <td>2019-12-12  12：00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tender_detail_title"><i class="detail_title_circle"></i>附件下载</div>
            <div class="tender_file_list">
                <div class="tender_file_cell"><i class="iconfont icon-fujian"></i>投标文件1.doc<a href="javascript:;" class="textBlue marginL12">下载</a></div>
                <div class="tender_file_cell"><i class="iconfont icon-fujian"></i>投标文件1.doc<a href="javascript:;" class="textBlue marginL12">下载</a></div>
            </div>

            <!-- 多个变跟时使用 -->
            <div class="material_list clearfix">            
                <table>
                    <colgroup>
                        <col width="20%">
                        <col width="10%">
                        <col width="8%">
                    </colgroup>
                    <thead>
                        <th>变更公告标题</th>
                        <th>变更时间</th>
                        <th>操作</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>松柏镇八角庙四道沟征迁安置小区项目松柏镇八角采购项目时间变更</td>
                            <td>2019-12-12  12：00</td>
                            <td><a href="#" class="textBlue">查看详情</a></td>
                        </tr>
                        <tr>
                            <td>泽口灌区（潜江部分）续建配套与节水改造工程2019年度项目项目施工及信息化（标段/包名称）招标文件相关疑问，已作澄清并上传至“电子交易平台”</td>
                            <td>2019-12-12  12：00</td>
                            <td><a href="#" class="textBlue">查看详情</a></td>
                        </tr>
                        <tr>
                            <td>松柏镇八角庙四道沟征迁安置小区项目松柏镇八角采购项目时间变更</td>
                            <td>2019-12-12  12：00</td>
                            <td><a href="#" class="textBlue">查看详情</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="tender_step_con" data-id="step3">
            <div class="tender_step_prompt"><i class="iconfont icon-i"></i>提示：1.若资格预审文件设置为需要购买，请先完成资格预审文件费的支付；<br><span style="margin-left:76px;">2.若选择对公转账方式支付资格预审文件费，请确保已上传支付凭证且采购单位确认支付凭证无误后，即可在线下载资格预审文件。如有疑问，请咨询<span class="textRed">027-82815329</span></span></div> 
            <div class="tender_account_info">
                <i class="iconfont icon-zhanghu"></i>资审文件费收款账户：  <span class="textBlack1 fontBold">中信银行/ 422 2323 2324 2424 42422</span>
            </div>
            <div class="tender_detail_title" style="margin-top:0;"><i class="detail_title_circle"></i>资格预审文件下载</div>
            <div class="tender_file_list">
                <div class="tender_file_cell"><i class="iconfont icon-fujian"></i>松柏镇八角庙四道沟征迁安置小区项目松柏镇八角庙  采购名称+“项目”+资格预审文件.zip   下载 投保文件3.jpg  下<a href="javascript:;" class="textBlue marginL12">下载</a></div>
            </div>
            <div class="tender_remark">备注：  — —</div>
            <div class="material_list clearfix">            
                <table>
                    <colgroup>
                        <col width="10%">
                        <col width="10%">
                        <col width="25%">
                        <col width="10%">
                        <col width="25%">
                    </colgroup>
                    <thead>
                        <th>包件号</th>
                        <th>采购内容</th>
                        <th>资格预审文件</th>
                        <th>资审文件费用</th>
                        <th>备注信息</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>GC-2009-01</td>
                            <td>钢材</td>
                            <td><i class="iconfont icon-fujian floatL"></i><p class="file_name floatL">松柏镇八角庙四道沟征迁安置小区项目松柏镇八角庙采购名称+“项目”+资格预审文件.zip<a href="#" class="textBlue marginL10">下载</a></p></td>
                            <td>1000</td>
                            <td>备注信息，最多2行，超过截断，鼠标悬浮显示完整的提示信息</td>
                        </tr>
                        <tr>
                            <td>GC-2009-01</td>
                            <td>钢材</td>
                            <td><i class="iconfont icon-fujian floatL"></i><p class="file_name floatL">松柏镇八角庙四道沟征迁安置小区项目松柏镇八角庙采购名称+“项目”+资格预审文件.zip<a href="#" class="textBlue marginL10">下载</a></p></td>
                            <td>1000</td>
                            <td>备注信息，最多2行，超过截断</td>
                        </tr>
                        <tr>
                            <td>GC-2009-01</td>
                            <td>钢材</td>
                            <td><i class="iconfont icon-fujian floatL"></i><p class="file_name floatL">采购名称+“项目”+资格预审文件.zip<a href="#" class="textBlue marginL10">下载</a></p></td>
                            <td>1000</td>
                            <td>备注信息，最多2行，超过截断</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>

        <div class="tender_step_con" data-id="step4">
            <div class="tender_step_prompt"><i class="iconfont icon-i"></i>提示：1.若招标/询价文件设置为需要购买，请先完成招标/询价文件费的支付；<br><span style="margin-left:76px;">2.若选择对公转账方式支付招标/询价文件费，请确保已上传支付凭证且采购单位确认支付凭证无误后，即可在线下载招标/询价文件。如有疑问，请咨询<span class="textRed">027-82815329</span></span></div> 
            <div class="tender_account_info">
                <i class="iconfont icon-zhanghu"></i>招标/询价文件收款账户：  <span class="textBlack1 fontBold">建设银行/ 422 2323 2324 2424 42422</span>
            </div>
            <div class="tender_detail_title" style="margin-top:0;"><i class="detail_title_circle"></i>招标/询价文件下载</div>
            <div class="tender_file_list">
                <div class="tender_file_cell"><i class="iconfont icon-fujian"></i>松柏镇八角庙四道沟征迁安置小区项目松柏镇八角庙  采购名称+“项目”+资格预审文件.zip   下载 投保文件3.jpg  下<a href="javascript:;" class="textBlue marginL12">下载</a></div>
            </div>
            <div class="tender_remark">备注：  — —</div>
            <div class="material_list clearfix">            
                <table>
                    <colgroup>
                        <col width="10%">
                        <col width="10%">
                        <col width="25%">
                        <col width="10%">
                        <col width="25%">
                    </colgroup>
                    <thead>
                        <th>包件号</th>
                        <th>采购内容</th>
                        <th>招标/询价文件</th>
                        <th>招标/询价文件费用</th>
                        <th>备注信息</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>GC-2009-01</td>
                            <td>钢材</td>
                            <td><i class="iconfont icon-fujian floatL"></i><p class="file_name floatL">松柏镇八角庙四道沟征迁安置小区项目松柏镇八角庙采购名称+“项目”+资格预审文件.zip<a href="#" class="textBlue marginL10">下载</a></p></td>
                            <td>1000</td>
                            <td>备注信息，最多2行，超过截断，鼠标悬浮显示完整的提示信息</td>
                        </tr>
                        <tr>
                            <td>GC-2009-01</td>
                            <td>钢材</td>
                            <td><i class="iconfont icon-fujian floatL"></i><p class="file_name floatL">松柏镇八角庙四道沟征迁安置小区项目松柏镇八角庙采购名称+“项目”+资格预审文件.zip<a href="#" class="textBlue marginL10">下载</a></p></td>
                            <td>1000</td>
                            <td>备注信息，最多2行，超过截断</td>
                        </tr>
                        <tr>
                            <td>GC-2009-01</td>
                            <td>钢材</td>
                            <td><i class="iconfont icon-fujian floatL"></i><p class="file_name floatL">采购名称+“项目”+资格预审文件.zip<a href="#" class="textBlue marginL10">下载</a></p></td>
                            <td>1000</td>
                            <td>备注信息，最多2行，超过截断</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>

        <div class="tender_step_con" data-id="step5">
            <div class="material_list clearfix">            
                <table>
                    <colgroup>
                        <col width="5%">
                        <col width="20%">
                        <col width="20%">
                        <col width="10%">
                    </colgroup>
                    <thead>
                        <th>序号</th>
                        <th>澄清公告标题</th>
                        <th>公告正文</th>
                        <th>操作</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>泽口灌区（潜江部分）续建配套与节水改造工程2019年度项目施工及信息化招标文件澄清通知（005）</td>
                            <td>公告正文，最多2行预览内容，超过截断，鼠标悬浮显示完整的···</td>
                            <td>查看详情</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>泽口灌区（潜江部分）续建配套与节水改造工程2019</td>
                            <td>公告正文</td>
                            <td>查看详情</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>泽口灌区（潜江部分）续建配套与节水改造工程2019</td>
                            <td>——</td>
                            <td>查看详情</td>
                        </tr>
                        <tr v-else><td colspan="4"><div class="page_list_noneBg"></div><p class="page_list_noneCon" style="width: 100%;margin-bottom: 80px;font-size: 24px;color: #999;text-align: center;">暂无答疑/澄清记录〜</p></td></tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="tender_step_con" data-id="step6">
            <div class="tender_company_head">
                <img src="<%= npPic %>" class="tender_company_logo">
                <h1>湖北省楚建易网络科技有限公司</h1>
                <span class="tender_company_line"></span>
            </div>
            <div class="tender_company_body">
                <div class="marginT20 clearfix">
                    <div class="company_info_cell">企业类型： <span class="textBlack1 fontBold">国有企业</span></div>
                    <div class="company_info_cell">公司规模： <span class="textBlack3 fontBold">未填写</span></div>
                    <div class="company_info_cell">纳税人类型： <span class="textBlack1 fontBold">一般纳税人</span></div>
                </div>
                <div class="marginT20 clearfix">
                    <div class="company_info_cell">年营业额： <span class="textBlack1 fontBold">100万</span></div>
                    <div class="company_info_cell">注册资金： <span class="textBlack1 fontBold">1200万</span></div>
                </div>
                <div class="marginT20 clearfix">
                    <div class="company_info_cell">公司联系方式： <span class="textBlack1 fontBold">027-5675150</span></div>
                    <div class="company_info_cell">公司地址： <span class="textBlack1 fontBold">湖北省-武汉市-江岸区</span></div>
                    <div class="company_info_cell">详细地址： <span class="textBlack1 fontBold">麒麟路1001号</span></div>
                </div>
            </div>
        </div>

        <div class="tender_step_con" data-id="step7">
            <div class="tender_project_cell">
                <div class="tender_project_full">
                    <h1>中铁一局集团城市轨道交通工程有限公司武汉市轨道交通8号线二期工程第二标段及武汉梨园广场公共停车场钢筋采购招标公告</h1>
                    <div class="tender_detail_title"><i class="detail_title_circle"></i>时间变更</div>
                    <div class="project_info_wrap">
                        <div class="marginT20 clearfix">
                            <div class="project_info_cell">项目编号： <span class="textBlack1 fontBold">CJY-20190042</span></div>
                            <div class="project_info_cell">工程类别： <span class="textBlack1 fontBold">公路工程</span></div>
                            <div class="project_info_cell">项目规模： <span class="textBlack1 fontBold">全长10000公里，投资100亿</span></div>
                        </div>
                        <div class="marginT20 clearfix">
                            <div class="project_info_cell">项目所在地： <span class="textBlack1 fontBold">湖北省-丹江口市-xx区丹江口路1001号xxx项目经理部</span></div>
                        </div>
                    </div>
                    <div class="tender_detail_title"><i class="detail_title_circle"></i>项目简介</div>
                    <div class="project_content_txt">
                        <p>丹江口市武当山高铁小镇项目包含汉十高铁武当山站站前广场及道路、六里坪（白庙）至均县一级公路（以下简称六均路）、机场快速通道三大子项目，此次询价项目为六均路子项目。六均路全长11.315公里，六均路总投资为6.768亿元，其建筑安装费为5.777亿元，线路前4.2公里路段路基宽26米，其余路段路基宽度为21米，均为双向四车道、沥青混凝土路面，六均路有大桥5座（40米预制预应力混凝土T梁）、小桥1座（16米预制预应力空心板梁）、过街涵5处、涵洞18道、深路堑6处（挖方约350万方）、高填方6处（填方约200万方）、市政管线2324米、新旧路基衔接长约1165米、路面安全设施等，项目拟定工期30个月。
                        </p>
                        <br>
                        <p>丹江口市武当山高铁小镇项目包含汉十高铁武当山站站前广场及道路、六里坪（白庙）至均县一级公路（以下简称六均路）、机场快速通道三大子项目，此次询价项目为六均路子项目。六均路全长11.315公里，六均路总投资为6.768亿元，其建筑安装费为5.777亿元，线路前4.2公里路段路基宽26米，其余路段路基宽度为21米，均为双向四车道、沥青混凝土路面，六均路有大桥5座（40米预制预应力混凝土T梁）、小桥1座（16米预制预应力空心板梁）、过街涵5处、涵洞18道、深路堑6处（挖方约350万方）、高填方6处（填方约200万方）、市政管线2324米、新旧路基衔接长约1165米、路面安全设施等，项目拟定工期30个月。
                        </p>
                    </div>
                    <div class="project_content_imgs">
                        <img src="<%= npPic %>">
                        <img>
                        <img>
                    </div>
                    <div class="textC"><a href="javascript:;" class="textRed js_close">收起<i class="iconfont icon-shangjiantou"></i></a></div> 
                </div>
                <div class="project_content_summary">
                    <span class="project_title_text">丹江口市武当山高铁小镇工程项目名称，展开这么多就加省略号...</span><a href="javascript:;" class="textRed fontSize14 floatR js_open">展开更多项目信息<i class="iconfont icon-xiajiantou"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>