.tender_wrap{
    width: 100%;
    padding-bottom: 80px;
    background-color: #F4F4F4;
}
.tender_head_wrap{
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    background: url(imgs/headBg.png) center top no-repeat;
}
.tender_head_crumbs{
    width: 1400px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    color: #fff;
}
.tender_head_crumbs i{
    margin-right: 2px;
    vertical-align: -1px;
    opacity: 0.8;
}
.tender_head_crumbs a{
    margin-right: 4px;
    color: #fff;
}
.tender_head_crumbs span{
    margin-left: 4px;
    opacity: 0.8;
}
.tender_head_con{
    width: 1400px;
    margin: 0 auto;
}
.tender_head_icon{
    display: block;
    width: 64px;
    height: 64px;
    line-height: 64px;
    margin: -8px auto 0 auto;
    background-color: #DC2F00;
    border-radius: 64px;
    font-size: 32px;
    color: #fff;
    text-align: center;
}
.tender_head_type{
    margin-top: -3px;
    font-size: 18px;
    font-weight: 700;
    color: #DC2F00;
    text-align: center;
}
.tender_head_type span{
    margin: 0 10px;
    font-size: 30px;
    vertical-align: 4px;
}
.tender_head_title{
    width: 990px;
    height: 64px;
    line-height: 1.5;
    margin: 26px auto 0 auto;
    font-size: 24px;
    font-weight: 700;
    color: #333;
    text-align: center;
}
.tender_head_tips{
    margin-top: 20px;
    text-align: center;
}
.tender_head_tips span{
    margin-left: 26px;
}
.tender_head_tips span:first-child{
    margin-left: 0;
}
.tender_head_attest{
    display: block;
    width: 170px;
    height: 28px;
    line-height: 28px;
    margin: 20px auto;
    border: solid 1px #F58F99;
    border-radius: 28px;
    color: #E40D22;
    text-align: center;
}
.tender_form{
    width: 1180px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 20px;
}
.tender_block{
    margin-top: 16px;
}
.tender_block label{
    width: 200px;
    line-height: 1.5;
    color: #666;
    text-align: right;
    float: left;
}
.tender_block .tender_block_item{
    max-width: 900px;
    line-height: 1.5;
    font-weight: 700;
    color: #333;
    float: left;
}

.tender_block_item .date_change{
    position: relative;
    display: inline-block;
}

.tagBox {
    position: absolute;
    display: none;
    width: 430px;
    line-height: normal;
    top: 20px;
    left: -39px;
    font-size: 0;
    z-index: 100;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: upbit;
    animation-name: upbit;
}
.open .tagBox{
    display: block;
}
.tagBox .tagArrow {
    display: inline-block;
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    margin-left: 130px;
    margin-bottom: -6px;
    border-width: 1px 0 0 1px;
    border-color: #e5e5e5;
    border-style: solid;
    background-color: #fff;
}

.tagBox .tagCon {
    display: inline-block;
    width: 370px;
    border: 1px solid #e5e5e5;
    box-shadow: 0 0 2px 0 #e5e5e5;
    padding: 15px 30px;
    background-color: #fff;
    font-size: 14px;
    font-weight: 400;
}
.tagBox .tagCon p{
    line-height: 1.5;
    margin-bottom: 10px;
    color: #333;
}
.tagBox .tagBox_dot{
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-right: 8px;
    background-color: #B2B2B2;
    border-radius: 4px;
    vertical-align: 2px;
}
.tagBox span.textRed{
    margin-left: 12px;
    cursor: pointer;
}

.tender_block_half{
    width: 50%;
    float: left;
}
.tender_block_half .tender_block_item{
    max-width: 380px;
}
.tender_block .tender_change{
    display: inline-block;
    width: 60px;
    height: 22px;
    line-height: 22px;
    margin-left: 12px;
    border: solid 1px #F58F99;
    border-radius: 22px;
    font-size: 12px;
    font-weight: 400;
    color: #E40D22;
    text-align: center;
}
.tender_block .icon-xiajiantou{
    display: inline-block;
    margin-left: 6px;
    font-size: 12px;
}

.tender_bottom_con{
    width: 1400px;
    height: 100px;
    margin: 20px auto 0 auto;
    background: url(imgs/bottomBg.png) no-repeat;
}
.tender_bottom_info{
    width: 1180px;
    margin: 0 auto;
}
.tender_bottom_info .tender_bottom_text{
    line-height: 100px;
    font-size: 16px;
    color: #FFF8E9;
}
.tender_bottom_info .tender_bottom_text i.icon-dengdai{
    display: inline-block;
    margin-right: 10px;
    font-size: 24px;
    vertical-align: -3px;
}
.tender_bottom_info .tender_text_num{
    display: inline-block;
    width: 32px;
    height: 30px;
    line-height: 30px;
    margin: 0 2px;
    background-color: #DC2F00;
    border-radius: 6px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    vertical-align: -3px;
}
.tender_bottom_info .btn_manage,.tender_bottom_info .btn_bidding,.tender_bottom_info .btn_bidded{
    display: inline-block;
    min-width: 122px;
    height: 48px;
    line-height: 48px;
    margin: 25px 0;
    padding: 0 24px;
    border-radius: 48px;
    font-size: 16px;
    text-align: center;
    float: right;
}
.tender_bottom_info .btn_manage{
    margin-left: 20px;
    background-color: #fff;
    border: solid 1px #FF3600;
    color: #FF3600;
}
.tender_bottom_info .btn_manage i{
    margin-right: 4px;
    font-size: 22px;
    vertical-align: -2px;
}
.tender_bottom_info .btn_bidding{
    background-color: #FF3600;
    border: solid 1px #FF3600;
    color: #fff;
}
.tender_bottom_info .btn_bidded{
    background-color: #eee;
    border: solid 1px #eee;
    color: #aaa;
    cursor: default;
}

.tender_step_nav{
    width: 1400px;
    height: 88px;
    margin: 30px auto 0 auto;
    background-color: #FBFBFB;
    border-top-left-radius: 36px;
    text-align: center;
}
.tender_step_nav a{
    position: relative;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    margin-top: 30px;
    margin-left: 20px;
    padding: 0 24px;
    background-color: #F0F0F0;
    border: solid 1px #F0F0F0;
    border-radius: 36px;
    color: #333;
}
.tender_step_nav a:first-child{
    margin-left: 0;
}
.tender_step_nav .step_line{
    position: absolute;
    display: none;
    width: 26px;
    height: 2px;
    left: 50%;
    margin-left: -13px;
    bottom: -22px;
    background-color: #DC2F00;
}
.tender_step_nav a.active{
    background-color: #DC2F00;
    border: solid 1px #DC2F00;
    box-shadow: 0 0 5px #DC2F00;
    color: #fff;
}
.tender_step_nav a.active .step_line{
    display: inline-block;
}

.tender_step_section{
    width: 1400px;
    margin: 0 auto;
    background-color: #fff;
    border-bottom-right-radius: 36px;
}
.tender_step_con{
    display: none;
    width: 1180px;
    margin: 0 auto;
    padding: 40px 0 80px 0;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: leftbit;
    animation-name: leftbit;
}
.tender_detail_title {
    height: 50px;
    line-height: 50px;
    margin-top: 30px;
    padding-left: 20px;
    background-color: #FFFBFA;
    font-weight: 700;
    color: #DC2F00;
}
.tender_detail_title .detail_title_circle {
    display: inline-block;
    width: 8px;
    height: 8px;
    vertical-align: -1px;
    margin-right: 6px;
    border: solid 2px #DC2F00;
    border-radius: 8px;
}
.tender_file_list{
    padding: 20px 90px;
}
.tender_file_cell{
    height: 30px;
    line-height: 30px;
}
.tender_file_cell i.icon-fujian,.material_list i.icon-fujian{
    margin-right: 6px;
    font-size: 18px;
    color: #999;
    vertical-align: -2px;
}

.tender_step_con h1{
    width: 800px;
    line-height: 1.5;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    text-align: center;
}
.tender_step_con .tender_step_prompt{
    line-height: 2;
    margin-top: 10px;
    padding: 2px 10px 10px 10px;
    background-color: #FCFAE3;
    border: solid 1px #F7E3A4;
    color: #666;
}
.tender_step_con .tender_step_prompt i.icon-i {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin-top: 8px;
    margin-right: 10px;
    background-color: #50B2F6;
    border-radius: 24px;
    color: #fff;
    text-align: center;
}
.tender_account_info{
    height: 75px;
    line-height: 75px;
    padding: 0 90px;
}
.tender_account_info i.icon-zhanghu{
    display: inline-block;
    width: 38px;
    height: 24px;
    line-height: 24px;
    margin-right: 10px;
    background-color: #FFC000;
    border-radius: 4px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    vertical-align: -2px;
}
.tender_step_con .tender_remark{
    padding: 0 90px;
}

.tender_step_con .tender_company_head{
    position: relative;
    padding-bottom: 25px;
    border-bottom: solid 1px #e5e5e5;
}
.tender_step_con .tender_company_logo{
    display: block;
    width: 80px;
    height: 80px;
    margin: 20px auto;
    background-color: #FAFAFA;
    border-radius: 80px;
    object-fit: scale-down;
}
.tender_step_con .tender_company_line{
    position: absolute;
    display: inline-block;
    width: 36px;
    height: 2px;
    background-color: #DC2F00;
    left: 50%;
    margin-left: -18px;
    bottom: 0;
}
.tender_step_con .tender_company_body,.tender_step_con .project_info_wrap{
    padding: 20px 180px;
}
.tender_company_body .company_info_cell{
    width: 270px;
    margin-right: 5px;
    float: left;
}
.tender_company_body .company_info_cell:nth-child(3n){
    margin-right: 0;
}
.project_info_wrap .project_info_cell{
    margin-left: 90px;
    float: left;
}
.project_info_wrap div.clearfix .project_info_cell:first-child{
    margin-left: 0;
}
.tender_step_con .project_content_txt{
    padding: 30px 90px;
    line-height: 2;
    color: #333;
}
.tender_step_con .project_content_imgs {
    padding: 30px 90px;
}
.tender_step_con .project_content_imgs img {
    display: inline-block;
    width: 128px;
    height: 128px;
    margin: 0 20px 20px 0;
    object-fit: scale-down;
    background-color: #fcfcfc;
}
.tender_project_cell{
    border-bottom: solid 1px #e5e5e5;
}
.tender_step_con .tender_project_full{
    display: none;
    padding-bottom: 20px;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: upbit;
    animation-name: upbit;
}
.tender_step_con .project_content_summary{
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    font-size: 16px;
    color: #333;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: upbit;
    animation-name: upbit;
}
.tender_step_con .project_content_summary .project_title_text{
    display: inline-block;
    width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break:break-all;
}
.tender_step_con .showFull .tender_project_full{
    display: block;
}
.tender_step_con .showFull .project_content_summary{
    display: none;
}

.tender_step_con .icon-shangjiantou,.tender_step_con .icon-xiajiantou,.tagBox .icon-shangjiantou{
    font-size: 12px;
    margin-left: 6px;
    vertical-align: 1px;
}


.stepTagBox {
    position: absolute;
    display: inline-block;
    line-height: normal;
    top: -28px;
    left: 80px;
    font-size: 0;
    z-index: 99;
    animation: c-fx-fadeInUp .5s ease-in-out .2s infinite alternate
}
.stepTagBox .tagArrow {
    position: absolute;
    display: inline-block;
    height: 0px;
    width: 0px;
    top: 23px;
    left: 13px;
    border-top: solid 10px #DC2F00;
    border-right: solid 10px rgba(0,0,0,0);
}
.stepTagBox .tagArrow::after {
    position: absolute;
    display: inline-block;
    content: ' ';
    height: 0px;
    width: 0px;
    top: -10px;
    left: 1px;
    border-top: solid 8px #fff;
    border-right: solid 7px rgba(0,0,0,0);
}
.stepTagBox .tagCon {
    display: inline-block;
    height: 22px;
    line-height: 22px;
    padding: 0 10px;
    background-color: #fff;
    border: solid 1px #DC2F00;
    border-radius: 22px;
    color: #DC2F00;
    font-size: 12px;
    word-break: keep-all;
}


.material_list .file_name{
    width: 290px;
    margin-top: 2px;
}

/* 报名弹框0 */
.enroll_dialog,.enroll_confirm_dialog{
    padding: 0 20px 20px 20px;
}
.enroll_dialog .enroll_btn{
    display: inline-block;
    min-width: 60px;
    height: 26px;
    line-height: 26px;
    border-radius: 4px;
    background-color: #FF3600;
    color: #fff;
    text-align: center;
}
.enroll_dialog .enroll_btn:hover {
    background-color: #ec3200;
}
.enroll_dialog .disabled_btn{
    background-color: #ccc;
}
.enroll_dialog .disabled_btn:hover {
    background-color: #ccc;
}
.confirm_dialog_block{
    margin-top: 16px;
}
.confirm_dialog_block label {
    width: 120px;
    line-height: 1.5;
    font-weight: 700;
    color: #333;
    text-align: right;
    float: left;
}
.confirm_dialog_block .confirm_dialog_item {
    max-width: 360px;
    line-height: 1.5;
    float: left;
}


.delay{
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}

@keyframes c-fx-fadeInUp {
    0% {
        transform: translate3d(0,40%,0);
        -webkit-transform: translate3d(0,40%,0);
    }
    to {
        transform: translateZ(0);
        -webkit-transform: translateZ(0);
    }
}
@-webkit-keyframes c-fx-fadeInUp {
    0% {
        transform: translate3d(0,40%,0);
        -webkit-transform: translate3d(0,40%,0);
    }
    to {
        transform: translateZ(0);
        -webkit-transform: translateZ(0);
    }
}