<div class="inquiry_banner">
    <div class="inquiry_banner_con">
        <div class="inquiry_crumbs">
            <i class="iconfont icon-ditu"></i>
            当前位置：<a href="#">快捷询价</a>><a href="#">询价单详情</a>
        </div>
        <div class="inquiry_title">中铁八局集团昆明铁路建设有限公司珠三角城际新白广XBZH-2标四工XBZ H-2标四工XBZH-2标四工</div>
        <div class="inquiry_tips">
            <span class="inquiry_tips_cell">发布时间：2018年12月18日 0：47</span>
            <span class="inquiry_tips_cell">报价截止日期：2018年12月21日 0：47</span>
            <span class="inquiry_tips_cell">联系人：<span class="textBlack2">未公开</span></span>
            <span class="inquiry_tips_cell">联系电话：<span class="textBlack2">报价后可见</span></span>
        </div>
        <div class="inquiry_box">
            <div class="inquiry_date">距报价还剩<span class="date_box">1</span><span class="date_box">0</span>天</div>
            <a href="#" class="inquiry_go">立即报价</a>
            <p class="inquiry_des">已有 3条 报价  /  报价收费 8.00元</p>
        </div>
    </div>
</div>
<div class="inquiry_warp">
    <div class="inquiry_container">
        <div class="shadow_left"></div>
        <div class="shadow_right"></div>
        <div class="inquiry_nav">
            <div class="inquiry_nav_title"><span class="title_txt">询价信息</span><span class="title_line"></span></div>
            <div class="inquiry_nav_con">
                <table class="inquiry_nav_table">
                    <colgroup>
                        <col width="50">
                        <col width="250">
                        <col width="150">
                        <col width="150">
                        <col width="100">
                        <col width="150">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>物资名称</th>
                            <th>品牌</th>
                            <th>规格型号</th>
                            <th>采购量</th>
                            <th>备注信息</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>PH标准液</td>
                            <td>盛世康普</td>
                            <td>——</td>
                            <td>20瓶</td>
                            <td>生产日期新一些</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>PH标准液</td>
                            <td>——</td>
                            <td>(48.8±2.1μm)</td>
                            <td>20瓶</td>
                            <td>生产日期新一些</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="inquiry_nav">
            <div class="inquiry_nav_title"><span class="title_txt">询价要求</span><span class="title_line"></span></div>
            <div class="inquiry_nav_con clearfix">
                <div class="inquiry_item">
                    <label>交易方式</label>
                    <div class="inquiry_block">
                        <span class="inquiry_text"><i class="moneyIcon"></i>担保交易</span><i class="iconfont icon-wenhao"></i>
                        <span class="inquiry_text marginL30"><i class="contractIcon"></i>线下签订合同</span><i class="iconfont icon-wenhao"></i>
                    </div>
                </div>
                <div class="inquiry_item">
                    <label>最晚到货日期</label>
                    <div class="inquiry_block">
                        <span class="inquiry_text"><span class="textRed">2018年12月18日 0：47</span></span>
                    </div>
                </div>
                <div class="inquiry_item">
                    <label>报价形式</label>
                    <div class="inquiry_block">
                        <span class="inquiry_text">报价含税，报价含运费</span>
                    </div>
                </div>
                <div class="inquiry_item">
                    <label>对供应商（经营区域）要求</label>
                    <div class="inquiry_block">
                        <span class="inquiry_text">湖北省，武汉市，北京市或不限，超一行省略，移上去提示全部</span>
                    </div>
                </div>
                <div class="inquiry_item">
                    <label>发票要求</label>
                    <div class="inquiry_block">
                        <span class="inquiry_text">增值税专用发票</span>
                    </div>
                </div>
                <div class="inquiry_item">
                    <label>收货地</label>
                    <div class="inquiry_block">
                        <span class="inquiry_text">湖北省武汉市江岸区新长江国际大厦</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="inquiry_nav">
            <div class="inquiry_nav_title"><span class="title_txt">补充说明</span><span class="title_line"></span></div>
            <div class="inquiry_nav_con">
                <p>在歌德眼里，王国贵族不比自己高贵，他也是他们中一分子，他脱帽致敬只是对赏识自己的人群的一种尊重。众所周知，歌德26岁就被为魏玛大公爵请去，成了魏玛公国的首相，歌德曾经这么描述这其中的自由：“每个人都在某种条件下享受自由，这种条件是应该履行的。市民和贵族一样自由，只要他遵守上帝给他的出身地位所规定的那个界限。贵族也和国王一样自由，他在宫廷里只要遵守某些礼仪，就可以自觉和国王平等。自由不在于不承认任何比我们地位高的人物，而在于尊敬本来比我们高的人物。因为尊敬他，我们就把自己提高到他的地位，承认他，我们就表明自己心胸中有高贵品质，配得上和高贵人物平等”。</p>
                <div class="inquiry_nav_file clearfix">
                    <label>附件：</label>
                    <ul class="file_con">
                        <li><i class="iconfont icon-fujian"></i><a href="#">这里放名称，点击可预览</a><a class="file_download" data-url="https://file.dev.materialw.com/group1/M00/00/0B/CgUFDlwIuUyAZm3-AAAsY5ZRgqc086.png">下载</a></li>
                        <li><i class="iconfont icon-fujian"></i><a href="#">这里放名称，点击可预览</a><a class="file_download" href="https://file.dev.materialw.com/group1/M00/00/0C/CgUFDlw3AE-AS6wkAAB8taFsnPQ362.pdf" download="group1/M00/00/0C/CgUFDlw3AE-AS6wkAAB8taFsnPQ362.pdf">下载</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>