<div class="register_main">
    <div class="reg_step_con clearfix">
        <div class="reg_step_item stp1_act">
            <i></i>
            <span>填写注册人信息</span>
        </div>
        <div class="reg_step_item stp2">
            <i></i>
            <span>填写企业信息</span>
        </div>
        <div class="reg_step_item stp3">
            <i></i>
            <span>等待审核</span>
        </div>
        <div class="reg_step_item stp4">
            <i></i>
            <span>审核完成</span>
        </div>
    </div>
    <div class="register_con_title">
        <span>选择企业身份</span>
    </div>
    <div class="register_type_choose clearfix">
        <ul class="select_idType js_choose">
            <li data-id="1">
                <p>采购商</p>
                <span class="idImg idType1"></span>
                <i class="iconfont icon-gou"></i>
            </li>
            <li class="act" data-id="2">
                <p>供应商</p>
                <span class="idImg idType2"></span>
                <i class="iconfont icon-gou"></i>
            </li>
            <li data-id="5">
                <p>银行/金融机构</p>
                <span class="idImg idType3"></span>
                <i class="iconfont icon-gou"></i>
            </li>
        </ul>
        <input type="hidden" name="role_type" value="2">
    </div>
    <div class="register_con_title">
        <span>注册人信息</span>
    </div>
    <div class="register_container">
        <form action="/register/addUserPost">
            <div class="reg_form_item">
                <label>手机：</label>
                <div class="register_block">
                    <input type="text" name="user_mobile" class="cjy-input-">
                    <span class="msgCon" style="margin-left:0;margin-top:10px;"><span class="noticeBg"><i class="iconfont icon-i"></i></span>请联系工作人员索取推荐码：027-82813259或在线留言，我们将尽快答复</span>
                </div>
            </div>
            <div class="reg_form_item">
                <label>短信验证码：</label>
                <div class="register_block">
                    <input type="text" name="sms_code" class="cjy-input-" style="width: 200px;">
                    <a href="javascript:;" name="sms_code" class="set_code">获取验证码</a>
                </div>
            </div>
            <div class="reg_form_item">
                <label>姓名：</label>
                <div class="register_block">
                    <input type="text" name="real_name" class="cjy-input-">
                </div>
            </div>
            <div class="reg_form_item">
                <label>密码：</label>
                <div class="register_block">
                    <input type="password" name="user_pwd" class="cjy-input-">
                    <span class="msgCon"><span class="noticeBg"><i class="iconfont icon-i"></i></span>密码必须为8-20位字及字母组合</span>
                </div>
            </div>
            <div class="reg_form_item">
                <label>确认密码：</label>
                <div class="register_block">
                    <input type="password" name="user_repwd" class="cjy-input-">
                </div>
            </div>
            <div class="reg_form_item">
                <label>邮箱：</label>
                <div class="register_block">
                    <input type="text" name="user_email" class="cjy-input-">
                </div>
            </div>
            <div class="reg_form_item">
                <label></label>
                <div class="register_block">
                    <input type="checkbox" title="我已阅读并接受">
                    <a href="#" class="textBlue">《生材网用户注册协议》</a>
                </div>
            </div>
        </form>
    </div>
    <div class="register_btns">
        <a href="javascript:;" class="btn_confirm">继续完善您的企业信息才能完成注册</a>
    </div>
</div>
<div class="cjy-bg" style="height: 1486px;"></div>
<div class="cjy-poplayer" style="top: 154px; left: 462px;">
    <div class="cjy-layer-wrap" style="width: 980px;">
        <div class="cjy-layer-head"><h1>用户注册协议</h1><i class="cjy-close iconfont icon-cha1"></i></div>
        <div class="cjy-layer-inner">
            <div class="cjy-layer-body">
                <div class="inDialog" style="height: 480px;overflow-y: auto;"><p>
                        <br>
                    </p>
                    <p style="text-align:center">
                        <strong><span style="font-size:27px;font-family:宋体">生材网企业用户注册协议</span></strong>
                    </p>
                    <p style="text-indent:28px">
                        <span>&nbsp;</span>
                    </p>
                    <p style="text-indent:28px">
                        <span style="font-family:宋体">本协议由您被您所注册的公司授权与生材网的经营者湖北省楚建易网络科技有限公司共同缔结，本协议具有合同效力（以下您和您所注册的公司均简称为“您”）。本协议阐述之条款和条件（以下合称“条款”）适用于您使用生材网，生材网依据以下条款为您提供所享有的服务，请仔细阅读并遵守。</span>
                    </p>
                    <p style="text-indent:28px">
                        <strong><span style="font-family:宋体">一、条款的确认和接纳</span></strong>
                    </p>
                    <p style="text-indent:28px">
                        <span>1</span><span style="font-family:宋体">、</span> <span style="font-family:宋体">本协议内容包括协议正文及所有生材网已经发布或将来可能发布的各类规则。所有规则为本协议不可分割的组成部分，与协议正文具有同等法律效力。除另行明确声明外，任何生材网提供的服务均受本协议约束。</span>
                    </p>
                    <p style="text-indent:28px">
                        <span>2</span><span style="font-family:宋体">、</span> <span style="font-family:宋体">以任何方式进入生材网并使用服务，则将视为您对本协议全部条款的认知和接受。但无论您事实上是否在使用生材网服务之前认真阅读了本协议内容，只要您使用生材网服务，则本协议即对您产生约束，届时您不应以未阅读本协议的内容或者未获得生材网对您问询的解答等理由，主张本协议无效，或要求撤销本协议。</span>
                    </p>
                    <p style="text-indent:28px">
                        <strong><span style="font-family:宋体">二、条款的修改</span></strong>
                    </p>
                    <p style="text-indent:28px">
                        <span style="font-family:宋体">生材网有权根据业务需要酌情修订条款，并以网站公告的形式在相关页面进行更新，不再单独通知您。经修订的条款一经公布，即产生效力。如您不同意相关修订，请您立即主动停止使用服务；如您继续使用服务，则将视为您已接受条款的变动。</span>
                    </p>
                    <p style="text-indent:28px">
                        <strong><span style="font-family:宋体">三、帐号、密码</span></strong>
                    </p>
                    <p style="text-indent:28px">
                        <span>1</span><span style="font-family:宋体">、服务使用对象</span>
                    </p>
                    <p style="text-indent:28px">
                        <span style="font-family:宋体">您确认，在您完成注册程序或以其他生材网允许的方式实际使用服务时，您应当是具备完全民事权利能力和与所从事的民事行为相适应的行为能力的自然人、法人或其他组织。若您不具备前述主体资格，请勿使用服务，否则您及您的监护人应承担因此而导致的一切后果，且生材网有权注销（永久冻结）您的账户，并向您及您的监护人索偿。如您代表一家公司或其他法律主体在生材网登记，则您声明和保证，您有义务使该公司或该法律主体受本协议条款的约束。</span>
                    </p>
                    <p style="text-indent:28px">
                        <span>2</span><span style="font-family:宋体">、注册账户</span>
                    </p>
                    <p style="text-indent:28px">
                        <span style="font-family:宋体">您在生材网首页注册的帐号、密码以及开标密钥等重要信息，应妥善保管。同时，在完成注册或认证流程时，您应当按照法律法规要求，按相应页面的提示准确提供并及时更新您的资料，以使之真实、及时，完整和准确。如有合理理由怀疑您提供的资料错误、不实、过时或不完整的，生材网有权向您发出询问或要求改正的通知，并有权直接做出删除相应资料的处理，直至终止对您提供部分或全部服务，生材网对此不承担任何责任，您将承担因此产生的任何直接或间接损失及不利后果。</span>
                    </p>
                    <p style="text-indent:28px">
                        <strong><span style="font-family:宋体">四、账户安全</span></strong>
                    </p>
                    <p style="text-indent:28px">
                        <span style="font-family:宋体">您须自行负责对您的注册帐号、密码以及开标密钥等重要信息保密，且须对您在该登录账号和密码下发生的所有活动（包括但不限于信息披露、发布信息、网上点击同意或提交各类规则协议、网上续签协议或购买服务等）承担责任。您同意：</span><span>(a) </span><span style="font-family:宋体">如发现任何人未经授权使用您的登录账号和密码，或发生违反保密规定的任何其他情况，您会立即通知生材网；及</span><span> (b) </span><span style="font-family:宋体">确保您在每个上网时段结束时，以正确步骤离开网站</span><span>/</span><span style="font-family:宋体">服务。生材网不能也不会对因您未能遵守本款规定而发生的任何损失负责。您理解生材网对您的请求采取行动需要合理时间，生材网对在采取行动前已经产生的后果（包括但不限于您的任何损失）不承担任何责任。</span>
                    </p>
                    <p style="text-indent:28px">
                        <strong><span style="font-family:宋体">五、服务风险制度</span></strong>
                    </p>
                    <p style="text-indent:28px">
                        <span>1</span><span style="font-family:宋体">、使用生材网服务的用户自行承担全部风险，生材网不对提供的服务作任何明示或暗示的保证，同时亦不对商业性的隐含担保，特定目的和不违反规定的适当担保作限制。包括但不限于：生材网不担保服务一定能满足用户的要求，不担保服务不会中断，及对服务的及时性、安全性、出错或文件丢失的发生，不承担任何赔偿责任。</span>
                    </p>
                    <p style="text-indent:28px">
                        <span>2</span><span style="font-family:宋体">、生材网不能亦不试图对其他用户通过“服务”提供的资料进行控制。就其本质而言，其他用户的资料，可能是有害的或不准确的，且在某些情况下可能带有错误的标识说明或以欺诈方式加上标识说明。生材网希望您在使用时，小心谨慎并运用合法交易常识。</span>
                    </p>
                    <p style="text-indent:28px">
                        <span>3</span><span style="font-family:宋体">、生材网只对采购商、供应商双方提供平台的信息桥梁服务，不会且不能牵涉进交易各方的交易当中。倘若您与一名或一名以上用户，或与您通过生材网获取其服务的第三者服务供应商发生争议，您免除生材网</span><span>(</span><span style="font-family:宋体">及本网站代理人和雇员</span><span>) </span><span style="font-family:宋体">在因该等争议而引起的，或在任何方面与该等争议有关的不同种类和性质的任何</span><span> (</span><span style="font-family:宋体">实际和后果性的</span><span>) </span><span style="font-family:宋体">权利主张、要求和损害赔偿等方面的责任。</span>
                    </p>
                    <p style="text-indent:28px">
                        <strong><span style="font-family:宋体">六、关于费用</span></strong>
                    </p>
                    <p style="text-indent:28px">
                        <span style="font-family:宋体">成为生材网会员用户，您可在生材网上发布交易信息、查询商品和服务信息、达成交易意向并进行交易、参加生材网组织的活动以及使用其它信息服务及技术服务，生材网将收取一定会籍费。另外，您因进行交易、向生材网获取有偿服务或接触生材网服务器而发生的所有应纳税赋，以及相关硬件、软件、通讯、网络服务及其他方面的费用均由您自行承担。生材网保留在无须发出书面通知，仅在网站公示的情况下，暂时或永久地更改或停止部分或全部服务的权利。</span>
                    </p>
                    <p style="text-indent:28px">
                        <strong><span style="font-family:宋体">七、使用规则</span></strong>
                    </p>
                    <p style="text-indent:28px">
                        <span style="font-family:宋体">生材网不对任何有关信息内容的真实性、适用性、合法性承担责任。您对服务的使用是根据所有适用于服务的地方法律、国家法律和国际法律标准的。</span>
                    </p>
                    <p style="text-indent:28px">
                        <span style="font-family:宋体">您同意并承诺：</span>
                    </p>
                    <p style="text-indent:28px">
                        <span>1</span><span style="font-family:宋体">、在生材网上发布信息或者利用生材网的服务时必须符合中国有关法律、法规，不得在生材网上或者利用生材网的服务制作、复制、发布、传播以下信息：</span>
                    </p>
                    <p style="text-indent:28px">
                        <span>a) </span><span style="font-family:宋体">反对宪法所确定的基本原则的；</span>
                    </p>
                    <p style="text-indent:28px">
                        <span>b) </span><span style="font-family:宋体">危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</span>
                    </p>
                    <p style="text-indent:28px">
                        <span>c) </span><span style="font-family:宋体">损害国家荣誉和利益的；</span>
                    </p>
                    <p style="text-indent:28px">
                        <span>d) </span><span style="font-family:宋体">煽动民族仇恨、民族歧视、破坏民族团结的；</span>
                    </p>
                    <p style="text-indent:28px">
                        <span>e) </span><span style="font-family:宋体">破坏国家宗教政策，宣扬邪教和封建迷信的；</span>
                    </p>
                    <p style="text-indent:28px">
                        <span>f) </span><span style="font-family:宋体">散布谣言，扰乱社会秩序，破坏社会稳定的；</span>
                    </p>
                    <p style="text-indent:28px">
                        <span>g) </span><span style="font-family:宋体">散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</span>
                    </p>
                    <p style="text-indent:28px">
                        <span>h) </span><span style="font-family:宋体">侮辱或者诽谤他人，侵害他人合法权益的；</span>
                    </p>
                    <p style="text-indent:28px">
                        <span>i) </span><span style="font-family:宋体">含有法律、行政法规禁止的其他内容的。</span>
                    </p>
                    <p style="text-indent:28px">
                        <span>2</span><span style="font-family:宋体">、</span> <span style="font-family:宋体">在利用生材网服务时还必须符合其他有关国家和地区的法律规定以及国际法的有关规定。</span>
                    </p>
                    <p style="text-indent:28px">
                        <span>3</span><span style="font-family:宋体">、</span> <span style="font-family:宋体">不利用生材网的服务从事以下活动：</span>
                    </p>
                    <p style="text-indent:28px">
                        <span>a) </span><span style="font-family:宋体">未经允许，进入计算机信息网络或者使用计算机信息网络资源的；</span>
                    </p>
                    <p style="text-indent:28px">
                        <span>b) </span><span style="font-family:宋体">未经允许，对计算机信息网络功能进行删除、修改或者增加的；</span>
                    </p>
                    <p style="text-indent:28px">
                        <span>c) </span><span style="font-family:宋体">未经允许，对进入计算机信息网络中存储、处理或者传输的数据和应用程序进行删除、修改或者增加的；</span>
                    </p>
                    <p style="text-indent:28px">
                        <span>d) </span><span style="font-family:宋体">不对生材网上的任何数据作商业性利用，包括但不限于在未经生材网事先书面同意的情况下，以复制、传播等任何方式使用生材网站上展示的资料。</span>
                    </p>
                    <p style="text-indent:28px">
                        <span>e) </span><span style="font-family:宋体">故意制作、传播计算机病毒等破坏性程序的；</span>
                    </p>
                    <p style="text-indent:28px">
                        <span>f) </span><span style="font-family:宋体">其他危害计算机信息网络安全的行为。</span>
                    </p>
                    <p style="text-indent:28px">
                        <span>4</span><span style="font-family:宋体">、不以任何方式干扰生材网的服务。</span>
                    </p>
                    <p style="text-indent:28px">
                        <span>5</span><span style="font-family:宋体">、遵守生材网的所有其他规定和程序。</span>
                    </p>
                    <p style="text-indent:28px">
                        <span style="font-family:宋体">您需对自己在使用生材网服务过程中的行为承担法律责任。用户理解，如果生材网发现其消息内容明显属于上段第</span><span>1</span><span style="font-family:宋体">条所列内容之一，依据中国法律，生材网有义务立即停止其服务，保存有关记录，向国家有关机关报告，并且删除含有该内容的消息。</span>
                    </p>
                    <p style="text-indent:28px">
                        <span>6</span><span style="font-family:宋体">、您使用生材网服务必须遵守国家有关法律和政策等，维护国家利益，保护国家安全，并遵守本协议，对于您违法或违反本协议的使用而引起的一切责任，由您负全部责任，一概与生材网无关，导致生材网损失的，生材网有权要求您赔偿，并有权立即停止提供服务，保留相关记录，保留配合司法机关追究法律责任的权利。</span>
                    </p>
                    <p style="text-indent:28px">
                        <span>7</span><span style="font-family:宋体">、用户之间通过生材网与其他用户交易，因受误导或欺骗而导致或可能导致的任何心理、生理上的伤害以及经济上的损失，由过错方依法承担所有责任，一概与生材网无关。</span>
                    </p>
                    <p style="text-indent:28px">
                        <span>8</span><span style="font-family:宋体">、您成为生材网的供应商会员用户后，有权自愿申请加入生材网采购商的企业合格供方库，并向采购商提交所需的相关资料，采购商将自行审核准入条件，生材网无须为此向您、采购商或任何第三方承担任何责任。</span>
                    </p>
                    <p style="text-indent:28px">
                        <strong><span style="font-family:宋体">八、通知</span></strong>
                    </p>
                    <p style="text-indent:28px">
                        <span style="font-family:宋体">您应当准确填写并及时更新您提供的电子邮件地址、联系电话、联系地址、邮政编码等联系方式，以便生材网或其他用户与您进行有效联系，因通过这些联系方式无法与您取得联系，导致您在使用生材网服务过程中产生任何损失或增加费用的，应由您完全独自承担。您了解并同意，您有义务保持你提供的联系方式的有效性，如有变更需要更新的，您应按生材网的要求进行操作。</span>
                    </p>
                    <p style="text-indent:28px">
                        <strong><span style="font-family:宋体">九、协议终止</span><span>&nbsp;&nbsp;&nbsp; </span></strong>
                    </p>
                    <p style="text-indent:28px">
                        <span>1</span><span style="font-family:宋体">、您同意，生材网有权自行全权决定以合理理由不经事先通知的中止、终止向您提供部分或全部生材网服务，暂时冻结或永久冻结（注销）您的账户在生材网的权限，且无须为此向您或任何第三方承担任何责任。</span>
                    </p>
                    <p style="text-indent:28px">
                        <span>2</span><span style="font-family:宋体">、出现以下情况时，生材网有权直接以注销账户的方式终止本协议，并有权永久冻结（注销）您的账户在生材网的权限：</span>
                    </p>
                    <p style="text-indent:28px">
                        <span>a) </span><span style="font-family:宋体">生材网终止向您提供服务后，您涉嫌再一次直接或间接或以他人名义注册为生材网用户的；</span>
                    </p>
                    <p style="text-indent:28px">
                        <span>b) </span><span style="font-family:宋体">您提供的电子邮箱不存在或无法接收电子邮件，且没有其他方式可以与您进行联系，或生材网以其它联系方式通知您更改电子邮件信息，而您在生材网通知后三个工作日内仍未更改为有效的电子邮箱的。</span>
                    </p>
                    <p style="text-indent:28px">
                        <span>c) </span><span style="font-family:宋体">您提供的用户信息中的主要内容不真实或不准确或不及时或不完整；</span>
                    </p>
                    <p style="text-indent:28px">
                        <span>d) </span><span style="font-family:宋体">本协议（含规则）变更时，您明示并通知生材网不愿接受新的服务协议的；</span>
                    </p>
                    <p style="text-indent:28px">
                        <span>e) </span><span style="font-family:宋体">其它生材网认为应当终止服务的情况。</span>
                    </p>
                    <p style="text-indent:28px">
                        <span>3</span><span style="font-family:宋体">、您的账户服务被终止或者账户在生材网的权限被永久冻结（注销）后，</span> <span style="font-family:宋体">生材网没有义务为您保留或向您披露您账户中的任何信息，也没有义务向您或第三方转发任何您未曾阅读或发送过的信息。</span>
                    </p>
                    <p style="text-indent:28px">
                        <span>4</span><span style="font-family:宋体">、您同意，您与生材网的合同关系终止后，生材网仍享有下列权利：</span>
                    </p>
                    <p style="text-indent:28px">
                        <span>a) </span><span style="font-family:宋体">继续保存您的用户信息及您使用生材网服务期间的所有交易信息。</span>
                    </p>
                    <p style="text-indent:28px">
                        <span>b) </span><span style="font-family:宋体">您在使用生材网服务期间存在违法行为或违反本协议和</span><span>/</span><span style="font-family:宋体">或规则的行为的，生材网仍可依据本协议向您主张权利。</span>
                    </p>
                    <p style="text-indent:28px">
                        <strong><span style="font-family:宋体">十、不可抗力。</span></strong>
                    </p>
                    <p style="text-indent:28px">
                        <span style="font-family:宋体">对于因生材网合理控制范围以外的原因，包括但不限于自然灾害、罢工或骚乱、物质短缺或定量配给、暴动、战争行为、政府行为、通讯或其他设施故障或严重伤亡事故等，致使生材网延迟或未能履约的，生材网不对您承担任何责任。</span>
                    </p>
                    <p style="text-indent:28px">
                        <strong><span style="font-family:宋体">十一、法律适用、管辖及其他</span></strong>
                    </p>
                    <p style="text-indent:28px">
                        <span>1</span><span style="font-family:宋体">、本协议之效力、解释、变更、执行与争议解决均适用中华人民共和国大陆地区法律，如无相关法律规定的，则应参照通用国际商业惯例和（或）行业惯例。</span>
                    </p>
                    <p style="text-indent:28px">
                        <span>2</span><span style="font-family:宋体">、您与生材网仅为独立订约人关系。本协议无意结成或创设任何代理、合伙、合营、雇佣与被雇佣或特性授权与被授权关系。</span>
                    </p>
                    <p style="text-indent:28px">
                        <span>3</span><span style="font-family:宋体">、您同意生材网因经营业务需要有权将本协议项下的权力义务就部分或全部进行转让，而无须再通知予您并取得您的同意。</span>
                    </p>
                    <p style="text-indent:28px">
                        <span>4</span><span style="font-family:宋体">、因本协议或生材网服务所引起或与其有关的任何争议应向生材网所在地人民法院提起诉讼。</span>
                    </p>
                    <p style="text-indent:28px">
                        <span>5</span><span style="font-family:宋体">、本协议取代您和生材网先前就相同事项订立的任何书面或口头协议。倘若本协议任何条款被裁定为无效或不可强制执行，该项条款应被撤销，而其余条款应予遵守和执行。条款标题仅为方便参阅而设，并不以任何方式界定、限制、解释或描述该条款的范围或限度。</span>
                    </p>
                    <p style="text-indent:28px">
                        <span>6</span><span style="font-family:宋体">、生材网未就您或其他人士的某项违约行为采取行动，并不表明生材网撤回就任何继后或类似的违约事件采取行动的权利。</span>
                    </p>
                    <p style="text-indent:28px">
                        <span>7</span><span style="font-family:宋体">、未经允许，抄袭、模仿和传播生材网站提供的产品、服务和功能，一经发现，生材网有权要求您赔偿，并有权立即停止提供服务。</span>
                    </p>
                    <p>
                        <span>&nbsp;</span>
                    </p>
                    <p>
                        <br>
                    </p></div>
            </div>
        </div>
        <div class="cjy-layer-foot">
            <button class="cjy-cancel-btn">取消</button>
            <button class="cjy-confirm-btn">同意</button>
        </div>
    </div>
</div>