.warp {
    width: 100%;
    padding: 30px 0 90px 0;
    background-color: #F2F2F2;
}

.help-warp {
    width: 1178px;
    margin: 0 auto;
    border: 1px solid #e5e5e5;
    background-color: #FAFAFA;
}

.help-menu {
    width: 248px;
}

.help-menu dt, .help-menu dd {
    height: 68px;
    line-height: 68px;
    padding-left: 30px;
    font-size: 16px;
}

.help-menu dt {
    background-color: #7C5E55;
    color: #fff;
}

.help-menu dd {
    position: relative;
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    background-color: #FAFAFA;
    cursor: pointer;
}

.help-menu dd a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.help-menu dd i {
    position: absolute;
    right: 20px;
    color: #d4d4d4;
}

.help-menu dd:hover, .help-menu dd.act {
    background-color: #fff;
    border-right: 1px solid #fff;
}

.help-content {
    width: 870px;
    min-height: 480px;
    padding: 0 30px;
    background-color: #fff;
}

.help-title {
    display: none;
    padding: 0 30px;
    border-bottom: 1px solid #eee;
}

.help-title span {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    border-bottom: 2px solid #fc6940;
    font-size: 16px;
}

.help-detail {
    display: none;
    margin-bottom: 30px;
    padding: 30px;
}

.display-block {
    display: block;
}

.help-qs-item {
    margin-bottom: 40px;
}

.help-qs-title {
    font-size: 16px;
    font-weight: 700;
}

.help-qs-title i {
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 9px;
    background-color: #50B2F6;
    color: #fff;
    text-align: center;
}

.help-qs-detail {
    margin: 18px 0 20px 26px;
    line-height: 1.5;
}

.help-fl-item {
    margin-bottom: 30px;
}

.help-detail p {
    line-height: 2;
    font-size: 16px;
}

.help-detail img {
    width: 100%;
    margin: 20px 0;
}

.help-wd-item {
    width: 160px;
    margin-left: 56px;
    float: left;
}
.help-video-item {
    width: 160px;
    margin-right: 56px;
    float: left;
}

.help-wd-item:nth-child(4n+1) {
    margin-left: 0;
}
.video_con .help-video-item:nth-child(4n+1){
    margin-right: 0px;
}

.help-wd-item img {
    width: 160px;
    height: 212px;
    border: 1px solid #ccc;
}

.help-wd-item p, .help-video-item p {
    text-align: center;
}
.video_con{
    margin-bottom: 40px;
}
.help-video-item img {
    width: 160px;
    height: 120px;
}
.video_box{
    position: absolute;
    display: none;
    width: 1200px;
    height: 680px;
    top: 100px;
    left: 50%;
    margin-left: -600px;
    z-index: 100;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
    float: left;
    border: solid 1px #eee;
}

tbody tr {
    border-top: solid 1px #e5e5e5;
}

th, td {
    height: 60px;
    line-height: 60px;
    border-left: solid 1px #eee;
    font-size: 14px;
    position: relative;
    text-align: center;
}

th:first-child, td:first-child {
    border-left: none;
}

th {
    background-color: #F8F8F8;
}