<div class="back_main">
    <div class="back_main_title">
        <span class="active">编辑供应商类别</span>
    </div>
    <div class="back_main_content">
        <div class="back_thin_content">
            <div class="back_info_item clearfix">
                <label class="back_info_title">供应商名称：</label>
                <div class="back_main_block">
                    <label style="width:100%;"><span>供应商名称供应商名称供应商名称供应商名称</span></label>
                </div>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title">所在分组：</label>
                <div class="back_main_block clearfix" style="padding-top: 6px;">
                    <span class="groupWarp">
                        <span class="groupCell">钢筋供应商</span>
                        <span class="groupCell">钢筋供应商</span>
                        <span class="groupCell">钢筋供应商</span>
                        <span class="groupCell">钢筋供应商</span>
                        <span class="groupCell">钢筋供应商</span>
                        <span class="groupCell">钢筋供应商</span>
                        <span class="groupCell">钢筋供应商</span>
                        <span class="groupCell">钢筋供应商</span>
                        <span class="groupCell">钢筋供应商</span>
                        <span class="groupCell">钢筋供应商</span>
                        <span class="groupCell">钢筋供应商</span>
                        <span class="groupCell">钢筋供应商</span>
                        <span class="groupCell">钢筋供应商</span>
                    </span>
                    <a href="javascript:;" class="groupEdit">修改分组信息</a>
                </div>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title">供应商状态：</label>
                <div class="back_main_block">
                    <select name="status">
                        <option value="">供应商状态</option>
                        <option value="1">合作中</option>
                        <option value="2">不良</option>
                        <option value="3">禁用</option>
                    </select>
                    <a href="#" class="textBlue">操作记录</a>
                </div>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title">供应商类别：</label>
                <div class="back_main_block">
                    <label style="width:100%;"><span>物资/设备采购</span></label>
                </div>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title">供应商等级：</label>
                <div class="back_main_block">
                    <label style="width:100%;"><span class="textBlue">A</span></label>
                </div>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title">联系人：</label>
                <div class="back_main_block">
                    <label style="width:100%;"><span>王依依</span></label>
                </div>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title">联系电话：</label>
                <div class="back_main_block">
                    <label style="width:100%;"><span>18000000000</span></label>
                </div>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title">加入时间：</label>
                <div class="back_main_block">
                    <label style="width:100%;"><span>2018/05/07 10:00</span></label>
                </div>
            </div>
            <input type="hidden" name="id" value="">
            <div class="back_main_btns clearfix">
                <a class="btn_confirm floatR marginL10" href="javascript:;">保存</a>
                <a class="btn_cancel floatR" href="javascript:;">返回</a>
            </div>
        </div>
    </div>
</div>