<div class="back_main">
    <div class="back_main_title">
        <span>企业基本信息</span>
    </div>
    <form>
        <div class="back_main_content">
            <div class="back_info_item clearfix">
                <label class="back_info_title">公司名称：</label>
                <label>湖北省楚建易网络科技有限公司-供应商1</label>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title">公司logo：</label>
                <img name="logo" data-url="group1/M00/00/05/rBAM3FuSSzGAFjGdAAQV8ShmCPk526.png" src="https://file.materialw.com/group1/M00/00/05/rBAM3FuSSzGAFjGdAAQV8ShmCPk526.png">
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title">公司规模：</label>
                <label name="size">151-500人</label>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title">注册资金：</label>
                <label>2.000万元</label>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title">企业类型：</label>
                <label name="company_type">联营企业</label>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title">纳税人类型：</label>
                <label>一般纳税人</label>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title">年营业额：</label>
                <label name="business_volume">100万-500万</label>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title">公司联系方式：</label>
                <label name="company_phone">13476103436</label>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title">公司地址：</label>
                <label area="井陉矿区" city="石家庄市" province="河北省" province_code="37" city_code="38" area_code="42">
                    河北省-石家庄市-井陉矿区</label>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title">详细地址：</label>
                <label name="detail_address">江岸区新长江国际</label>
            </div>

            <div class="back_info_item clearfix">
                <label class="back_info_title">供应物资分类：</label>
                <div class="back_box clearfix" style="display: block;" name="product">
                    <span product_id="1" parent_id="0" category_id="0" class="back_box_cell">生铁、铁合金</span>
                    <span product_id="235" parent_id="194" category_id="194" class="back_box_cell">金属波纹管</span>
                </div>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title">经营区域：</label>
                <div class="back_box clearfix" name="operation" style="display: block;">
                    <span scope_operation="735" class="back_box_cell">翠峦区</span>
                    <span scope_operation="910" class="back_box_cell">宝应县</span>
                </div>
            </div>
        </div>
    </form>

    <div class="back_main_title">
        <span>历史中标/成交记录</span>
    </div>
    <div class="back_main_content">
        <div class="material_list">
            <table>
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>标书名称</th>
                        <th>招标名称</th>
                        <th>招标单位</th>
                        <th>招标方式</th>
                        <th>公示时间</th>
                        <th>公示详情</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr>
                        <td>1</td>
                        <td><p>投标时填写的标书名称</p></td>
                        <td><p>聚合物抗裂砂浆采购招标</p></td>
                        <td><p>湖北国际经济技术合作有限公司</p></td>
                        <td>邀请招标</td>
                        <td>2018-06-30  12:00:00</td>
                        <td><a class="zb_view" href="javascript:;">查看</a></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><p>投标时填写的标书名称</p></td>
                        <td><p>聚合物抗裂砂浆采购招标</p></td>
                        <td><p>湖北国际经济技术合作有限公司</p></td>
                        <td>邀请招标</td>
                        <td>2018-06-30  12:00:00</td>
                        <td><a class="zb_view" href="javascript:;">查看</a></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td><p>投标时填写的标书名称</p></td>
                        <td><p>聚合物抗裂砂浆采购招标</p></td>
                        <td><p>湖北国际经济技术合作有限公司</p></td>
                        <td>邀请招标</td>
                        <td>2018-06-30  12:00:00</td>
                        <td><a class="zb_view" href="javascript:;">查看</a></td>
                    </tr> -->
                    <tr>
                        <td colspan="7"><div class="page_list_noneBg"></div><p class="page_list_noneCon" style="width: 100%; margin-bottom: 60px; font-size: 24px; color: rgb(153, 153, 153); text-align: center;">没有找到相关内容</p></td>
                    </tr>
                </tbody>
            </table>
            <div class="clear"></div>
        </div>
    </div>
</div>