.back_main_title .back_title_btn{
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0 14px;
    margin-top: 30px;
    background-color: #fc6940;
    border: 1px solid #fc6940;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    color: #fff;
}
.back_main_title .back_title_btn:hover{
    background-color: #F3623A;
    border: 1px solid #F3623A;
    color: #fff;
}
.back_main_nav{
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    background-color: #FAFAFA;
    border-bottom: solid 1px #DCB4AA;
}
.back_main_nav li{
    height: 50px;
    line-height: 50px;
    margin: 10px 10px 0 10px;
    font-weight: 700;
    color: #333;
    float: left;
}
.back_main_nav li a{
    display: inline-block;
    height: 50px;
    padding: 0 20px;
}
.back_main_nav li.act{
    line-height: 40px;
    border: solid 1px #DCB4AA;
    border-bottom: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #FFFBFA;
    color: #fc6940;
}
.back_main_nav li.act a{
    height: 46px;
    border-top: solid 4px #FFEEEA;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.back_main_nav li.act a,.back_main_nav li a:hover{
    color: #fc6940;
}

.back_main_group{
    padding: 25px 50px 0 50px;
    background-color: #FFFBFA;
    border-bottom: solid 1px #F8EDEA;
}
.back_main_group li{
    width: 150px;
    margin-bottom: 25px;
    float: left;
}
.back_main_group li a{
    display: inline-block;
    max-width: 110px;
    color: #946243;   
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break:break-all; 
}
.back_main_group li.act,.back_main_group li.act a, .back_main_group li a:hover{
    color: #fc6940;
}
.back_main_group li i.icon-gou{
    display: none;
    margin-left: 6px;
    font-size: 12px;
    vertical-align: 4px;
}
.back_main_group li.act i.icon-gou{
    display: inline-block;
}

.back_main_search .cjy-input-{
    width: 420px;
    margin: 0 10px 0 0;
}
.back_main_list{
    padding: 20px 0;
    border-top: 1px solid #eee;
}
.back_main_list .material_list{
    margin-bottom: 30px;
}

.back_list_top{
    height: 54px;
    line-height: 54px;
}
.back_list_top .back_list_sort li{
    float: left;
    margin-right: 20px;
    color: #999;
    cursor: pointer;
}
.back_list_top .back_list_sort li.act,.back_list_top .back_list_sort li:hover{
    color: #333;
}
.back_list_top .back_list_sort li i{
    display: inline-block;
    margin-left: 4px;
    font-size: 12px;
    transition: transform .3s;
}
.back_list_top .back_list_sort li.up .icon-xiajiantou1 {
    vertical-align: 1px;
    transform: rotate(180deg);
}
.back_main_list .back_list_btn{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin-top: 11px;
    margin-left: 10px;
    padding: 0 16px;
    background-color: #fc6940;
    border-radius: 4px;
    color: #fff;
    text-align: center;
}
.back_main_list .back_list_btn:hover{
    background-color: #F3623A;
}

.back_main_list{
    padding-top: 0;
}


/* 企业供应商 - 审核/修改供应商 */
.gys-basic .gys-basic-title{
    padding-top: 20px;
    position: relative;
}
.gys-basic-title h2{
    display: inline-block;
    font-size: 14px;
    color: #333;
    font-weight: normal;
    padding-bottom: 20px;
    border-bottom: 2px solid #fc6940;
    position: relative;
    z-index: 1;
}
.gys-basic-title .gys-line{
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #eee;
}
.qygys-box .gys-basic{
    background-color: #f7f7f7;
    overflow: hidden;
    padding: 0 30px;
}
.gys-basic .gysbasic-list{
    margin-top: 20px;
    padding-bottom: 10px;
}
.gysbasic-list .gys-item,.gysbasic-list .gys-info{
    float: left;
    margin-bottom: 20px;
    overflow: hidden;
}
.gysbasic-list .gys-item{
    width: 240px;
}
.gysbasic-list .gys-info{
    width: 480px;
}
.gysbasic-list .gys-info a{
    display: block;
    margin-bottom: 10px;
}
.gys-item .color_red{
    color: #fc6940!important;
}
.gysbasic-list .gys-item-title{
    font-size: 14px;
    color: #999;
    float: left;
}
.gysbasic-list .gys-item-name{
    display: inline-block;
    font-size: 14px;
    color: #333;
}
.gysbasic-list .ellipsis{
    width: 170px;
    vertical-align: top;
}
.qygys-box .gys-sel-area{
    margin-top: 20px;
    padding: 0 30px;
}
.gys-sel-area p{
    font-size: 14px;
    color: #999;
    margin-bottom: 20px;
}
.gys-sel-area .font_normal{
    font-weight: normal;
    color: #333;
}
.gys-sel-area select{
    width: 160px;
}


/* 维护分组供应商 */
.zjChoose-content{
    padding: 0 30px;
}
.zjChoose-search{
    margin-bottom: 20px;
}
.zjChoose-search input{
    width: 220px;
    height: 38px;
    line-height: 38px;
    padding: 0 20px;
    border: solid 1px #ccc;
}
.zjChoose-search .zjChoose-search-btn{
    display: inline-block;
    width: 100px;
    height: 38px;
    line-height: 38px;
    margin-left: 10px;
    background-color: #fc6940;
    border: 1px solid #fc6940;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    color: #fff;
}
.zjChoose-search .zjChoose-search-btn:hover {
    background-color: #F3623A;
    border: 1px solid #F3623A;
    color: #fff;
}
.zjChoose-search .zjChoose-search-btn:hover{
    background-color: #e83838
}
.zjChoose-search .zjChoose-clear{
    display: inline-block;
    width: 100px;
    height: 38px;
    line-height: 38px;
    margin-left: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
}
.zjChoose-content .material_list td{
    line-height: 1.5;
}