<div class="back_main">
    <div class="attr_table">
        <table>
            <colgroup>
                <col width="9%">
                <col width="18%">
                <col width="6%">
                <col width="9%">
                <col width="18%">
                <col width="6%">
                <col width="9%">
                <col width="18%">
                <col width="6%">
            </colgroup>
            <thead>
                <tr>
                    <th><span class="left24">一级指标</span></th>
                    <th><span class="left32">指标说明</span></th>
                    <th><span>权重</span></th>
                    <th><span class="left24">二级指标</span></th>
                    <th><span class="left32">指标说明</span></th>
                    <th><span>权重</span></th>
                    <th><span class="left24">三级指标</span></th>
                    <th><span class="left32">指标说明</span></th>
                    <th><span>权重</span></th>
                </tr>
            </thead>
            <tbody>
                <tr class="multi_tr">
                    <td colspan="3" class="multi_td">
                        <div class="multi_box">
                            <div class="multi_oprate"><i class="iconfont icon-jiahao1 add_multi"></i><i class="iconfont icon-huishouxiang del_multi"></i></div>
                            <div class="multi_inner clearfix">
                                <div class="multi_left"><input name=" type=" text" class="cjy-input-" maxlength="15" value=""></div>
                                <div class="multi_center"><textarea rows="3" style="width: 70%;"></textarea></div>
                                <div class="multi_right"><input name=" type=" text" class="cjy-input-" maxlength="15" value=""></div>
                            </div>
                        </div>
                    </td>
                    <td colspan="3" class="multi_td">
                        <div class="multi_box">
                            <div class="multi_oprate"><i class="iconfont icon-jiahao1 add_multi"></i><i class="iconfont icon-huishouxiang del_multi"></i></div>
                            <div class="multi_inner clearfix">
                                <div class="multi_left"><input name=" type=" text" class="cjy-input-" maxlength="15" value=""></div>
                                <div class="multi_center"><textarea rows="3" style="width: 70%;"></textarea></div>
                                <div class="multi_right"><input name=" type=" text" class="cjy-input-" maxlength="15" value=""></div>
                            </div>
                        </div>
                    </td>
                    <td colspan="3" class="multi_td">
                        <div class="multi_box">
                            <div class="multi_oprate"><i class="iconfont icon-jiahao1 add_multi"></i><i class="iconfont icon-huishouxiang del_multi"></i></div>
                            <div class="multi_inner clearfix">
                                <div class="multi_left"><input name=" type=" text" class="cjy-input-" maxlength="15" value=""></div>
                                <div class="multi_center"><textarea rows="3" style="width: 70%;"></textarea></div>
                                <div class="multi_right"><input name=" type=" text" class="cjy-input-" maxlength="15" value=""></div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table><input name="product_info[specs]" type="hidden" value="8,4">
    </div>
</div>