<input type="hidden" name="tenderId" value="137072">
<input type="hidden" name="packageId" value="0">
<div class="setting_warp">
    <div class="crumbs_con"><i class="iconfont icon-ditu"></i><span class="textBlack1">在线评标室</span> > 设置评标方案</div>
    <div class="setting_container">
        <div class="package_con">
            <ul>
                <li class="act">
                    <a href="javascript:;" class="package_cell">包件1（BJBH-001）</a>
                </li>
                <li>
                    <a href="javascript:;" class="package_cell">包件2（BJBH-002）</a>
                </li>
                <li>
                    <a href="javascript:;" class="package_cell">包件3（BJBH-003）</a>
                </li>
            </ul>
        </div>
        <div class="setting_table_con" id="zjList">
            <div class="material_list clearfix">
                <table>
                    <colgroup>
                        <col width="5%">
                        <col width="15%">
                        <col width="10%">
                        <col width="10%">
                        <col width="13%">
                        <col width="10%">
                        <col width="13%">
                        <col width="24%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>专业分类</th>
                            <th>专家姓名</th>
                            <th>专家选取方式</th>
                            <th>所在地区</th>
                            <th>来源</th>
                            <th>联系方式</th>
                            <th>备注信息</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td rowspan="3">工程经济</td>
                            <td>徐宁昌1</td>
                            <td>随机抽取</td>
                            <td>恩施</td>
                            <td>公司内部</td>
                            <td>13476103436</td>
                            <td><span style="width:300px;" class="ellipsis" title="崇高的道德标准严格约束自己崇高的道德标准严格约束自己">崇高的道德标准严格约束自己崇高的道德标准严格约束自己</span></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>徐宁昌1</td>
                            <td>随机抽取</td>
                            <td>恩施</td>
                            <td>公司内部</td>
                            <td>13476103436</td>
                            <td><span style="width:300px;" class="ellipsis" title="崇高的道德标准严格约束自己崇高的道德标准严格约束自己">崇高的道德标准严格约束自己崇高的道德标准严格约束自己</span></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>徐宁昌1</td>
                            <td>随机抽取</td>
                            <td>恩施</td>
                            <td>公司内部</td>
                            <td>13476103436</td>
                            <td><span style="width:300px;" class="ellipsis" title="崇高的道德标准严格约束自己崇高的道德标准严格约束自己">崇高的道德标准严格约束自己崇高的道德标准严格约束自己</span></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>市政</td>
                            <td>徐宁昌1</td>
                            <td>随机抽取</td>
                            <td>恩施</td>
                            <td>公司内部</td>
                            <td>13476103436</td>
                            <td><span style="width:300px;" class="ellipsis" title="崇高的道德标准严格约束自己崇高的道德标准严格约束自己">崇高的道德标准严格约束自己崇高的道德标准严格约束自己</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>