<div class="pubView_head_wrap">
    <span class="pubView_head_title">采购信息预览</span>
</div>
<div class="pubView_body_wrap">
    <div class="pubView_cell_con">
        <div class="pubView_form">
            <div class="pubView_block clearfix">
                <label>招标名称：</label>
                <div class="pubView_block_item">中铁八局集团昆明铁路建设有限公司珠三角城际新百广XBZH-2标四工XBZH-2标工程项目螺纹钢、管材等公开采购。中铁八局集团昆明铁路建设有限公司珠三角城际新百广XBZH-2标四工XBZH-2标工程项目螺纹钢、管材等公开采购</div>
            </div>
            <div class="pubView_block clearfix">
                <div class="pubView_block_half">
                    <label>采购编号：</label>
                    <div class="pubView_block_item">HBLQJTCLZ20180141</div>
                </div>
                <div class="pubView_block_half">
                    <label>采购主体：</label>
                    <div class="pubView_block_item">湖北省路桥集团桥盛工贸有限公司</div>
                </div>
            </div>
            <div class="pubView_block clearfix">
                <div class="pubView_block_half">
                    <label>采购预算：</label>
                    <div class="pubView_block_item" style="margin-top: -3px;">6,820,000,000元<span class="pubView_notice">供应商不可见</span></div>
                </div>
                <div class="pubView_block_half">
                    <label>采购类别：</label>
                    <div class="pubView_block_item">物资/设备采购（钢筋类）</div>
                </div>
            </div>
            <div class="pubView_block clearfix">
                <div class="pubView_block_half">
                    <label>采购方式：</label>
                    <div class="pubView_block_item" style="margin-top: -3px;">公开招标<span class="pubView_notice">资格预审</span></div>
                </div>
                <div class="pubView_block_half">
                    <label>联系信息：</label>
                    <div class="pubView_block_item">井柏然，13620193218，027-23214323</div>
                </div>
            </div>
        </div>
    </div>

    <div class="pubView_cell_con">
        <div class="pubView_cell_title"><span>标包信息及文件信息</span></div>
        <div class="pubView_cell_detail">
            <div class="material_list clearfix">
                <table>
                    <colgroup>
                        <col width="150">
                        <col width="270">
                        <col width="280">
                        <col width="280">
                        <col width="130">
                        <col width="240">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>包件号/采购内容</th>
                            <th>交付信息</th>
                            <th>资格预审文件</th>
                            <th>招标/询价文件</th>
                            <th>投标保证金</th>
                            <th>备注信息</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><p>GC-2009-01</p><p>钢材</p></td>
                            <td>
                                <div class="list_info"><i class="iconfont icon-gongsi1"></i><span>武汉至阳新高速公路第一标段</span></div>
                                <div class="list_info"><i class="iconfont icon-ditu"></i><span> 湖北省-武汉市-汉阳区武汉至阳新高速公路（武汉至鄂州段）第一标段项目经理部</span></div>
                            </td>
                            <td>
                                <p class="fujian_con"><i class="iconfont icon-zhifu1"></i>1,000 元</p>
                                <p class="fujian_con"><i class="iconfont icon-fujian"></i>GC-2009-02资审文件.zip<a href="javascript:;" class="marginL10 textBlue">下载</a></p>
                            </td>
                            <td>
                                <p class="fujian_con"><i class="iconfont icon-zhifu1"></i>1,000 元</p>
                                <p class="fujian_con"><i class="iconfont icon-fujian"></i>GC-2009-02招标文件.zip<a href="javascript:;" class="marginL10 textBlue">下载</a></p>
                            </td>
                            <td><i class="iconfont icon-zhifu1"></i>1,000 元</td>
                            <td><div class="remark_scroll">经专家组报价单位不足三家，经专家组判定，已确认为流标报价单位不足三家，经专家组判定流标报价单位不足三家，经专家组判定</div></td>
                        </tr>
                        <tr>
                            <td><p>GC-2009-01</p><p>钢材</p></td>
                            <td>
                                <div class="list_info"><i class="iconfont icon-gongsi1"></i><span>武汉至阳新高速公路第一标段</span></div>
                                <div class="list_info"><i class="iconfont icon-ditu"></i><span> 湖北省-武汉市-汉阳区武汉至阳新高速公路（武汉至鄂州段）第一标段项目经理部</span></div>
                            </td>
                            <td>
                                <p class="fujian_con"><i class="iconfont icon-zhifu1"></i>1,000 元</p>
                                <p class="fujian_con"><i class="iconfont icon-fujian"></i>GC-2009-02资审文件.zip<a href="javascript:;" class="marginL10 textBlue">下载</a></p>
                            </td>
                            <td>
                                ——
                            </td>
                            <td><i class="iconfont icon-zhifu1"></i>1,000 元</td>
                            <td><div class="remark_scroll">经专家组报价单位不足三家，经专家组判定，已确认为流标报价单位不足三家，经专家组判定流标报价单位不足三家，经专家组判定</div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="pubView_cell_con">
        <div class="pubView_cell_title"><span>邀请单位</span></div>
        <div class="pubView_cell_detail">
            <div class="pubView_detail_nav">
                <ul class="keyUl">
                    <li class="act"><a href="javascript:;">包件1（BJBH-001）</a></li>
                    <li><a href="javascript:;">包件2（BJBH-002）</a></li>
                    <li><a href="javascript:;">包件2（BJBH-003）</a></li>
                </ul>
            </div>
            <div class="material_list clearfix">
                <table>
                    <colgroup>
                        <col width="15%">
                        <col width="10%">
                        <col width="10%">
                        <col width="10%">
                        <col width="10%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>供应商名称</th>
                            <th>供应商来源</th>
                            <th>供应商等级</th>
                            <th>联系人</th>
                            <th>联系方式</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>湖北交投物流集团有限公司</td>
                            <td>我的供应商</td>
                            <td>A</td>
                            <td>张三</td>
                            <td>13512254444</td>
                        </tr>
                        <tr>
                            <td>湖北交投物流集团有限公司</td>
                            <td>我的供应商</td>
                            <td>A</td>
                            <td>张三</td>
                            <td>13512254444</td>
                        </tr>
                        <tr>
                            <td>湖北交投物流集团有限公司</td>
                            <td>我的供应商</td>
                            <td>A</td>
                            <td>张三</td>
                            <td>13512254444</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="pubView_cell_con">
        <div class="pubView_cell_title"><span>时间信息、开标信息</span></div>
        <div class="pubView_cell_detail">
            <div class="pubView_detail_block clearfix">
                <label>报名截止：</label>
                2018-12-12  14:30
            </div>
            <div class="pubView_detail_block clearfix">
                <div class="pubView_detail_third">
                    <label>报名截止：</label>
                    2018-12-12  14:30
                </div>
                <div class="pubView_detail_third">
                    <label>资审文件下载开始：</label>
                    2018-12-12  14:30
                </div>
                <div class="pubView_detail_third">
                    <label>资审文件下载截止：</label>
                    2018-12-12  14:30
                </div>
            </div>
            <div class="pubView_detail_block clearfix">
                <div class="pubView_detail_third">
                    <label>投标报价截止：</label>
                    2018-12-12  14:30
                </div>
                <div class="pubView_detail_third">
                    <label>招标文件下载开始：</label>
                    2018-12-12  14:30
                </div>
                <div class="pubView_detail_third">
                    <label>招标文件下载截止：</label>
                    2018-12-12  14:30
                </div>
            </div>
            <div class="pubView_detail_block clearfix">
                <div class="pubView_detail_third">
                    <label>澄清提问截止：</label>
                    2018-12-12  14:30
                </div>
                <div class="pubView_detail_third">
                    <label>澄清补遗截止：</label>
                    2018-12-12  14:30
                </div>
            </div>
            <div class="pubView_detail_block clearfix">
                <div class="pubView_detail_third">
                    <label>资审文件开启人：</label>
                    李四 / 13012122323
                </div>
            </div>
            <div class="pubView_detail_block clearfix">
                <div class="pubView_detail_third">
                    <label>开标方式：</label>
                    在线开标<span class="textBlack3">（在线投标）</span>
                </div>
                <div class="pubView_detail_third">
                    <label>开标人：</label>
                    李四 / 13012122323
                </div>
                <div class="pubView_detail_third">
                    <label>预开标时间：</label>
                    2018-12-12  14:30
                </div>
            </div>
        </div>
    </div>

    <div class="pubView_cell_con">
        <div class="pubView_cell_title"><span>银行账户信息</span></div>
        <div class="pubView_cell_detail">
            <div class="material_list clearfix">
                <table>
                    <colgroup>
                        <col width="25%">
                        <col width="25%">
                        <col width="25%">
                        <col width="25%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>收款信息</th>
                            <th>收款方式</th>
                            <th>开户行</th>
                            <th>银行账号</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>资审文件收款账户</td>
                            <td>公对公转账</td>
                            <td>——</td>
                            <td>——</td>
                        </tr>
                        <tr>
                            <td>资审文件收款账户</td>
                            <td>公对公转账</td>
                            <td>中国建设银行</td>
                            <td>422424242421555</td>
                        </tr>
                        <tr>
                            <td>资审文件收款账户</td>
                            <td>公对公转账</td>
                            <td>中国建设银行</td>
                            <td>422424242421555</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="pubView_cell_con">
        <div class="pubView_cell_title"><span>采购公告</span></div>
        <div class="pubView_cell_detail">
            <div class="pubView_rich_text">
                    <p class="MsoNormal" style="text-autospace: ideograph-numeric; mso-pagination: none; text-align: center; line-height: 25.0000pt; mso-line-height-rule: exactly;" align="center"><strong><span style="font-family: 宋体; font-size: 15pt;">2019<span style="font-family: 宋体;">年</span></span></strong><strong><span style="font-family: 宋体; font-size: 15pt;"><span style="font-family: 宋体;">武汉市花木公司常用园林工程辅材泥炭土</span></span></strong><strong><span style="font-family: 宋体; font-size: 14pt;"><span style="font-family: 宋体;">采购</span></span></strong><strong><span style="font-family: 宋体; font-size: 15pt;"><span style="font-family: 宋体;">询价</span></span></strong><strong><span style="font-family: 宋体; font-size: 15pt;"><span style="font-family: 宋体;">公告</span></span></strong></p>
                    <p class="MsoNormal" style="text-autospace: ideograph-numeric; mso-pagination: none; text-align: center; line-height: 25.0000pt; mso-line-height-rule: exactly;" align="center"><strong><span style="font-family: 宋体; font-size: 15pt;"><span style="font-family: 宋体;">询价编号：</span></span></strong><strong><span style="font-family: 宋体; font-size: 15pt;">2019-001</span></strong></p>
                    <p class="MsoNormal" style="text-autospace: ideograph-numeric; mso-pagination: none; line-height: 25.0000pt; mso-line-height-rule: exactly;"><strong><span style="font-family: 宋体; font-size: 14pt;"><span style="font-family: 宋体;">致</span>: </span></strong><u><span style="font-family: 宋体; font-size: 14pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><u></u></p>
                    <p class="MsoNormal" style="text-indent: 24pt; line-height: 150%;"><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; line-height: 150%; font-size: 12.0000pt; mso-font-kerning: 1.0000pt;">7</span><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; line-height: 150%; font-size: 12.0000pt; mso-font-kerning: 1.0000pt;">.1 </span><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; line-height: 150%; font-size: 12.0000pt; mso-font-kerning: 1.0000pt;"><span style="font-family: 宋体;">在线</span></span><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; line-height: 150%; font-size: 12.0000pt; mso-font-kerning: 1.0000pt;"><span style="font-family: 宋体;">报名截止时间：</span>2019<span style="font-family: 宋体;">年</span></span><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; line-height: 150%; font-size: 12.0000pt; mso-font-kerning: 1.0000pt;">07</span><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; line-height: 150%; font-size: 12.0000pt; mso-font-kerning: 1.0000pt;"><span style="font-family: 宋体;">月</span>1</span><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; line-height: 150%; font-size: 12.0000pt; mso-font-kerning: 1.0000pt;">0</span><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; line-height: 150%; font-size: 12.0000pt; mso-font-kerning: 1.0000pt;"><span style="font-family: 宋体;">日</span>18<span style="font-family: 宋体;">时</span><span style="font-family: Times New Roman;">00</span><span style="font-family: 宋体;">分（北京时间）。</span></span></p>
                    <p class="MsoNormal" style="text-indent: 48pt; line-height: 150%;"><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; line-height: 150%; font-size: 12.0000pt; mso-font-kerning: 1.0000pt;"><span style="font-family: 宋体;">递交</span></span><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; line-height: 150%; font-size: 12.0000pt; mso-font-kerning: 1.0000pt;"><span style="font-family: 宋体;">报价</span></span><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; line-height: 150%; font-size: 12.0000pt; mso-font-kerning: 1.0000pt;"><span style="font-family: 宋体;">截止时间：</span>2019<span style="font-family: 宋体;">年</span><span style="font-family: Times New Roman;">0</span></span><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; line-height: 150%; font-size: 12.0000pt; mso-font-kerning: 1.0000pt;">7</span><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; line-height: 150%; font-size: 12.0000pt; mso-font-kerning: 1.0000pt;"><span style="font-family: 宋体;">月</span></span><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; line-height: 150%; font-size: 12.0000pt; mso-font-kerning: 1.0000pt;">15</span><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; line-height: 150%; font-size: 12.0000pt; mso-font-kerning: 1.0000pt;"><span style="font-family: 宋体;">日</span> </span><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; line-height: 150%; font-size: 12.0000pt; mso-font-kerning: 1.0000pt;">15</span><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; line-height: 150%; font-size: 12.0000pt; mso-font-kerning: 1.0000pt;">&nbsp;<span style="font-family: 宋体;">时</span> &nbsp;</span><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; line-height: 150%; font-size: 12.0000pt; mso-font-kerning: 1.0000pt;">00</span><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; line-height: 150%; font-size: 12.0000pt; mso-font-kerning: 1.0000pt;">&nbsp;<span style="font-family: 宋体;">分（北京时间）。</span></span></p>
                    <p class="MsoNormal" style="text-indent: 24pt; line-height: 150%;"><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; line-height: 150%; font-size: 12.0000pt; mso-font-kerning: 1.0000pt;">7</span><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; line-height: 150%; font-size: 12.0000pt; mso-font-kerning: 1.0000pt;">.2 <span style="font-family: 宋体;">投标方式：凡有意参加投标者，须在生材网（</span><span style="font-family: Times New Roman;">https://www.materialw.com/</span><span style="font-family: 宋体;">）先注册成为会员，在招投标平台完成线上报名并下载领取电子版招标文件，否则视为无效。</span></span></p>

            </div>
        </div>
    </div>

    <div class="pubView_btn_wrap">
        <div class="pubView_btn">
            <a href="javascript:;" class="btn_publish">直接发布</a>
            <a href="javascript:;" class="btn_return">返回编辑</a>
        </div>
    </div>
</div>