<div class="back_main">
    <div class="back_main_title">
        <span>邀请供应商</span>
        <span>审批列表</span>
        <span class="active">加入要求</span>
        <a href="javascript:;" class="back_title_btn floatR">编辑加入要求</a>
    </div>
    <div class="back_main_content">
        <div class="back_thin_content">
            <div class="back_main_notice clearfix">
                <div class="clearfix">
                    <span class="noticeBg floatL"><i class="iconfont icon-i"></i></span>
                    <p class="floatL">加入要求，将作为邀请函的一部分发送给供应商</p>
                </div>
            </div>
            <div class="back_main_nav">
                <div class="back_nav_head">
                    <span class="back_nav_title">邀请函名称</span>
                </div>
                <div class="back_nav_body">
                    劳务邀请函
                </div>
            </div>
            <div class="back_main_nav">
                <div class="back_nav_head">
                    <span class="back_nav_title">适用类别</span>
                </div>
                <div class="back_nav_body">
                    劳务分包
                </div>
            </div>
            <div class="back_main_nav">
                <div class="back_nav_head">
                    <span class="back_nav_title">加入要求</span>
                </div>
                <div class="back_nav_body" id="">
                    附骨疮即附骨疽的讹写，据《医宗金鉴》所述，此“系调治可愈之证”，可见在当时并非绝症。“附骨疽生于大腿外侧，……由体虚之人露卧风，冷浴后乘凉寒湿侵袭，或房欲之后盖覆单薄，寒邪乘虚入里，遂成斯疾。初觉寒热往来，如同感冒风邪，随后筋骨疼痛，不热不红，甚则痛如锥刺筋骨，不能屈伸。”乾隆谈及永琪，曾不无遗憾的说“朕视皇五子于诸子中觉贵重，且汉文、满洲蒙古语，马步射及算法等事，并皆娴习，颇属意于彼而未明言，乃复因病旋逝。”可见永琪精于骑射，其病之起极有可能缘于风餐露宿骑马射猎所致。而因病薨逝，感觉病起仓促，可能即是因为陈氏所言的不得溃，此症状的特征是“三阴不足，外邪过盛，大腿通肿，皮色不变，疼痛日增不消不溃者，此属虚寒骨冷。”
                </div>
            </div>
            <div class="back_main_nav">
                <div class="back_nav_head">
                    <span class="back_nav_title">附件</span>
                </div>
                <div class="back_nav_body">
                    <div class="affix_item"><input type="hidden" name="tenderFile[name][]" value="' + dataObj.name + '"><input
                            type="hidden" name="tenderFile[path][]" value=""><i class="iconfont icon-fujian"></i><span
                            class="ellipsis">这里放名称这里放名称</span><a class="textBlue">下载</a></div>
                    <div class="affix_item"><input type="hidden" name="tenderFile[name][]" value="' + dataObj.name + '"><input
                            type="hidden" name="tenderFile[path][]" value=""><i class="iconfont icon-fujian"></i><span
                            class="ellipsis">这里放名称这里放名称</span><a class="textBlue">下载</a></div>
                </div>
            </div>
        </div>
    </div>

    <div class="back_empty">
        <div class="page_list_noneBg"></div><p class="page_list_noneCon" style="width: 100%;margin-bottom: 10px;font-size: 24px;color: #999;text-align: center;">暂无供应商加入要求，快来编辑吧~</p><a href="javascript:;" class="back_list_btn" style="margin-bottom:80px;">编辑加入要求</a>
    </div>
</div>