<%= otherTop %>
<div class="bid_head_container">
    <div class="bid_head_con clearfix">
        <div class="bid_head_title">中铁八局集团昆明铁路建设有限公司珠三角城际新百广XBZH-2标四工XBZH-2标工程项目螺纹钢、管材等公开采购中铁八局集团昆明铁路建设有限公司珠三角城</div>
        <div class="bid_head_tips">
            <span>采购编号： HBLQJTCLZB20180141</span>
            <span>发布时间： 2018-12-12 14:34</span>
            <span>经办人： 张三/1350713736</span>
        </div>
        <div class="bid_head_cells">
            <span>物资/设备采购</span>
            <span>邀请招标</span>
            <span>在线开标</span>
            <span>资格预审</span>
        </div>
    </div>
    <div class="bid_body_container">
        <div class="bid_body_con">
            <div class="bid_body_detail">
                <div class="bid_detail_prompt"><i class="iconfont icon-i"></i>选择公式类型为<span class="textRed">“候选人公示”</span>后，在<span class="textRed">公示期结束</span>后，还需要发布最终结果公告哦。</div>
                <div class="bid_detail_title"><i class="detail_title_circle"></i>发布最终结果</div>
                <div class="material_list">
                    <table>
                        <colgroup>
                            <col width="10%">
                            <col width="10%">
                            <col width="8%">
                            <col width="26%">
                            <col width="8%">
                            <col width="12%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>包件号</th>
                                <th>采购内容</th>
                                <th>采购量</th>
                                <th>已公示信息</th>
                                <th>最终结果</th>
                                <th>招标结果</th>
                            </tr>
                        </thead>
                        <tbody class="page_list">
                            <tr>
                                <td>GC-2009-01</td>
                                <td>钢材</td>
                                <td>12000吨</td>
                                <td>
                                    <p class="fontBlod">【候选人】</p>
                                    <p><i class="bid_table_num">1</i><span class="bid_table_name">湖北省楚建易网络科技有限公司</span><span class="bid_table_pay">100,000,000.00元</span></p>
                                    <p><i class="bid_table_num">2</i><span class="bid_table_name">湖北省冶金科学研究所</span><span class="bid_table_pay">110,000,000.00元</span></p>
                                </td>
                                <td>
                                    <div><input type="radio" name="radio1" title="中标/成交公告"></div>
                                    <div><input type="radio" name="radio1" title="废标公告"></div>
                                </td>
                                <td>
                                    <div>
                                        <p class="fontBlod">【中标单位】</p>
                                        <p><span class="bid_done_name">湖北省楚建易网络科技有限公司</span></p>
                                        <p><span class="bid_done_name">湖北省冶金科学研究所</span></p>
                                        <a href="javascript:;" class="bid_table_edit">修改</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>GC-2009-02</td>
                                <td>水泥</td>
                                <td>11000吨</td>
                                <td> 
                                    <p class="fontBlod">【已废标】</p>
                                    报价单位不足三家，经专家组判定，已确认为流标报价单位不足三家，经专家组判定，已确认为流标报价单位不足三家，经专家组判定，已确认为流标。完整显示公示信息。
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>GC-2009-03</td>
                                <td>柴油</td>
                                <td>15000吨</td>
                                <td>
                                    <p class="fontBlod">【候选人】</p>
                                    <p><i class="bid_table_num">1</i><span class="bid_table_name">湖北省楚建易网络科技有限公司</span><span class="bid_table_pay">100,000,000.00元</span></p>
                                    <p><i class="bid_table_num">2</i><span class="bid_table_name">湖北省冶金科学研究所</span><span class="bid_table_pay">110,000,000.00元</span></p>
                                </td>
                                <td>
                                    <div><input type="radio" name="radio2" title="中标/成交公告"></div>
                                    <div><input type="radio" name="radio2" title="废标公告"></div>
                                </td>
                                <td><div><a href="javascript:;" class="bid_table_choose">选择候选人</a></div></td>
                            </tr>
                            <tr>
                                <td>GC-2009-03</td>
                                <td>柴油</td>
                                <td>15000吨</td>
                                <td>
                                    <p class="fontBlod">【候选人】</p>
                                    <p><i class="bid_table_num">1</i><span class="bid_table_name">湖北省楚建易网络科技有限公司</span><span class="bid_table_pay">100,000,000.00元</span></p>
                                    <p><i class="bid_table_num">2</i><span class="bid_table_name">湖北省冶金科学研究所</span><span class="bid_table_pay">110,000,000.00元</span></p>
                                </td>
                                <td>
                                    <div><input type="radio" name="radio2" title="中标/成交公告"></div>
                                    <div><input type="radio" name="radio2" title="废标公告"></div>
                                </td>
                                <td><div><textarea></textarea></div></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="clear"></div>
                </div>
                <div class="bid_detail_title"><i class="detail_title_circle"></i>其他信息</div>
                <div class="bid_detail_other">
                    <div class="bid_detail_block clearfix">
                        <label>文字公告：</label>
                        <div class="bid_detail_cell">
                            <textarea class="cjy-textarea" name="describe[]" maxlen="50" rows="3" placeholder="请按照实际需要编辑公告正文" style="width:750px;height:200px;"></textarea>
                        </div>
                    </div>
                    <div class="bid_detail_block clearfix">
                        <label></label>
                        <div class="bid_detail_cell">
                            <a href="javascript:;" class="bid_detail_publish">提交</a>
                            <a href="javascript:;" class="bid_detail_cancel">取消</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>