<div class="banner_wrap">
    <div class="banner_bg"></div>
</div>
<div class="detail_wap">
    <div class="detail_container intention_form">
        <div class="detail_body">
            <div class="detail_body_title">联系方式<span></span></div>
            <div class="detail_body_con">
                <div class="back_main_item">
                    <label>客户姓名：</label>
                    <div class="back_main_block">
                        <input name="client_real_name" type="text" class="cjy-input-" placeholder="客户姓名" autocomplete="off" maxlength="10" value="">
                    </div>
                </div>
                <div class="back_main_item">
                    <label>联系人：</label>
                    <div class="back_main_block">
                        <input name="client_real_name" type="text" class="cjy-input-" placeholder="联系人" autocomplete="off" maxlength="10" value="">
                    </div>
                </div>
                <div class="back_main_item">
                    <label>联系电话：</label>
                    <div class="back_main_block">
                        <input name="client_mobile" type="text" class="cjy-input-" placeholder="联系电话" autocomplete="off" maxlength="10" value="">
                    </div>
                </div>
            </div>
            <div class="detail_body_title">融资要求<span></span></div>
            <div class="detail_body_con">
                <div class="back_main_item">
                    <label>融资项目：</label>
                    <div class="back_main_block">
                        <select cjy-search placeholder="选择融资项目">
                            <option value="1">融资项目1</option>
                            <option value="2">融资项目2</option>
                            <option value="3">融资项目3</option>
                            <option value="4">融资项目4</option>
                            <option value="5">融资项目5</option>
                        </select>
                    </div>
                </div>
                <p>选择企业在生材网上的中标项目，可以提高融资成功率哦~</p>
                <div class="back_main_item">
                    <label>金融金额：</label>
                    <div class="back_main_block">
                        <input name="apply_amount" type="text" class="cjy-input- cjy-input-" autocomplete="off" maxlength="9">
                        <span>&nbsp;&nbsp;万元</span>
                    </div>
                </div>
                <div class="back_main_item">
                    <label>金融期限：</label>
                    <div class="back_main_block">
                        <input name="apply_back_month" type="text" class="cjy-input- cjy-input-" autocomplete="off" maxlength="9">
                        <span>&nbsp;&nbsp;个月</span>
                    </div>
                </div>
                <div class="back_main_item">
                    <label>期望年利率：</label>
                    <div class="back_main_block">
                        <input name="apply_rate" type="text" class="cjy-input- cjy-input-" autocomplete="off" maxlength="9">
                        <span>&nbsp;&nbsp;%</span>
                    </div>
                </div>
                <div class="back_main_item">
                    <label>期望放款时间：</label>
                    <div class="back_main_block">
                        <input name="apply_amount" type="text" class="cjy-input- cjy-input-" autocomplete="off" maxlength="9">
                        <span>&nbsp;&nbsp;天</span>
                    </div>
                </div>
            </div>
            <div class="detail_body_title">选择金融服务商<span style="width: 971px;"></span></div>
            <div class="detail_body_con">
                <div class="back_main_item">
                    <label>金融服务商：</label>
                    <div class="back_main_block">
                        <select name="bank_id">
                            <option value="">金融服务商</option>
                            <option value="1">金融服务商1</option>
                            <option value="2">金融服务商2</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="detail_foot">
            <a href="javascript:;" class="cancel-btn">取消</a>
            <a href="javascript:;" class="confirm-btn">提交申请</a>
        </div>
        <!-- <div class="detail_body">
            <div class="unlogin_bg"></div>
            <p class="unlogin_txt">登录后查看产品简介和申请条件&nbsp;&nbsp;<a href="javascript:;">去登录</a></p>
        </div> -->
    </div>
</div>