.banner_wrap {
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.banner_wrap .banner_bg {
    width: 100%;
    height: 300px;
    background: url(imgs/banner.jpg) center no-repeat;
    background-size: cover;
}
.detail_wap {
    width: 100%;
    padding-bottom: 160px;
}

.detail_container {
    width: 1180px;
    margin: 0 auto;
}

.detail_footer_cell i{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 30px;
    margin-right: 10px;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    text-align: center;
}
.detail_footer_cell i.icon-gongsi{
    background-color: #22c7a5;
}
.detail_footer_cell i.icon-yonghu{
    background-color: #00aefd;
}

.detail_body{
    margin-top: 20px;
    padding: 40px 30px;
    background-color: #fff;
}
.detail_body_title{
    height: 18px;
    line-height: 18px;
    padding-left: 10px;
    border-left: solid 2px #627dfd;
    font-size: 18px;
}
.detail_body_title span{
    display: inline-block;
    width: 1026px;
    margin-left: 10px;
    border-bottom: solid 1px #e5e5e5;
    vertical-align: 6px;
}
.detail_body_con{
    padding: 40px 30px;
}
.detail_body_con p{
    line-height: 20px;
    margin-top: -10px;
    margin-left: 200px;
    margin-bottom: 20px;
    color: #999;
}
.back_main_item {
    margin-bottom: 20px;
}
.intention_form .back_main_item label {
    float: left;
    display: block;
    width: 200px;
    padding: 10px 0;
    line-height: 20px;
    text-align: right;
    font-size: 14px;
    color: #999;
}
.back_main_item .back_main_block{
    margin-left: 200px;
}
.back_main_item .cjy-input-{
    width: 400px;
}
.back_main_item select{
    width: 420px;
}
.back_main_item .cjy-checkbox{
    margin-right: 30px;
}
.detail_body .unlogin_bg{
    width: 185px;
    height: 123px;
    margin: 0 auto;
    background: url('imgs/login.png') no-repeat;
}
.detail_body .unlogin_txt{
    font-size: 14px;
    color: #666;
    text-align: center;
    margin-top: 30px;
}
.detail_foot{
    text-align: right;
}
.detail_foot a{
    display: inline-block;
    min-width: 102px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    border-radius: 4px;
    margin-left: 18px;
    text-align: center;
}
.detail_foot .cancel-btn {
    color: #666;
    background-color: #fff;
    border: 1px solid #ccc;
}
.detail_foot .confirm-btn {
    color: #fff;
    background-color: #fc6940;
    border: 1px solid #ec5b33;
}
.detail_foot .confirm-btn:hover {
    background-color: #f3623a;
    border: 1px solid #e75d36;
}
.unlogin_txt a{
    color: #fc6940;
}
.unlogin_txt a:hover{
    text-decoration: underline;
}