<div class="back_main">
    <div class="back_main_title">
        <span>中标信息</span>
    </div>
    <form>
        <div class="back_main_content">
            <div class="back_info_item clearfix">
                <label class="back_info_title">项目状态：</label>
                <label>结果公示中</label>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title">公示期：</label>
                <label>2019-05-26  14:23:20  ~  2019-05-29  14:23:20</label>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title">招标名称：</label>
                <label name="size">荆门响铃居民点五期项目钢材招标</label>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title">招标单位：</label>
                <label>湖北国际经济技术合作有限公司</label>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title">中标详情：</label>
                <div class="back_box clearfix" style="display: block;">
                    <div class="material_list">
                        <table>
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>中标单位</th>
                                    <th>中标金额（元）</th>
                                    <th>备注</th>
                                </tr>
                            </thead>
                            <tbody>
                               <tr>
                                    <td>1</td>
                                    <td><a href="#" target="_blank" class="textOrange">武汉楚建易网络科技有限公司</a></td>
                                    <td>162,320,000.00</td>
                                    <td>备注备注备注备注备注备注备注备注备注</td>
                                </tr>
                                <tr>
                                    <td colspan="4"><div class="page_list_noneBg"></div><p class="page_list_noneCon" style="width: 100%; margin-bottom: 60px; font-size: 24px; color: rgb(153, 153, 153); text-align: center;">没有找到相关内容</p></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="back_main_title">
        <span>招标信息</span>
    </div>
    <div class="back_main_content clearfix">
        <div class="back_warp">
            <label class="back_info_title">招标名称：</label>
            <label>荆门响铃居民点五期项目钢材招标</label>
        </div>
        <div class="back_warp" style="width: 56%;">
            <label class="back_info_title">招标编号：</label>
            <label>ZBJZ20190515</label>
        </div>
        <div class="back_warp">
            <label class="back_info_title">报名截止时间：</label>
            <label>2019-05-26  14:23:20</label>
        </div>
        <div class="back_warp">
            <label class="back_info_title">投标截止时间：</label>
            <label>2019-05-26  14:23:20</label>
        </div>
        <div class="back_warp">
            <label class="back_info_title">唯一报名渠道：</label>
            <label class="textOrange">生材网</label>
        </div>
    </div>
    <div class="back_main_content">
        <div class="rich_web_txt">
            <p class="18" style="margin-top: 0.0000pt; mso-para-margin-bottom: 1.0000gd; text-align: center; line-height: 19.0000pt; mso-line-height-rule: exactly;" align="center"><strong><span style="font-family: 宋体; font-size: 16pt;"><span style="font-family: 宋体;">邀请函</span></span></strong></p>
<h2 style="margin-top: 0.0000pt; margin-bottom: 0.0000pt; line-height: 150%;"><a name="_Toc523909754"></a><a><strong><span style="font-family: 宋体; font-size: 16pt;">1</span></strong></a><strong><span style="font-family: 宋体; font-size: 16pt;"><span style="font-family: 宋体;">、询价概况：</span></span></strong></h2>
<p class="MsoNormal"><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; font-size: 14.0000pt; mso-font-kerning: 1.0000pt;">1.1<span style="font-family: 宋体;">询价方：</span></span><a href="http://www.so.com/link?m=aWxDyPl7vlvH5qcDeimLqFvWH4iPg9yV4xH3hEp4XhdTV2eFi3M9U8i0NKjMePy/L/w7/ToIC+qqjAneU2vA35tT/ItsiLSNBQsTFRna4lKrgt8bEJvMBQUgPsZoJEKkz2G1IB1jNCcqzAp1i"><span style="mso-spacerun: 'yes'; font-family: 宋体; font-size: 14.0000pt; mso-font-kerning: 1.0000pt;"><span style="font-family: 宋体;">武汉天创市政建设工程有限公司</span></span></a></p>
<p class="MsoNormal"><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; font-size: 14.0000pt; mso-font-kerning: 1.0000pt;">1.2<span style="font-family: 宋体;">项目名称：烽胜路（滨河街</span><span style="font-family: Times New Roman;">~</span><span style="font-family: 宋体;">白沙五路）</span></span></p>
<p class="MsoNormal"><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; font-size: 14.0000pt; mso-font-kerning: 1.0000pt;">1.3<span style="font-family: 宋体;">询价函编号：</span></span><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; font-size: 14.0000pt; mso-font-kerning: 1.0000pt;">HYSZ-ZX-CL-009</span></p>
<h2 style="margin-top: 0.0000pt; margin-bottom: 0.0000pt; line-height: 150%;"><a name="_Toc523909755"></a><a href="http://bid.materialw.com"><strong><span style="font-family: 宋体; font-size: 16pt;">2</span></strong></a><strong><span style="font-family: 宋体; font-size: 16pt;"><span style="font-family: 宋体;">、工程概况</span></span></strong></h2>
<p class="MsoNormal" style="text-indent: 28.0000pt; mso-char-indent-count: 2.0000;"><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; font-size: 14.0000pt; mso-font-kerning: 1.0000pt;"><span style="font-family: 宋体;">本合同段为烽胜路</span>K0+090-K0+915<span style="font-family: 宋体;">段人行道，道路全长</span><span style="font-family: Times New Roman;">825m</span><span style="font-family: 宋体;">。</span></span></p>
<p class="MsoNormal" style="text-indent: 28.0000pt; mso-char-indent-count: 2.0000;"><a name="_Toc523909756"></a><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; font-size: 14.0000pt; mso-font-kerning: 1.0000pt;"><span style="font-family: 宋体;">人行道路面结构步砖</span></span></p>
<p class="MsoNormal" style="text-indent: 28.0000pt; mso-char-indent-count: 2.0000;"><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; font-size: 14.0000pt; mso-font-kerning: 1.0000pt;">8cm<span style="font-family: 宋体;">厚硅砂透水砖（</span><span style="font-family: Times New Roman;">25*25*8</span><span style="font-family: 宋体;">）</span></span></p>
<p class="MsoNormal"><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; font-size: 14.0000pt; mso-font-kerning: 1.0000pt;">&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family: 宋体;">项目地点：</span></span><span style="mso-spacerun: 'yes'; font-family: 宋体; mso-ascii-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; font-size: 14.0000pt; mso-font-kerning: 1.0000pt;"><span style="font-family: 宋体;">烽胜路（滨河街</span>~<span style="font-family: 宋体;">白沙五路）</span></span></p>
<p class="MsoNormal">&nbsp;</p>
<h2 style="margin-top: 0.0000pt; margin-bottom: 0.0000pt; line-height: 150%;"><a name="_Toc523909757"></a><strong><span style="font-family: 宋体; font-size: 16pt;"><span style="font-family: 宋体;">3、报价时间、地点</span></span></strong></h2>
<p class="MsoNormal" style="text-indent: 30.0000pt; mso-char-indent-count: 2.0000; line-height: 150%;"><span style="font-family: 宋体; line-height: 150%; font-size: 15pt;">3.1&nbsp;</span><span style="font-family: 宋体; line-height: 150%; font-size: 15pt;"><span style="font-family: 宋体;">报名截止时间：</span></span><strong><span style="font-family: 宋体; line-height: 150%; font-size: 15pt;">2019年</span></strong><strong><span style="font-family: 宋体; line-height: 150%; font-size: 15pt;">6</span></strong><strong><span style="font-family: 宋体; line-height: 150%; font-size: 15pt;"><span style="font-family: 宋体;">月</span></span></strong><strong><span style="font-family: 宋体; line-height: 150%; font-size: 15pt;">6</span></strong><strong><span style="font-family: 宋体; line-height: 150%; font-size: 15pt;"><span style="font-family: 宋体;">日</span>18：00</span></strong><span style="mso-spacerun: 'yes'; font-family: 宋体; line-height: 150%; font-size: 14.0000pt; mso-font-kerning: 1.0000pt;"><span style="font-family: 宋体;">（北京时间）。</span></span></p>
<p class="MsoNormal" style="text-indent: 30.0000pt; mso-char-indent-count: 2.0000; line-height: 150%;"><span style="font-family: 宋体; line-height: 150%; font-size: 15pt;">3.2 </span><span style="font-family: 宋体; line-height: 150%; font-size: 15pt;"><span style="font-family: 宋体;">递交报价文件截止时间：</span></span><strong><span style="font-family: 宋体; line-height: 150%; font-size: 15pt;">2019年</span></strong><strong><span style="font-family: 宋体; line-height: 150%; font-size: 15pt;">6</span></strong><strong><span style="font-family: 宋体; line-height: 150%; font-size: 15pt;"><span style="font-family: 宋体;">月</span></span></strong><strong><span style="font-family: 宋体; line-height: 150%; font-size: 15pt;">8</span></strong><strong><span style="font-family: 宋体; line-height: 150%; font-size: 15pt;"><span style="font-family: 宋体;">日</span>18：00</span></strong><span style="mso-spacerun: 'yes'; font-family: 宋体; line-height: 150%; font-size: 14.0000pt; mso-font-kerning: 1.0000pt;"><span style="font-family: 宋体;">（北京时间）。</span></span></p>
<p class="MsoNormal" style="text-indent: 28.0000pt; mso-char-indent-count: 2.0000; line-height: 150%;"><span style="font-family: 宋体; line-height: 150%; font-size: 14pt;">3.</span><span style="font-family: 宋体; line-height: 150%; font-size: 14pt;">3</span><span style="font-family: 宋体; line-height: 150%; font-size: 14pt;">&nbsp;<span style="font-family: 宋体;">报价方式：线下递交。</span></span></p>
<p class="MsoNormal" style="text-indent: 28.0000pt; mso-char-indent-count: 2.0000; line-height: 150%;"><span style="mso-spacerun: 'yes'; font-family: 宋体; line-height: 150%; font-size: 14.0000pt; mso-font-kerning: 1.0000pt;">3.</span><span style="mso-spacerun: 'yes'; font-family: 宋体; line-height: 150%; font-size: 14.0000pt; mso-font-kerning: 1.0000pt;">4</span><span style="mso-spacerun: 'yes'; font-family: 宋体; line-height: 150%; font-size: 14.0000pt; mso-font-kerning: 1.0000pt;"><span style="font-family: 宋体;">递交报价文件地点：湖北省武汉市汉阳区夹河路</span>18号（若采用邮寄的方式递交报价文件，建议采用顺丰快递，邮寄地址：湖北省武汉市汉阳区夹河路18号101办公室，收件人：</span><span style="mso-spacerun: 'yes'; font-family: 宋体; line-height: 150%; font-size: 14.0000pt; mso-font-kerning: 1.0000pt;"><span style="font-family: 宋体;">周慧</span></span><span style="mso-spacerun: 'yes'; font-family: 宋体; line-height: 150%; font-size: 14.0000pt; mso-font-kerning: 1.0000pt;"><span style="font-family: 宋体;">，联系电话：</span>1592</span><span style="mso-spacerun: 'yes'; font-family: 宋体; line-height: 150%; font-size: 14.0000pt; mso-font-kerning: 1.0000pt;">6287696</span><span style="mso-spacerun: 'yes'; font-family: 宋体; line-height: 150%; font-size: 14.0000pt; mso-font-kerning: 1.0000pt;"><span style="font-family: 宋体;">）。</span></span></p>
<p class="MsoNormal" style="text-indent: 28.0000pt; mso-char-indent-count: 2.0000; line-height: 150%;"><span style="mso-spacerun: 'yes'; font-family: 宋体; line-height: 150%; font-size: 14.0000pt; mso-font-kerning: 1.0000pt;">3.</span><span style="mso-spacerun: 'yes'; font-family: 宋体; line-height: 150%; font-size: 14.0000pt; mso-font-kerning: 1.0000pt;">5</span><span style="mso-spacerun: 'yes'; font-family: 宋体; line-height: 150%; font-size: 14.0000pt; mso-font-kerning: 1.0000pt;"><span style="font-family: 宋体;">逾期、超时报价或递交其它地方的报价文件视为无效。</span></span></p>
<h2 style="margin-top: 0.0000pt; margin-bottom: 0.0000pt; line-height: 150%;"><a name="_Toc523909758"></a><strong><span style="font-family: 宋体; font-size: 16pt;">4<span style="font-family: 宋体;">、联系方式</span></span></strong></h2>
<p class="MsoNormal" style="text-indent: 28.0000pt; mso-char-indent-count: 2.0000; line-height: 150%;"><span style="mso-spacerun: 'yes'; font-family: 宋体; line-height: 150%; font-size: 14.0000pt; mso-font-kerning: 1.0000pt;"><span style="font-family: 宋体;">联系单位：</span></span><a href="http://www.so.com/link?m=aWxDyPl7vlvH5qcDeimLqFvWH4iPg9yV4xH3hEp4XhdTV2eFi3M9U8i0NKjMePy/L/w7/ToIC+qqjAneU2vA35tT/ItsiLSNBQsTFRna4lKrgt8bEJvMBQUgPsZoJEKkz2G1IB1jNCcqzAp1i"><span style="mso-spacerun: 'yes'; font-family: 宋体; line-height: 150%; font-size: 14.0000pt; mso-font-kerning: 1.0000pt;"><span style="font-family: 宋体;">武汉天创市政建设工程有限公司</span></span></a></p>
<p class="MsoNormal" style="text-indent: 28.0000pt; mso-char-indent-count: 2.0000; line-height: 150%;"><span style="mso-spacerun: 'yes'; font-family: 宋体; line-height: 150%; font-size: 14.0000pt; mso-font-kerning: 1.0000pt;"><span style="font-family: 宋体;">邮寄地址：湖北省武汉市汉阳区夹河路</span>18号101办公室</span></p>
<p class="MsoNormal" style="text-indent: 28.0000pt; mso-char-indent-count: 2.0000; line-height: 150%;"><span style="mso-spacerun: 'yes'; font-family: 宋体; line-height: 150%; font-size: 14.0000pt; mso-font-kerning: 1.0000pt;"><span style="font-family: 宋体;">邮</span> &nbsp;&nbsp;&nbsp;<span style="font-family: 宋体;">编：</span></span><span style="mso-spacerun: 'yes'; font-family: 宋体; line-height: 150%; font-size: 14.0000pt; mso-font-kerning: 1.0000pt;">430000</span><span style="mso-spacerun: 'yes'; font-family: 宋体; line-height: 150%; font-size: 14.0000pt; mso-font-kerning: 1.0000pt;">&nbsp;</span></p>
<p class="MsoNormal" style="text-indent: 28.0000pt; mso-char-indent-count: 2.0000; line-height: 150%;"><span style="mso-spacerun: 'yes'; font-family: 宋体; line-height: 150%; font-size: 14.0000pt; mso-font-kerning: 1.0000pt;"><span style="font-family: 宋体;">联系人：</span></span><span style="mso-spacerun: 'yes'; font-family: 宋体; line-height: 150%; font-size: 14.0000pt; mso-font-kerning: 1.0000pt;"><span style="font-family: 宋体;">周慧</span></span><span style="mso-spacerun: 'yes'; font-family: 宋体; line-height: 150%; font-size: 14.0000pt; mso-font-kerning: 1.0000pt;">&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电话：1592</span><span style="mso-spacerun: 'yes'; font-family: 宋体; line-height: 150%; font-size: 14.0000pt; mso-font-kerning: 1.0000pt;">6287696</span></p>
<p class="MsoNormal" style="text-indent: 28.0000pt; mso-char-indent-count: 2.0000; line-height: 150%;"><span style="mso-spacerun: 'yes'; font-family: 宋体; line-height: 150%; font-size: 14.0000pt; mso-font-kerning: 1.0000pt;">&nbsp;</span></p>
<p class="MsoNormal" style="text-indent: 28.0000pt; mso-char-indent-count: 2.0000; text-align: right; line-height: 150%;" align="right"><span style="mso-spacerun: 'yes'; font-family: 宋体; line-height: 150%; font-size: 14.0000pt; mso-font-kerning: 1.0000pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="http://www.so.com/link?m=aWxDyPl7vlvH5qcDeimLqFvWH4iPg9yV4xH3hEp4XhdTV2eFi3M9U8i0NKjMePy/L/w7/ToIC+qqjAneU2vA35tT/ItsiLSNBQsTFRna4lKrgt8bEJvMBQUgPsZoJEKkz2G1IB1jNCcqzAp1i"><span style="mso-spacerun: 'yes'; font-family: 宋体; line-height: 150%; font-size: 14.0000pt; mso-font-kerning: 1.0000pt;"><span style="font-family: 宋体;">武汉天创市政建设工程有限公司</span></span></a></p>                    </div>
    </div>
</div>