<div class="publish_top_menu">
    <div class="top_menu_left">
        <a class="website_logo" href="/"></a>
    </div>
    <div class="top_menu_right"></div>
</div>
<div class="publish_top_con">
    <div class="publish_top_crumbs">
        <i class="iconfont icon-ditu"></i>
        <a href="#">我的招标</a>
        <span>&nbsp;>&nbsp;发布招标</span>
    </div>
    <ul class="publish_step_wrap clearfix">
        <li class="step_done">
            <span class="line_left"></span>
            <span class="line_right"></span>
            <a href="" class="publish_step_icon">1</a>
            <p class="marginT20 textWhite">采购概况与招标内容</p>
        </li>
        <li class="step_done">
            <span class="line_left"></span>
            <span class="line_right"></span>
            <a href="" class="publish_step_icon">2</a>
            <p class="marginT20 textWhite">资格预审文件</p>
        </li>
        <li class="step_doing">
            <span class="line_left"></span>
            <span class="line_right"></span>
            <a href="" class="publish_step_icon">3</a>
            <p class="marginT20 textWhite">公告</p>
        </li>
        <li class="step_none">
            <span class="line_left"></span>
            <span class="line_right"></span>
            <a href="" class="publish_step_icon">4</a>
            <p class="marginT20 textWhite">招标/询价文件</p>
        </li>
        <li class="step_none">
            <span class="line_left"></span>
            <span class="line_right"></span>
            <a href="" class="publish_step_icon">5</a>
            <p class="marginT20 textWhite">保证金信息</p>
        </li>
        <li class="step_none">
            <span class="line_left"></span>
            <span class="line_right"></span>
            <a href="" class="publish_step_icon">6</a>
            <p class="marginT20 textWhite">开标设置</p>
        </li>
        <li class="step_none">
            <span class="line_left"></span>
            <span class="line_right"></span>
            <a href="" class="publish_step_icon">7</a>
            <p class="marginT20 textWhite">完成发布</p>
        </li>
    </ul>
</div>