<div class="room_container">

</div>
<div class="room_layout">
    <div class="room_box">
        <input type="hidden" name="user_id" value="153198287808012950046">
        <input type="hidden" name="user_name" value="高小盈">
        <input type="hidden" name="user_phone" value="15007137362">
        <div class="room_box_head">
            <i class="iconKBR_big"></i>高小盈（15007137362）
        </div>
        <div class="room_box_body">
            <div class="room_box_left">
                <div class="room_box_con">
                    <p class="room_box_time">2018-12-01 12:30:20</p>
                    <p class="room_box_msg"><span>韩炜峰、周祖军、韩炜峰等 进入在线评标室</span></p>
                    <div class="room_box_other clearfix">
                        <div class="room_box_itemInfo"><i class="iconPBR_big"></i>韩炜峰（15007137362）</div>
                        <div class="room_box_itemCon">大家好！我是技术专家韩炜峰。</div>
                    </div>
                    <div class="room_box_other clearfix">
                        <div class="room_box_itemInfo"><i class="iconJBR_big"></i>张三（15007137362）</div>
                        <div class="room_box_itemCon">大家好！我是主持 人张三。</div>
                    </div>
                    <div class="room_box_mine clearfix">
                        <div class="room_box_itemInfo">高小盈（15007137362）<i class="iconKBR_big"></i></div>
                        <div class="room_box_itemCon">大家好！我是开标人。可以生成一张加密的网络图片,用户需要扫一扫图片上的二维码,支付之后能看到原图,也可以跳转到一个指定的网页。数码工程机、晒图机、柯美彩机... </div>
                    </div>
                    <div class="room_box_other clearfix">
                        <div class="room_box_itemInfo"><i class="iconPBR_big"></i>李四（15007137362）</div>
                        <div class="room_box_itemCon">大家好！我是技术专家李四。</div>
                    </div>
                </div>
                <div class="room_box_pub">
                    <textarea class="room_box_text" placeholder="此处输入您的发言内容"></textarea>
                    <div class="room_box_btns">
                        <a href="javascript:;" class="room_box_close">关闭</a>
                        <a href="javascript:;" class="room_box_enter">发送</a>
                    </div>
                </div>
            </div>
            <div class="room_box_right">
                <div class="room_box_bulletin">
                    <ul>
                        <li>
                            <h1>【系统通知】</h1>
                            <p>投标截止！（2018-12-01 12:30:20）</p>
                        </li>
                        <li>
                            <h1>【系统通知】</h1>
                            <p>投标截止！（2018-12-01 12:30:20）</p>
                        </li>
                    </ul>
                </div>
                <div class="room_box_member">
                    <div class="box_member_title">
                        <span>评标室成员</span>
                    </div>
                    <dl class="box_member_list">
                        <dt>经办人（1/1）<i class="iconJBR_small"></i></dt>
                        <dd>
                            <ul>
                                <li>张三（15007137362）</li>
                            </ul>
                        </dd>
                        <dt>开标人（1/1）<i class="iconKBR_small"></i></dt>
                        <dd>
                            <ul>
                                <li>高小盈（15007137362）</li>
                            </ul>
                        </dd>
                        <dt>评标人（1/1）<i class="iconPBR_small"></i></dt>
                        <dd>
                            <ul>
                                <li>韩炜峰（15007137362）</li>
                                <li>王菲（15007137362）</li>
                                <li class="member_hide">刘小二（15007137362）</li>
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>