<div class="back_main_title">
    <span>商品发布</span>
</div>
<div class="order_process">
    <div class="process_bar_box">
        <div class="process_bar has_bar"></div>
        <div class="process_bar has_bar"></div>
        <div class="process_bar"></div>
    </div>
    <div class="process_wrap">
        <div class="process_box has_process">
            <div class="process_circle">
                <span>1</span>
            </div>
            <p>所属类目</p>
        </div>
        <div class="process_box has_process">
            <div class="process_circle">
                <span>2</span>
            </div>
            <p>基本信息</p>
        </div>
        <div class="process_box">
            <div class="process_circle">
                <span>3</span>
            </div>
            <p>完成</p>
        </div>
    </div>
</div>
<div class="fillin_box">
    <div class="title_box">
        <h3>基本信息</h3>
        <span class="fold_span">收起<i class="iconfont icon-shangjiantou"></i></span>
    </div>
    <div class="fillin_wrap">
        <div class="basic_box">
            <dl class="basic_item clearfix">
                <dt>商品分类：</dt>
                <dd class="basic_dd">
                    <p>劳保用品&nbsp;&#62;&nbsp;防护用品&nbsp;&#62;&nbsp;布手套</p>
                    <button class="basic_edit">编辑</button>
                </dd>
            </dl>
            <dl class="basic_item clearfix">
                <dt>品牌：</dt>
                <dd class="basic_dd">
                    <div class="basic_search">
                        <input type="text" class="cjy-input-" maxlength="15" />
                        <div class="fuzzy_wrap">
                            <ul class="fuzzy_inner">
                                <li title="这是一段联想">这是一段联想</li>
                            </ul>
                        </div>
                    </div>
                    <div class="basic_tips">
                        <p><i class="iconfont icon-i"></i>若没有合适的品牌选项，请自定义填写品牌信息</p>
                    </div>
                </dd>
            </dl>
            <dl class="basic_item clearfix">
                <dt><span>*</span>标题：</dt>
                <dd class="basic_dd">
                    <input type="text" class="cjy-input-" maxlength="30" />
                    <div class="basic_tips">
                        <p><i class="iconfont icon-i"></i>30个字符内，可包含“品名”“品牌”“属性”“仓库”等信息</p>
                    </div>
                </dd>
            </dl>
            <dl class="basic_item clearfix">
                <dt><span>*</span>仓库：</dt>
                <dd class="basic_dd">
                    <select name="" id="">
                        <option value="">请选择</option>
                    </select>
                    <button class="new_warehouse">新增仓库</button>
                </dd>
            </dl>
        </div>
    </div>
</div>
<div class="fillin_box">
    <div class="title_box">
        <h3>交易信息</h3>
        <span class="fold_span">展开<i class="iconfont icon-xiajiantou"></i></span>
    </div>
    <div class="fillin_wrap">
        <div class="trade_box">
            <dl class="trade_item clearfix">
                <dt><span>*</span>计量单位：</dt>
                <dd class="trade_dd">
                    <select name="" id="">
                        <option value="">请选择</option>
                    </select>
                </dd>
            </dl>
            <dl class="trade_item clearfix">
                <dt><span>*</span>商品报价：</dt>
                <dd class="trade_dd">
                    <button class="setting_attr">设置商品属性</button>
                </dd>
            </dl>
            <div class="attr_table">
                <table>
                    <colgroup>
                        <col width="10%">
                        <col width="10%">
                        <col width="26%">
                        <col width="16%">
                        <col width="16%">
                        <col width="16%">
                        <col width="6%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>
                                <span>尺寸</span>
                            </th>
                            <th>
                                <span>颜色</span>
                            </th>
                            <th>
                                <span>购买数量</span>
                                <span class="color999">（计量单位）</span>
                            </th>
                            <th>
                                <span>单价<i class="iconfont icon-wenhao"></i></span>
                                <span class="color999">（元/计量单价）</span>
                            </th>
                            <th>
                                <span>库存总量</span>
                                <span class="color999">（计量单位）</span>
                            </th>
                            <th>
                                <span>库存预警数<i class="iconfont icon-wenhao"></i></span>
                            </th>
                            <th>
                                <span>操作</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="multi_tr">
                            <td>S</td>
                            <td>红</td>
                            <td colspan="2" class="multi_td">
                                <div class="multi_box">
                                    <div class="multi_oprate">
                                        <i class="iconfont icon-jiahao1 add_multi"></i>
                                        <i class="iconfont icon-huishouxiang del_multi"></i>
                                    </div>
                                    <div class="multi_inner clearfix">
                                        <div class="multi_left">
                                            <span class="color999">起订量&nbsp;</span>
                                            <input type="text" class="cjy-input-" maxlength="15" />
                                            <span>&nbsp;及以上</span>
                                        </div>
                                        <div class="multi_right">
                                            <input type="text" class="cjy-input-" maxlength="15" />
                                        </div>
                                    </div>
                                </div>
                                <div class="multi_box">
                                    <div class="multi_oprate">
                                        <i class="iconfont icon-jiahao1 add_multi"></i>
                                        <i class="iconfont icon-huishouxiang del_multi"></i>
                                    </div>
                                    <div class="multi_inner clearfix">
                                        <div class="multi_left">
                                            <span class="color999">起订量&nbsp;</span>
                                            <input type="text" class="cjy-input-" maxlength="15" />
                                            <span>&nbsp;及以上</span>
                                        </div>
                                        <div class="multi_right">
                                            <input type="text" class="cjy-input-" maxlength="15" />
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <input type="text" class="cjy-input-" maxlength="15" />
                            </td>
                            <td>
                                <input type="text" class="cjy-input-" maxlength="15" />
                            </td>
                            <td>
                                <i class="iconfont icon-huishouxiang del_tr"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>S</td>
                            <td>红</td>
                            <td colspan="2" class="multi_td">
                                <div class="multi_box">
                                    <div class="multi_oprate">
                                        <i class="iconfont icon-jiahao1 add_multi"></i>
                                        <i class="iconfont icon-huishouxiang del_multi"></i>
                                    </div>
                                    <div class="multi_inner clearfix">
                                        <div class="multi_left">
                                            <span class="color999">起订量&nbsp;</span>
                                            <input type="text" class="cjy-input-" maxlength="15" />
                                            <span>&nbsp;及以上</span>
                                        </div>
                                        <div class="multi_right">
                                            <input type="text" class="cjy-input-" maxlength="15" />
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <input type="text" class="cjy-input-" maxlength="15" />
                            </td>
                            <td>
                                <input type="text" class="cjy-input-" maxlength="15" />
                            </td>
                            <td>
                                <i class="iconfont icon-huishouxiang del_tr"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>S</td>
                            <td>红</td>
                            <td colspan="2" class="multi_td">
                                <div class="multi_box">
                                    <div class="multi_oprate">
                                        <i class="iconfont icon-jiahao1 add_multi"></i>
                                        <i class="iconfont icon-huishouxiang del_multi"></i>
                                    </div>
                                    <div class="multi_inner clearfix">
                                        <div class="multi_left">
                                            <span class="color999">起订量&nbsp;</span>
                                            <input type="text" class="cjy-input-" maxlength="15" />
                                            <span>&nbsp;及以上</span>
                                        </div>
                                        <div class="multi_right">
                                            <input type="text" class="cjy-input-" maxlength="15" />
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <input type="text" class="cjy-input-" maxlength="15" />
                            </td>
                            <td>
                                <input type="text" class="cjy-input-" maxlength="15" />
                            </td>
                            <td>
                                <i class="iconfont icon-huishouxiang del_tr"></i>
                            </td>
                        </tr>
                        <tr class="multi_tr">
                            <td>S</td>
                            <td>红</td>
                            <td colspan="2" class="multi_td">
                                <div class="multi_box">
                                    <div class="multi_oprate">
                                        <i class="iconfont icon-jiahao1 add_multi"></i>
                                        <i class="iconfont icon-huishouxiang del_multi"></i>
                                    </div>
                                    <div class="multi_inner clearfix">
                                        <div class="multi_left">
                                            <span class="color999">起订量&nbsp;</span>
                                            <input type="text" class="cjy-input-" maxlength="15" />
                                            <span>&nbsp;及以上</span>
                                        </div>
                                        <div class="multi_right">
                                            <input type="text" class="cjy-input-" maxlength="15" />
                                        </div>
                                    </div>
                                </div>
                                <div class="multi_box">
                                    <div class="multi_oprate">
                                        <i class="iconfont icon-jiahao1 add_multi"></i>
                                        <i class="iconfont icon-huishouxiang del_multi"></i>
                                    </div>
                                    <div class="multi_inner clearfix">
                                        <div class="multi_left">
                                            <span class="color999">起订量&nbsp;</span>
                                            <input type="text" class="cjy-input-" maxlength="15" />
                                            <span>&nbsp;及以上</span>
                                        </div>
                                        <div class="multi_right">
                                            <input type="text" class="cjy-input-" maxlength="15" />
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <input type="text" class="cjy-input-" maxlength="15" />
                            </td>
                            <td>
                                <input type="text" class="cjy-input-" maxlength="15" />
                            </td>
                            <td>
                                <i class="iconfont icon-huishouxiang del_tr"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>S</td>
                            <td>红</td>
                            <td colspan="2" class="multi_td">
                                <div class="multi_box">
                                    <div class="multi_oprate">
                                        <i class="iconfont icon-jiahao1 add_multi"></i>
                                        <i class="iconfont icon-huishouxiang del_multi"></i>
                                    </div>
                                    <div class="multi_inner clearfix">
                                        <div class="multi_left">
                                            <span class="color999">起订量&nbsp;</span>
                                            <input type="text" class="cjy-input-" maxlength="15" />
                                            <span>&nbsp;及以上</span>
                                        </div>
                                        <div class="multi_right">
                                            <input type="text" class="cjy-input-" maxlength="15" />
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <input type="text" class="cjy-input-" maxlength="15" />
                            </td>
                            <td>
                                <input type="text" class="cjy-input-" maxlength="15" />
                            </td>
                            <td>
                                <i class="iconfont icon-huishouxiang del_tr"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>S</td>
                            <td>红</td>
                            <td colspan="2" class="multi_td">
                                <div class="multi_box">
                                    <div class="multi_oprate">
                                        <i class="iconfont icon-jiahao1 add_multi"></i>
                                        <i class="iconfont icon-huishouxiang del_multi"></i>
                                    </div>
                                    <div class="multi_inner clearfix">
                                        <div class="multi_left">
                                            <span class="color999">起订量&nbsp;</span>
                                            <input type="text" class="cjy-input-" maxlength="15" />
                                            <span>&nbsp;及以上</span>
                                        </div>
                                        <div class="multi_right">
                                            <input type="text" class="cjy-input-" maxlength="15" />
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <input type="text" class="cjy-input-" maxlength="15" />
                            </td>
                            <td>
                                <input type="text" class="cjy-input-" maxlength="15" />
                            </td>
                            <td>
                                <i class="iconfont icon-huishouxiang del_tr"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <dl class="trade_item clearfix">
                <dt><span>*</span>价格：</dt>
                <dd class="trade_dd">
                    <span class="trade_price">11.00—122.00元/吨</span>
                </dd>
            </dl>
            <dl class="trade_item clearfix">
                <dt><span>*</span>运输说明：</dt>
                <dd class="trade_dd">
                    <textarea class="cjy-textarea" maxlen="600" rows="3" style="width: 600px;"></textarea>
                    <p><i class="iconfont icon-i"></i>填写详细的运输说明，有助于买家第一时间了解运输、运费情况，提升下单率哦</p>
                </dd>
            </dl>
        </div>
    </div>
</div>
<div class="fillin_box">
    <div class="title_box">
        <h3>商品详情</h3>
        <span class="fold_span">展开<i class="iconfont icon-xiajiantou"></i></span>
    </div>
    <div class="fillin_wrap">
        <div class="detail_box">
            <dl class="detail_item clearfix">
                <dt><span>*</span>商品图片：</dt>
                <dd class="detail_dd">
                    <div class="upload_area clearfix">
                        <div class="goods_box">
                            <figure class="goods_photo">
                                <img src="<%= demo1 %>" alt="">
                                <figcaption>默认主图</figcaption>
                                <i class="iconfont icon-cha1 del_this"></i>
                            </figure>
                            <figure class="goods_photo">
                                <img src="<%= demo1 %>" alt="">
                                <figcaption>图2</figcaption>
                                <i class="iconfont icon-cha1 del_this"></i>
                            </figure>
                        </div>
                        <div class="upfile_box">
                            <span class="uploadImg iconfont icon-shangchuanzhaopian"></span>
                            <!-- <label class="upfile_btn" for="uploadFile"></label>
                            <input type="file" name="uploadFile" id="uploadFile" accept="image/*" > -->
                        </div>
                    </div>
                    <div id="process-files-img"></div>
                    <div class="descript_area">
                        <p><i class="iconfont icon-i"></i>1、建议您<span>上传750*750像素以上</span>的实拍大图，<span>最多传5张</span></p>
                        <p class="text_indent">2、排序数即为商品的图片排列显示顺序</p>
                        <p class="text_indent">3、商品图片将在商品详情页中展示</p>
                    </div>
                </dd>
            </dl>
            <dl class="detail_item clearfix">
                <dt><span>*</span>商品描述：</dt>
                <dd class="detail_dd">
                    <div class="tinymceCon"></div>
                    <!-- <textarea class="cjy-textarea" maxlen="3000" rows="3" style="width: 600px;" placeholder="更换为富文本编辑器"></textarea> -->
                </dd>
            </dl>
            <dl class="detail_item marginT20 clearfix">
                <dt></dt>
                <dd class="detail_dd">
                    <span class="js_upload"></span>
                    <!-- <a href="javascript:;" class="upload_btn" style="position: relative;">上传文件<input type="file" id="uploadAffix" name="uploadFile"
                            style="position: absolute;width: 100%;height: 100%;padding: 0;top: 0;right: 0;opacity: 0;cursor: pointer;"></a> -->
                    <span class="textRed">请上传产品质量检验报告 / 产品质量合格证书</span>
                    <div id="process-files"></div>
                    <p class="marginT10"><span class="noticeCon"><span class="noticeBg"><i class="iconfont icon-i"></i></span>请上传产品质量检验报告 / 产品质量合格证书</span></p>
                </dd>
            </dl>
            <dl class="detail_item clearfix">
                <dt></dt>
                <dd class="detail_dd">
                    <ul class="file_con">
                        <li><i class="iconfont icon-fujian"></i><a href="#">这里放名称，点击可预览</a><a class="file_del">删除</a></li>
                        <li><i class="iconfont icon-fujian"></i><a href="#">这里放名称，点击可预览</a><a class="file_del">删除</a></li>
                    </ul>
                </dd>
            </dl>
        </div>
    </div>
</div>
<div class="fillin_box">
    <div class="fillin_btn">
        <a class="fillin_save">保存为待发布</a>
        <a class="fillin_pub">立即发布</a>
    </div>
</div>
<script type="text/javascript">
    function loadScript() {
        var script = document.createElement("script");
        script.src = "https://api.map.baidu.com/api?v=2.0&ak=niKOWVf1YxTrwpcHsbQfsG20&callback=initialize";//此为v2.0版本的引用方式
        document.body.appendChild(script);
    }
    loadScript();
</script>