<div class="room_container">

</div>
<div class="room_layout">
    <div class="room_groupCon">
        <div class="package_con">
            <ul>
                <li class="act">
                    <a href="javascript:;" class="package_cell">包件1（BJBH-001）</a>
                </li>
                <li>
                    <a href="javascript:;" class="package_cell">包件2（BJBH-002）</a>
                </li>
                <li>
                    <a href="javascript:;" class="package_cell">包件3（BJBH-003）</a>
                </li>
            </ul>
        </div>
        <div class="setting_table_con">
            <div class="material_list clearfix">
                <table>
                    <colgroup>
                        <col width="50">
                        <col width="80">
                        <col width="100">
                        <col width="200">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>专家姓名</th>
                            <th>联系方式</th>
                            <th>备注信息</th>
                        </tr>
                    </thead>
                    <tbody class="page_list">
                        <tr>
                            <td>1</td>
                            <td>张三</td>
                            <td>13512554444</td>
                            <td>项目负责人</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>张三</td>
                            <td>13512554444</td>
                            <td>工业与民用建筑、各类基础工程、建筑给排水工业与民用建筑、各类基础工程、建筑给排水</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>张三</td>
                            <td>13512554444</td>
                            <td>物资采购与管理</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>张三</td>
                            <td>13512554444</td>
                            <td>物资采购与管理</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>