<div class="back_main">
    <div class="back_main_title">
        <span>邀请/添加供应商</span>
    </div>
    <div class="back_main_content">
        <div class="back_main_search">
            <label>检索供应商库：</label>
            <input type="text" placeholder="" class="cjy-input-" value="经济技术">
            <a href="javascript:;" class="btn_confirm">确认</a>
        </div>
        <div class="back_list_con hover_done">
            <div class="back_add_item clearfix">
                <div class="back_add_cell">
                    <label class="textBlack3">公司名称：</label>
                    <label class="textOrange">湖北国际经济技术合作有限公司</label>
                </div>
                <div class="back_add_cell">
                    <label class="textBlack3">企业类型：</label>
                    <label>国有企业</label>
                </div>
                <div class="back_add_cell">
                    <label class="textBlack3">员工人数：</label>
                    <label>0-50</label>
                </div>
                <div class="back_add_cell">
                    <label class="textBlack3">是否一般纳税人：</label>
                    <label>是</label>
                </div>
                <div class="back_add_cell">
                    <label class="textBlack3">注册资金：</label>
                    <label>1000万元</label>
                </div>
                <div class="back_add_cell">
                    <label class="textBlack3">公司联系电话：</label>
                    <label>027-5675105</label>
                </div>
                <div class="back_add_cell">
                    <label class="textBlack3">公司地址：</label>
                    <label>湖北省武汉市江岸区</label>
                </div>
                <div class="back_add_cell">
                    <label class="textBlack3">详细地址：</label>
                    <label>三阳路256路</label>
                </div>
                <a href="javascript:;" class="back_item_add">
                    <i class="iconfont icon-jiahao1"></i>
                    <span>申请</span>
                </a>
                <a href="javascript:;" class="back_item_upload">
                    <i class="iconfont icon-fujian"></i>
                    <span>提交材料</span>
                </a>
                <a href="javascript:;" class="back_item_review">
                    <i class="iconfont icon-shenhe"></i>
                    <span>待审核</span>
                </a>
                <a href="javascript:;" class="back_item_done">
                    <i class="iconfont icon-gou"></i>
                    <span>已通过</span>
                </a>
            </div>
        </div>
        <div class="back_list_con hover_add">
            <div class="back_add_item clearfix">
                <div class="back_add_cell">
                    <label class="textBlack3">公司名称：</label>
                    <label class="textOrange">湖北国际经济技术合作有限公司</label>
                </div>
                <div class="back_add_cell">
                    <label class="textBlack3">企业类型：</label>
                    <label>国有企业</label>
                </div>
                <div class="back_add_cell">
                    <label class="textBlack3">员工人数：</label>
                    <label>0-50</label>
                </div>
                <div class="back_add_cell">
                    <label class="textBlack3">是否一般纳税人：</label>
                    <label>是</label>
                </div>
                <div class="back_add_cell">
                    <label class="textBlack3">注册资金：</label>
                    <label>1000万元</label>
                </div>
                <div class="back_add_cell">
                    <label class="textBlack3">公司联系电话：</label>
                    <label>027-5675105</label>
                </div>
                <div class="back_add_cell">
                    <label class="textBlack3">公司地址：</label>
                    <label>湖北省武汉市江岸区</label>
                </div>
                <div class="back_add_cell">
                    <label class="textBlack3">详细地址：</label>
                    <label>三阳路256路</label>
                </div>
                <a href="javascript:;" class="back_item_add">
                    <i class="iconfont icon-jiahao1"></i>
                    <span>申请</span>
                </a>
                <a href="javascript:;" class="back_item_upload">
                    <i class="iconfont icon-fujian"></i>
                    <span>提交材料</span>
                </a>
                <a href="javascript:;" class="back_item_review">
                    <i class="iconfont icon-shenhe"></i>
                    <span>待审核</span>
                </a>
                <a href="javascript:;" class="back_item_done">
                    <i class="iconfont icon-gou"></i>
                    <span>已通过</span>
                </a>
            </div>
        </div>
        <div class="back_list_con hover_upload">
            <div class="back_add_item clearfix">
                <div class="back_add_cell">
                    <label class="textBlack3">公司名称：</label>
                    <label class="textOrange">湖北国际经济技术合作有限公司</label>
                </div>
                <div class="back_add_cell">
                    <label class="textBlack3">企业类型：</label>
                    <label>国有企业</label>
                </div>
                <div class="back_add_cell">
                    <label class="textBlack3">员工人数：</label>
                    <label>0-50</label>
                </div>
                <div class="back_add_cell">
                    <label class="textBlack3">是否一般纳税人：</label>
                    <label>是</label>
                </div>
                <div class="back_add_cell">
                    <label class="textBlack3">注册资金：</label>
                    <label>1000万元</label>
                </div>
                <div class="back_add_cell">
                    <label class="textBlack3">公司联系电话：</label>
                    <label>027-5675105</label>
                </div>
                <div class="back_add_cell">
                    <label class="textBlack3">公司地址：</label>
                    <label>湖北省武汉市江岸区</label>
                </div>
                <div class="back_add_cell">
                    <label class="textBlack3">详细地址：</label>
                    <label>三阳路256路</label>
                </div>
                <a href="javascript:;" class="back_item_add">
                    <i class="iconfont icon-jiahao1"></i>
                    <span>申请</span>
                </a>
                <a href="javascript:;" class="back_item_upload">
                    <i class="iconfont icon-fujian"></i>
                    <span>提交材料</span>
                </a>
                <a href="javascript:;" class="back_item_review">
                    <i class="iconfont icon-shenhe"></i>
                    <span>待审核</span>
                </a>
                <a href="javascript:;" class="back_item_done">
                    <i class="iconfont icon-gou"></i>
                    <span>已通过</span>
                </a>
            </div>
        </div>
        <div class="back_list_con hover_review">
            <div class="back_add_item clearfix">
                <div class="back_add_cell">
                    <label class="textBlack3">公司名称：</label>
                    <label class="textOrange">湖北国际经济技术合作有限公司</label>
                </div>
                <div class="back_add_cell">
                    <label class="textBlack3">企业类型：</label>
                    <label>国有企业</label>
                </div>
                <div class="back_add_cell">
                    <label class="textBlack3">员工人数：</label>
                    <label>0-50</label>
                </div>
                <div class="back_add_cell">
                    <label class="textBlack3">是否一般纳税人：</label>
                    <label>是</label>
                </div>
                <div class="back_add_cell">
                    <label class="textBlack3">注册资金：</label>
                    <label>1000万元</label>
                </div>
                <div class="back_add_cell">
                    <label class="textBlack3">公司联系电话：</label>
                    <label>027-5675105</label>
                </div>
                <div class="back_add_cell">
                    <label class="textBlack3">公司地址：</label>
                    <label>湖北省武汉市江岸区</label>
                </div>
                <div class="back_add_cell">
                    <label class="textBlack3">详细地址：</label>
                    <label>三阳路256路</label>
                </div>
                <a href="javascript:;" class="back_item_add">
                    <i class="iconfont icon-jiahao1"></i>
                    <span>申请</span>
                </a>
                <a href="javascript:;" class="back_item_upload">
                    <i class="iconfont icon-fujian"></i>
                    <span>提交材料</span>
                </a>
                <a href="javascript:;" class="back_item_review">
                    <i class="iconfont icon-shenhe"></i>
                    <span>待审核</span>
                </a>
                <a href="javascript:;" class="back_item_done">
                    <i class="iconfont icon-gou"></i>
                    <span>已通过</span>
                </a>
            </div>
        </div>
    </div>
</div>