<div class="gys_wrap">
    <div class="banner_wrap">
        <div class="banner_crumbs">
            <i class="iconfont icon-ditu"></i>
            当前位置：<a href="#" class="textWhite">找供应商</a>&nbsp;&nbsp;>&nbsp;&nbsp;<span>供应商详情</span>
        </div>
    </div>
    <div class="gys_header">
        <span class="gys_logo_wrap">
            <img src="<%= companyLogo %>">
        </span>
        <p class="fontSize24 fontBold textBlack1">武汉市燃气热力工程有限公司</p>
        <p class="marginT20"><span>联系人：徐晓莹</span><span class="marginL40">联系方式：13476103436</span></p>
        <div class="gys_bid_num">
            <span class="gys_num_cell"><i class="iconfont icon-zhongbiao"></i>历史中标次数：100</span>
            <span class="gys_num_cell marginL10"><i class="iconfont icon-toubiao"></i>参与投标次数：100</span>
        </div>
        <div class="gys_menu">
            <a class="gys_menu_cell marginR60 active" href="javascript:;">供应商基本信息<span class="line"></span></a>
            <a class="gys_menu_cell" href="javascript:;">历史中标/成交记录<span class="line"></span></a>
        </div>
    </div>

    <div class="gys_container">
        <div class="gys_detail_title"><i class="gys_title_circle"></i>企业基本信息</div>
        <div class="gys_info_con bottomBorder clearfix">
            <div class="gys_info_cell">
                <label class="textBlack2">公司规模：</label><span class="textBlack1">50人以下</span>
            </div>
            <div class="gys_info_cell">
                <label class="textBlack2">注册资金：</label><span class="textBlack1">1000000.000万元</span>
            </div>
            <div class="gys_info_cell">
                <label class="textBlack2">企业类型：</label><span class="textBlack1">国有企业</span>
            </div>
            <div class="gys_info_cell">
                <label class="textBlack2">纳税人类型：</label><span class="textBlack1">一般纳税人</span>
            </div>
            <div class="gys_info_block">
                <label class="textBlack2">供应物资分类：</label><span class="gys_product">混凝土管(有筋)</span><span class="gys_product">水泥垫块</span><span class="gys_product">支撑柱</span><span class="gys_product">商品混凝土</span>
            </div>
        </div>
        <div class="gys_info_con clearfix">
            <div class="gys_info_cell">
                <label class="textBlack2">年营业额：</label><span class="textBlack1">500万-1000万</span>
            </div>
            <div class="gys_info_cell">
                <label class="textBlack2">经营区域：</label><span class="textBlack1">湖北省，武汉市</span>
            </div>
            <div class="gys_info_cell">
                <label class="textBlack2">公司地址：</label><span class="textBlack1">湖北省-武汉市-江岸区</span>
            </div>
            <div class="gys_info_cell">
                <label class="textBlack2">公司联系方式：</label><span class="textBlack1">**************</span>
            </div>
            <div class="gys_info_cell">
                <label class="textBlack2">详细地址：</label><span class="textBlack1">麒麟路1001号</span>
            </div>
        </div>
    </div>

    <div class="gys_container" style="display:none;">
        <div class="gys_detail_title"><i class="gys_title_circle"></i>历史记录</div>
        <div class="material_list clearfix">            
            <table>
                <colgroup>
                    <col width="5%">
                    <col width="20%">
                    <col width="10%">
                    <col width="8%">
                    <col width="8%">
                    <col width="8%">
                </colgroup>
                <thead>
                    <th>序号</th>
                    <th>采购名称</th>
                    <th>采购单位</th>
                    <th>采购方式</th>
                    <th>公示时间</th>
                    <th>公示详情</th>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>泽口灌区（潜江部分）续建配套与节水改造工程2019年度项目施工及信息化招标文件澄清通知（005）</td>
                        <td>湖北中路集团</td>
                        <td>公开招标</td>
                        <td>2019-08-09</td>
                        <td><a href="#" class="textBlue">查看详情</a></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>泽口灌区（潜江部分）续建配套与节水改造工程2019年度项目施工及信息化招标文件澄清通知（005）</td>
                        <td>湖北中路集团</td>
                        <td>公开招标</td>
                        <td>2019-08-09</td>
                        <td><a href="#" class="textBlue">查看详情</a></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>泽口灌区（潜江部分）续建配套与节水改造工程2019年度项目施工及信息化招标文件澄清通知（005）</td>
                        <td>湖北中路集团</td>
                        <td>公开招标</td>
                        <td>2019-08-09</td>
                        <td><a href="#" class="textBlue">查看详情</a></td>
                    </tr>
                    <tr v-else><td colspan="6"><div class="page_list_noneBg"></div><p class="page_list_noneCon" style="width: 100%;margin-bottom: 80px;font-size: 24px;color: #999;text-align: center;">暂无历史中标/成交记录〜</p></td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>