<%= header %>
<div id="wrapper">
    <div class="app_warp">
        <div class="app_title_bg">
            <div class="app_title_con">
                <a class="app_logo"></a>
                <div class="floatR"><a href="http://www.materialw.com">生材网首页</a><a href="#" class="act">手机APP</a></div>
            </div>
            <div class="app_download_con">
                <div class="phone_bg"></div>
                <div class="tips_con clearfix">
                    <span class="logo_bg"></span>
                    <span class="logo_tips">生材网APP — <span style="font-size: 24px;">ios版 / Android版同步上线</span></span>
                    <span class="logo_des">海量信息实时更新，您的随身业务管家</span>
                </div>
                <div class="code_con clearfix">
                    <span class="code_bg"><img src="<%= codeImg %>"><p>扫描二维码下载</p></span>
                    <span class="ios_item">
                        <i class="iconfont icon-ios block"></i>
                        <span class="block fontSize24 marginT10" style="font-weight: bolder;">ios</span>
                        <span class="block marginT10">苹果版下载</span>
                        <span class="ios_show">
                            <i class="iconfont icon-ios block"></i>
                            <span class="block fontSize24" style="font-weight: bolder;">ios</span>
                            <a href="#">苹果版下载</a>
                        </span>
                    </span>
                    <span class="android_item">
                        <i class="iconfont icon-android block"></i>
                        <span class="block fontSize24 marginT10" style="font-weight: bolder;">Android</span>
                        <span class="block marginT10">安卓版下载</span>
                        <span class="android_show">
                            <i class="iconfont icon-android block"></i>
                            <span class="block fontSize24" style="font-weight: bolder;">Android</span>
                            <a href="#">安卓版下载</a>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <%= bottomFooter %>
</div>
<%= footer %>