<div class="back_main">
    <div class="back_main_title">
        <span>店铺模板</span>
    </div>
    <div class="back_main_content">
        <div class="template_warp clearfix">
            <div class="template_cell active">
                <div class="template_bg"></div>
                <img src="<%= tplDemo %>">
                <div class="template_used">
                    <i class="iconfont icon-gou"></i>
                    <p>使用中</p>
                </div>
                <a href="javascript:;" class="template_using">一键装修</a>
            </div>
            <div class="template_cell">
                <div class="template_bg"></div>
                <img src="<%= tplDemo %>">
                <div class="template_used">
                    <i class="iconfont icon-gou"></i>
                    <p>使用中</p>
                </div>
                <a href="javascript:;" class="template_using">一键装修</a>
            </div>
            <div class="template_cell">
                <div class="template_bg"></div>
                <img src="<%= tplDemo %>">
                <div class="template_used">
                    <i class="iconfont icon-gou"></i>
                    <p>使用中</p>
                </div>
                <a href="javascript:;" class="template_using">一键装修</a>
            </div>
        </div>
    </div>
</div>