<div class="back_main">
    <div class="back_main_title">
        <span class="active">我的供应商</span>
    </div>
    <div class="back_main_content">
        <div class="back_thin_content">
            <div class="group_item_wrap">
                <div class="group_item_head">
                    <span class="textOrange bold">物资/设备采购</span><span class="fontSize12">（共计 <span class="group_num">10</span> 个分组）</span>
                    <a href="javascript:;" class="group_show"><span>展开</span><i class="iconfont icon-xiajiantou"></i></a>
                    <a href="javascript:;" class="group_push">创建分组</a>
                    <a href="javascript:;" class="group_add">创建分组</a>
                </div>
                <div class="group_item_body">
                    <ul class="group_cell_wrap clearfix">
                        <li><a href="javascript:;">混凝土供应商</a><i class="iconfont icon-cha1"></i><i class="iconfont icon-bianji"></i></li>
                    </ul>
                </div>
            </div>
            <div class="group_item_wrap group_open">
                <div class="group_item_head">
                    <span class="textOrange bold">物资/设备采购</span><span class="fontSize12">（共计 <span class="group_num">10</span> 个分组）</span>
                    <a href="javascript:;" class="group_show"><span>展开</span><i class="iconfont icon-xiajiantou"></i></a>
                    <a href="javascript:;" class="group_push">创建分组</a>
                    <a href="javascript:;" class="group_add">创建分组</a>
                </div>
                <div class="group_item_body">
                    <ul class="group_cell_wrap clearfix">
                        <div style="text-align: center;"><div class="page_list_noneBg"></div><p class="page_list_noneCon" style="width: 100%; margin-bottom: 60px; font-size: 24px; color: rgb(153, 153, 153); text-align: center;">没有找到相关内容</p></div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>