.group_item_head{
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    border-bottom: solid 1px #e5e5e5;
    cursor: pointer;
}
.group_item_head .group_push,.group_item_head .group_add{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin-top: 15px;
    margin-right: 10px;
    padding: 0 12px;
    border-radius: 4px;
    color: #fff;;
    text-align: center;
    float: right;
}
.group_item_head .group_add{
    background-color: #FC6940;
}
.group_item_head .group_add:hover{
    background-color: #f3623a;
}
.group_item_head .group_push{
    background-color: #00B27E;
}
.group_item_head .group_push:hover{
    background-color: #00A776;
}
.group_item_head .group_show{
    margin-left: 10px;
    float: right;
}
.group_item_head .group_show i{
    display: inline-block;
    margin-left: 10px;
    font-size: 12px;
    transition: transform .3s;
}
.group_open .group_item_head .group_show i{
    transform: rotate(180deg);
}

.group_item_body{
    width: 100%;
    height: 0;
    padding: 0;
    background-color: #FDFDFD;
    overflow: hidden;
    transition: all .3s;
}
.group_open .group_item_body{
    height: auto;
    padding: 10px 20px;
    border-bottom: solid 1px #e5e5e5;
}
.group_cell_wrap li{
    position: relative;
    width: 144px;
    height: 28px;
    line-height: 28px;
    padding: 0 12px;
    margin: 10px 20px 10px 0;
    background-color: #F7F7F7;
    border: solid 1px #F7F7F7;
    border-radius: 4px;
    float: left;
}
.group_cell_wrap li a{
    display: inline-block;
    width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break:break-all;
}
.group_cell_wrap li i{
    display: none;
    position: absolute;
    width: 18px;
    height: 18px;
    line-height: 18px;
    right: -8px;
    border-radius: 18px;
    font-size: 10px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
.group_cell_wrap li i.icon-cha1{
    top: -8px;
    background-color: #FD4545;
}
.group_cell_wrap li i.icon-bianji{
    bottom: -8px;
    background-color: #946243;
}
.group_cell_wrap li:hover{
    width: 144px;
    height: 28px;
    line-height: 28px;
    background-color: #FFFBFA;
    border: solid 1px #FC6940;
}
.group_cell_wrap li:hover a{
    color: #FC6940;
}
.group_cell_wrap li:hover i{
    display: inline-block;
}

/* 弹框 */
.groupAddWrap{
    margin: 0 30px;
}

.groupAddWrap .groupTips{
    padding: 5px 10px;
    background-color: #fcfae3;
    border: 1px solid #f7e3a4;
    font-size: 14px;
}
.groupAddWrap .groupTips i.icon-gantanhao{
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin-right: 6px;
    background-color: #50b2f6;
    border-radius: 18px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    vertical-align: 2px;
}
.groupAddWrap textarea{
    padding: 6px;
    border: solid 1px #e5e5e5;
    font-size: 14px;
}