<%= otherTop %>
<div class="publish_wrap">
    <div class="publish_container">
        <div class="publish_head"><span>////////////</span>招标/询价文件<span>////////////</span></div>
        <div class="publish_block clearfix">
            <label><span class="textRed">*</span>标包信息：</label>
            <div class="publish_block_item material_list">
                <table>
                    <colgroup>
                        <col width="10%">
                        <col width="10%">
                        <col width="25%">
                        <col width="15%">
                        <col width="15%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>包件号</th>
                            <th>采购内容</th>
                            <th>招标/询价文件<p class="textBlack3 fontNormal">（附件）</p></th>
                            <th>招标/询价文件费用<p class="textBlack3 fontNormal">（单位“元”，输入0，表示不收费）</p></th>
                            <th>备注<p class="textBlack3 fontNormal">（100字，非必填）</p></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>GC-2009-01</td>
                            <td>刚才</td>
                            <td>
                                <p class="fujian_con"><i class="iconfont icon-fujian"></i><a href="" class="fujian_link">资审文件1.doc</a><a href="javascript:;" class="marginL20 textBlue fujian_del">删除</a></p>
                                <span class="js_upload" id="fujian1"></span>
                                <div id="process-files-fujian1"></div>
                            </td>
                            <td><input type="text" class="cjy-input-"><span class="marginL10">元</span></td>
                            <td style="position: relative;"><textarea></textarea></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="publish_block clearfix">
            <label>收款方式：</label>
            <div class="publish_block_item">
                <input type="checkbox" name="type" title="公对公转账" checked><input type="checkbox" name="type" title="融易付"><input type="checkbox" name="type" title="融易付" disabled>
                <a class="publish_msg_con" style="margin-left: -60px;vertical-align: 2px;"><i class="iconfont icon-i"></i>点击查看什么是融易付？</a>
            </div>
        </div>
        <div class="publish_block clearfix">
            <div class="publish_block_half clearfix">
                <label>开户银行：</label>
                <div class="publish_block_item"><input type="text" class="cjy-input-" placeholder=""></div>
            </div>
            <div class="publish_block_half clearfix">
                <label>银行账户：</label>
                <div class="publish_block_item"><input type="text" class="cjy-input-" placeholder=""><div class="publish_msg_con"><i class="iconfont icon-i"></i>作为资审文件费用的收款账户</div></div>
            </div>
        </div>
        <div class="publish_btn_wrap">
            <a href="javascript:;" class="btn_draft"><i class="iconfont icon-caogaoxiang"></i>保存为草稿</a>
            <a href="javascript:;" class="btn_next floatR">下一步</a>
            <a href="javascript:;" class="btn_back marginR10 floatR">返回上一步</a>
        </div>
    </div>
</div>