<div class="setting_warp">
    <div class="crumbs_con"><i class="iconfont icon-ditu"></i><span class="textBlack1">在线评标室</span>  > 设置评标方案</div>
    <div class="setting_container">
        <ul class="setting_step_con">
            <li>
                <p class="setting_step_title">评标小组</p>
                <p class="setting_step_num">1</p>
            </li>
            <li>
                <p class="setting_step_title">评标细则</p>
                <p class="setting_step_num">2</p>
            </li>
            <li class="active">
                <p class="setting_step_title">完成设置</p>
                <p class="setting_step_num">3</p>
            </li>
        </ul>
        <div class="setting_complete">
            <i class="iconfont icon-gou"></i>
            <p>评标方案设置完成！</p>
            <a href="javascript:;" class="setting_btn_back">返回首页</a>
        </div>
    </div>
</div>