<div class="back_main">
    <div class="back_main_title">
        <span>修改密码</span>
    </div>
    <div class="back_main_content">
        <div class="back_main_item">
            <label><span>*</span>输入旧密码：</label>
            <div class="back_main_block">
                <input type="password" class="cjy-input-" placeholder="请输入旧密码" autocomplete="off">
            </div>
        </div>
        <div class="back_main_item">
            <label><span>*</span>设置新密码：</label>
            <div class="back_main_block">
                <input type="password" class="cjy-input-" placeholder="请输入新密码" autocomplete="off">
            </div>
        </div>
        <div class="back_main_item">
            <label><span>*</span>确认密码：</label>
            <div class="back_main_block">
                <input type="password" class="cjy-input-" placeholder="确认密码必须与之前密码一致" autocomplete="off">
            </div>
        </div>
    </div>
    <div class="back_main_btns clearfix">
        <a class="btn_confirm floatR" href="javascript:;">保存</a>
    </div>
</div>