<div class="back_main">
    <div class="back_main_title">
        <span>轮播广告</span>
    </div>
    <div class="back_main_content">
        <div class="admgmt_table">
            <table>
                <thead>
                    <tr>
                        <th class="w30">序号</th>
                        <th class="w239">广告名称</th>
                        <th class="w80">广告类型</th>
                        <th class="w80">广告位置</th>
                        <th class="w80">广告图片</th>
                        <th class="w30">轮播顺序</th>
                        <th class="w80">广告状态</th>
                        <th class="w140">顺序调整</th>
                        <th class="w80">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td><p class="ellipsis" title="应收账款">应收账款应收账款应收账款应收账款</p></td>
                        <td>首页轮播</td>
                        <td>首页轮播1</td>
                        <td>
                            <div class="table_img">
                                <img src="">
                            </div>
                        </td>
                        <td>1</td>
                        <td>
                            <a class="shelf_btn" href="javascript:;">上架</a>
                        </td>
                        <td>
                            <button class="up_btn">上移</button>
                            <button class="down_btn">下移</button>
                        </td>
                        <td>
                            <a class="edit_btn" href="javascript:;">编辑</a>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><p class="ellipsis" title="应收账款">应收账款应收账款应收账款应收账款</p></td>
                        <td>首页轮播</td>
                        <td>首页轮播2</td>
                        <td>
                            <div class="table_img">
                                <img src="">
                            </div>
                        </td>
                        <td>2</td>
                        <td>
                            <a class="shelf_btn" href="javascript:;">上架</a>
                        </td>
                        <td>
                            <button class="up_btn">上移</button>
                            <button class="down_btn">下移</button>
                        </td>
                        <td>
                            <a class="edit_btn" href="javascript:;">编辑</a>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td><p class="ellipsis" title="应收账款">应收账款应收账款应收账款应收账款</p></td>
                        <td>首页轮播</td>
                        <td>首页轮播3</td>
                        <td>
                            <div class="table_img">
                                <img src="">
                            </div>
                        </td>
                        <td>3</td>
                        <td>
                            <a class="shelf_btn" href="javascript:;">上架</a>
                        </td>
                        <td>
                            <button class="up_btn">上移</button>
                            <button class="down_btn">下移</button>
                        </td>
                        <td>
                            <a class="edit_btn" href="javascript:;">编辑</a>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td><p class="ellipsis" title="应收账款">应收账款应收账款应收账款应收账款</p></td>
                        <td>首页轮播</td>
                        <td>首页轮播4</td>
                        <td>
                            <div class="table_img">
                                <img src="">
                            </div>
                        </td>
                        <td>4</td>
                        <td>
                            <a class="shelf_btn" href="javascript:;">上架</a>
                        </td>
                        <td>
                            <button class="up_btn">上移</button>
                            <button class="down_btn">下移</button>
                        </td>
                        <td>
                            <a class="edit_btn" href="javascript:;">编辑</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>