<div class="buyer_bread">
    <p class="buyer_bread_p">
        <i class="iconfont icon-ditu"></i><span>订单管理</span><span>&nbsp;&gt;&nbsp;</span><span class="order_code">订单编号：<b>SCW2018091200001</b></span>
    </p>
</div>
<div class="order_process">
    <div class="process_bar_box">
        <div class="process_bar has_bar"></div>
        <div class="process_bar"></div>
        <div class="process_bar"></div>
        <div class="process_bar"></div>
    </div>
    <div class="process_wrap">
        <div class="process_box has_process">
            <div class="process_circle">
                <i class="iconfont icon-dingdan"></i>
            </div>
            <dl class="process_intro">
                <dt class="process_txt">等待商家确认订单</dt>
                <dd class="process_date">2018-09-13 17:17:50</dd>
            </dl>
        </div>
        <div class="process_box has_process">
            <div class="process_circle">
                <i class="iconfont icon-zhifu"></i>
            </div>
            <dl class="process_intro">
                <dt class="process_txt">等待买家支付货款</dt>
                <dd class="process_date">2018-09-13 17:17:50</dd>
            </dl>
        </div>
        <div class="process_box">
            <div class="process_circle">
                <i class="iconfont icon-huoche"></i>
            </div>
            <dl class="process_intro">
                <dt class="process_txt">等待商家发货</dt>
                <dd class="process_date"></dd>
            </dl>
        </div>
        <div class="process_box">
            <div class="process_circle">
                <i class="iconfont icon-shouhuo"></i>
            </div>
            <dl class="process_intro">
                <dt class="process_txt">等待买家确认收货</dt>
                <dd class="process_date"></dd>
            </dl>
        </div>
        <div class="process_box">
            <div class="process_circle">
                <i class="iconfont icon-chenggong"></i>
            </div>
            <dl class="process_intro">
                <dt class="process_txt">交易成功</dt>
                <dd class="process_date"></dd>
            </dl>
        </div>
    </div>
</div>
<div class="order_state_wrap">
    <div class="order_state_inner">
        <p>当前订单状态：等待商家发货</p>
        <ul>
            <li>请在<span class="countdown">170412</span>完成付款，超时订单自动关闭</li>
            <li>如果您不想购买，可以&nbsp;&nbsp;&nbsp;&nbsp;<a class="cancel_order" href="javascript:;">取消订单</a></li>
        </ul>
        <a class="click_fee" href="javascript:;">点击付款</a>
    </div>
</div>
<div class="back_main_title">
    <span>我的订单</span>
</div>
<div class="order_detail">
    <div class="order_item clearfix">
        <div class="order_left width84">
            <div class="order_top">
                <h3>收货信息</h3>
            </div>
            <dl>
                <dt>所在单位：</dt>
                <dd>湖北省楚建易网络科技有限公司采购商</dd>
            </dl>
            <dl>
                <dt>项目名称：</dt>
                <dd>沌口大桥项目部001 或 暂未填写</dd>
            </dl>
            <dl>
                <dt>到货截止日期：</dt>
                <dd>2018-09-18&nbsp;&nbsp;12:30</dd>
            </dl>
            <dl>
                <dt>收货人：</dt>
                <dd>杨洋</dd>
            </dl>
            <dl>
                <dt>收货地址：</dt>
                <dd>湖北省&nbsp;江岸区&nbsp;三阳路&nbsp;新长江国际A座21楼</dd>
            </dl>
            <dl>
                <dt>手机：</dt>
                <dd>13476103437</dd>
            </dl>
            <dl>
                <dt>电话：</dt>
                <dd>—</dd>
            </dl>
        </div>
        <div class="order_right width48">
            <div class="order_top">
                <h3>商家信息</h3>
            </div>
            <dl>
                <dt>商家：</dt>
                <dd>湖北省楚建易网络科技有限公司</dd>
            </dl>
            <dl>
                <dt>联系人：</dt>
                <dd>杨洋洋<a class="connect_qq" href="javascript:;"><i class="iconfont icon-QQ"></i>咨询</a></dd>
            </dl>
            <dl>
                <dt>手机：</dt>
                <dd>13476103437</dd>
            </dl>
            <dl>
                <dt>电话：</dt>
                <dd>027-67678888</dd>
            </dl>
        </div>
    </div>
    <div class="order_item">
        <div class="order_top">
            <h3>商品清单</h3>
        </div>
        <div class="goods_item">
            <table class="goods_box">
                <colgroup>
                    <col width="40%" />
                    <col width="15%" />
                    <col width="15%" />
                    <col width="15%" />
                    <col width="15%" />
                </colgroup>
                <thead>
                    <tr>
                        <th class="goods_intro_th">商品信息</th>
                        <th>仓库</th>
                        <th>单价</th>
                        <th>数量</th>
                        <th>小计</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="goods_intro_box">
                            <div class="goods_intro clearfix">
                                <figure class="goods_photo">
                                    <img src="<%= goods01 %>" />
                                </figure>       
                                <div class="goods_name">
                                    <p>易切削钢12L14贵钢易切削钢12L14</p>
                                    <span>品牌名</span>
                                </div>
                                <div class="goods_attr">
                                    <dl class="clearfix">
                                        <dt>规格：</dt>
                                        <dd class="ellipsis" title="98M">98M</dd>
                                    </dl>
                                    <dl class="clearfix">
                                        <dt>颜色：</dt>
                                        <dd class="ellipsis" title="红色">红色</dd>
                                    </dl>
                                    <dl class="clearfix">
                                        <dt>其他属性：</dt>
                                        <dd class="ellipsis" title="属性值超长省略">属性值超长省略号</dd>
                                    </dl>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p>阳逻库</p>
                            <p>（商家承运）</p>
                        </td>
                        <td><span>￥15.00/片</span></td>
                        <td><span>23</span></td>
                        <td><span>￥1500.00</span></td>
                    </tr>
                </tbody>
            </table>
            <div class="goods_footer clearfix">
                <div class="goods_footer_left">
                    <span>买家留言：</span>
                    <p>这里显示买家下单时填写的留言内容这里显示买家下单时填写的留言内容这里显示买家下单时填写的留言内容这里显示买家下单时填写的留言内容</p>
                </div>
                <div class="goods_footer_right">
                    <span class="goods_cate">支付方式：线上支付</span>
                    <div class="clac_funds">
                        <p>运费：￥1.00</p>
                        <p>商品总金额：￥92,000.00</p>
                        <p class="goods_shiji">实付总额<span class="shuoming_txt">（含运费）</span>：<span class="money_sysbol">￥<b>60.00</b></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="order_item clearfix">
        <div class="order_left width84">
            <div class="order_top">
                <h3>发票信息</h3>
            </div>
            <dl>
                <dt>发票类型：</dt>
                <dd>一票制增值税专用发票</dd>
            </dl>
            <dl>
                <dt>发票抬头：</dt>
                <dd>湖北省楚建易网络科技有限公司</dd>
            </dl>
            <dl>
                <dt>纳税人识别号：</dt>
                <dd>4729682860296092</dd>
            </dl>
            <dl>
                <dt>开户银行：</dt>
                <dd>建设银行江岸支行</dd>
            </dl>
            <dl>
                <dt>开户银行账号：</dt>
                <dd>账号信息</dd>
            </dl>
            <dl>
                <dt>注册地址：</dt>
                <dd>湖北省&nbsp;江岸区&nbsp;三阳路&nbsp;新长江国际大厦A座</dd>
            </dl>
            <dl>
                <dt>注册电话：</dt>
                <dd>13476103436</dd>
            </dl>
        </div>
        <div class="order_right width60">
            <div class="order_top">
                <h3>收票信息</h3>
            </div>
            <dl>
                <dt>收票地址：</dt>
                <dd>杨洋湖北省 江岸区 三阳路 新长江国际大厦A座</dd>
            </dl>
            <dl>
                <dt>收票人：</dt>
                <dd>杨洋</dd>
            </dl>
        </div>
    </div>
</div>