<div class="findgys_wrap">
    <div class="findgys_header">
        <div class="findgys_search_type">
            <a href="javascript:;" class="findgys_search_nav active">供应商单位名称<span class="line"></span></a>
            <a href="javascript:;" class="findgys_search_nav marginL10">物资分类名称<span class="line"></span></a>
        </div>
        <div class="findgys_search_box">
            <div class="findgys_search_con">
                <input type="text" class="findgys_search_input" placeholder="输入关键字，如湖北路桥">
                <a href="javascript:;" class="iconfont icon-sousuo"></a>
            </div>
            <a class="findgys_search_clear iconfont icon-qingchu"></a>
        </div>
        <div class="findgys_menu_con clearfix">
            <span class="findgys_menu_cell active">
                <i class="iconfont icon-quanbuleixing"></i>
                <span>全部供应商</span>
            </span>
            <span class="findgys_menu_cell">
                <i class="iconfont icon-wuzicaigou1"></i>
                <span>物资设备<i class="iconfont icon-xiajiantou"></i></span>
                <div class="findgys_menu_tree">
                    <div class="menu_tree_con clearfix">
                        <div class="menu_tree_lvlFirst">
                            <ul>
                                <li><a href="javascript:;">黑色制品<i class="iconfont icon-youjiantou"></i></a></li>
                                <li><a href="javascript:;">黑色制品<i class="iconfont icon-youjiantou"></i></a></li>
                                <li><a href="javascript:;">黑色制品<i class="iconfont icon-youjiantou"></i></a></li>
                                <li><a href="javascript:;">黑色制品<i class="iconfont icon-youjiantou"></i></a></li>
                                <li><a href="javascript:;">黑色制品<i class="iconfont icon-youjiantou"></i></a></li>
                                <li><a href="javascript:;">黑色制品<i class="iconfont icon-youjiantou"></i></a></li>
                                <li><a href="javascript:;">黑色制品<i class="iconfont icon-youjiantou"></i></a></li>
                                <li><a href="javascript:;">黑色制品<i class="iconfont icon-youjiantou"></i></a></li>
                                <li><a href="javascript:;">黑色制品<i class="iconfont icon-youjiantou"></i></a></li>
                                <li><a href="javascript:;">黑色制品<i class="iconfont icon-youjiantou"></i></a></li>
                                <li><a href="javascript:;">黑色制品<i class="iconfont icon-youjiantou"></i></a></li>
                            </ul>
                        </div>
                        <div class="menu_tree_lvlOther">
                            <div class="menu_tree_block clearfix">
                                <span class="tree_lvlOther_title">
                                    <a href="javascript:;" class="ellipsis">不锈钢</a>
                                    <i class="iconfont icon-youjiantou"></i>
                                </span>
                                <div class="tree_lvlOther_con">
                                    <a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a>
                                </div>
                            </div>
                            <div class="menu_tree_block clearfix">
                                <span class="tree_lvlOther_title">
                                    <a href="javascript:;" class="ellipsis">不锈钢</a>
                                    <i class="iconfont icon-youjiantou"></i>
                                </span>
                                <div class="tree_lvlOther_con">
                                    <a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a>
                                    <a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </span>
            <span class="findgys_menu_cell">
                <i class="iconfont icon-laowufenbao"></i>
                <span>劳务分包</span>
                <div class="findgys_menu_tree">
                    <div class="menu_tree_con clearfix">
                        <div class="menu_tree_lvlFirst">
                            <ul>
                                <li><a href="javascript:;">黑色制品<i class="iconfont icon-youjiantou"></i></a></li>
                                <li><a href="javascript:;">黑色制品<i class="iconfont icon-youjiantou"></i></a></li>
                                <li><a href="javascript:;">黑色制品<i class="iconfont icon-youjiantou"></i></a></li>
                                <li><a href="javascript:;">黑色制品<i class="iconfont icon-youjiantou"></i></a></li>
                                <li><a href="javascript:;">黑色制品<i class="iconfont icon-youjiantou"></i></a></li>
                                <li><a href="javascript:;">黑色制品<i class="iconfont icon-youjiantou"></i></a></li>
                                <li><a href="javascript:;">黑色制品<i class="iconfont icon-youjiantou"></i></a></li>
                                <li><a href="javascript:;">黑色制品<i class="iconfont icon-youjiantou"></i></a></li>
                                <li><a href="javascript:;">黑色制品<i class="iconfont icon-youjiantou"></i></a></li>
                            </ul>
                        </div>
                        <div class="menu_tree_lvlOther">
                            <div class="menu_tree_block clearfix">
                                <span class="tree_lvlOther_title">
                                    <a href="javascript:;" class="ellipsis">不锈钢</a>
                                    <i class="iconfont icon-youjiantou"></i>
                                </span>
                                <div class="tree_lvlOther_con">
                                    <a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a>
                                </div>
                            </div>
                            <div class="menu_tree_block clearfix">
                                <span class="tree_lvlOther_title">
                                    <a href="javascript:;" class="ellipsis">不锈钢</a>
                                    <i class="iconfont icon-youjiantou"></i>
                                </span>
                                <div class="tree_lvlOther_con">
                                    <a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a>
                                    <a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </span>
            <span class="findgys_menu_cell">
                <i class="iconfont icon-zhuanyefenbao"></i>
                <span>专业分包<i class="iconfont icon-xiajiantou"></i></span>
                <div class="findgys_menu_tree">
                    <div class="menu_tree_con clearfix">
                        <div class="menu_tree_lvlFirst">
                            <ul>
                                <li><a href="javascript:;">黑色制品<i class="iconfont icon-youjiantou"></i></a></li>
                                <li><a href="javascript:;">黑色制品<i class="iconfont icon-youjiantou"></i></a></li>
                                <li><a href="javascript:;">黑色制品<i class="iconfont icon-youjiantou"></i></a></li>
                                <li><a href="javascript:;">黑色制品<i class="iconfont icon-youjiantou"></i></a></li>
                                <li><a href="javascript:;">黑色制品<i class="iconfont icon-youjiantou"></i></a></li>
                                <li><a href="javascript:;">黑色制品<i class="iconfont icon-youjiantou"></i></a></li>
                                <li><a href="javascript:;">黑色制品<i class="iconfont icon-youjiantou"></i></a></li>
                                <li><a href="javascript:;">黑色制品<i class="iconfont icon-youjiantou"></i></a></li>
                                <li><a href="javascript:;">黑色制品<i class="iconfont icon-youjiantou"></i></a></li>
                            </ul>
                        </div>
                        <div class="menu_tree_lvlOther">
                            <div class="menu_tree_block clearfix">
                                <span class="tree_lvlOther_title">
                                    <a href="javascript:;" class="ellipsis">不锈钢</a>
                                    <i class="iconfont icon-youjiantou"></i>
                                </span>
                                <div class="tree_lvlOther_con">
                                    <a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a>
                                </div>
                            </div>
                            <div class="menu_tree_block clearfix">
                                <span class="tree_lvlOther_title">
                                    <a href="javascript:;" class="ellipsis">不锈钢</a>
                                    <i class="iconfont icon-youjiantou"></i>
                                </span>
                                <div class="tree_lvlOther_con">
                                    <a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a>
                                    <a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a>
                                </div>
                            </div>
                            <div class="menu_tree_block clearfix">
                                <span class="tree_lvlOther_title">
                                    <a href="javascript:;" class="ellipsis">不锈钢</a>
                                    <i class="iconfont icon-youjiantou"></i>
                                </span>
                                <div class="tree_lvlOther_con">
                                    <a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a>
                                    <a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a>
                                </div>
                            </div>
                            <div class="menu_tree_block clearfix">
                                <span class="tree_lvlOther_title">
                                    <a href="javascript:;" class="ellipsis">不锈钢</a>
                                    <i class="iconfont icon-youjiantou"></i>
                                </span>
                                <div class="tree_lvlOther_con">
                                    <a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a>
                                    <a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a>
                                </div>
                            </div>
                            <div class="menu_tree_block clearfix">
                                <span class="tree_lvlOther_title">
                                    <a href="javascript:;" class="ellipsis">不锈钢</a>
                                    <i class="iconfont icon-youjiantou"></i>
                                </span>
                                <div class="tree_lvlOther_con">
                                    <a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a>
                                    <a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </span>
            <span class="findgys_menu_cell">
                <i class="iconfont icon-shigongzongchengbao"></i>
                <span>施工总承包<i class="iconfont icon-xiajiantou"></i></span>
                <div class="findgys_menu_tree">
                    <div class="menu_tree_con clearfix">
                        <div class="menu_tree_lvlFirst">
                            <ul>
                                <li><a href="javascript:;">黑色制品<i class="iconfont icon-youjiantou"></i></a></li>
                                <li><a href="javascript:;">黑色制品<i class="iconfont icon-youjiantou"></i></a></li>
                                <li><a href="javascript:;">黑色制品<i class="iconfont icon-youjiantou"></i></a></li>
                                <li><a href="javascript:;">黑色制品<i class="iconfont icon-youjiantou"></i></a></li>
                                <li><a href="javascript:;">黑色制品<i class="iconfont icon-youjiantou"></i></a></li>
                                <li><a href="javascript:;">黑色制品<i class="iconfont icon-youjiantou"></i></a></li>
                                <li><a href="javascript:;">黑色制品<i class="iconfont icon-youjiantou"></i></a></li>
                                <li><a href="javascript:;">黑色制品<i class="iconfont icon-youjiantou"></i></a></li>
                                <li><a href="javascript:;">黑色制品<i class="iconfont icon-youjiantou"></i></a></li>
                            </ul>
                        </div>
                        <div class="menu_tree_lvlOther">
                            <div class="menu_tree_block clearfix">
                                <span class="tree_lvlOther_title">
                                    <a href="javascript:;" class="ellipsis">不锈钢</a>
                                    <i class="iconfont icon-youjiantou"></i>
                                </span>
                                <div class="tree_lvlOther_con">
                                    <a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a>
                                </div>
                            </div>
                            <div class="menu_tree_block clearfix">
                                <span class="tree_lvlOther_title">
                                    <a href="javascript:;" class="ellipsis">不锈钢</a>
                                    <i class="iconfont icon-youjiantou"></i>
                                </span>
                                <div class="tree_lvlOther_con">
                                    <a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a>
                                    <a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </span>
            <span class="findgys_menu_cell">
                <i class="iconfont icon-shejizixunfuwu"></i>
                <span>设计/咨询/服务<i class="iconfont icon-xiajiantou"></i></span>
                <div class="findgys_menu_tree">
                    <div class="menu_tree_con clearfix">
                        <div class="menu_tree_lvlFirst">
                            <ul>
                                <li><a href="javascript:;">黑色制品<i class="iconfont icon-youjiantou"></i></a></li>
                                <li><a href="javascript:;">黑色制品<i class="iconfont icon-youjiantou"></i></a></li>
                                <li><a href="javascript:;">黑色制品<i class="iconfont icon-youjiantou"></i></a></li>
                                <li><a href="javascript:;">黑色制品<i class="iconfont icon-youjiantou"></i></a></li>
                                <li><a href="javascript:;">黑色制品<i class="iconfont icon-youjiantou"></i></a></li>
                                <li><a href="javascript:;">黑色制品<i class="iconfont icon-youjiantou"></i></a></li>
                                <li><a href="javascript:;">黑色制品<i class="iconfont icon-youjiantou"></i></a></li>
                                <li><a href="javascript:;">黑色制品<i class="iconfont icon-youjiantou"></i></a></li>
                                <li><a href="javascript:;">黑色制品<i class="iconfont icon-youjiantou"></i></a></li>
                            </ul>
                        </div>
                        <div class="menu_tree_lvlOther">
                            <div class="menu_tree_block clearfix">
                                <span class="tree_lvlOther_title">
                                    <a href="javascript:;" class="ellipsis">不锈钢</a>
                                    <i class="iconfont icon-youjiantou"></i>
                                </span>
                                <div class="tree_lvlOther_con">
                                    <a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a>
                                </div>
                            </div>
                            <div class="menu_tree_block clearfix">
                                <span class="tree_lvlOther_title">
                                    <a href="javascript:;" class="ellipsis">不锈钢</a>
                                    <i class="iconfont icon-youjiantou"></i>
                                </span>
                                <div class="tree_lvlOther_con">
                                    <a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a>
                                    <a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a><a href="javasript:;">LED光电玻璃</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </span>
        </div>
    </div>
    <div class="findgys_body">
        <div class="findgys_crumbs_wrap">
            <div class="findgys_crumbs">
                <i class="iconfont icon-ditu"></i>
                当前类别：<a href="#">物资设备</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;<span>铁素不锈钢</span>
            </div>
        </div>
        <div class="findgys_select_wrap">
            <a class="findgys_select">
                <span>不限省份</span><i class="iconfont icon-xiajiantou"></i>
                <dl name="province_code">
                    <dd class="active">不限省份</dd>
                </dl>
            </a>
            <a class="findgys_select marginL30">
                <span>不限市/州</span><i class="iconfont icon-xiajiantou"></i>
                <dl name="city_code">
                    <dd class="active">不限市/州</dd>
                </dl>
            </a>
            <a class="findgys_sort marginL30">年营业额<span class="line"></span></a>
            <a class="findgys_sort marginL30">注册资金<span class="line"></span></a>
            <a class="findgys_sort active">默认排序<span class="line"></span></a>
        </div>
        <div class="findgys_list clearfix">
            <div class="findgys_cell">
                <div class="findgys_name">
                    <i class="iconfont icon-gongsi1"></i>
                    <a href="#">北京志诚易达智能系统集成有限公司</a>
                </div>
                <div class="findgys_info clearfix">
                    <div class="findgys_info_cell half"><label>注册资金：</label><span class="textBlack1 fontBold">1000万</span></div>
                    <div class="findgys_info_cell half"><label>年营业额：</label><span class="textBlack1 fontBold">100万</span></div>
                    <div class="findgys_info_cell half"><label>联系方式：</label><span class="textBlack1 fontBold">13429820545</span></div>
                    <div class="findgys_info_cell half"><label>公司地址：</label><span class="textBlack1 fontBold">湖北省-武汉市</span></div>
                    <div class="findgys_info_cell"><label class="floatL">供应物资：</label><div class="scope_list"><span class="findgys_product" v-for=>混凝土管(有筋)</span><span class="findgys_product">水泥垫块</span><span class="findgys_product">支撑柱</span><span class="findgys_product">商品混凝土</span><span class="findgys_product">商品混凝土</span></div><span class="findgys_ellipsis">...</span></div>
                </div>
                <div class="findgys_num clearfix">
                    <div class="findgys_num_cell">
                        <i class="iconfont icon-zhongbiao"></i>
                        <span class="block marginB6 fontSize18 textBlack1 fontBold">19</span>
                        <span>历史中标数</span>
                    </div>
                    <div class="findgys_num_cell">
                        <i class="iconfont icon-toubiao"></i>
                        <span class="block marginB6 fontSize18 textBlack1 fontBold">25</span>
                        <span>参与投标数</span>
                    </div>
                </div>
            </div>
            <div class="findgys_cell">
                <div class="findgys_name">
                    <i class="iconfont icon-gongsi1"></i>
                    <a href="#">北京志诚易达智能系统集成有限公司</a>
                </div>
                <div class="findgys_info clearfix">
                    <div class="findgys_info_cell half"><label>注册资金：</label><span class="textBlack1 fontBold">1000万</span></div>
                    <div class="findgys_info_cell half"><label>年营业额：</label><span class="textBlack1 fontBold">100万</span></div>
                    <div class="findgys_info_cell half"><label>联系方式：</label><span class="textBlack1 fontBold">13429820545</span></div>
                    <div class="findgys_info_cell half"><label>公司地址：</label><span class="textBlack1 fontBold">湖北省-武汉市</span></div>
                    <div class="findgys_info_cell"><label>供应物资：</label><span class="findgys_product">混凝土管(有筋)</span><span class="findgys_product">水泥垫块</span><span class="findgys_product">支撑柱</span><span class="findgys_product">商品混凝土</span></div>
                </div>
                <div class="findgys_num clearfix">
                    <div class="findgys_num_cell">
                        <i class="iconfont icon-zhongbiao"></i>
                        <span class="block marginB6 fontSize18 textBlack1 fontBold">19</span>
                        <span>历史中标数</span>
                    </div>
                    <div class="findgys_num_cell">
                        <i class="iconfont icon-toubiao"></i>
                        <span class="block marginB6 fontSize18 textBlack1 fontBold">25</span>
                        <span>参与投标数</span>
                    </div>
                </div>
            </div>
            <div class="findgys_cell">
                <div class="findgys_name">
                    <i class="iconfont icon-gongsi1"></i>
                    <a href="#">北京志诚易达智能系统集成有限公司</a>
                </div>
                <div class="findgys_info clearfix">
                    <div class="findgys_info_cell half"><label>注册资金：</label><span class="textBlack1 fontBold">1000万</span></div>
                    <div class="findgys_info_cell half"><label>年营业额：</label><span class="textBlack1 fontBold">100万</span></div>
                    <div class="findgys_info_cell half"><label>联系方式：</label><span class="textBlack1 fontBold">13429820545</span></div>
                    <div class="findgys_info_cell half"><label>公司地址：</label><span class="textBlack1 fontBold">湖北省-武汉市</span></div>
                    <div class="findgys_info_cell"><label>供应物资：</label><span class="findgys_product">混凝土管(有筋)</span><span class="findgys_product">水泥垫块</span><span class="findgys_product">支撑柱</span><span class="findgys_product">商品混凝土</span></div>
                </div>
                <div class="findgys_num clearfix">
                    <div class="findgys_num_cell">
                        <i class="iconfont icon-zhongbiao"></i>
                        <span class="block marginB6 fontSize18 textBlack1 fontBold">19</span>
                        <span>历史中标数</span>
                    </div>
                    <div class="findgys_num_cell">
                        <i class="iconfont icon-toubiao"></i>
                        <span class="block marginB6 fontSize18 textBlack1 fontBold">25</span>
                        <span>参与投标数</span>
                    </div>
                </div>
            </div>
            <div class="findgys_cell">
                <div class="findgys_name">
                    <i class="iconfont icon-gongsi1"></i>
                    <a href="#">北京志诚易达智能系统集成有限公司</a>
                </div>
                <div class="findgys_info clearfix">
                    <div class="findgys_info_cell half"><label>注册资金：</label><span class="textBlack1 fontBold">1000万</span></div>
                    <div class="findgys_info_cell half"><label>年营业额：</label><span class="textBlack1 fontBold">100万</span></div>
                    <div class="findgys_info_cell half"><label>联系方式：</label><span class="textBlack1 fontBold">13429820545</span></div>
                    <div class="findgys_info_cell half"><label>公司地址：</label><span class="textBlack1 fontBold">湖北省-武汉市</span></div>
                    <div class="findgys_info_cell"><label>供应物资：</label><span class="findgys_product">混凝土管(有筋)</span><span class="findgys_product">水泥垫块</span><span class="findgys_product">支撑柱</span><span class="findgys_product">商品混凝土</span></div>
                </div>
                <div class="findgys_num clearfix">
                    <div class="findgys_num_cell">
                        <i class="iconfont icon-zhongbiao"></i>
                        <span class="block marginB6 fontSize18 textBlack1 fontBold">19</span>
                        <span>历史中标数</span>
                    </div>
                    <div class="findgys_num_cell">
                        <i class="iconfont icon-toubiao"></i>
                        <span class="block marginB6 fontSize18 textBlack1 fontBold">25</span>
                        <span>参与投标数</span>
                    </div>
                </div>
            </div>
            <div class="findgys_cell">
                <div class="findgys_name">
                    <i class="iconfont icon-gongsi1"></i>
                    <a href="#">北京志诚易达智能系统集成有限公司</a>
                </div>
                <div class="findgys_info clearfix">
                    <div class="findgys_info_cell half"><label>注册资金：</label><span class="textBlack1 fontBold">1000万</span></div>
                    <div class="findgys_info_cell half"><label>年营业额：</label><span class="textBlack1 fontBold">100万</span></div>
                    <div class="findgys_info_cell half"><label>联系方式：</label><span class="textBlack1 fontBold">13429820545</span></div>
                    <div class="findgys_info_cell half"><label>公司地址：</label><span class="textBlack1 fontBold">湖北省-武汉市</span></div>
                    <div class="findgys_info_cell"><label>供应物资：</label><span class="findgys_product">混凝土管(有筋)</span><span class="findgys_product">水泥垫块</span><span class="findgys_product">支撑柱</span><span class="findgys_product">商品混凝土</span></div>
                </div>
                <div class="findgys_num clearfix">
                    <div class="findgys_num_cell">
                        <i class="iconfont icon-zhongbiao"></i>
                        <span class="block marginB6 fontSize18 textBlack1 fontBold">19</span>
                        <span>历史中标数</span>
                    </div>
                    <div class="findgys_num_cell">
                        <i class="iconfont icon-toubiao"></i>
                        <span class="block marginB6 fontSize18 textBlack1 fontBold">25</span>
                        <span>参与投标数</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>