<div class="back_main">
    <div class="back_main_title">
        <span>邀请供应商</span>
        <span>审批列表</span>
        <span class="active">加入要求</span>
    </div>
    <div class="back_main_content">
        <div class="back_main_notice clearfix">
            <div class="clearfix">
                <span class="noticeBg floatL"><i class="iconfont icon-i"></i></span>
                <p class="floatL">加入要求，将作为邀请函的一部分发送给供应商</p>
            </div>
        </div>
        <div class="back_main_list" id="supplier">
            <div class="material_list">
                <table>
                    <colgroup>
                        <col width="50">
                        <col width="200">
                        <col width="200">
                        <col width="250">
                        <col width="100">
                        <col width="100">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>邀请函名称</th>
                        <th>适用类别</th>
                        <th>邀请函概要</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody class="page_list">
                        <td>1</td>
                        <td><a href="#" class="textBlue">物资/设备邀请函</a></td>
                        <td>物资设备采购</td>
                        <td><span class="ellipsis">邀请函正文部分截取显示一行···</span></td>
                        <td>正在使用</td>
                        <td><a href="javascript:;" class="textOrange">编辑</a></td>
                    </tbody>
                </table>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>