<div class="back_main">
    <div class="back_main_notice clearfix">
        <div class="clearfix"><span class="noticeBg floatL"><i class="iconfont icon-i"></i></span><p class="floatL">贵公司还不是生材网会员哦，申请成为会员后才能报名参加平台上的独家招投标！<a href="#" class="textOrange">立即申请</a></p></div>
    </div>
    <div class="back_main_bg"></div>
    <p class="fontSize24">欢迎来到采购商中心！</p>
    <p class="fontSize16 textBlack3">在这里您可以随时进行企业项目、招标项目的维护与跟踪。</p>
</div>