<div class="room_container">
    <input type="hidden" name="tender_id" value="137086">
    <div class="bidLine_container">
        <ul>
            <li class="line_done" style="margin-left: -90px;"><span class="line_inner"><i class="iconfont icon-xinfeng"></i></span></li>
            <li class="line_done"><span class="line_inner"><i class="iconfont icon-maikefeng"></i></span></li>
            <li class="line_done"><span class="line_inner"><i class="iconfont icon-ren1"></i></span></li>
            <li class="line_act"><span class="line_inner"><i class="iconfont icon-fenxi"></i></span></li>
            <li class="line_none"><span class="line_inner"></span></li>
            <li class="line_none"><span class="line_inner"></span></li>
            <li class="line_none"><span class="line_inner"></span></li>
        </ul>
    </div>
    <p class="jiantou"><i class="iconfont icon-xiajiantou"></i></p>
    <div class="room_title">汇总</div>
    <div class="room_tips">
        <span class="room_tips_arrow"></span>
        <p class="textC">结果应用：待定中</p>
    </div>
    <div class="room_btns">
        <a class="room_btn_reset">开启2轮报价</a>
        <a class="room_btn_publish">发布公示</a>
    </div>
</div>