<div class="back_main">
    <div class="back_main_title">
        <span>公司信息</span>
    </div>
    <div class="back_main_content">
        <div class="cInfo_warp">
            <div class="cInfo_cell">
                <div class="cInfo_cell_title">
                    <span>基本信息</span>
                    <a href="javascript:;" class="showCon open"><span>收起</span><i class="iconfont icon-xiajiantou"></i></a>
                </div>
                <div class="cInfo_cell_con">
                    <div class="cInfo_cell_line">
                        <label>公司名称：</label>
                        <div class="cInfo_cell_block">湖北省楚建易网络科技有限公司</div>
                    </div>
                    <div class="cInfo_cell_line">
                        <label>公司简称：</label>
                        <div class="cInfo_cell_block"><input type="text" class="cjy-input-"></div>
                    </div>
                    <div class="cInfo_cell_line">
                        <label>公司性质：</label>
                        <div class="cInfo_cell_block">国有企业</div>
                    </div>
                    <div class="cInfo_cell_line">
                        <label>公司规模：</label>
                        <div class="cInfo_cell_block">150-200 人</div>
                    </div>
                </div>
                <div class="cInfo_cell_title">
                    <span>经营信息</span>
                    <a href="javascript:;" class="showCon open"><span>收起</span><i class="iconfont icon-xiajiantou"></i></a>
                </div>
                <div class="cInfo_cell_con">
                    <div class="cInfo_cell_line">
                        <label><span class="textRed">*</span> 主营产品：</label>
                        <div class="cInfo_cell_block">
                            <input type="text" cjy-autoInput autoVal='贝雷,钢支撑' style="width:800px;">
                            <div class="cInfo_cell_tips"><i class="iconfont icon-i"></i>每个产品间用逗号隔开，如：螺纹钢，贝雷片，螺旋焊管，最多填写20个。</div>
                        </div>
                    </div>
                </div>
                <div class="cInfo_cell_title">
                    <span>公司展示</span>
                    <a href="javascript:;" class="showCon open"><span>收起</span><i class="iconfont icon-xiajiantou"></i></a>
                </div>
                <div class="cInfo_cell_con">
                    <div class="cInfo_cell_line">
                        <label>公司logo：</label>
                        <div class="cInfo_cell_block">
                            <span class="js_upload"></span>
                            <!-- <a href="javascript:;" class="logoUpload">点击上传<input type="file" id="logo" name="uploadFile" style="position: absolute;width: 100%;height: 100%;top: 0;right: 0;opacity: 0;cursor: pointer;"></a> -->
                            <span class="cInfo_cell_tips"><i class="iconfont icon-i"></i>支持jpg / jepg / png</span>
                            <div id="process-files"></div>
                            <div class="logo_img clearfix">
                                <div class="img_default">
                                    <img src="<%= noPic %>">
                                </div>
                            </div>
                            <input type="hidden" name="logo" value="83e9e19136ecf37fd878462ed9640150.png">
                        </div>
                    </div>
                    <div class="cInfo_cell_line">
                        <label class="marginT10"><span class="textRed">*</span> 公司简介：</label>
                        <div class="cInfo_cell_block marginT20">
                            <textarea class="cjy-textarea" name="content" maxlen="800" rows="10"></textarea>
                            <div class="cInfo_cell_tips">
                                <i class="iconfont icon-i floatL"></i>
                                <div class="floatL">
                                    <p>1、请用中文填写您公司的公司概况、成立历史、主营产品、品牌、服务等 优势</p>
                                    <p>2、详细的介绍更容易让买家产生信任感，仔细的填写将达</p>
                                    <p>3、公司简介将在店铺展示</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cInfo_cell_title">
                    <span>联系信息</span>
                    <a href="javascript:;" class="showCon open"><span>收起</span><i class="iconfont icon-xiajiantou"></i></a>
                </div>
                <div class="cInfo_cell_con">
                    <div class="cInfo_cell_line">
                        <label>公司联系方式：</label>
                        <div class="cInfo_cell_block">027-5675150</div>
                    </div>
                    <div class="cInfo_cell_line">
                        <label>公司地址：</label>
                        <div class="cInfo_cell_block">湖北省武汉市江岸区</div>
                    </div>
                    <div class="cInfo_cell_line">
                        <label>公司地址：</label>
                        <div class="cInfo_cell_block">解放大道678号新长江国际A座21楼</div>
                    </div>
                    <div class="cInfo_cell_line">
                        <label><span class="textRed">*</span> 联系人：</label>
                        <div class="cInfo_cell_block"><input type="text" class="cjy-input-"></div>
                    </div>
                    <div class="cInfo_cell_line">
                        <label><span class="textRed">*</span> 手机：</label>
                        <div class="cInfo_cell_block"><input type="text" class="cjy-input-"></div>
                    </div>
                    <div class="cInfo_cell_line">
                        <label><span class="textRed">*</span> QQ：</label>
                        <div class="cInfo_cell_block"><input type="text" class="cjy-input-"></div>
                    </div>
                    <div class="cInfo_cell_line">
                        <label>传真：</label>
                        <div class="cInfo_cell_block"><input type="text" class="cjy-input-" placeholder="区号" style="width:45px;margin-right:10px;"><input
                                type="text" class="cjy-input-" placeholder="号码" style="width:201px;"></div>
                    </div>
                    <div class="cInfo_cell_line">
                        <label>邮编：</label>
                        <div class="cInfo_cell_block"><input type="text" class="cjy-input-"></div>
                    </div>
                    <div class="cInfo_cell_line">
                        <label>企业邮箱：</label>
                        <div class="cInfo_cell_block"><input type="text" class="cjy-input-"></div>
                    </div>
                    <div class="cInfo_cell_line">
                        <label>官网：</label>
                        <div class="cInfo_cell_block"><input type="text" class="cjy-input-"></div>
                    </div>
                </div>
            </div>
            <div class="cInfo_btn">
                    <a href="javascript:;" class="cInfo_btn_save">保存</a>
                <a href="javascript:;" class="cInfo_btn_clear">清空</a>
            </div>
        </div>
    </div>
</div>