<div class="breadcrumbs_wrap">
    <div class="breadcrumbs_inner">
        <%= backCrumbs %>
    </div>
    <div class="find_gys_wrap">
        <div class="find_gys_header">
            <div class="find_gys_logo">
                <img src="<%= companyLogo %>" />
            </div>
            <h1>湖北国际经济技术合作有限公司<i class="iconfont icon-vip"></i></h1>
        </div>
        <div class="find_gys_content">
            <div class="find_gys_item">
                <h2>供应商基本信息</h2>
                <span class="find_gys_line"></span>
            </div>
            <ul class="find_gys_pro">
                <li class="gys_pro_li">
                    <span class="gys_pro_title">公司规模：</span>
                    <span class="gys_pro_name">50人以下</span>
                </li>
                <li class="gys_pro_li">
                    <span class="gys_pro_title">注册资金：</span>
                    <span class="gys_pro_name">1000万元</span>
                </li>
                <li class="gys_pro_li">
                    <span class="gys_pro_title">企业类型：</span>
                    <span class="gys_pro_name">股份合作企业</span>
                </li>
                <li class="gys_pro_li">
                    <span class="gys_pro_title">纳税人类型：</span>
                    <span class="gys_pro_name">一般纳税人</span>
                </li>
                <li class="gys_pro_li">
                    <span class="gys_pro_title">年营业额：</span>
                    <span class="gys_pro_name">5000万-1亿</span>
                </li>
                <li class="gys_pro_li">
                    <span class="gys_pro_title">供应物资分类：</span>
                    <span class="gys_pro_name marginT6">
                        <b>黑色及有色金属1</b><b>黑色及有色金属2</b><b>黑色及有色金属3</b><b>材料1</b>
                    </span>
                </li>
                <li class="gys_pro_li">
                    <span class="gys_pro_title">公司联系方式：</span>
                    <span class="gys_pro_name">027-8888888</span>
                </li>
                <li class="gys_pro_li">
                    <span class="gys_pro_title">公司地址：</span>
                    <span class="gys_pro_name">湖北省-武汉市-洪山区</span>
                </li>
                <li class="gys_pro_li">
                    <span class="gys_pro_title">详细地址：</span>
                    <span class="gys_pro_name">珞喻路1037号</span>
                </li>
            </ul>
            <div class="find_gys_item">
                <h2>历史中标/成交记录</h2>
                <span class="find_gys_line"></span>
            </div>
            <div class="zb_history">
                <table class="zb_history_table">
                    <thead>
                        <tr>
                            <th class="w42">序号</th>
                            <th class="w204">标书名称</th>
                            <th class="w222">招标名称</th>
                            <th class="w284">招标单位</th>
                            <th class="w82">招标方式</th>
                            <th class="w200">公示时间</th>
                            <th class="w82">公示详情</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr>
                            <td>1</td>
                            <td><p>投标时填写的标书名称</p></td>
                            <td><p>聚合物抗裂砂浆采购招标</p></td>
                            <td><p>湖北国际经济技术合作有限公司</p></td>
                            <td>邀请招标</td>
                            <td>2018-06-30  12:00:00</td>
                            <td><a class="zb_view" href="javascript:;">查看</a></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><p>投标时填写的标书名称</p></td>
                            <td><p>聚合物抗裂砂浆采购招标</p></td>
                            <td><p>湖北国际经济技术合作有限公司</p></td>
                            <td>邀请招标</td>
                            <td>2018-06-30  12:00:00</td>
                            <td><a class="zb_view" href="javascript:;">查看</a></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td><p>投标时填写的标书名称</p></td>
                            <td><p>聚合物抗裂砂浆采购招标</p></td>
                            <td><p>湖北国际经济技术合作有限公司</p></td>
                            <td>邀请招标</td>
                            <td>2018-06-30  12:00:00</td>
                            <td><a class="zb_view" href="javascript:;">查看</a></td>
                        </tr> -->
                        <tr>
                            <td colspan="7">
                                <div class="no_history_record"></div>
                                <p class="no_history_txt">没有找到相关内容</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="find_gys_item">
                <h2>历史交易评价</h2>
                <div class="zh_rate_area">
                    <b>综合评价：</b>
                    <i class="zh_rate_cell big_star90"></i>
                    <strong class="zh_rate_num">5</strong><span> / 5</span>
                </div>
                <span class="find_gys_line"></span>
            </div>
            <div class="comment_area page_list" company_id="10020">
                <div class="comment_item">
                    <div class="comment_head clearfix">
                        <div class="comment_info">
                            <h3>匿名</h3>
                            <p class="comment_pro"><span>涉及采购项目：</span><b>未公开</b></p>
                        </div>
                        <div class="comment_rate_area">
                            <i class="rate_cell small_star90"></i>
                            <strong class="rate_num">5</strong><span> / 5</span>
                            <div class="rate_update">2018-08-08 12:00:00&nbsp;&nbsp;更新</div>
                        </div>
                    </div>
                    <div class="evaluate_box clearfix">
                        <div class="evaluate_item">
                            <span class="evaluate_type">价格优势：</span>
                            <div class="evaluate_star_box clearfix">
                                <dl class="evaluate_star">
                                    <dt class="evaluate_cell evaluate_red"></dt>
                                    <dd class="evaluate_txt">（极差）</dd>
                                </dl>
                                <dl class="evaluate_star">
                                    <dt class="evaluate_cell evaluate_red"></dt>
                                    <dd class="evaluate_txt">（较差）</dd>
                                </dl>
                                <dl class="evaluate_star">
                                    <dt class="evaluate_cell evaluate_red"></dt>
                                    <dd class="evaluate_txt">（一般）</dd>
                                </dl>
                                <dl class="evaluate_star">
                                    <dt class="evaluate_cell evaluate_red"></dt>
                                    <dd class="evaluate_txt">（良好）</dd>
                                </dl>
                                <dl class="evaluate_star">
                                    <dt class="evaluate_cell evaluate_gray"></dt>
                                    <dd class="evaluate_txt">（优秀）</dd>
                                </dl>
                            </div>
                        </div>
                        <div class="evaluate_item">
                            <span class="evaluate_type">产品质量：</span>
                            <div class="evaluate_star_box clearfix">
                                <dl class="evaluate_star">
                                    <dt class="evaluate_cell evaluate_red"></dt>
                                    <dd class="evaluate_txt">（极差）</dd>
                                </dl>
                                <dl class="evaluate_star">
                                    <dt class="evaluate_cell evaluate_red"></dt>
                                    <dd class="evaluate_txt">（较差）</dd>
                                </dl>
                                <dl class="evaluate_star">
                                    <dt class="evaluate_cell evaluate_red"></dt>
                                    <dd class="evaluate_txt">（一般）</dd>
                                </dl>
                                <dl class="evaluate_star">
                                    <dt class="evaluate_cell evaluate_red"></dt>
                                    <dd class="evaluate_txt">（良好）</dd>
                                </dl>
                                <dl class="evaluate_star">
                                    <dt class="evaluate_cell evaluate_gray"></dt>
                                    <dd class="evaluate_txt">（优秀）</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="comment_display">
                        <div class="comment_content">
                            <p>会议认为，今年以来，各地区各部门按照党中央部署，坚持稳中求进工作总基调，贯彻新发展理念，落实高质量发展要求，以供给侧结构性改革为主线，着力打好防范化解重大风险、精准脱贫、污染防治三大攻坚战，加快改革开放步伐，上半年经济保持了总体平稳、稳中向好态势。主要宏观调控指标处在合理区间，经济结构持续优化，防范化解金融风险取得初步成效，生态环境改善，人民群众获得感、幸福感、安全感增强。</p>
                            <div class="comment_time">2018-08-08 12:00:00</div>
                        </div>
                        <div class="comment_content">
                            <p>会议认为，今年以来，各地区各部门按照党中央部署，坚持稳中求进工作总基调，贯彻新发展理念，落实高质量发展要求，以供给侧结构性改革为主线，着力打好防范化解重大风险、精准脱贫、污染防治三大攻坚战，加快改革开放步伐，上半年经济保持了总体平稳、稳中向好态势。主要宏观调控指标处在合理区间，经济结构持续优化，防范化解金融风险取得初步成效，生态环境改善，人民群众获得感、幸福感、安全感增强。</p>
                            <div class="comment_time">2018-08-08 12:00:00</div>
                        </div>
                    </div>
                    <div class="rate_flex_btn">
                        <i class="comment_i iconfont icon-xiajiantou"></i>
                    </div>
                </div>
                <div class="comment_item">
                    <div class="comment_head clearfix">
                        <div class="comment_info">
                            <h3>匿名</h3>
                            <p class="comment_pro"><span>涉及采购项目：</span><b>未公开</b></p>
                        </div>
                        <div class="comment_rate_area">
                            <i class="rate_cell small_star90"></i>
                            <strong class="rate_num">5</strong><span> / 5</span>
                            <div class="rate_update">2018-08-08 12:00:00&nbsp;&nbsp;更新</div>
                        </div>
                    </div>
                    <div class="evaluate_box clearfix">
                        <div class="evaluate_item">
                            <span class="evaluate_type">价格优势：</span>
                            <div class="evaluate_star_box clearfix">
                                <dl class="evaluate_star">
                                    <dt class="evaluate_cell evaluate_red"></dt>
                                    <dd class="evaluate_txt">（极差）</dd>
                                </dl>
                                <dl class="evaluate_star">
                                    <dt class="evaluate_cell evaluate_red"></dt>
                                    <dd class="evaluate_txt">（较差）</dd>
                                </dl>
                                <dl class="evaluate_star">
                                    <dt class="evaluate_cell evaluate_red"></dt>
                                    <dd class="evaluate_txt">（一般）</dd>
                                </dl>
                                <dl class="evaluate_star">
                                    <dt class="evaluate_cell evaluate_red"></dt>
                                    <dd class="evaluate_txt">（良好）</dd>
                                </dl>
                                <dl class="evaluate_star">
                                    <dt class="evaluate_cell evaluate_gray"></dt>
                                    <dd class="evaluate_txt">（优秀）</dd>
                                </dl>
                            </div>
                        </div>
                        <div class="evaluate_item">
                            <span class="evaluate_type">产品质量：</span>
                            <div class="evaluate_star_box clearfix">
                                <dl class="evaluate_star">
                                    <dt class="evaluate_cell evaluate_red"></dt>
                                    <dd class="evaluate_txt">（极差）</dd>
                                </dl>
                                <dl class="evaluate_star">
                                    <dt class="evaluate_cell evaluate_red"></dt>
                                    <dd class="evaluate_txt">（较差）</dd>
                                </dl>
                                <dl class="evaluate_star">
                                    <dt class="evaluate_cell evaluate_red"></dt>
                                    <dd class="evaluate_txt">（一般）</dd>
                                </dl>
                                <dl class="evaluate_star">
                                    <dt class="evaluate_cell evaluate_red"></dt>
                                    <dd class="evaluate_txt">（良好）</dd>
                                </dl>
                                <dl class="evaluate_star">
                                    <dt class="evaluate_cell evaluate_gray"></dt>
                                    <dd class="evaluate_txt">（优秀）</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="comment_display">
                        <div class="comment_content">
                            <p>会议认为，今年以来，各地区各部门按照党中央部署，坚持稳中求进工作总基调，贯彻新发展理念，落实高质量发展要求，以供给侧结构性改革为主线，着力打好防范化解重大风险、精准脱贫、污染防治三大攻坚战，加快改革开放步伐，上半年经济保持了总体平稳、稳中向好态势。主要宏观调控指标处在合理区间，经济结构持续优化，防范化解金融风险取得初步成效，生态环境改善，人民群众获得感、幸福感、安全感增强。</p>
                            <div class="comment_time">2018-08-08 12:00:00</div>
                        </div>
                        <div class="comment_content">
                            <p>会议认为，今年以来，各地区各部门按照党中央部署，坚持稳中求进工作总基调，贯彻新发展理念，落实高质量发展要求，以供给侧结构性改革为主线，着力打好防范化解重大风险、精准脱贫、污染防治三大攻坚战，加快改革开放步伐，上半年经济保持了总体平稳、稳中向好态势。主要宏观调控指标处在合理区间，经济结构持续优化，防范化解金融风险取得初步成效，生态环境改善，人民群众获得感、幸福感、安全感增强。</p>
                            <div class="comment_time">2018-08-08 12:00:00</div>
                        </div>
                    </div>
                    <div class="rate_flex_btn">
                        <i class="comment_i iconfont icon-xiajiantou"></i>
                    </div>
                </div>
            </div>
            <div id="pages" class="page_container_wrap" size="10" total=""></div>
        </div>
    </div>
</div>