<div class="detail_wap">
    <div class="detail_container">
        <div class="detail_crumbs">
            <a href="#">首页</a>
            <span> > </span>
            <span>产品详情</span>
        </div>
        <div class="detail_header clearfix">
            <img src="<%= detailEq %>">
            <div class="detail_header_con">
                <div class="detail_header_title">
                    <span class="fontSize18">销商动态融资</span>
                    <span class="detail_title_tips">贷款类</span>
                    <a class="detail_title_btn">有意向</a>
                    <span class="detail_done_btn">已记录意向</span>
                </div>
                <div class="detail_header_des">
                    <span class="detail_des_cell">
                        <p class="fontSize20 textBlack1">500-200万</p>
                        <p class="textBlack3 marginT14">贷款金额</p>
                    </span>
                    <span class="detail_des_cell">
                        <p class="fontSize20 textBlack1">6-12个月</p>
                        <p class="textBlack3 marginT14">还款期限</p>
                    </span>
                    <span class="detail_des_cell">
                        <p class="fontSize20 textBlack1">8%</p>
                        <p class="textBlack3 marginT14">贷款年利率</p>
                    </span>
                    <span class="detail_des_cell">
                        <p class="fontSize20 textBlack1">等额本息</p>
                        <p class="textBlack3 marginT14">还款方式</p>
                    </span>
                    <span class="detail_des_cell">
                        <p class="fontSize20 textBlack1">应收账款</p>
                        <p class="textBlack3 marginT14">担保方式</p>
                    </span>
                </div>
            </div>
            <div class="detail_header_footer">
                <span class="detail_footer_cell">
                    <i class="iconfont icon-gongsi"></i>
                    <a href="#">建设银行</a>
                    <span> / </span>
                    <a href="#">官方信息</a>
                </span>
                <span class="detail_footer_cell">
                    <i class="iconfont icon-yonghu"></i>
                    <span>张华</span>
                    <span> / </span>
                    <span>18123876985</span>
                </span>
            </div>
        </div>
        <div class="detail_body">
            <div class="detail_body_title">产品简介<span></span></div>
            <div class="detail_body_con">
                <p>是指授信申请人将自己或第三方合法拥有的、合格的、分散的应收账款集合起来，形成相对稳定的应收账款余额“池”，以池内现有的和未来一段时间内多笔应收账款整体质押给我行作为授信偿还的主担保手段，我行根据应收账款池中余额的一定比例给予融资的授信业务。</p>
                <p>适用对象</p>
                <p>交易链上游的小企业、小企业主或个体工商户。</p>
                <p>授信额度</p>
                <p>根据应收账款的质量、借款人的经营、财务和资信状况等因素综合确定，质押率一般不超过80%。</p>
                <p>授信期限</p>
                <p>授信期限最长2年。</p>
                <p>产品特点</p>
                <p>借款人可以一个或多个债务人形成的多笔合格的应收账款整体质押申请融资，融资余额与应收账款池中的有效应收账款具有对应关系，池内单笔应收账款之间允许替换。具有如下特点：</p>
                <p>• 以商业信用为基础</p>
                <p>• 以真实的交易为基础</p>
                <p>• 授信额度循环使用</p>
                <p>• 简化操作，降低成本</p>
            </div>
            <div class="detail_body_title">申请条件<span></span></div>
            <div class="detail_body_con">
                <p>身份要求&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;企业主或个体户</p>
                <p>年龄要求&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;25周岁 - 60周岁</p>
                <p>本市居住&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本市居住时长 ≥ 12个月</p>
                <p>持股比例&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;持股比例 ≥ 40%</p>
                <p>经营地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;与贷款城市一致</p>
                <p>营业执照&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;营业执照年限 ≥ 36个月</p>
                <p>所属行业&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;接受融资申请的行业：信息技术行业或教育或生物医药或能源生产和供应业或节能环保或水利等公共设施管理业</p>
                <p>个人征信&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;记录良好无逾期或近3个月有逾期或近半年有逾期或近1年有逾期或近2年有逾期</p>
                <p>房产要求&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;要求有房</p>
                <p>房产位置&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中心城区或郊区</p>
                <p>房产类别&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;住宅或别墅</p>
                <p>房产性质&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;商品</p>
            </div>
        </div>
        <!-- <div class="detail_body">
            <div class="unlogin_bg"></div>
            <p class="unlogin_txt">登录后查看产品简介和申请条件&nbsp;&nbsp;<a href="javascript:;">去登录</a></p>
        </div> -->
    </div>
</div>