<%= otherTop %>
<div class="bid_head_container">
    <div class="bid_head_con clearfix">
        <div class="bid_head_title">中铁八局集团昆明铁路建设有限公司珠三角城际新百广XBZH-2标四工XBZH-2标工程项目螺纹钢、管材等公开采购中铁八局集团昆明铁路建设有限公司珠三角城</div>
        <div class="bid_head_tips">
            <span>采购编号： HBLQJTCLZB20180141</span>
            <span>发布时间： 2018-12-12 14:34</span>
            <span>经办人： 张三/1350713736</span>
        </div>
        <div class="bid_head_cells">
            <span>物资/设备采购</span>
            <span>邀请招标</span>
            <span>在线开标</span>
            <span>资格预审</span>
        </div>
    </div>
    <div class="bid_body_container">
        <div class="bid_body_con">
            <div class="bid_multi_title"><span class="act">提问信息</span><span><a href="#">澄清记录</a></span></div>
            <div class="bid_body_detail">
                <div class="bid_head_btns">
                    <a href="javascript:;" class="bid_export_btn">全部导出</a>
                </div>
                <div class="bid_question_warp">
                    <div class="bid_question_block clearfix">
                        <div class="bid_question_cell">
                            <span class="bid_question_num">Q.1</span>
                            <h1>湖北交投物流集团有限公司</h1>
                            <div class="bid_question_tips">
                                <span class="act">GC-2009-01</span>
                                <span>张三/15007137362</span>
                                <span>2018-12-14  14:30</span>
                            </div>
                            <p class="bid_question_con">里是提问的内容，默认展示前6行，超过收缩，点击可展开。每当夜深人静之时，总会独自沏一盏茶，细细品茗，让那泛着淡淡清香的茶水，润泽我的喉咙，顺着喉管而下，温暖我的心扉。而在热水滚烫的煮沸过后，茶叶沉淀在其杯底中，就如那往事一幕幕地浮现在眼前一般。总禁里是提问的内容，默认展示前6行，超过收缩，点击可展开。每当夜深人静之时，总会独自沏一盏茶，细细品茗，让那泛着淡淡清香的茶水，润泽我的喉咙，顺着喉管而下，温暖我的心扉。而在热水滚烫的煮沸过后，茶叶沉淀在其杯底中，就如那往事一幕幕地浮现在眼前一般。总禁</p>
                            <div class="textC"><a class="textRed js_more"><span>展开</span><i class="iconfont icon-xiajiantou"></i></a></div>
                            <ul class="bid_question_files">
                                <li><i class="iconfont icon-fujian"></i><span>附件001.doc</span><a class="textBlue marginL10">下载</a></li>
                            </ul>
                        </div>
                        <div class="bid_question_line"></div>
                        <div class="bid_question_cell">
                            <span class="bid_question_num">Q.1</span>
                            <h1>湖北交投物流集团有限公司</h1>
                            <div class="bid_question_tips">
                                <span class="act">GC-2009-01</span>
                                <span>张三/15007137362</span>
                                <span>2018-12-14  14:30</span>
                            </div>
                            <p class="bid_question_con">里是提问的内容，默认展示前6行，超过收缩，点击可展开。每当夜深人静之时，总会独自沏一盏茶，细细品茗，让那泛着淡淡清香的茶水，润泽我的喉咙，顺着喉管而下，温暖我的心扉。而在热水滚烫的煮沸过后，茶叶沉淀在其杯底中，就如那往事一幕幕地浮现在眼前一般。</p>
                        </div>
                    </div>
                    <div class="bid_question_block clearfix">
                        <div class="bid_question_cell">
                            <span class="bid_question_num">Q.3</span>
                            <h1>湖北交投物流集团有限公司</h1>
                            <div class="bid_question_tips">
                                <span class="act">GC-2009-01</span>
                                <span>张三/15007137362</span>
                                <span>2018-12-14  14:30</span>
                            </div>
                            <p class="bid_question_con">里是提问的内容，默认展示前6行，超过收缩，点击可展开。每当夜深人静之时，总会独自沏一盏茶，细细品茗，让那泛着淡淡清香的茶水，润泽我的喉咙，顺着喉管而下，温暖我的心扉。而在热水滚烫的煮沸过后，茶叶沉淀在其杯底中，就如那往事一幕幕地浮现在眼前一般。总禁里是提问的内容，默认展示前6行，超过收缩，点击可展开。每当夜深人静之时，总会独自沏一盏茶，细细品茗，让那泛着淡淡清香的茶水，润泽我的喉咙，顺着喉管而下，温暖我的心扉。而在热水滚烫的煮沸过后，茶叶沉淀在其杯底中，就如那往事一幕幕地浮现在眼前一般。总禁</p>
                            <div class="textC"><a class="textRed js_more"><span>展开</span><i class="iconfont icon-xiajiantou"></i></a></div>
                            <ul class="bid_question_files">
                                <li><i class="iconfont icon-fujian"></i><span>附件001.doc</span><a class="textBlue marginL10">下载</a></li>
                            </ul>
                        </div>
                        <div class="bid_question_line"></div>
                        <div class="bid_question_cell">
                            <span class="bid_question_num">Q.4</span>
                            <h1>湖北交投物流集团有限公司</h1>
                            <div class="bid_question_tips">
                                <span class="act">GC-2009-01</span>
                                <span>张三/15007137362</span>
                                <span>2018-12-14  14:30</span>
                            </div>
                            <p class="bid_question_con">里是提问的内容，默认展示前6行，超过收缩，点击可展开。每当夜深人静之时，总会独自沏一盏茶，细细品茗，让那泛着淡淡清香的茶水，润泽我的喉咙，顺着喉管而下，温暖我的心扉。而在热水滚烫的煮沸过后，茶叶沉淀在其杯底中，就如那往事一幕幕地浮现在眼前一般。总禁里是提问的内容，默认展示前6行，超过收缩，点击可展开。每当夜深人静之时，总会独自沏一盏茶，细细品茗，让那泛着淡淡清香的茶水，润泽我的喉咙，顺着喉管而下，温暖我的心扉。而在热水滚烫的煮沸过后，茶叶沉淀在其杯底中，就如那往事一幕幕地浮现在眼前一般。总禁</p>
                            <div class="textC"><a class="textRed js_more"><span>展开</span><i class="iconfont icon-xiajiantou"></i></a></div>
                            <ul class="bid_question_files">
                                <li><i class="iconfont icon-fujian"></i><span>附件001.doc</span><a class="textBlue marginL10">下载</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="bid_question_block clearfix">
                        <div class="bid_question_cell">
                            <span class="bid_question_num">Q.5</span>
                            <h1>湖北交投物流集团有限公司</h1>
                            <div class="bid_question_tips">
                                <span class="act">GC-2009-01</span>
                                <span>张三/15007137362</span>
                                <span>2018-12-14  14:30</span>
                            </div>
                            <p class="bid_question_con">里是提问的内容，默认展示前6行，超过收缩，点击可展开。每当夜深人静之时，总会独自沏一盏茶，细细品茗，让那泛着淡淡清香的茶水，润泽我的喉咙，顺着喉管而下，温暖我的心扉。而在热水滚烫的煮沸过后，茶叶沉淀在其杯底中，就如那往事一幕幕地浮现在眼前一般。</p>
                        </div>
                        <div class="bid_question_line"></div>
                        <div class="bid_question_cell">
                            <span class="bid_question_num">Q.6</span>
                            <h1>湖北交投物流集团有限公司</h1>
                            <div class="bid_question_tips">
                                <span class="act">GC-2009-01</span>
                                <span>张三/15007137362</span>
                                <span>2018-12-14  14:30</span>
                            </div>
                            <p class="bid_question_con">里是提问的内容，默认展示前6行，超过收缩，点击可展开。每当夜深人静之时，总会独自沏一盏茶，细细品茗，让那泛着淡淡清香的茶水，润泽我的喉咙，顺着喉管而下，温暖我的心扉。而在热水滚烫的煮沸过后，茶叶沉淀在其杯底中，就如那往事一幕幕地浮现在眼前一般。总禁里是提问的内容，默认展示前6行，超过收缩，点击可展开。每当夜深人静之时，总会独自沏一盏茶，细细品茗，让那泛着淡淡清香的茶水，润泽我的喉咙，顺着喉管而下，温暖我的心扉。而在热水滚烫的煮沸过后，茶叶沉淀在其杯底中，就如那往事一幕幕地浮现在眼前一般。总禁</p>
                            <div class="textC"><a class="textRed js_more"><span>展开</span><i class="iconfont icon-xiajiantou"></i></a></div>
                            <ul class="bid_question_files">
                                <li><i class="iconfont icon-fujian"></i><span>附件001.doc</span><a class="textBlue marginL10">下载</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>