<%= otherTop %>
<div class="publish_wrap">
    <div class="publish_container">
        <div class="publish_head"><span>////////////</span>公告<span>////////////</span></div>
        <div class="publish_block clearfix">
            <label><span class="textRed">*</span>公告正文：</label>
            <div class="publish_block_item">
                <div id="myEditor"></div>
                <a href="javascript:;" class="publish_view"><i class="iconfont icon-yulan"></i>预览公告正文</a>
            </div>
        </div>
        <div class="publish_block clearfix">
            <label>公告附件：</label>
            <div class="publish_block_item">
                <span id="uploadBtn"></span>
                <span class="publish_msg_con" style="margin-left: 20px;vertical-align: 2px;"><i class="iconfont icon-i"></i>最多可上传8个附件（非招标文件）,支持jpg、png、jpeg、bmp、pdf、xls、xlsx、doc、docx、txt</span>
                <div id="process-files"></div>
                <div class="publish_fujian_list">
                    <p class="fujian_con"><i class="iconfont icon-fujian"></i><a href="" class="fujian_link">资审文件1.doc</a><a href="javascript:;" class="marginL20 textBlue fujian_del">删除</a></p>
                </div>
            </div>
        </div>

        <div class="publish_btn_wrap">
            <a href="javascript:;" class="btn_draft"><i class="iconfont icon-caogaoxiang"></i>保存为草稿</a>
            <a href="javascript:;" class="btn_next floatR">下一步</a>
            <a href="javascript:;" class="btn_back marginR10 floatR">返回上一步</a>
        </div>
    </div>
</div>