<%= header %>
<div class="exportCon">
    <div class="export_top_menu clearfix">
        <div class="export_logo"></div>
        <a href="javascript:;" class="export_btn">提交</a>
        <a href="javascript:;" class="export_back">返回</a>
    </div>
    <div class="export_tips">
        <i class="iconfont icon-i"></i>
        根据《生材网招投标平台服务协议》约定，将由湖北省楚建易网络科技有限公司向采购项目中选单位签发中标/订货通知书，以下内容将作为中标/订货通知书的重要信息组成。
    </div>
    <div class="export_box">
        <div class="export_container">
            <div class="export_con_top"></div>
            <div class="export_con_mid">
                <h1 class="export_title">中标通知书信息确认</h1>
                <div class="export_head"><span class="export_head_text">招标信息 \\</span><span class="export_head_line"></span></div>
                <div class="export_body">
                    <div class="export_block clearfix">
                        <label>招标名称</label>
                        <div class="floatL textBlack1">
                            有人的眸子像秋，有人的风韵像秋有人的眸子像秋，有人的风韵像秋
                        </div>
                    </div>
                    <div class="export_block clearfix">
                        <label>招标单位</label>
                        <div class="floatL textBlack1">
                            武桥重科工程有限公司
                        </div>
                    </div>
                    <div class="export_block clearfix">
                        <label>投标截止时间</label>
                        <div class="floatL textBlack1">
                            2018-12-12   12:30:21
                        </div>
                    </div>
                </div>
                <div class="export_head"><span class="export_head_text">招标结果 \\</span><span class="export_head_line"></span><span class="export_head_tips"><i class="iconfont icon-deng"></i>公示期：2018-12-18  14:00   至   2018-12-21  14:00 （已结束）</span></div>
                <div class="export_body">
                    <table>
                        <colgroup>
                            <col width="50"></col>
                            <col width="250"></col>
                            <col width="100"></col>
                            <col width="250"></col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>中标单位</th>
                                <th>中标金额<span class="textBlack2">（元）</span></th>
                                <th>备注</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>武汉恒宏全贸易有限公司</td>
                                <td>1,200.00</td>
                                <td>本金额为暂定金额</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>武汉恒宏全贸易有限公司</td>
                                <td>1,200.00</td>
                                <td>本金额为暂定金额</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>武汉恒宏全贸易有限公司</td>
                                <td>1,200.00</td>
                                <td>本金额为暂定金额</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="export_head"><span class="export_head_text">补充信息 \\</span><span class="export_head_line"></span></div>
                <div class="export_body">
                    <label class="export_info_label">招标单位联系人</label><input class="export_info_input" type="text" placeholder="2-8个字" style="margin-left:40px;">
                    <label class="export_info_label" style="margin-left:78px;">招标单位联系人电话</label><input class="export_info_input" type="text" placeholder="8-20个字" style="margin-left:40px;">
                    <div>
                        <label class="export_info_label">中选单位接到中标通知书后</label><input class="export_info_input" type="text" placeholder="一般为1〜30日" style="width:110px;margin:20px 10px 0 10px;"><label class="export_info_label">日内到指定地点与我单位签订书面合同，并按招标文件规定向我单位提交履约保证金。</label>
                    </div>
                    <div>
                        <label class="export_info_label">合同签订地点</label><input class="export_info_input" type="text" placeholder="请输入详细的地址" style="width:640px;margin-left:40px;">
                    </div>
                </div>
            </div>
            <div class="export_con_bottom"></div>
        </div>
    </div>
    <div class="export_footer">
        <a href="javascript:;" class="export_btn">提交</a>
        <a href="javascript:;" class="export_back">返回</a>
    </div>
</div>
<%= footer %>