<div class="shopcart_wrap">
    <div class="shopcart_inner">
        <div class="shopcart_top clearfix">
            <p>全部商品&nbsp;<strong>29</strong></p>
            <button class="continue_shop">返回继续购物</button>
        </div>
        <div class="shopcart_box">
            <div class="goods_item">
                <div class="goods_box">
                    <div class="goods_top">
                        <p><i class="iconfont icon-dianpu"></i>昆山金誉盛钢金属材料有限公司</p>
                    </div>
                    <div class="goods_oprate">
                        <ul class="clearfix">
                            <li><input type="checkbox" title="全选" class="all_goods_check"></li>
                            <li class="m94">商品信息</li>
                            <li class="m386">仓库</li>
                            <li class="m106">单价</li>
                            <li class="m120">数量</li>
                            <li class="m110">小计</li>
                            <li class="m60">操作</li>
                        </ul>
                    </div>
                    <div class="goods_info goods_checked">
                        <ul class="clearfix">
                            <li class="goods_checkbox"><input type="checkbox" title="" class="order_check" checked></li>
                            <li class="goods_intro_box">
                                <div class="goods_intro clearfix">
                                    <figure class="goods_photo">
                                        <img src="<%= goods01 %>" />
                                    </figure>
                                    <div class="goods_name">
                                        <p>易切削钢12L14贵钢易切削钢12L14</p>
                                        <span>品牌名</span>
                                    </div>
                                    <div class="goods_attr">
                                        <dl class="clearfix">
                                            <dt>规格：</dt>
                                            <dd class="ellipsis" title="98M">98M</dd>
                                        </dl>
                                        <dl class="clearfix">
                                            <dt>颜色：</dt>
                                            <dd class="ellipsis" title="红色">红色</dd>
                                        </dl>
                                        <dl class="clearfix">
                                            <dt>其他属性：</dt>
                                            <dd class="ellipsis" title="属性值超长省略">属性值超长省略号</dd>
                                        </dl>
                                    </div>
                                </div>
                            </li>
                            <li class="warehouse_li">
                                <b>阳逻库</b>
                                <span>（湖北&nbsp;武汉）</span>
                            </li>
                            <li class="unit_li"><span>￥15.00/片</span></li>
                            <li class="num_box">
                                <div class="num_calc">
                                    <i class="iconfont icon-jian8 goods_minus forbid_btn"></i>
                                    <input type="text" class="cjy-input-" value="1">
                                    <i class="iconfont icon-jiahao1 goods_add"></i>
                                </div>
                                <p>（库存<span class="max_kucun">10</span>片）</p>
                            </li>
                            <li class="subtotal_li"><span>￥15.00</span></li>
                            <li class="goods_opt"><a class="goods_del" href="javascript:;">删除</a></li>
                        </ul>
                    </div>
                    <div class="goods_info">
                        <ul class="clearfix">
                            <li class="goods_checkbox"><input type="checkbox" class="order_check" title=""></li>
                            <li class="goods_intro_box">
                                <div class="goods_intro clearfix">
                                    <figure class="goods_photo">
                                        <img src="<%= goods01 %>" />
                                    </figure>
                                    <div class="goods_name">
                                        <p>易切削钢12L14贵钢易切削钢12L14</p>
                                        <span>品牌名</span>
                                    </div>
                                    <div class="goods_attr">
                                        <dl class="clearfix">
                                            <dt>规格：</dt>
                                            <dd class="ellipsis" title="98M">98M</dd>
                                        </dl>
                                        <dl class="clearfix">
                                            <dt>颜色：</dt>
                                            <dd class="ellipsis" title="红色">红色</dd>
                                        </dl>
                                        <dl class="clearfix">
                                            <dt>其他属性：</dt>
                                            <dd class="ellipsis" title="属性值超长省略">属性值超长省略号</dd>
                                        </dl>
                                    </div>
                                </div>
                            </li>
                            <li class="warehouse_li">
                                <b>阳逻库</b>
                                <span>（湖北&nbsp;武汉）</span>
                            </li>
                            <li class="unit_li"><span>￥15.00/片</span></li>
                            <li class="num_box">
                                <div class="num_calc">
                                    <i class="iconfont icon-jian8 goods_minus forbid_btn"></i>
                                    <input type="text" class="cjy-input-" value="1">
                                    <i class="iconfont icon-jiahao1 goods_add"></i>
                                </div>
                                <p>（库存<span class="max_kucun">1000</span>片）</p>
                            </li>
                            <li class="subtotal_li"><span>￥15.00</span></li>
                            <li class="goods_opt"><a class="goods_del" href="javascript:;">删除</a></li>
                        </ul>
                    </div>
                </div>
                <div class="goods_footer clearfix">
                    <div class="goods_footer_left">
                        <input type="checkbox" title="全选" class="all_goods_check">
                        <a class="del_all" href="javascript:;">删除选中商品</a>
                    </div>
                    <div class="goods_footer_right">
                        <span class="goods_cate">商品种类：<b>4</b>类</span>
                        <div class="clac_funds">
                            <span class="subtotal_funds">￥<strong>60.00</strong></span>
                            <span class="subtotal_factor">商品总金额<b>（不包含运费）</b></span>
                        </div>
                        <a class="confirm_order" href="javascript:;">确认订单</a>
                    </div>
                </div>
            </div>
            <div class="goods_item">
                <div class="goods_box">
                    <div class="goods_top">
                        <p><i class="iconfont icon-dianpu"></i>昆山金誉盛钢金属材料有限公司</p>
                    </div>
                    <div class="goods_oprate">
                        <ul class="clearfix">
                            <li><input type="checkbox" title="全选" class="all_goods_check"></li>
                            <li class="m94">商品信息</li>
                            <li class="m386">仓库</li>
                            <li class="m106">单价</li>
                            <li class="m120">数量</li>
                            <li class="m110">小计</li>
                            <li class="m60">操作</li>
                        </ul>
                    </div>
                    <div class="goods_info">
                        <ul class="clearfix">
                            <li class="goods_checkbox"><input type="checkbox" class="order_check" title=""></li>
                            <li class="goods_intro_box">
                                <div class="goods_intro clearfix">
                                    <figure class="goods_photo">
                                        <img src="<%= goods01 %>" />
                                    </figure>
                                    <div class="goods_name">
                                        <p>易切削钢12L14贵钢易切削钢12L14</p>
                                        <span>品牌名</span>
                                    </div>
                                    <div class="goods_attr">
                                        <dl class="clearfix">
                                            <dt>规格：</dt>
                                            <dd class="ellipsis" title="98M">98M</dd>
                                        </dl>
                                        <dl class="clearfix">
                                            <dt>颜色：</dt>
                                            <dd class="ellipsis" title="红色">红色</dd>
                                        </dl>
                                        <dl class="clearfix">
                                            <dt>其他属性：</dt>
                                            <dd class="ellipsis" title="属性值超长省略">属性值超长省略号</dd>
                                        </dl>
                                    </div>
                                </div>
                            </li>
                            <li class="warehouse_li">
                                <b>阳逻库</b>
                                <span>（湖北&nbsp;武汉）</span>
                            </li>
                            <li class="unit_li"><span>￥15.00/片</span></li>
                            <li class="num_box">
                                <div class="num_calc">
                                    <i class="iconfont icon-jian8 goods_minus forbid_btn"></i>
                                    <input type="text" class="cjy-input-" value="1">
                                    <i class="iconfont icon-jiahao1 goods_add"></i>
                                </div>
                                <p>（库存<span class="max_kucun">1000</span>片）</p>
                            </li>
                            <li class="subtotal_li"><span>￥15.00</span></li>
                            <li class="goods_opt"><a class="goods_del" href="javascript:;">删除</a></li>
                        </ul>
                    </div>
                    <div class="goods_info off_shelf">
                        <ul class="clearfix">
                            <li class="goods_checkbox"><span class="off_state">下架</span></li>
                            <li class="goods_intro_box">
                                <div class="goods_intro clearfix">
                                    <figure class="goods_photo">
                                        <img src="<%= goods01 %>" />
                                    </figure>
                                    <div class="goods_name">
                                        <p>易切削钢12L14贵钢易切削钢12L14</p>
                                        <span>品牌名</span>
                                    </div>
                                    <div class="goods_attr">
                                        <dl class="clearfix">
                                            <dt>规格：</dt>
                                            <dd class="ellipsis" title="98M">98M</dd>
                                        </dl>
                                        <dl class="clearfix">
                                            <dt>颜色：</dt>
                                            <dd class="ellipsis" title="红色">红色</dd>
                                        </dl>
                                        <dl class="clearfix">
                                            <dt>其他属性：</dt>
                                            <dd class="ellipsis" title="属性值超长省略">属性值超长省略号</dd>
                                        </dl>
                                    </div>
                                </div>
                            </li>
                            <li class="warehouse_li">
                                <b>阳逻库</b>
                                <span>（湖北&nbsp;武汉）</span>
                            </li>
                            <li class="unit_li"><span>￥15.00/片</span></li>
                            <li class="num_box">
                                <div class="num_calc">
                                    <i class="iconfont icon-jian8 goods_minus forbid_btn"></i>
                                    <input type="text" class="cjy-input-" value="1" disabled>
                                    <i class="iconfont icon-jiahao1 goods_add forbid_btn"></i>
                                </div>
                                <p>（库存<span class="max_kucun">1000</span>片）</p>
                                <div class="num_tooltips">最小起订量是1000</div>
                            </li>
                            <li class="subtotal_li"><span>￥15.00</span></li>
                            <li class="goods_opt"><a class="goods_del" href="javascript:;">删除</a></li>
                        </ul>
                    </div>
                </div>
                <div class="goods_footer clearfix">
                    <div class="goods_footer_left">
                        <input type="checkbox" title="全选" class="all_goods_check">
                        <a class="del_all" href="javascript:;">删除选中商品</a>
                    </div>
                    <div class="goods_footer_right">
                        <span class="goods_cate">商品种类：<b>4</b>类</span>
                        <div class="clac_funds">
                            <span class="subtotal_funds">￥<strong>60.00</strong></span>
                            <span class="subtotal_factor">商品总金额<b>（不包含运费）</b></span>
                        </div>
                        <a class="confirm_order" href="javascript:;">确认订单</a>
                    </div>
                </div>
            </div>
            <div class="textC">
                <div class="shopcart_main_bg"></div>
                <p class="fontSize24">欢迎来到供应商中心！</p>
                <a href="" class="textOrange marginT30 marginB30 inlineBlock">去购物></a>
            </div>
        </div>
    </div>
</div>