<input type="hidden" name="tenderId" value="137086">
<input type="hidden" name="packageId" value="0">
<input type="hidden" name="ruleId" value="4">
<input type="hidden" name="ruleType" value="0">
<div class="setting_warp">
    <div class="crumbs_con"><i class="iconfont icon-ditu"></i><span class="textBlack1">在线评标室</span>  > 设置评标方案</div>
    <div class="setting_container">
        <!-- <ul class="setting_step_con">
            <li>
                <p class="setting_step_title">评标小组</p>
                <p class="setting_step_num">1</p>
            </li>
            <li class="active">
                <p class="setting_step_title">评标细则</p>
                <p class="setting_step_num">2</p>
            </li>
            <li>
                <p class="setting_step_title">完成设置</p>
                <p class="setting_step_num">3</p>
            </li>
        </ul> -->
        <div class="package_con">
            <ul>
                <li class="act">
                    <a href="javascript:;" class="package_cell">包件1（BJBH-001）</a>
                </li>
                <li>
                    <a href="javascript:;" class="package_cell">包件2（BJBH-002）</a>
                </li>
                <li>
                    <a href="javascript:;" class="package_cell">包件3（BJBH-003）</a>
                </li>
            </ul>
        </div>
        <div class="setting_box">
            <i class="iconfont icon-shezhi1"></i>
            <a href="#" class="setting_add">设置评标细节</a>
        </div>
        <div class="setting_btns">
            <a href="javascript:;" class="setting_btn_confirm">上一步</a>
        </div>
    </div>
</div>