<div class="back_main">
    <div class="back_main_title">
        <span class="active">待办事项</span>
        <span><a href="#">开标密钥下载</a></span>
        <span><a href="#">资审文件开启密钥下载</a></span>
        <span><a href="#">供应商准入<i class="back_main_num">2</i></a></span>
        <span><a href="#">资审文件费确认<i class="back_main_num">1</i></a></span>
        <span><a href="#">标书款确认</a></span>
        <span><a href="#">保证金确认</a></span>
    </div>
    <div class="back_main_content">
        <div class="todo_num">共 23 条记录</div>
        <ul class="todo_list">
            <li>
                <i class="todo_circle"></i>
                <span class="todo_type">供应商准入</span>
                <div class="todo_content">
                    <p><span class="textBlack1 fontBold">武汉领航隆腾广告传媒有限公司</span> 申请加入您的供应商库，待审核！</p>
                    <p class="textBlack3">11-08  14:25</p>
                </div>
                <a class="todo_ignore">忽略</a>
                <a class="todo_done">处理<i class="iconfont icon-youjiantou"></i></a>
            </li>
            <li>
                <i class="todo_circle"></i>
                <span class="todo_type">标书款确认</span>
                <div class="todo_content">
                    <p><span class="textBlack1 fontBold">武汉市燃气热力工程有限公司</span> 等3家公司已提交 <span class="textBlack1 fontBold">丹江口市武当山······钢筋采购</span> 项目标书款，待确认！</p>
                    <p class="textBlack3">11-08  14:25</p>
                </div>
                <a class="todo_ignore">忽略</a>
                <a class="todo_done">处理<i class="iconfont icon-youjiantou"></i></a>
            </li>
            <li>
                <i class="todo_circle"></i>
                <span class="todo_type">保证金确认</span>
                <div class="todo_content">
                    <p><span class="textBlack1 fontBold">钟祥荆阳混凝土有限公司</span> 已提交 <span class="textBlack1 fontBold">丹江口市武当山······钢筋采购</span> 项目投标保证金，待确认！</p>
                    <p class="textBlack3">11-08  14:25</p>
                </div>
                <a class="todo_ignore">忽略</a>
                <a class="todo_done">处理<i class="iconfont icon-youjiantou"></i></a>
            </li>
            <li>
                <i class="todo_circle"></i>
                <span class="todo_type">开标密钥下载</span>
                <div class="todo_content">
                    <p><span class="textBlack1 fontBold">丹江口市武当山······钢筋采购</span>  的开标密钥已经生成，待下载！</p>
                    <p class="textBlack3">11-08  14:25</p>
                </div>
                <a class="todo_done">下载<i class="iconfont icon-youjiantou"></i></a>
            </li>
        </ul>
    </div>
</div>