<div class="applyentry_wrap">
    <div class="applyentry_bg"></div>
    <div class="applyentry_inner">
        <div class="order_process">
            <div class="process_bar_box">
                <div class="process_bar has_bar"></div>
                <div class="process_bar"></div>
                <div class="process_bar"></div>
                <div class="process_bar"></div>
            </div>
            <div class="process_wrap">
                <div class="process_box has_process">
                    <div class="process_circle">
                        <span>1</span>
                    </div>
                    <p>选择主营类目</p>
                </div>
                <div class="process_box">
                    <div class="process_circle">
                        <span>2</span>
                    </div>
                    <p>提交资质</p>
                </div>
                <div class="process_box">
                    <div class="process_circle">
                        <span>3</span>
                    </div>
                    <p>签署协议</p>
                </div>
                <div class="process_box">
                    <div class="process_circle">
                        <span>4</span>
                    </div>
                    <p>资质审核</p>
                </div>
            </div>
        </div>
        <div class="apply_tips">
            <i class="iconfont icon-i"></i>
            <p>开通店铺后允许上架的商品与主营类目紧密关联哦，未选中的类目其对应商品将无法上架，请如实的选择主营类目。<br />没有合适的类目，请联系 <b>027-82813259</b></p>
        </div>
        <div class="cate_box">
            <div class="cate_wrap">
                <div class="cate_inner w400">
                    <ul class="cate_menu">
                        <li class="cate_item">
                            <a class="cate_link ellipsis" product_pid="0" product_code="2" href="javascript:;">黑色金属及制品</a>
                            <i class="iconfont icon-youjiantou"></i>
                        </li>
                        <li class="cate_item">
                            <a class="cate_link ellipsis" product_pid="0" product_code="2" href="javascript:;">黑色金属及制品</a>
                            <i class="iconfont icon-youjiantou"></i>
                        </li>
                        <li class="cate_item">
                            <a class="cate_link ellipsis" product_pid="0" product_code="2" href="javascript:;">黑色金属及制品</a>
                            <i class="iconfont icon-youjiantou"></i>
                        </li>
                        <li class="cate_item">
                            <a class="cate_link ellipsis" product_pid="0" product_code="2" href="javascript:;">黑色金属及制品</a>
                            <i class="iconfont icon-youjiantou"></i>
                        </li>
                    </ul>
                </div>
                <div class="cate_inner w400">
                    <p>请先选择一级分类</p>
                    <!-- <ul class="cate_menu offset_margin">
                        <li class="cate_item">
                            <i class="iconfont icon-gou"></i>
                            <a class="cate_link ellipsis" href="javascript:;">三级分类</a>
                        </li>
                        <li class="cate_item cate_active">
                            <i class="iconfont icon-gou"></i>
                            <a class="cate_link ellipsis" href="javascript:;">三级分类</a>
                        </li>
                        <li class="cate_item">
                            <i class="iconfont icon-gou"></i>
                            <a class="cate_link ellipsis" href="javascript:;">三级分类</a>
                        </li>
                    </ul> -->
                </div>
                <div class="cate_inner">
                    <p>鼠标移动到二级分类查看三级分类</p>
                    <!-- <ul class="cate_menu offset_margin">
                        <li class="cate_item">
                            <i class="iconfont icon-gou"></i>
                            <a class="cate_link ellipsis" href="javascript:;">三级分类</a>
                        </li>
                        <li class="cate_item cate_active">
                            <i class="iconfont icon-gou"></i>
                            <a class="cate_link ellipsis" href="javascript:;">三级分类</a>
                        </li>
                        <li class="cate_item">
                            <i class="iconfont icon-gou"></i>
                            <a class="cate_link ellipsis" href="javascript:;">三级分类</a>
                        </li>
                    </ul> -->
                </div>
            </div>
            <div class="cate_result">
                <div class="sort_inner">
                    <span>您当前选择的商品类目是：</span>
                    <p class="sort_box">
                        <b class="sort_item">二级分类<i class="iconfont icon-cha1"></i></b>
                        <b class="sort_item">二级分类<i class="iconfont icon-cha1"></i></b>
                        <b class="sort_item">二级分类<i class="iconfont icon-cha1"></i></b>
                        <b class="sort_item">二级分类<i class="iconfont icon-cha1"></i></b>
                        <b class="sort_item">二级分类<i class="iconfont icon-cha1"></i></b>
                        <b class="sort_item">二级分类<i class="iconfont icon-cha1"></i></b>
                        <b class="sort_item">二级分类<i class="iconfont icon-cha1"></i></b>
                        <b class="sort_item">二级分类<i class="iconfont icon-cha1"></i></b>
                        <b class="sort_item">二级分类<i class="iconfont icon-cha1"></i></b>
                    </p>
                </div>
            </div>
        </div>
        <div class="next_box">
            <a href="javascript:;">下一步</a>
        </div>
    </div>
</div>
