<div class="buyer_bread">
    <p class="buyer_bread_p">
        <i class="iconfont icon-ditu"></i><span>商品仓库</span><span>&nbsp;&gt;&nbsp;</span><span class="order_code">查看商品详情</span>
    </p>
</div>
<div class="back_main_title">
    <span>商品详情</span>
</div>
<div class="order_detail">
    <div class="order_item clearfix">
        <div class="order_top">
            <h3>商品基本信息</h3>
        </div>
        <div class="order_left">
            <dl>
                <dt>商品分类：</dt>
                <dd>劳保日杂&nbsp;&gt;&nbsp;安全帽&nbsp;&gt;&nbsp;普达安全帽</dd>
            </dl>
            <dl>
                <dt>标题：</dt>
                <dd>普达(PUDA) 盔式玻璃钢安全帽(B-4)（工矿专用）</dd>
            </dl>
            <dl>
                <dt>仓库：</dt>
                <dd>江岸区三阳路</dd>
            </dl>
        </div>
        <div class="order_right">
            <dl>
                <dt>品牌：</dt>
                <dd>普达（PUDA）</dd>
            </dl>
            <dl>
                <dt>属性管理：</dt>
                <dd>属性1/属性2/属性3/属性4</dd>
            </dl>
        </div>
    </div>
    <div class="order_item">
        <div class="order_top">
            <h3>交易信息</h3>
        </div>
        <div class="trade_wrap">
            <div class="trade_goods">
                <dl class="trade_dl clearfix">
                    <dt>普达安全帽</dt>
                    <dd>
                        <span>普达（PUDA）</span>
                        <b>未上架</b>
                    </dd>
                </dl>
            </div>
            <table>
                <colgroup>
                    <col width="17%">
                    <col width="17%">
                    <col width="17%">
                    <col width="17%">
                    <col width="16%">
                    <col width="16%">
                </colgroup>
                <thead>
                    <tr>
                        <th>尺寸</th>
                        <th>颜色</th>
                        <th>购买数量</th>
                        <th>单价<i class="iconfont icon-wenhao"></i></th>
                        <th>库存总量</th>
                        <th>库存预警数<i class="iconfont icon-wenhao"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="multi_tr">
                        <td rowspan="2">S</td>
                        <td rowspan="2">红</td>
                        <td class="multi_left color999">起订量300个及以上</td>
                        <td class="multi_right">12.00元/个</td>
                        <td rowspan="2">1000个</td>
                        <td rowspan="2">900个</td>
                    </tr>
                    <tr class="multi_tr">
                        <td class="multi_left color999">起订量300个及以上</td>
                        <td class="multi_right">12.00元/个</td>
                    </tr>
                    <tr>
                        <td>S</td>
                        <td>红</td>
                        <td class="color999">起订量300个及以上</td>
                        <td>12.00元/个</td>
                        <td>1000个</td>
                        <td>900个</td>
                    </tr>
                </tbody>
            </table>
            <div class="trade_cell">
                <label class="trade_title">价格：</label>
                <span class="trade_money">11.00——122.00元/吨</span>
            </div>
            <div class="trade_cell">
                <label class="trade_title margintop">运输说明：</label>
                <div class="trade_txt">
                    <p>1.运费支付： 运费是均由买方承担的， 一般采用由客户货到支付运费的形式。 2.发货期限： 献县久源玛钢厂的常规产品基本上都会有大量现货，但是因为每天都会大批发货，所以难免会出现暂时缺货的情况，暂时缺货的情况下久源会与客户们确认好发货时间。当然，久源会根据您的要求个别急单会给予加急处理，以保证按时发货。但由于物流公司非本厂控制，我们所提供的到货时间仅供客户参考。 3.质量保证： 献县久源玛钢厂郑重承诺，久源产品绝对保证质量和售后，每一个生产环节都严格把关。如果客户实在不放心网购欢迎到厂里进行考察，我们会以热情周到的服务欢迎您的光临！ 4.货物签收： 货物在发出前久源工作人员会与物流人员或者司机共同见证货物的数量和质量，请客户先验货后再签收，如发现商品质量或数量有问题，请尽快与我们联系，我们查询核实后将为您做免费的调换或补发，或其他的协商一致的处理。 联系方式：电话：400-6388-560 手机：15028729888 联系人：候经理 www.koujianchang.cn</p>
                </div>
            </div>
        </div>
    </div>
    <div class="order_item">
        <div class="order_top">
            <h3>商品详情</h3>
        </div>
        <div class="trade_cell cell_top">
            <label class="trade_title">商品图片：</label>
            <div class="goods_box">
                <figure class="goods_photo">
                    <img src="<%= goods01 %>">
                    <figcaption>默认主图</figcaption>
                </figure>
                <figure class="goods_photo">
                    <img src="<%= goods01 %>">
                    <figcaption>图2</figcaption>
                </figure>
            </div>
        </div>
        <div class="trade_cell cell_top">
            <label class="trade_title margintop">商品描述：</label>
            <div class="trade_descript">
                <p>这里是富文本</p>
            </div>
        </div>
    </div>
</div>