<div class="back_main">
    <div class="back_main_title">
        <span class="active">编辑供应商类别</span>
    </div>
    <div class="back_main_content">
        <div class="back_thin_content">
            <div class="back_info_item clearfix">
                <label class="back_info_title">供应商类别：</label>
                <div class="back_main_block">
                    <span style="display:inline-block;width:160px;"><input type="checkbox" title="物资/设备采购"></span>
                    <span class="back_info_select" style="display:none">
                        <select>
                            <option value="">请选择初始等级</option>
                            <option value="1">A</option>
                            <option value="2">B</option>
                            <option value="3">C</option>
                            <option value="4">D</option>
                        </select>
                    </span>
                </div>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title"></label>
                <div class="back_main_block">
                    <span style="display:inline-block;width:160px;"><input type="checkbox" title="物资/设备租赁"></span>
                    <span class="back_info_tips">A<span class="textBlack3">（供应商等级）</span></span>
                </div>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title"></label>
                <div class="back_main_block">
                    <span style="display:inline-block;width:160px;"><input type="checkbox" title="专业分包"></span>
                    <span class="back_info_select" style="display:none">
                        <select>
                            <option value="">请选择初始等级</option>
                            <option value="1">A</option>
                            <option value="2">B</option>
                            <option value="3">C</option>
                            <option value="4">D</option>
                        </select>
                    </span>
                </div>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title"></label>
                <div class="back_main_block">
                    <span style="display:inline-block;width:160px;"><input type="checkbox" title="劳务分包"></span>
                    <span class="back_info_select" style="display:none">
                        <select>
                            <option value="">请选择初始等级</option>
                            <option value="1">A</option>
                            <option value="2">B</option>
                            <option value="3">C</option>
                            <option value="4">D</option>
                        </select>
                    </span>
                </div>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title"></label>
                <div class="back_main_block">
                    <span style="display:inline-block;width:160px;"><input type="checkbox" title="其他"></span>
                    <span class="back_info_select" style="display:none">
                        <select>
                            <option value="">请选择初始等级</option>
                            <option value="1">A</option>
                            <option value="2">B</option>
                            <option value="3">C</option>
                            <option value="4">D</option>
                        </select>
                    </span>
                </div>
            </div>
            <div class="back_main_btns clearfix">
                <a class="btn_confirm floatR marginL10" href="javascript:;">保存</a>
                <a class="btn_cancel floatR" href="javascript:;">返回</a>
            </div>
        </div>
    </div>
</div>