<div class="register_main">
    <div class="reg_step_con clearfix">
        <div class="reg_step_item stp1">
            <i></i>
            <span>填写注册人信息</span>
        </div>
        <div class="reg_step_item stp2">
            <i></i>
            <span>填写企业信息</span>
        </div>
        <div class="reg_step_item stp3">
            <i></i>
            <span>等待审核</span>
        </div>
        <div class="reg_step_item stp4_act">
            <i></i>
            <span>审核完成</span>
        </div>
    </div>
    <div class="register_waiting">
        <div class="reg_wait_img"></div>
        <div class="reg_wait_title">恭喜您，信息审核通过！</div>
        <div class="reg_wait_con">
            <span>审核编号：CJY20180711001</span>
        </div>
    </div>
    <div class="register_btns">
        <a href="javascript:;" class="btn_confirm" style="width: 250px;">开启我的生材网之旅—》</a>
    </div>


    <div class="register_waiting">
        <div class="reg_wait_img"></div>
        <div class="reg_wait_title">抱歉，您提交的信息审核未通过！</div>
        <div class="reg_wait_con">
            <span>审核编号：CJY20180711001</span>
        </div>
        <div class="reg_wait_reason">
            <span class="textBlack3">原因：</span>此处展示审核未通过的原因，即运营后台返回的信息即可。此处展示审核未通过的原因，即运营后台返回的信息即可。此处展示审核未通过的原因，即运营后台返回的信息即可。（如需帮助请拨打<span class="textOrange">027-82813259</span>）
        </div>
    </div>
    <div class="register_btns">
        <a href="javascript:;" class="btn_confirm">修改企业信息</a>
    </div>
</div>