<div class="breadcrumbs_wrap">
    <div class="breadcrumbs_inner">
        <%= backCrumbs %>
    </div>
</div>
<div class="guestmode_bg">
    <div class="guestmode_bg_inner">
        <div class="guestmode_jindu">
            <i class="iconfont icon-jinrongtubiao_jindu"></i>
            <p>截标时间：<b>2018-08-08&nbsp;&nbsp;12:00:00</b></p>
        </div>
    </div>
</div>
<%= timeline %>
<div class="bgf2">
    <div class="zhaobiao_info">
        <div class="zb_tabs">
            <ul class="zb_tabs_list clearfix">
                <li class="zb_tabs_li"><a href="javascript:;">招标基本信息</a></li>
                <li class="zb_tabs_li"><a href="javascript:;">招标细节要求</a></li>
                <li class="zb_tabs_li active"><a href="javascript:;">招标单位简介</a></li>
                <li class="zb_tabs_li"><a href="javascript:;">项目简介</a></li>
                <li class="zb_tabs_li"><a href="javascript:;">答疑/回复</a></li>
            </ul>
        </div>
        <div class="zb_tabs_wrap">
            <div class="zb_tabs_content padding20">
                <img class="zb_unit_img" src="<%= proimg %>">
                <ul class="unit_info">
                    <li>
                        <span class="color999">公司名称：</span>
                        <span>江苏南通三建集团股份有限公司</span>
                    </li>
                    <li>
                        <span class="color999">联系方式：</span>
                        <span>027-8888888</span>
                    </li>
                    <li>
                        <span class="color999">公司地址：</span>
                        <span>湖北省-武汉市-洪山区</span>
                    </li>
                    <li>
                        <span class="color999">详细地址：</span>
                        <span>珞喻路1037号</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>