<%= otherTop %>
<div class="publish_wrap">
    <div class="publish_container">
        <div class="publish_head"><span>////////////</span>开标设置<span>////////////</span></div>
        <div class="publish_block clearfix">
            <label><span class="textRed">*</span>资审文件开启人：</label>
            <div class="publish_block_item">
                <select value="">
                    <option value="">选择资审文件开启人</option>
                    <option value="1">子账号1</option>
                    <option value="2">子账号2</option>
                    <option value="3">子账号3</option>
                    <option value="4">子账号4</option>
                    <option value="5">子账号5</option>
                </select>
                <span class="publish_msg_con" style="display: inline-block;width: 800px;line-height: 1.5;margin-left: 20px;vertical-align: -13px;"><i class="iconfont icon-i"></i>资审文件递交截止后，将由资审文件开启人进行在线开启操作<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;务必请开启人登录生材网下载开启密钥并设置开标口令，遗忘或丢失口令或密钥后将无法正常开启资审文件</span>
            </div>
        </div>
        <div class="publish_block clearfix">
            <label><span class="textRed">*</span>开标方式：</label>
            <div class="publish_block_item">
                <input type="radio" name="type" title="在线开标" checked><input type="radio" name="type" title="线下开标">
                <span class="publish_msg_con" style="margin-left: -60px;vertical-align: 2px;"><i class="iconfont icon-i"></i>投标/报价方将在线进行报价、上传投标文件</span>
            </div>
        </div>
        <div class="publish_block clearfix">
            <label><span class="textRed">*</span>唱标方式：</label>
            <div class="publish_block_item">
                <input type="radio" name="typeC" title="在线唱标" checked><input type="radio" name="typeC" title="线下唱标">
                <span class="publish_msg_con" style="margin-left: -60px;vertical-align: 2px;"><i class="iconfont icon-i"></i>在线唱标环节将邀请投标的供应商在线参与</span>
            </div>
        </div>
        <div class="publish_block clearfix">
            <label><span class="textRed">*</span>设置开标人：</label>
            <div class="publish_block_item">
                <select value="">
                    <option value="">选择资审文件开启人</option>
                    <option value="1">子账号1</option>
                    <option value="2">子账号2</option>
                    <option value="3">子账号3</option>
                    <option value="4">子账号4</option>
                    <option value="5">子账号5</option>
                </select>
                <span class="publish_msg_con" style="display: inline-block;width: 800px;line-height: 1.5;margin-left: 20px;vertical-align: -13px;"><i class="iconfont icon-i"></i>投标/报价截止后，将由资审文件开标人进行在线开标操作<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;开标前务必请开标人登录生材网下载开启密钥并设置开标口令，遗忘或丢失口令及密钥后将无法正常开启资审文件</span>
            </div>
        </div>
        <div class="publish_btn_wrap">
            <a href="javascript:;" class="btn_draft"><i class="iconfont icon-caogaoxiang"></i>保存为草稿</a>
            <a href="javascript:;" class="btn_next floatR">下一步</a>
            <a href="javascript:;" class="btn_back marginR10 floatR">返回上一步</a>
        </div>
    </div>
</div>