<div class="back_main">
    <div class="back_main_title">
        <span>招标基本信息</span>
        <a href="javascript:;" class="back_title_btn floatR">修改项目信息</a>
    </div>
    <div class="back_main_content">
        <div class="back_info_code">
            <span>企业项目编号：ES11938484940</span>
            <span>平台项目编号：ES11938484940</span>
        </div>
        <div class="back_info_con">
            <div class="back_info_title">常州奇华顿项目钢材招标</div>
            <div class="back_info_tips">
                <span>创建时间：2018-07-06  20:12:12</span>
                <span>创建者：楚生材</span>
                <span>项目状态：<n class="textBlue">进行中</n></span>
                <span>附属的招标项目个数：<n class="textOrange">11</n></span>
            </div>
            <div class="back_info_detail">
                <ul class="detail_list clearfix">
                    <li class="detail_list_item">
                        <span class="item_name">招标名称：</span>
                        <strong class="textBlack ellipsis" title="解放大道(古田二路~宝丰路)整治提升工程天然花岗岩石材采购询比价">解放大道(古田二路~宝丰路)整治提升工程天然花岗岩石材采购询比价解放大道(古田二路~宝丰路)整治提升工程天然花岗岩石材采购询比价</strong>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="back_main_title">
        <span>附属的招标项目</span>
        <a href="javascript:;" class="back_title_btn floatR">+ 招标信息</a>
    </div>
    <div class="back_main_content">
        <div class="back_list_nav">
            <span class="active">最新招标<i class="iconfont icon-xiajiantou1"></i></span>
            <span>最早招标<i class="iconfont icon-xiajiantou1"></i></span>
            <span class="floatR">共计：11个</span>
        </div>
        <%= list %>
        <div class="page_container_wrap" size="10" total="98"></div>
    </div>
</div>