.back_main_title .back_title_btn{
    display: inline-block;
    width: 100px;
    height: 28px;
    line-height: 28px;
    margin-top: 30px;
    background-color: #fc6940;
    border: 1px solid #fc6940;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    color: #fff;
}
.back_main_title .back_title_btn:hover{
    background-color: #F3623A;
    border: 1px solid #F3623A;
    color: #fff;
}
.back_list_item{
    position: relative;
    /* padding: 20px 0; */
    border-top: 1px solid #eee;
}
.back_item_detail{
    padding: 20px 20px 0;
}
.back_item_detail .back_item_title{
    font-size: 16px;
    margin-bottom: 20px;
}
.back_item_detail .back_item_title a{
    color: #fc6940;
}
.back_item_detail .back_item_tips{
    margin-bottom: 20px;
    font-size: 14px;
    color: #999;
}
.back_item_detail .back_item_tips span{
    margin-right: 24px;
}
.back_item_detail .back_item_con{
    max-height: 84px;
    line-height: 2;
    margin-bottom: 20px;
    font-size: 14px;
    overflow: hidden;
}
.back_item_bottom{
    height: 42px;
    line-height: 42px;
    padding: 0 20px;
    background-color: #f7f7f7;
    font-size: 14px;
    color: #999;
    margin-bottom: 20px;
}
.back_item_bottom span{
    margin-right: 36px;
}
.back_list_add{
    position: absolute;
    display: none;
    width: 64px;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #00B27E;
    color: #fff;
    text-align: center;
    z-index: 2;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: leftbit;
    animation-name: leftbit;
}
.back_list_item:hover .back_list_add{
    display: inline-block;
}
.back_list_add:hover{
    background-color: #00A776;
    color: #fff;
}
.back_list_add i{
    position: absolute;
    top: 50%;
    left: 22px;
    display: block;
    margin-top: -20px;
    font-size: 20px;
}
.back_list_add span{
    position: absolute;
    top: 50%;
    left: 18px;
    display: block;
    margin-top: 6px;
    font-size: 14px;
}