<div class="bidList_banner_wrap"></div>
<div class="bidList_main">
    <div class="bidList_select clearfix">
        <ul name="sort" class="floatL clearfix">
            <li class="active"><a href="#">全部公示</a><span class="line"></span></li>
            <li><a href="#">中标候选人公示</a></li>
            <li><a href="#">废标公示</a></li>
            <li><a href="#">流标公示</a></li>
        </ul> <a href="javascript:;" class="bidList_clear_btn"><i class="iconfont icon-qingchu"></i></a>
        <div class="bidList_search"><span class="bidList_search_sel">
            <span>公示名称</span>
            <i class="iconfont icon-xiajiantou"></i>
            <dl>
                <dd>公示名称</dd>
                <dd>采购单位</dd>
            </dl>
            </span> 
            <input type="text" placeholder="请输入关键字进行搜索" value="" class="bidList_search_input"> 
            <a href="javascript:;" class="bidList_search_btn iconfont icon-sousuo"></a>
        </div>
    </div>
    <div class="material_list clearfix">
        <table>
            <colgroup>
                <col width="20%">
                <col width="12%">
                <col width="6%">
                <col width="10%">
                <col width="6%">
            </colgroup>
            <thead>
                <th>公示名称</th>
                <th>采购单位</th>
                <th>公示类型</th>
                <th>公示期</th>
                <th>操作</th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="#" class="table_tenderName">中铁四局集团有限公司黄黄铁路HHZQ-3标项目经理部第二批自购物资 (钢材、钢绞线...公开招标公告</a>
                        <p><span class="table_status">共有5个包件</span></p>
                    </td>
                    <td>湖北省路桥集团桥盛工贸有限公司</td>
                    <td>——</td>
                    <td>2019-07-02  至  2019-07-02 </td>
                    <td><a href="#" class="table_view">查看详情</a></td>
                </tr>
                <tr>
                    <td>
                        <a href="#" class="table_tenderName">中铁四局集团有限公司黄黄铁路HHZQ-3标项目经理部第二批自购物资 (钢材、钢绞线...公开招标公告</a>
                        <p><span class="table_status">共有5个包件</span></p>
                    </td>
                    <td>湖北省路桥集团桥盛工贸有限公司</td>
                    <td>——</td>
                    <td>2019-07-02  至  2019-07-02 </td>
                    <td><a href="#" class="table_view">查看详情</a></td>
                </tr>
                <tr>
                    <td>
                        <a href="#" class="table_tenderName">中铁四局集团有限公司黄黄铁路HHZQ-3标项目经理部第二批自购物资 (钢材、钢绞线...公开招标公告</a>
                        <p><span class="table_status">共有5个包件</span></p>
                    </td>
                    <td>湖北省路桥集团桥盛工贸有限公司</td>
                    <td>中标候选人公示</td>
                    <td>2019-07-02  至  2019-07-02 </td>
                    <td><a href="#" class="table_view">查看详情</a></td>
                </tr>
                <tr>
                    <td>
                        <a href="#" class="table_tenderName">中铁四局集团有限公司黄黄铁路HHZQ-3标项目经理部第二批自购物资 (钢材、钢绞线...公开招标公告</a>
                        <p><span class="table_status">共有5个包件</span></p>
                    </td>
                    <td>湖北省路桥集团桥盛工贸有限公司</td>
                    <td>——</td>
                    <td>2019-07-02  至  2019-07-02 </td>
                    <td><a href="#" class="table_view">查看详情</a></td>
                </tr>
                <tr>
                    <td>
                        <a href="#" class="table_tenderName">中铁四局集团有限公司黄黄铁路HHZQ-3标项目经理部第二批自购物资 (钢材、钢绞线...公开招标公告</a>
                        <p><span class="table_status">共有5个包件</span></p>
                    </td>
                    <td>湖北省路桥集团桥盛工贸有限公司</td>
                    <td>——</td>
                    <td>2019-07-02  至  2019-07-02 </td>
                    <td><a href="#" class="table_view">查看详情</a></td>
                </tr>
                <tr>
                    <td>
                        <a href="#" class="table_tenderName">中铁四局集团有限公司黄黄铁路HHZQ-3标项目经理部第二批自购物资 (钢材、钢绞线...公开招标公告</a>
                        <p><span class="table_status">共有5个包件</span></p>
                    </td>
                    <td>湖北省路桥集团桥盛工贸有限公司</td>
                    <td>中标候选人公示</td>
                    <td>2019-07-02  至  2019-07-02 </td>
                    <td><a href="#" class="table_view">查看详情</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <%= pageNav %>
</div>