<div class="back_main">
    <div class="back_main_crumbs">
        <i class="iconfont icon-ditu textBlack3"></i>
        <a href="#" class="textBlack1">我的投标</a> > 投标详情<span class="textRed">（包件1（BJBH-001）</span>
    </div>
    <div class="back_main_head">
        <ul class="bid_steps clearfix">
            <li class="stepDone">
                <p class="bid_steps_title">报名中</p>
                <i class="bid_steps_circle"></i>
                <p class="step_status">已报名</p>
                <p class="step_date">2018-01-06 17:09:35</p>
            </li>
            <li class="stepDoing">
                <p class="bid_steps_title">待资格预审</p>
                <i class="bid_steps_circle"></i>
            </li>
            <li>
                <p class="bid_steps_title">待投标/报价</p>
                <i class="bid_steps_circle"></i>
            </li>
            <li>
                <p class="bid_steps_title">在线开、评标中</p>
                <i class="bid_steps_circle"></i>
            </li>
            <li>
                <p class="bid_steps_title">查看公示结果</p>
                <i class="bid_steps_circle"></i>
            </li>
        </ul>
        
        <div class="bid_handle_warp">
            <span class="tagArrow" style="left:30%;"></span>
            <p class="textBlack1">
                <i class="iconfont icon-dengdai textRed" style="font-size: 22px;vertical-align: -3px;"></i>
                <span class="fontSize16">当前状态：</span><span class="fontSize16 fontBold">待资格预审</span><span class="textBlack3">（待上传资审申请文件）</span>
            </p>
            <p class="bid_handle_tips">资审文件提交截止：<span class="textRed">剩余1天22时33分</span></p>
            <p class="bid_handle_tips">资格预审阶段操作流程：下载资审文件 > 提交资审申请文件 > 查看资审结果</p>
            <span class="bid_handle_btns">
                <a href="javascript:;" class="handle_btnNone marginL10"><i class="iconfont icon-wenhao1"></i>澄清答疑</a>
                <a href="javascript:;" class="handle_btnNone marginL10"><i class="iconfont icon-xiazai"></i>下载资审文件</a>
                <a href="javascript:;" class="handle_btnDone">上传资审申请文件</a>
            </span>
        </div>
    </div>
    <div class="back_main_content clearfix">
        <div class="bid_info_cell">
            <div class="bid_cell_head"><i class="iconfont icon-xinxi1"></i>招标基本信息</div>
            <div class="bid_cell_body">
                <div class="bid_cell_block clearfix">
                    <label class="width79">采购名称：</label>
                    <p class="width379">后湖水环境综合治理工程（一期）—排口截流整治工程--（第 二标段）商品混凝</p>
                </div>
                <div class="bid_cell_block clearfix">
                    <label class="width79">采购单位：</label>
                    <p class="width379">湖北省楚建易网络科技有限公司</p>
                </div>
                <div class="bid_cell_block clearfix">
                    <label class="width79">项目信息：</label>
                    <p class="width379">武汉至阳新高速公路第一标段更多项目信息换行展示</p>
                </div>
                <div class="bid_cell_block clearfix">
                    <label class="width79">发布时间：</label>
                    <p class="width379">2019-05-30  15:12</p>
                </div>
                <div class="bid_cell_block clearfix">
                    <label class="width79">联系信息：</label>
                    <p class="width379">张珊珊 / 15727015195（0275675150）</p>
                </div>
            </div>
        </div>
        <div class="bid_info_cell">
            <div class="bid_cell_head"><i class="iconfont icon-shenhe1"></i>资格预审信息</div>
            <div class="bid_cell_body">
                <div class="bid_cell_block clearfix">
                    <label class="width148">资格预审文件：</label>
                    <p class="width310"><a class="textBlue">下载资格预审文件</a></p>
                </div>
                <div class="bid_cell_block clearfix">
                    <label class="width148">资格预审文件费：</label>
                    <p class="width310">￥2，300<span class="bid_cell_icon">融易付</span><span class="fontNormal textBlack3">（2019.05.30 17:43）</span></p>
                </div>
                <div class="bid_cell_block clearfix">
                    <label class="width148">资审文件费支付凭证：</label>
                    <p class="width310"><a class="textBlue">查看凭证</a><span class="fontNormal">（<span class="status4"></span>已通过<span class="textBlack3 marginL4">2019.05.30 17:43 ）</span></span></p>
                </div>
                <div class="bid_cell_block clearfix">
                    <label class="width148">资格预审申请文件：</label>
                    <p class="width310"><a class="textBlue">查看资格预审申请文件</a><span class="fontNormal textBlack3">（2019.05.30 17:43上传）</span> </p>
                </div>
                <div class="bid_cell_block clearfix">
                    <label class="width148">资审文件费收款账户：</label>
                    <p class="width310">建设银行 / 6230 14869 6582 2555 231</p>
                </div>
            </div>
        </div>
        <div class="bid_info_cell">
            <div class="bid_cell_head"><i class="iconfont icon-baojia1"></i>投标/报价信息</div>
            <div class="bid_cell_body">
                <div class="bid_cell_block clearfix">
                    <label class="width178">招标/询价文件：</label>
                    <p class="width280"><a href="" class="textBlue">下载招标/询价文件</a></p>
                </div>
                <div class="bid_cell_block clearfix">
                    <label class="width178">招标/询价文件费：</label>
                    <p class="width280">￥2，300<span class="bid_cell_icon">线下支付</span></p>
                </div>
                <div class="bid_cell_block clearfix">
                    <label class="width178">招标/询价文件费收款账户：</label>
                    <p class="width280">建设银行 / 6230 14869 6582 2555 231</p>
                </div>
                <div class="bid_cell_block clearfix">
                    <label class="width178">招标/询价文件费支付凭证：</label>
                    <p class="width280"><a href="" class="textBlue">查看凭证</a><span class="fontNormal">（<span class="status1"></span>待确认）</span></p>
                </div>
                <div class="bid_cell_block clearfix">
                    <label class="width178">保证金金额：</label>
                    <p class="width280">￥2，300<span class="bid_cell_icon">融易付</span><span class="fontNormal textBlack3">（2019.05.30 17:43）</span></p>
                </div>
                <div class="bid_cell_block clearfix">
                    <label class="width178">保证金收款账户：</label>
                    <p class="width280">建设银行 / 6230 14869 6582 2555 231</p>
                </div>
                <div class="bid_cell_block clearfix">
                    <label class="width178">保证金支付凭证：</label>
                    <p class="width280"><a href="" class="textBlue">查看凭证</a><span class="fontNormal">（<span class="status3"></span>未通过<span class="textBlack3 marginL4">2019.05.30 17:43</span>）</span></p>
                </div>
                <div class="bid_cell_block clearfix">
                    <label class="width178">投标/报价文件：</label>
                    <p class="width280"><a href="" class="textBlue">查看投标/报价文件</a><span class="fontNormal textBlack3">（2019.05.30 17:43）</span></p>
                </div>
            </div>
        </div>
        <div class="bid_info_cell">
            <div class="bid_cell_head"><i class="iconfont icon-wenhao1"></i>我的提问<span class="cell_head_icon">有5条答疑/澄清记录<a href="" class="marginL10 textRed">点击查看</a></span><a href="javascript:;" class="textBlue floatR fontSize14">澄清提问</a></div>
            <div class="bid_cell_body">
                <div class="question_list">
                    <!-- <div class="bid_cell_block clearfix">
                        <label class="width28"><i class="iconfont icon-wenhao2"></i></label>
                        <p class="width430 fontNormal">合同条款中质保期时间不一致，明确质保期时间为几年？
                            <span class="block"><i class="iconfont icon-fujian marginR4"></i><span class="ellipsis" style="max-width: 330px;vertical-align: -4px;">资审文件1.doc</span><a class="textBlue marginL4">下载</a></span>
                            <span class="block textBlack3">2019-06-10  14:30</span>
                        </p>
                    </div>
                    <div class="bid_cell_block clearfix">
                        <label class="width28"><i class="iconfont icon-wenhao2"></i></label>
                        <p class="width430 fontNormal">5低压断路器品牌要求中“常熟、良信、天津百利（经济型：力西、天正）”请问是否可以直接用经济型品牌报价？<span class="block textBlack3">2019-06-10  14:30</span></p>
                    </div>
                    <div class="bid_cell_block clearfix">
                        <label class="width28"><i class="iconfont icon-wenhao2"></i></label>
                        <p class="width430 fontNormal">合同条款中质保期时间不一致，明确质保期时间为几年？<span class="block textBlack3">2019-06-10  14:30</span></p>
                    </div>
                    <div class="bid_cell_block clearfix">
                        <label class="width28"><i class="iconfont icon-wenhao2"></i></label>
                        <p class="width430 fontNormal">请问是否可以直接用经济型品牌报价？<span class="block textBlack3">2019-06-10  14:30</span></p>
                    </div>
                    <div class="bid_cell_block clearfix">
                        <label class="width28"><i class="iconfont icon-wenhao2"></i></label>
                        <p class="width430 fontNormal">5低压断路器品牌要求中“常熟、良信、天津百利（经济型：力西、天正）”请问是否可以直接用经济型品牌报价？<span class="block textBlack3">2019-06-10  14:30</span></p>
                    </div>
                    <div class="bid_cell_block clearfix">
                        <label class="width28"><i class="iconfont icon-wenhao2"></i></label>
                        <p class="width430 fontNormal">合同条款中质保期时间不一致，明确质保期时间为几年？<span class="block textBlack3">2019-06-10  14:30</span></p>
                    </div>
                    <div class="bid_cell_block clearfix">
                        <label class="width28"><i class="iconfont icon-wenhao2"></i></label>
                        <p class="width430 fontNormal">请问是否可以直接用经济型品牌报价？<span class="block textBlack3">2019-06-10  14:30</span></p>
                    </div> -->
                    <div style="text-align: center" v-else><div class="page_list_noneBg"></div><p class="page_list_noneCon" style="width: 100%;margin-bottom: 60px;font-size: 24px;color: #999;text-align: center;">没有找到相关内容</p></div>
                </div>
                <a href="javascript:;" class="question_more"><span>展开更多提问</span><i class="iconfont icon-xiajiantou"></i></a>
            </div>
        </div>
    </div>
</div>