<div class="back_main">
    <div class="back_main_title">
        <span class="active">项目操作员</span>
    </div>
    <div class="back_main_content">
        <div class="project_person_prompt"><i class="iconfont icon-i"></i>每个项目可设置多个项目操作员。成为项目的操作员后，才具有为项目发起招标采购的操作权限哦~</div>
        <div class="project_name">项目名称：<span class="fontBold">中铁八局集团昆明铁路建设有限公司珠三角城际新百广XBZH-2标四工XBZH-2标工程项目螺纹钢、管材等公开采购中铁八局集团昆明铁路建设有限公司珠三角城</span></div>
        <div class="project_detail_title"><i class="detail_title_circle"></i>管理员</div>
        <div class="project_person_warp">
            <span class="project_admin_cell">王子合<i class="iconfont icon-quanxian-shouxian"></i></span>
            <span class="project_admin_cell">何星毕<i class="iconfont icon-quanxian-shouxian"></i></span>
        </div>
        <div class="project_detail_title"><i class="detail_title_circle"></i>操作员</div>
        <div class="project_person_warp">
            <span class="project_operator_cell"><span>张嘉嘉</span><span>15007137362</span><i class="iconfont icon-cha1"></i></span>
            <span class="project_operator_cell"><span>张嘉嘉</span><span>15007137362</span><i class="iconfont icon-cha1"></i></span>
            <a href="javascript:;" class="project_operator_add"><span><i class="iconfont icon-jiahao1"></i></span><span>添加操作员</span></a>
        </div>
        <div class="project_person_btns">
            <a href="javascript:;" class="project_person_save">保存</a>
            <a href="javascript:;" class="project_person_cancel">取消</a>
        </div>
    </div>
</div>