<div class="room_container">

</div>
<div class="room_layout">
    <div class="room_rulesCon">
        <div class="package_con">
            <ul>
                <li class="act">
                    <a href="javascript:;" class="package_cell">包件1（BJBH-001）</a>
                </li>
                <li>
                    <a href="javascript:;" class="package_cell">包件2（BJBH-002）</a>
                </li>
                <li>
                    <a href="javascript:;" class="package_cell">包件3（BJBH-003）</a>
                </li>
            </ul>
        </div>
        <div class="setting_table_con">
            <div class="setting_list_title">
                <p>这里是模板的名称</p>
                <span class="setting_list_type">综合评标法</span>
            </div>
            <div class="material_list clearfix">
                <table>
                    <colgroup>
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="200">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>评分因素</th>
                            <th>评分指标</th>
                            <th>权重参考（%,100分）</th>
                            <th>评审要点及计分标准</th>
                        </tr>
                    </thead>
                    <tbody class="page_list">
                        <tr>
                            <td rowspan="3">经济因素</td>
                            <td>投标报价</td>
                            <td>30</td>
                            <td>项目负责人</td>
                        </tr>
                        <tr>
                            <td>企业注册资金</td>
                            <td>30</td>
                            <td>物资采购与管理</td>
                        </tr>
                        <tr>
                            <td>近期业绩</td>
                            <td>30</td>
                            <td>物资采购与管理</td>
                        </tr>
                        <tr>
                            <td>技术因素</td>
                            <td>供应商评价得分</td>
                            <td>30</td>
                            <td>工业与民用建筑、各类基础工程、建筑给排水工业与民用建筑、各类基础工程、建筑给排水</td>
                        </tr>
                        <tr>
                            <td colspan="4">评分说明：这里是评分说明……</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>