<div class="back_main">
    <div class="back_main_title">
        <span>标书订单管理</span>
    </div>
    <div class="back_main_content">
        <div class="back_main_notice clearfix">
            <div class="clearfix"><span class="noticeBg floatL"><i class="iconfont icon-i"></i></span><p class="floatL"><span class="textGreen">提示：</span>报名单位需根据招标单位要求<span class="textRed">支付标书费用</span>，才能在线<span class="textRed">浏览招标详情、下载标书文件</span>。</p></div>
            <div class="marginT10 clearfix"><span class="warningBg floatL"><i class="iconfont icon-gantanhao"></i></span><p class="floatL"><span class="textRed">支付：</span>目前支付方式由招标单位与投标单位自行约定。投标单位将在线上传支付凭证，由招标单位在当前页面进行审核确认，确认无误后将为投标单位开启“浏览招标详情”/“下载标书文件”等功能。</p></div>
        </div>
        <div class="back_main_search">
            <select>
                <option value="">审核状态</option>
                <option value="1">待审核</option>
                <option value="2">已通过</option>
                <option value="3">未通过</option>
            </select>
            <input type="text" placeholder="输入关键字：招标名称" name="word" class="cjy-input-" value="">
            <a href="javascript:;" class="btn_confirm">确认</a>
        </div>
        <input type="hidden" name="type" value="book">
        <div class="back_list_con" id="receipt">
            <div style="text-align: center" v-if="loading"><div class="page_loading"></div></div>
            <div class="page_list" v-if="list.length>0">
                <div v-for="item in list" :class="item.reviewEditClass">
                    <div class="back_item_head">
                        <span>提交时间：{{item.time}}</span>
                        <span class="marginL40">订单编号：{{item.code}}</span>
                    </div>
                    <div class="back_item_body">
                        <div><span class="back_body_title"><a target="_blank" :href="'/exclusive/details/'+item.tender_id+'.html'">{{item.tender_name}}</a></span><span class="back_tips_waiting">{{item.word}}</span></div>
                        <div class="fontSize14 marginT18"><span class="textBlack3">供应商：{{item.suppplierName}}</span><span class="textBlack3 marginL40">凭证：</span><a href="javascript:;" class="textBlue" name="bookUrl" :url="item.picUrl">查看</a></div>
                    </div>
                    <a href="javascript:;" name="checkVoucher" :enroll-id="item.enrollId" class="back_item_review">
                        <i class="iconfont icon-shenhe"></i>
                        <span>审核</span>
                    </a>
                    <a href="javascript:;" name="editVoucher" :enroll-id="item.enrollId" class="back_item_edit" v-if="item.isEdit==1">
                        <i class="iconfont icon-bianji"></i>
                        <span>修改</span>
                    </a>
                </div>
            </div>
            <div style="text-align: center" v-else><div class="page_list_noneBg"></div><p class="page_list_noneCon" style="width: 100%;margin-bottom: 60px;font-size: 24px;color: #999;text-align: center;">没有找到相关内容</p></div>
            <div id="pages" class="page_container_wrap">
                <vue-page @get-list="getReceipt" :count="count" :limit="10" v-if="list.length>0"></vue-page>
            </div>
        </div>
    </div>
</div>