<div class="back_main">
    <div class="back_main_title">
        <span>修改基本信息</span>
    </div>
    <div class="back_main_content">
        <div class="back_main_item">
            <label><span>*</span>负责人名称：</label>
            <div class="back_main_block">
                <input type="text" class="cjy-input-" placeholder="请输入供应链金场负责人名称" autocomplete="off">
            </div>
        </div>
        <div class="back_main_item">
            <label><span>*</span>负责人电话：</label>
            <div class="back_main_block">
                <input type="text" class="cjy-input-" placeholder="请输入供应链金场负责人电话" autocomplete="off">
            </div>
        </div>
        <div class="back_main_item">
            <label><span>*</span>企业官网：</label>
            <div class="back_main_block">
                <input type="text" class="cjy-input-" placeholder="请输入官网地址" autocomplete="off">
            </div>
        </div>
    </div>
    <div class="back_main_btns clearfix">
        <a class="noallow_btn floatR" href="javascript:;">保存</a>
    </div>
</div>