<div class="back_main">
    <div class="back_main_title">
        <span class="active">加入状态</span>
    </div>
    <div class="back_status_warp">
        <ul class="clearfix">
            <li class="back_status_cell status_done">
                <span class="iconLine"><i class="iconCon"></i></span>
                <p class="statusName">设置模板内容</p>
            </li>
            <li class="back_status_cell status_none">
                    <span class="iconLine"><i class="iconCon"></i></span>
                    <p class="statusName">设置等级区间</p>
                </li>
            <li class="back_status_cell status_none">
                <span class="iconLine"><i class="iconCon"></i></span>
                <p class="statusName">完成模板</p>
            </li>
        </ul>
    </div>
    <div class="back_main_content">
        <div class="back_info_item clearfix">
            <label class="back_info_title">模板名称：</label>
            <div class="back_main_block">
                <input type="text" class="cjy-input-">
            </div>
        </div>
        <div class="back_info_item clearfix">
            <label class="back_info_title">模板层级：</label>
            <div class="back_main_block">
                <select>
                    <option value="">请选择初始等级</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">2</option>
                </select>
            </div>
        </div>
        <div class="back_info_item clearfix">
            <label class="back_info_title">模板内容：</label>
            <div class="back_main_block">
            </div>
        </div>
        <div class="attr_table">
            <table>
                <colgroup>
                    <col width="9%">
                    <col width="18%">
                    <col width="6%">
                    <col width="9%">
                    <col width="18%">
                    <col width="6%">
                    <col width="9%">
                    <col width="18%">
                    <col width="6%">
                </colgroup>
                <thead>
                    <tr>
                        <th><input type="text" class="cjy-input-" placeholder="一级指标"></th>
                        <th><input type="text" class="cjy-input-" placeholder="指标说明"></th>
                        <th><input type="text" class="cjy-input-" placeholder="权重"></th>
                        <th><input type="text" class="cjy-input-" placeholder="二级指标"></th>
                        <th><input type="text" class="cjy-input-" placeholder="指标说明"></th>
                        <th><input type="text" class="cjy-input-" placeholder="权重"></th>
                        <th><input type="text" class="cjy-input-" placeholder="三级指标"></th>
                        <th><input type="text" class="cjy-input-" placeholder="指标说明"></th>
                        <th><input type="text" class="cjy-input-" placeholder="权重"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="multi_tr">
                        <td colspan="3" class="multi_td" level="1" data-id="0">
                            <div class="multi_box">
                                <div class="multi_oprate"><i class="iconfont icon-jiahao1 add_multi"></i><i class="iconfont icon-huishouxiang del_multi"></i></div>
                                <div class="multi_inner clearfix">
                                    <div class="multi_left"><textarea rows="3" style="width: 60%;"></textarea></div>
                                    <div class="multi_center"><textarea rows="3" style="width: 60%;"></textarea></div>
                                    <div class="multi_right"><textarea rows="3" style="width: 60%;"></textarea></div>
                                </div>
                            </div>
                        </td>
                        <td colspan="3" class="multi_td" level="2" data-id="0-0" parent-id="0">
                            <div class="multi_box">
                                <div class="multi_oprate"><i class="iconfont icon-jiahao1 add_multi"></i><i class="iconfont icon-huishouxiang del_multi"></i></div>
                                <div class="multi_inner clearfix">
                                    <div class="multi_left"><textarea rows="3" style="width: 60%;"></textarea></div>
                                    <div class="multi_center"><textarea rows="3" style="width: 60%;"></textarea></div>
                                    <div class="multi_right"><textarea rows="3" style="width: 60%;"></textarea></div>
                                </div>
                            </div>
                        </td>
                        <td colspan="3" class="multi_td" level="3" parent-id="0-0">
                            <div class="multi_box">
                                <div class="multi_oprate"><i class="iconfont icon-jiahao1 add_multi"></i><i class="iconfont icon-huishouxiang del_multi"></i></div>
                                <div class="multi_inner clearfix">
                                    <div class="multi_left"><textarea rows="3" style="width: 60%;"></textarea></div>
                                    <div class="multi_center"><textarea rows="3" style="width: 60%;"></textarea></div>
                                    <div class="multi_right"><textarea rows="3" style="width: 60%;"></textarea></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>