<%= otherTop %>
<div class="bid_head_container">
    <div class="bid_head_con clearfix">
        <div class="bid_head_title">中铁八局集团昆明铁路建设有限公司珠三角城际新百广XBZH-2标四工XBZH-2标工程项目螺纹钢、管材等公开采购中铁八局集团昆明铁路建设有限公司珠三角城</div>
        <div class="bid_head_tips">
            <span>采购编号： HBLQJTCLZB20180141</span>
            <span>发布时间： 2018-12-12 14:34</span>
            <span>经办人： 张三/1350713736</span>
        </div>
        <div class="bid_head_cells">
            <span>物资/设备采购</span>
            <span>邀请招标</span>
            <span>在线开标</span>
            <span>资格预审</span>
        </div>
    </div>
    <div class="bid_body_container">
        <div class="bid_body_con">
            <div class="bid_multi_title"><span class="act">时间信息</span><span><a href="#">邀请单位</a></span></div>
            <div class="bid_body_detail">
                <div class="dateChange">
                    <div class="material_list">
                        <table>
                            <colgroup>
                                <col width="10%">
                                <col width="15%">
                                <col width="15%">
                                <col width="20%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>时间项</th>
                                    <th>时间</th>
                                    <th>变更为</th>
                                    <th>提示信息</th>
                                </tr>
                            </thead>
                            <tbody class="page_list">
                                <tr class="textBlack3">
                                    <td>报名截止时间</td>
                                    <td>2019-12-12  12：00</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>资审文件递交截止时间</td>
                                    <td>2019-12-12  12：00</td>
                                    <td><input type="text" name="time" calendar value="2019-12-12 12:00" class="cjy-calendar-input" readonly></td>
                                    <td></td>
                                </tr>
                                <tr class="textBlack3">
                                    <td>投标截止时间</td>
                                    <td>——</td>
                                    <td></td>
                                    <td>招标文件发售总时长不得少于5日</td>
                                </tr>
                                <tr>
                                    <td>开标时间</td>
                                    <td>2019-12-12  12：00</td>
                                    <td><input type="text" name="time" calendar value="2019-12-12 12:00" class="cjy-calendar-input" readonly></td>
                                    <td>招标文件发售总时长不得少于5日</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="clear"></div>
                    </div>
                    <div class="bid_foot_btns">
                        <a href="javascript:;" class="bid_change_cancel">取消</a>
                        <a href="javascript:;" class="bid_change_save">保存</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>