<div class="breadcrumbs_wrap">
    <div class="breadcrumbs_inner">
        <%= backCrumbs %>
    </div>
    <div class="bidding_detail_wrap">
        <div class="bidding_detail_header">
            <h1>XXX华丽高速项目-钢材招标</h1>
            <div class="bidding_number_date">
                <span class="marginR30">企业招标编号：XXXXXXXXXXXX</span>
                <span class="marginR30">平台招标编号：XXXXXXXXXXXX</span>
                <span>发布时间：2018-09-08&nbsp;&nbsp;12:00:00</span>
            </div>
        </div>
        <div class="bidding_detail_content">
            <span class="seal_success"></span>
            <ul class="bidding_pro">
                <li class="bidding_pro_li">
                    <span class="bidding_pro_title">所属项目：</span>
                    <span class="bidding_pro_name">XXX华丽高速项目</span>
                </li>
                <li class="bidding_pro_li">
                    <span class="bidding_pro_title">招标单位：</span>
                    <span class="bidding_pro_name">湖北楚建易网络科技有限公司</span>
                </li>
                <a href="#" class="supplychain_column js_login"><img src="<%= ad %>"></a>
                <table>
                        <colgroup>
                            <col width="50">
                            <col width="400">
                            <col width="150">
                            <col width="300">
                        </colgroup>
                    <thead>
                        <tr><th>序号</th><th>中标单位</th><th>中标金额（元）</th><th>备注</th></tr>
                    </thead>
                    <tbody>
                        <tr><td>1</td><td><a href="#" target="_blank" class="textBlue">供应商1全称，单击新标签打开投标详情页</a></td><td>500000</td><td>中标包件：<br>XXXXXXXXXXXXXXXXXXXXXXXXXXX</td></tr>
                        <tr><td>2</td><td><a href="#" target="_blank" class="textBlue">供应商2全称</a></td><td>500000</td><td>-</td></tr>
                    </tbody>
                </table>
            </ul>
            <p class="bidding_pro_foot">
                <a class="bidding_pro_btn" href="javascript:;">查看详情</a>
            </p>
        </div>
        <div class="bidding_detail_footer clearfix">
            <i class="iconfont icon-deng floatL"></i><p class="floatL" style="width:780px;margin-left: 4px;">根据与本次采购单位签订的《生材网招投标平台服务协议》之约定，采购单位已授权湖北省楚建易网络科技有限公司签发中标/订货通知书。</p>
        </div>
    </div>
</div>