.setting_warp{
    width: 100%;
    padding-bottom: 80px;
    background-color: #F4F4F4;
}
.setting_warp .crumbs_con{
    width: 1366px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    color: #888;
}
.setting_warp .crumbs_con i.icon-ditu{
    margin-right: 4px;
    vertical-align: -1px;
}
.setting_container{
    width: 1366px;
    margin: 0 auto;
    padding-bottom: 30px;
    background-color: #fff;
}

.setting_table_con{
    min-height: 452px;
}

.setting_table_con .setting_list_title{
    padding: 30px 0;
    background-color: #FCFCFC;
    border: solid 1px #e5e5e5;
    border-bottom: none;
    text-align: center;
}
.setting_list_title p{
    font-size: 24px;
    font-weight: 700;
    color: #333;
}
.setting_list_title .setting_list_type{
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    margin-top: 16px;
    border: solid 1px #F24D20;
    border-radius: 30px;
    color: #F24D20;
    text-align: center;
}

.setting_table_con .setting_btns{
    margin: 40px auto;
    padding-top: 30px;
    border-top: solid 1px #e5e5e5;
    text-align: center;
}
.setting_btns .setting_btn_cancel{
    display: inline-block;
    width: 120px;
    height: 46px;
    line-height: 46px;
    margin-right: 10px;
    border: solid 1px #ccc;
    box-shadow: 0 1px 5px 0px #ccc;
    border-radius: 46px;
    font-size: 16px;
    text-align: center;
}