<div class="back_main">
    <div class="back_main_notice clearfix">
        <div class="clearfix"><span class="noticeBg floatL"><i class="iconfont icon-i"></i></span><p class="floatL">贵公司还不是生材网会员哦，申请成为会员后才能报名参加平台上的独家招投标！<a href="#" class="textOrange">立即申请</a></p></div>
    </div>
    <div class="back_main_title">
        <span>企业基本信息</span>
        <a href="javascript:;" class="back_title_btn floatR">修改基本信息</a>
    </div>
    <div class="back_main_content">
        <div class="back_info_item clearfix">
            <label class="back_info_title">公司名称：</label>
            <label>湖北国际经济技术合作有限公司<i class="iconfont icon-vip"></i></label>
        </div>
        <div class="back_info_item clearfix">
            <label class="back_info_title">公司logo：</label>
            <img src="<%= npPic %>">
        </div>
        <div class="back_info_item clearfix">
            <label class="back_info_title">公司规模：</label>
            <label>50人以下</label>
        </div>
        <div class="back_info_item clearfix">
            <label class="back_info_title">注册资金：</label>
            <label>1000万元</label>
        </div>
        <div class="back_info_item clearfix">
            <label class="back_info_title">企业类型：</label>
            <label>股份合作企业</label>
        </div>
        <div class="back_info_item clearfix">
            <label class="back_info_title">纳税人类型：</label>
            <label>纳税人类型</label>
        </div>
        <div class="back_info_item clearfix">
            <label class="back_info_title">年营业额：</label>
            <label>5000万-1亿</label>
        </div>
        <div class="back_info_item clearfix">
            <label class="back_info_title">年营业额：</label>
            <div class="floatL">
                <span class="material_item">黑色及有色金属1</span>
                <span class="material_item">黑色及有色金属1</span>
                <span class="material_item">黑色及有色金属1</span>
                <span class="material_item">黑色及有色金属1</span>
                <span class="material_item">黑色及有色金属1</span>
            </div>
        </div>
        <div class="back_info_item clearfix">
            <label class="back_info_title">公司联系方式：</label>
            <label>027-8888888</label>
        </div>
        <div class="back_info_item clearfix">
            <label class="back_info_title">公司地址：</label>
            <label>湖北省-武汉市-洪山区</label>
        </div>
        <div class="back_info_item clearfix">
            <label class="back_info_title">详细地址：</label>
            <label>珞喻路1037号</label>
        </div>
    </div>
    <div class="back_main_title">
        <span>统一社会信用代码，公司授权书</span>
        <a href="javascript:;" class="back_title_btn floatR">修改</a>
    </div>
    <div class="back_main_content">
        <div class="back_info_item clearfix">
            <label class="back_info_title">统一社会信用代码：</label>
            <label>XXXXXXXXXXXXXXXXXXXXXXXXXX</label>
        </div>
        <div class="back_info_item clearfix">
            <label class="back_info_title">营业执照：</label>
            <img src="<%= npPic %>">
        </div>
        <div class="back_info_item clearfix">
            <label class="back_info_title">公司授权书：</label>
            <img src="<%= npPic %>">
        </div>
    </div>
</div>