.back_main_notice{
    margin: 30px 30px 0 30px;
    padding: 10px;
    background-color: #FCFAE3;
    border: 1px solid #F7E3A4;
}
.back_main_notice .noticeBg,.back_main_notice .warningBg {
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin-right: 10px;
    border-radius: 12px;
}
.back_main_notice p{
    width: 780px;
    line-height: 2;
    font-size: 14px;
}
.back_main_notice .noticeBg i,.back_main_notice .warningBg i{
    font-size: 14px;
}
.back_main_title .back_title_btn{
    display: inline-block;
    width: 100px;
    height: 28px;
    line-height: 28px;
    margin-top: 30px;
    background-color: #fc6940;
    border: 1px solid #fc6940;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    color: #fff;
}
.back_main_title .back_title_btn:hover{
    background-color: #F3623A;
    border: 1px solid #F3623A;
    color: #fff;
}
.back_main_content{
    padding: 50px 30px;
}
.back_info_item label{
    float: left;
    display: block;
    padding: 10px 0;
    line-height: 20px;
    font-size: 14px;
}
.back_info_item label.back_info_title{
    width: 310px;
    text-align: right;
    color: #999;
}
.back_info_item img{
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-right: 20px;
    border: 1px solid #ccc;
    background: #e5e5e5;
    float: left;
    cursor: pointer;
    object-fit: scale-down;
}
.back_info_item div{
    display: inline-block;
    width: 520px;
}
.back_info_item .material_item{
    display: inline-block;
    height: 28px;
    line-height: 28px;
    margin: 10px 10px 0 0;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #666;
}

/* vip图标 */
.icon-vip{
    font-size: 14px;
    color: #ffc000;
    margin-left: 6px;
}