<div class="module_item_wrap">
    <div class="module_item">
        <h1>选择评标专家</h1>
        <a class="zhuanjiaChoose" href="javascript:;">选择评标专家</a>
    </div>
    <div class="module_item">
        <h1>选择评标专家</h1>
        <a class="zhuanjiaSelect" href="javascript:;">选择评标专家</a>
    </div>
    <div class="module_item">
        <h1>选择评分方法</h1>
        <a class="rateTypeChoose" href="javascript:;">选择评分方法</a>
    </div>
    <div class="module_item">
        <h1>选择评分模板</h1>
        <a class="modelTypeChoose" href="javascript:;">选择评分模板</a>
    </div>
    <div class="module_item">
        <h1>确认评分模板</h1>
        <a class="modelConfirm" href="javascript:;">确认评分模板</a>
    </div>
    <div class="module_item">
        <h1>提示浮层</h1>
        <a class="loadingTips" href="javascript:;">提示浮层</a>
    </div>
    <div class="module_item">
        <h1>开始唱标</h1>
        <a class="changbiaoBegin" href="javascript:;">开始唱标</a>
    </div>
    <div class="module_item">
        <h1>结束唱标</h1>
        <a class="changbiaoEnd" href="javascript:;">结束唱标</a>
    </div>
    <div class="module_item">
        <h1>提交评分</h1>
        <a class="rateConfirm" href="javascript:;">提交评分</a>
    </div>
    <div class="module_item">
        <h1>专家确认中</h1>
        <a class="zjConfirm" href="javascript:;">专家确认中</a>
    </div>
</div>
