<div class="page_container_wrap">
    <div class="page_container">
        <div class="page_container_nav">
            <a href="javascript:;" class="page_negative">上一页</a>
            <a href="javascript:;" class="page_cur">1</a>
            <a href="javascript:;" class="page_num">2</a>
            <a href="javascript:;" class="page_num">3</a>
            <span class="page_elip">...</span>
            <a href="javascript:;" class="page_active">下一页</a>
            <span>跳转到：</span>
            <span class="page_skip"><input type="text" class="page_count" value="1"></span>
            <a href="javascript:;" class="page_confirm" url="http://shop.wujigang.cn/?page=">GO</a>
        </div>
    </div>
</div>