<div class="register_main">
    <div class="reg_step_con clearfix">
        <div class="reg_step_item stp1">
            <i></i>
            <span>填写注册人信息</span>
        </div>
        <div class="reg_step_item stp2">
            <i></i>
            <span>填写企业信息</span>
        </div>
        <div class="reg_step_item stp3_act">
            <i></i>
            <span>等待审核</span>
        </div>
        <div class="reg_step_item stp4">
            <i></i>
            <span>审核完成</span>
        </div>
    </div>
    <div class="register_waiting">
        <!--供应商vip-->
        <!-- <div class="seller_title">
            <a href="#">查看VIP会员服务</a>
        </div>
        <div class="reg_vip_con">
            <div class="reg_vip_title"><span style="display: inline-block;margin-top: 56px;">供应商VIP会员<span class="textOrange" style="margin-left: 14px;">12000元/年</span></span></div>
            <div class="reg_vip_body">
                <div class="vip_tips_title"><span>收款账户</span></div>
                <div class="vip_tips_con">
                    <p>账户名称：湖北省楚建易网络科技有限公司</p>
                    <p>开户银行：招商银行武汉分行营业部（行号：308521015014）</p>
                    <p>账户号码：127911390810401</p>
                </div>
                <div class="vip_tips_title"><span>会员说明</span></div>
                <div class="vip_tips_con">
                    <p>点击“申请开通”后将有生材网工作人员与您取得联系。支付会籍费时，请在付款凭证备注中填写注册企业的全称，您所提交的信息经审核通过后，我们将及时开通VIP会员权限。</p>
                </div>
                <div class="vip_tips_title"><span>联系我们</span></div>
                <div class="vip_tips_con">
                    <p>服务电话：027-82813259</p>
                </div>
            </div>
            <div class="vip_tips_foot">
                <span class="radio_bg radio_left"></span>
                <span class="radio_bg radio_right"></span>
                <a href="javascript:;" class="vip_apply">申请开通</a>
            </div>
        </div> -->

        <!--采购商vip-->
        <!-- <div class="reg_wait_img"></div>
        <div class="reg_wait_title">企业入驻信息正在审核中...</div>
        <div class="reg_vip_con">
            <div class="reg_vip_title">
                <span style="display: inline-block;margin-top: 40px;">采购商VIP会员<span class="textOrange" style="margin-left: 14px;">注册首年免费</span></span>
                <a>查看VIP会员服务</a>
            </div>
            <div class="reg_vip_body">
                <div class="vip_tips_title"><span>会员说明</span></div>
                <div class="vip_tips_con">
                    <p>采购商类会员注册首年（指第1个合同年）免收会籍费。但是对于年累计（指合同期内的完整一年，下同，含注册首年）有效招投标交易少于6次或者年累计采购额低于500万的采购商，将在第二个合同年按照12000元/年标准收取会籍费。该类采购商如果在第二个合同年年累计有效招投标交易多于6次或者年累计采购额高于500万，则免收第三个合同年会籍费；反之则将在第三个合同年按照12000元/年标准收取会籍费，以此类推。</p>
                </div>
                <div class="vip_tips_title"><span>联系我们</span></div>
                <div class="vip_tips_con">
                    <p>服务电话：027-82813259</p>
                </div>
            </div>
        </div> -->

        <!--两者都是-->
        <!-- <div class="seller_title">
            <a href="#">查看VIP会员服务</a>
        </div>
        <div class="reg_vip_con">
            <div class="reg_vip_title"><span style="display: inline-block;margin-top: 56px;">供应商VIP会员<span class="textOrange" style="margin-left: 14px;">12000元/年</span><span style="margin: 0 30px;color: #bd9df0;">&</span>采购商VIP会员<span class="textOrange" style="margin-left: 14px;">注册首年免费</span></span></div>
            <div class="reg_vip_body">
                <div class="vip_tips_title"><span>收款账户</span></div>
                <div class="vip_tips_con">
                    <p>账户名称：湖北省楚建易网络科技有限公司</p>
                    <p>开户银行：招商银行武汉分行营业部（行号：308521015014）</p>
                    <p>账户号码：127911390810401</p>
                </div>
                <div class="vip_tips_title"><span>会员说明</span></div>
                <div class="vip_tips_con">
                    <p>点击“申请开通”后将有生材网工作人员与您取得联系。支付会籍费时，请在付款凭证备注中填写注册企业的全称，您所提交的信息经审核通过后，我们将及时开通VIP会员权限。</p>
                    <p>采购商类会员注册首年（指第1个合同年）免收会籍费。但是对于年累计（指合同期内的完整一年，下同，含注册首年）有效招投标交易少于6次或者年累计采购额低于500万的采购商，将在第二个合同年按照12000元/年标准收取会籍费。该类采购商如果在第二个合同年年累计有效招投标交易多于6次或者年累计采购额高于500万，则免收第三个合同年会籍费；反之则将在第三个合同年按照12000元/年标准收取会籍费，以此类推。</p>
                </div>
                <div class="vip_tips_title"><span>联系我们</span></div>
                <div class="vip_tips_con">
                    <p>服务电话：027-82813259</p>
                </div>
            </div>
            <div class="vip_tips_foot">
                <span class="radio_bg radio_left"></span>
                <span class="radio_bg radio_right"></span>
                <a href="javascript:;" class="vip_none">已申请VIP</a>
            </div>
        </div> -->


        <div class="reg_wait_img"></div>
        <div class="reg_wait_title">企业入驻信息正在审核中...</div>
        <div class="reg_wait_con">
            <span class="marginL40">提交审核的时间：2018-07-05 14:12:23</span>
        </div>
        <div class="reg_wait_tips">
            <a href="javascript:;" class="reg_download_btn">下载生材网平台服务协议</a>
            <p>我们会在工作日24小时内完成审核工作，审核结果将以短信形式告知，</p>
            <p>或使用注册账号登录平台关注审核进程！</p>
            <p> 如需帮助请拨打：027-5675150</p>
        </div>
    </div>
    <div class="register_btns">
        <a href="javascript:;" class="btn_confirm">返回首页</a>
    </div>
</div>