<div class="com_top_menu clearfix">
    <div class="top_menu_left">
        <a class="website_logo" href="javascript:;"></a>
    </div>
    <div class="top_menu_right">
        <% for(var i = 0;i < topItems.length;i++) { %>
        <a class="<%= topItems[i].act ? "active" : "" %>" href="javascript:;"><%= topItems[i].name %></a>
        <% } %>
        <!-- <a class="moreNav active" href="javascript:;">买家中心<i class="iconfont icon-xiajiantou"></i>
            <dl>
                <dd class="active">我是供应商</dd>
                <dd>我是采购商</dd>
            </dl>
        </a> -->
    </div>
</div>