<div class="register_main">
    <div class="register_container">
        <div class="reg_form_item">
            <label>新密码：</label>
            <div class="register_block">
                <input type="password" name="new_pwd" class="cjy-input-">
            </div>
        </div>
        <div class="reg_form_item">
            <label>确认新密码：</label>
            <div class="register_block">
                <input type="password" name="renew_pwd" class="cjy-input-">
            </div>
        </div>
    </div>
    <div class="register_btns">
        <a href="javascript:;" class="btn_confirm">下一步</a>
    </div>
</div>