<%= otherTop %>
<div class="publish_wrap">
    <div class="publish_container">
        <div class="publish_head"><span>////////////</span>邀请供应商<span>////////////</span></div>
        <div class="publish_block clearfix">
            <label><span class="textRed">*</span>标包信息：</label>
            <div class="publish_block_item">
                <input type="radio" name="pName" title="GC-2009-01" value="GC-2009-01" checked><input type="radio" name="pName" title="GC-2009-02" value="GC-2009-02"><input type="radio" name="pName" title="GC-2009-03" value="GC-2009-03"><input type="radio" name="pName" title="GC-2009-04" value="GC-2009-04"><input type="radio" name="pName" title="GC-2009-05" value="GC-2009-05"><input type="radio" name="pName" title="GC-2009-06" value="GC-2009-06">
                <div class="material_list">
                    <table>
                        <colgroup>
                            <col width="400">
                            <col width="170">
                            <col width="150">
                            <col width="150">
                            <col width="170">
                            <col width="150">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>供应商名称</th>
                                <th>供应商来源</th>
                                <th>供应商等级</th>
                                <th>联系人</th>
                                <th>联系方式</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="js_show">
                                <td>湖北交投物流集团有限公司</td>
                                <td>我的供应商</td>
                                <td>A</td>
                                <td>张三</td>
                                <td>13512254444</td>
                                <td><a href="javascript:;" class="textRed">移除</a></td>
                            </tr>
                            <tr class="js_show">
                                <td>湖北交投物流集团有限公司</td>
                                <td>我的供应商</td>
                                <td>A</td>
                                <td>张三</td>
                                <td>13512254444</td>
                                <td><a href="javascript:;" class="textRed">移除</a></td>
                            </tr>
                            <tr class="js_show">
                                <td>湖北交投物流集团有限公司</td>
                                <td>我的供应商</td>
                                <td>A</td>
                                <td>张三</td>
                                <td>13512254444</td>
                                <td><a href="javascript:;" class="textRed">移除</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <a href="javascript:;" class="publish_add"><i>+</i>邀请供应商</a>
            </div>
        </div>
        <div class="publish_btn_wrap">
            <a href="javascript:;" class="btn_draft"><i class="iconfont icon-caogaoxiang"></i>保存为草稿</a>
            <a href="javascript:;" class="btn_next floatR">下一步</a>
            <a href="javascript:;" class="btn_back marginR10 floatR">返回上一步</a>
        </div>
    </div>
</div>