<div class="feedback_warp">
    <div class="feedback_bg"></div>
    <div class="feedback_con">
        <div class="feedback_tip"><i class="iconfont icon-i"></i>尊敬的客户，您好，非常感谢您使用生材网，欢迎提出您在使用过程中遇到的问题或宝贵建议，以帮助我们更好的的改进产品，感谢您的支持。</div>
        <div class="feedback_item">
            <label>反馈内容：</label>
            <div class="feedback_block">
                <textarea class="cjy-textarea" name="feedback" maxlen="400" placeholder="请输入您的意见或建议（400字以内）"></textarea>
            </div>
        </div>
        <div class="feedback_item">
            <label>联系方式：</label>
            <div class="feedback_block">
                <input class="cjy-input-" name="contact_phone" placeholder="请输入您的联系方式，以便我们及时回复您。">
            </div>
        </div>
        <div class="feedback_btns clearfix">
            <a class="btn_confirm floatR" href="javascript:;">确定</a>
        </div>
    </div>
</div>