<div class="back_main">
    <div class="back_main_title">
        <span>我的身份管理</span>
        <a href="javascript:;" class="back_title_btn floatR">+ 我的身份管理</a>
    </div>
    <div class="back_main_content">
        <div class="back_main_list">
            <div class="material_list">
                <table>
                    <colgroup>
                        <col width="300">
                        <col width="150">
                        <col width="100">
                        <col width="200">
                        <col width="100">
                        <col width="150">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>企业名称</th>
                        <th>企业身份</th>
                        <th>账号身份</th>
                        <th>分管项目</th>
                        <th>状态</th>
                        <th>操作</th>

                    </tr>
                    </thead>
                    <tbody class="page_list">
                    <tr>
                        <td rowspan="3">楚建易网络科技有限公司1</td>
                        <td>1类供应商</td>
                        <td>管理员</td>
                        <td>项目1</td>
                        <td><span>有效</span></td>
                        <td><a href="javascript:;" class="textBlue">当前登录身份</a></td>
                    </tr>
                    <tr>
                        <td>1类供应商</td>
                        <td>管理员</td>
                        <td>项目1</td>
                        <td><span>有效</span></td>
                        <td><a href="javascript:;" class="textBlue">当前登录身份</a></td>
                    </tr>
                    <tr>
                        <td>1类供应商</td>
                        <td>管理员</td>
                        <td>项目1</td>
                        <td><span>有效</span></td>
                        <td><a href="javascript:;" class="textBlue">当前登录身份</a></td>
                    </tr>
                    </tbody>
                </table>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>