<div class="com_top_menu clearfix">
    <div class="top_menu_left">
        <a class="website_logo" href="javascript:;"></a>
        <% if(layType=='normal'){ %>
        <span class="website_location">
            <i class="iconfont icon-ditu"></i><span class="location_value">武汉</span><i class="iconfont icon-xiajiantou"></i>
            <span class="location_list">
                <span class="location_national clearfix">
                    <a class="act" city_id="0">全国</a>
                </span>
                <a class="" city_id="66">广州市</a>
                <a class="" city_id="1710">武汉市</a>
            </span>
        </span>

        <% } %>
    </div>
    <div class="top_menu_right">
        <% if(layType=='shop'){ %>
        <div class="shop_search_warp">
            <input type="text" class="shop_search_input" placeholder="商品名称">
            <a href="javascript:;" class="shop_search_btn">搜本店</a>
        </div>
        <a href="javascript:;" class="mall_search_btn">搜商城</a>
        <a href="javascript:;" class="shop_cart">我的购物车<i class="iconfont icon-gouwuche"></i><span class="cart_num">3</span></a>
        <% } else{ %>
        <div class="top_search_warp">
            <span class="top_search_sel">
                <span>产品</span><i class="iconfont icon-xiajiantou"></i>
                <dl>
                    <dd>产品</dd>
                    <dd>店铺</dd>
                </dl>
            </span>
            <input type="text" class="top_search_input" placeholder="请输入关键字进行搜索">
            <a href="javascript:;" class="top_search_btn iconfont icon-sousuo"></a>
        </div>
        <a href="javascript:;" class="top_cart">我的购物车<i class="iconfont icon-gouwuche"></i><span class="cart_num">3</span></a>
        <% } %>
    </div>
</div>
<% if(layType=='normal'){ %>
<div class="top_bar_warp">
    <div class="top_bar_con">
        <div class="top_left_menu">
            <span class="top_menu_txt">工程项目材料一站式采购<i class="iconfont icon-xiajiantou"></i></span>
            <div class="top_service">
                <ul class="service_bd">
                    <li class="service_cat" data-index="0">
                        <a href="javascript:;">
                            <i class="left_icon iconfont icon-chanpin"></i>
                            <span class="ellipsis">五金机电</span>
                            <i class="iconfont icon-youjiantou"></i>
                        </a>
                    </li>
                    <li class="service_cat" data-index="1">
                        <a href="javascript:;">
                            <i class="left_icon iconfont icon-chanpin"></i>
                            <span class="ellipsis">工具仪器</span>
                            <i class="iconfont icon-youjiantou"></i>
                        </a>
                    </li>
                    <li class="service_cat" data-index="2">
                        <a href="javascript:;">
                            <i class="left_icon iconfont icon-chanpin"></i>
                            <span class="ellipsis">劳保日杂</span>
                            <i class="iconfont icon-youjiantou"></i>
                        </a>
                    </li>
                    <li class="service_cat" data-index="3">
                        <a href="javascript:;">
                            <i class="left_icon iconfont icon-chanpin"></i>
                            <span class="ellipsis">给水排水</span>
                            <i class="iconfont icon-youjiantou"></i>
                        </a>
                    </li>
                    <li class="service_cat" data-index="4">
                        <a href="javascript:;">
                            <i class="left_icon iconfont icon-chanpin"></i>
                            <span class="ellipsis">消防器材</span>
                            <i class="iconfont icon-youjiantou"></i>
                        </a>
                    </li>
                    <li class="service_cat" data-index="5">
                        <a href="javascript:;">
                            <i class="left_icon iconfont icon-chanpin"></i>
                            <span class="ellipsis">五金机电</span>
                            <i class="iconfont icon-youjiantou"></i>
                        </a>
                    </li>
                    <li class="service_cat" data-index="6">
                        <a href="javascript:;">
                            <i class="left_icon iconfont icon-chanpin"></i>
                            <span class="ellipsis">工具仪器</span>
                            <i class="iconfont icon-youjiantou"></i>
                        </a>
                    </li>
                    <li class="service_cat" data-index="7">
                        <a href="javascript:;">
                            <i class="left_icon iconfont icon-chanpin"></i>
                            <span class="ellipsis">劳保日杂</span>
                            <i class="iconfont icon-youjiantou"></i>
                        </a>
                    </li>
                    <li class="service_cat" data-index="8">
                        <a href="javascript:;">
                            <i class="left_icon iconfont icon-chanpin"></i>
                            <span class="ellipsis">给水排水</span>
                            <i class="iconfont icon-youjiantou"></i>
                        </a>
                    </li>
                    <li class="service_cat" data-index="9">
                        <a href="javascript:;">
                            <i class="left_icon iconfont icon-chanpin"></i>
                            <span class="ellipsis">消防器材</span>
                            <i class="iconfont icon-youjiantou"></i>
                        </a>
                    </li>
                    <li class="service_cat" data-index="10">
                        <a href="javascript:;">
                            <i class="left_icon iconfont icon-chanpin"></i>
                            <span class="ellipsis">五金机电</span>
                            <i class="iconfont icon-youjiantou"></i>
                        </a>
                    </li>
                    <li class="service_cat" data-index="11">
                        <a href="javascript:;">
                            <i class="left_icon iconfont icon-chanpin"></i>
                            <span class="ellipsis">工具仪器</span>
                            <i class="iconfont icon-youjiantou"></i>
                        </a>
                    </li>
                    <li class="service_cat" data-index="12">
                        <a href="javascript:;">
                            <i class="left_icon iconfont icon-chanpin"></i>
                            <span class="ellipsis">劳保日杂</span>
                            <i class="iconfont icon-youjiantou"></i>
                        </a>
                    </li>
                    <li class="service_cat" data-index="13">
                        <a href="javascript:;">
                            <i class="left_icon iconfont icon-chanpin"></i>
                            <span class="ellipsis">给水排水</span>
                            <i class="iconfont icon-youjiantou"></i>
                        </a>
                    </li>
                    <li class="service_cat" data-index="14">
                        <a href="javascript:;">
                            <i class="left_icon iconfont icon-chanpin"></i>
                            <span class="ellipsis">给水排水</span>
                            <i class="iconfont icon-youjiantou"></i>
                        </a>
                    </li>
                </ul>
                <div class="service_float">
                    <div class="service_item">
                        <dl class="service_panel clearfix">
                            <dt class="service_panel_dt">
                                <a href="javascript:;"><i class="iconfont icon-youjiantou"></i>劳保工作服</a>
                            </dt>
                            <dd class="service_panel_dd">
                                <a href="javascript:;">大褂</a>
                                <a href="javascript:;">电焊服</a>
                                <a href="javascript:;">棉衣</a>
                                <a href="javascript:;">工作服</a>
                            </dd>
                        </dl>
                        <dl class="service_panel clearfix">
                            <dt class="service_panel_dt">
                                <a href="javascript:;"><span></span>日杂用品</a>
                            </dt>
                            <dd class="service_panel_dd">
                                <a href="javascript:;">大褂</a>
                                <a href="javascript:;">电焊服</a>
                                <a href="javascript:;">棉衣</a>
                                <a href="javascript:;">工作服</a>
                                <a href="javascript:;">大褂</a>
                                <a href="javascript:;">电焊服</a>
                                <a href="javascript:;">棉衣</a>
                                <a href="javascript:;">工作服</a>
                                <a href="javascript:;">大褂</a>
                                <a href="javascript:;">电焊服</a>
                                <a href="javascript:;">棉衣</a>
                                <a href="javascript:;">工作服</a>
                                <a href="javascript:;">大褂</a>
                                <a href="javascript:;">电焊服</a>
                                <a href="javascript:;">棉衣</a>
                                <a href="javascript:;">工作服</a>
                            </dd>
                        </dl>
                    </div>

                    <div class="service_item">
                            <dl class="service_panel clearfix">
                                <dt class="service_panel_dt">
                                    <a href="javascript:;"><i class="iconfont icon-youjiantou"></i>劳保工作服</a>
                                </dt>
                                <dd class="service_panel_dd">
                                    <a href="javascript:;">大褂</a>
                                    <a href="javascript:;">电焊服</a>
                                    <a href="javascript:;">棉衣</a>
                                    <a href="javascript:;">工作服</a>
                                </dd>
                            </dl>
                        </div>
                </div>
            </div>
        </div>
        <div class="top_title_con">
            <ul>
                <li class="active"><a>商城首页</a><span class="top_title_line"></span></li>
                <li><a>找店铺</a><span class="top_title_line"></span></li>
            </ul>
        </div>
        <div class="top_tel"></div>
    </div>
</div>
<% } %>