<!-- <div class="footer_advantage_wrap">
    <div class="footer_advantage clearfix">
        <div class="fat_item">
            <i class="iconfont icon-dujia advantage_icon"></i>
            <b>独家</b>
            <span class="fat_item_brief">合伙人单位的独家需求资源</span>
        </div>
        <div class="fat_item">
            <span class="iconfont icon-tianping advantage_icon"></span>
            <b>中立</b>
            <span class="fat_item_brief">始终坚守三方中立平台定位</span>
        </div>
        <div class="fat_item">
            <span class="iconfont icon-fuwu advantage_icon"></span>
            <b>服务</b>
            <span class="fat_item_brief">专注提升基建物资采购服务</span>
        </div>
        <div class="fat_item">
            <span class="iconfont icon-qiandai advantage_icon"></span>
            <b>共赢</b>
            <span class="fat_item_brief">给您带来价值才有相应回报</span>
        </div>
        <div class="fat_item">
            <span class="iconfont icon-houtaiguanli advantage_icon"></span>
            <b>技术</b>
            <span class="fat_item_brief">静心专注技术提升平台体验</span>
        </div>
    </div>
</div> -->
<div class="footer_intro_wrap">
    <div class="footer_intro clearfix">
        <div class="fin_item">
            <strong>生材网</strong>
            <ul>
                <li>
                    <a href="javascript:;">独家招标</a>
                </li>
                <li>
                    <a href="javascript:;">中标公告</a>
                </li>
                <li>
                    <a href="javascript:;">找供应商</a>
                </li>
                <li>
                    <a href="javascript:;">三方招标</a>
                </li>
            </ul>
        </div>
        <div class="fin_item">
            <strong>新手入门</strong>
            <ul>
                <li>
                    <a href="javascript:;">注册流程</a>
                </li>
                <li>
                    <a href="javascript:;">采购商指南</a>
                </li>
                <li>
                    <a href="javascript:;">供应商指南</a>
                </li>
                <li>
                    <a href="javascript:;">视频教程</a>
                </li>
            </ul>
        </div>
        <div class="fin_item">
            <strong>关于生材网</strong>
            <ul>
                <li>
                    <a href="javascript:;">关于我们</a>
                </li>
                <li>
                    <a href="javascript:;">联系我们</a>
                </li>
                <li>
                    <a href="javascript:;">用户协议</a>
                </li>
            </ul>
        </div>
        <div class="fin_item fin_line">
            <strong>主办单位</strong>
            <ul>
                <li>
                    <a href="javascript:;">湖北楚天都市报传媒有限责任公司</a>
                </li>
                <li>
                    <a href="javascript:;">湖北省工业建筑集团有限公司</a>
                </li>
                <li>
                    <a href="javascript:;">湖北省路桥集团有限公司</a>
                </li>
                <li>
                    <a href="javascript:;">武汉市市政建设集团有限公司</a>
                </li>
                <li>
                    <a href="javascript:;">武汉市汉阳市政建设集团公司</a>
                </li>
            </ul>
        </div>
        <div class="fin_item">
            <div class="kefu_area">
                <span class="iconfont icon-kefu fint_service"></span>
                <div class="kefu_iblock">
                    <span class="fin_kefu">客户咨询：027-82815329</span>
                </div>
            </div>
            <div class="kefu_area" style="margin-top: 4px;">
                <span class="iconfont icon-shouhou fint_service" style="color: #2BE7CA;"></span>
                <div class="kefu_iblock">
                    <span class="fin_kefu">售后服务：027-82813259</span>
                </div>
            </div>
            <div class="kefu_area" style="margin-top: 4px;">
                <span class="iconfont icon-jubao fint_service" style="color: #0084ff;"></span>
                <div class="kefu_iblock">
                    <span class="fin_kefu">投诉电话：027-82810705</span>
                </div>
            </div>
            <div class="public_account">
                <span></span>
            </div>
            <p class="public_account_txt">欢迎关注微信公众号</p>
        </div>
    </div>
</div>
<div class="footer_coopright">
    <p>
        <a href="javascript:;">鄂ICP备18017824号</a><span class="margin_double">湖北省楚建易网络科技有限公司</span><span>版权所有</span>
    </p>
    <p><img src="http://www.beian.gov.cn/img/ghs.png" alt="">鄂公网安备 42010202001473号</p>
</div>