<div class="order_warp">
    <div class="order_pay_con">
        <div class="order_pay_top clearfix">
            <span class="iconfont icon-i"></span>
            <div class="pay_detail">
                <p class="fontSize16 textBlack1">订单提交成功，请尽快支付！订单号：SCW2018091200001</p>
                <p class="fontSize12">请您在<span class="textRed">47小时20分12秒</span>内完成支付，否则订单会被自动取消</p>
            </div>
            <span class="pay_money">
                应付金额：<span class="fontSize24 textRed">3800.00</span>元
                <a href="#">订单详情</a>
            </span>
        </div>
        <div class="order_pay_nav">
            <span class="pay_nav_cell">支付方式</span>
        </div>
        <div class="order_pay_body clearfix">
            <div class="pay_body_cell pay_body_bg1 active">
                <span class="iconfont icon-gou"></span>
                <div class="cell_bg"></div>
                <div class="body_cell_con">
                    <span class="cell_logo_bg"><img src="<%= logoDemo %>"></span>
                    <div class="cell_des">
                        <span class="block">
                            融易付
                            <span class="showTag">
                                <i class="iconfont icon-wenhao"></i>
                                <div class="tagBox">
                                    <span class="tagArrow"></span>
                                    <div class="tagCon">
                                        <p>担保交易，即建设银行对资金进行托管，买方下单后，将交易资金进行冻结，买方收到货物，确认收货后，银行将冻结资金进行解冻并划转至商家账户。</p>
                                    </div>
                                </div>
                            </span>
                        </span>
                        <span class="fontSize12 block">保证您的交易安全合规</span>
                    </div>
                </div>
            </div>
            <div class="pay_body_cell pay_body_bg2">
                <span class="iconfont icon-gou"></span>
                <div class="cell_bg"></div>
                <div class="body_cell_con">
                    <span class="cell_logo_bg"><img src="<%= logoDemo %>"></span>
                    <div class="cell_des">
                        <span class="block">
                            融易付
                            <span class="showTag">
                                <i class="iconfont icon-wenhao"></i>
                                <div class="tagBox">
                                    <span class="tagArrow"></span>
                                    <div class="tagCon">
                                        <p>担保交易，即建设银行对资金进行托管，买方下单后，将交易资金进行冻结，买方收到货物，确认收货后，银行将冻结资金进行解冻并划转至商家账户。</p>
                                    </div>
                                </div>
                            </span>
                        </span>
                        <span class="fontSize12 block">保证您的交易安全合规</span>
                    </div>
                </div>
            </div>
            <div class="pay_body_cell pay_body_bg3">
                <span class="iconfont icon-gou"></span>
                <div class="cell_bg"></div>
                <div class="body_cell_con">
                    <span class="cell_logo_bg"><img src="<%= logoDemo %>"></span>
                    <div class="cell_des">
                        <span class="block">
                            融易付
                            <span class="showTag">
                                <i class="iconfont icon-wenhao"></i>
                                <div class="tagBox">
                                    <span class="tagArrow"></span>
                                    <div class="tagCon">
                                        <p>担保交易，即建设银行对资金进行托管，买方下单后，将交易资金进行冻结，买方收到货物，确认收货后，银行将冻结资金进行解冻并划转至商家账户。</p>
                                    </div>
                                </div>
                            </span>
                        </span>
                        <span class="fontSize12 block">保证您的交易安全合规</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="order_pay_foot">
            <a href="javascript:;" class="order_confirm">确认支付</a>
        </div>
    </div>
</div>