<div class="order_warp">
    <div class="order_done_con">
        <i class="iconfont icon-gou"></i>
        <h1>订单提交成功</h1>
        <p class="marginT20 textOrange">请耐心等待商家确认订单</p>
        <p class="marginT30"><span>订单编号：SCW2018091200001</span><span class="marginL20">提交时间：2016-12-12  09:30</span></p>
        <a class="order_view" href="#">查看订单</a>
    </div>
</div>