<div class="back_main">
    <div class="back_main_title">
        <span>新建企业项目</span>
    </div>
    <div class="back_main_content">
        <input type="hidden" name="type" value="add">
        <div class="back_main_item">
            <label>项目名称：</label>
            <div class="back_main_block">
                <input type="text" name="name" class="cjy-input-">
                <span class="msgCon"><span class="noticeBg"><i class="iconfont icon-i"></i></span>项目名称，2-50个字</span>
            </div>
        </div>
        <div class="back_main_item">
            <label>企业项目编号：</label>
            <div class="back_main_block">
                <input type="text" name="bCode" class="cjy-input-">
                <span class="msgCon"><span class="noticeBg"><i class="iconfont icon-i"></i></span>企业自定义的项目编号，2-20个字母、数字、“-”</span>
            </div>
        </div>
        <div class="back_main_item">
            <label>项目简介：</label>
            <div class="back_main_block">
                <textarea class="cjy-textarea" name="content" maxlen="200" rows="3"></textarea>
            </div>
        </div>
    </div>
    <div class="back_main_btns clearfix">
        <a class="btn_confirm floatR" href="javascript:;">确定</a>
    </div>
</div>