<%= otherTop %>
<div class="publish_wrap">
    <div class="publish_container">
        <div class="publish_head"><span>////////////</span>完成发布<span>////////////</span></div>
        <div class="date_show">
            <div class="publish_block clearfix">
                <div class="publish_block_half clearfix">
                    <label><span class="textRed">*</span>报名截止时间：</label>
                    <div class="publish_block_item"><input type="text" calendar class="cjy-calendar-input" placeholder=""><div class="publish_msg_con"><i class="iconfont icon-i"></i>供应商在报名截止前完成报名，才能进行投标报价</div></div>
                </div>
                <div class="publish_block_half clearfix">
                    <label><span class="textRed">*</span>资审文件递交截止时间：</label>
                    <div class="publish_block_item"><input type="text" calendar class="cjy-calendar-input" placeholder=""></div>
                </div>
            </div>
            <div class="publish_block clearfix">
                <div class="publish_block_half clearfix">
                    <label><span class="textRed">*</span>投标截止时间：</label>
                    <div class="publish_block_item"><input type="text" calendar class="cjy-calendar-input" placeholder=""></div>
                </div>
                <div class="publish_block_half clearfix">
                    <label><span class="textRed">*</span>开标时间：</label>
                    <div class="publish_block_item"><input type="text" calendar class="cjy-calendar-input" placeholder=""><div class="publish_msg_con"><i class="iconfont icon-i"></i>开标时间之后，才能进行在线开标操作</div></div>
                </div>
            </div>
            <div class="publish_block clearfix">
                <div class="publish_block_half clearfix">
                    <label>资审文件下载开始时间：</label>
                    <div class="publish_block_item"><input type="text" calendar class="cjy-calendar-input" placeholder=""><div class="publish_msg_con"><i class="iconfont icon-i"></i>资格预审文件发售总时长不得少于5日</div></div>
                </div>
                <div class="publish_block_half clearfix">
                    <label>资审文件下载截止时间：</label>
                    <div class="publish_block_item"><input type="text" calendar class="cjy-calendar-input" placeholder=""><div class="publish_msg_con"><i class="iconfont icon-i"></i>资格预审文件发售总时长不得少于5日</div></div>
                </div>
            </div>
            <div class="publish_block clearfix">
                <div class="publish_block_half clearfix">
                    <label>招标文件下载开始时间：</label>
                    <div class="publish_block_item"><input type="text" calendar class="cjy-calendar-input" placeholder=""><div class="publish_msg_con"><i class="iconfont icon-i"></i>招标文件发售总时长不得少于5日</div></div>
                </div>
                <div class="publish_block_half clearfix">
                    <label>招标文件下载截止时间：</label>
                    <div class="publish_block_item"><input type="text" calendar class="cjy-calendar-input" placeholder=""><div class="publish_msg_con"><i class="iconfont icon-i"></i>招标文件发售总时长不得少于5日</div></div>
                </div>
            </div>
            <div class="publish_block clearfix">
                <div class="publish_block_half clearfix">
                    <label>澄清提问截止时间：</label>
                    <div class="publish_block_item"><input type="text" calendar class="cjy-calendar-input" placeholder=""><div class="publish_msg_con"><i class="iconfont icon-i"></i>澄清提问应在投标截止时间至少15日前作出</div></div>
                </div>
                <div class="publish_block_half clearfix">
                    <label>澄清补遗截止时间：</label>
                    <div class="publish_block_item"><input type="text" calendar class="cjy-calendar-input" placeholder=""><div class="publish_msg_con"><i class="iconfont icon-i"></i>澄清补遗文件应在投标截止时间至少15日前作出</div></div>
                </div>
            </div>
        </div>
        <div class="publish_block_btn">
            <a href="javascript:;" class="js_showMore"><span>展开设置更多时间项</span><i class="iconfont icon-xiajiantou"></i></a>
        </div>
        <div class="publish_btn_wrap">
            <a href="javascript:;" class="btn_draft"><i class="iconfont icon-caogaoxiang"></i>保存为草稿</a>
            <a href="javascript:;" class="btn_next floatR">直接发布</a>
            <a href="javascript:;" class="btn_back marginR10 floatR">保存并预览</a>
        </div>
    </div>
</div>