<div class="about_warp">
    <div class="about_bg"></div>
    <div class="about_con">
        <div class="about_title aboutUs">关于我们</div>
        <div class="about_line"></div>
        <div class="about_main clearfix">
            <a href="javascript:;" class="js_video" data-url="http://videos.materialw.com/720ae8db5f194674bcbbb1d0e597a61b/53179e3a95124564846a8600d9bd0156-973ec98cd09819fb0ac285bb0d5d7a8f-ld.mp4">
                <i class="videoIcon"></i>
                <img class="floatL" src="http://videos.materialw.com/720ae8db5f194674bcbbb1d0e597a61b/covers/8ca301f59d9644efadbb687ae9a32c0e-00003.jpg"
                    width="566" height="360">
            </a>
            <p class="aboutUs_img_des">为提高建筑行业采购效率，降低采购成本，实现以互联网+为特征的智慧采购，增强建筑企业竞争力，湖北楚天都市报传媒有限责任公司、湖北工建集团下属湖北国际经济技术合作有限公司、湖北路桥集团下属湖北桥盛兴业工贸有限公司、武汉市市政建设集团有限公司、武汉市汉阳市政建设集团公司、北京建云科技发展有限公司共同出资2000万元，于2018年5月注册成立湖北省楚建易网络科技有限公司，开发运营建筑行业共享集采平台——生材网（网址：www. materialw.com）。</p>
            <p class="aboutUs_img_des marginT30">生材网定位为以集采为基本功能，兼具商城、金融、团购、分包、供求信息、物流板块等功能的共享智慧采购平台，拥有客服系统、网页广告系统、统计功能、智能搜索、供应商评价体系、供应商管理库、第三方信息导航、即时通讯系统等服务支撑体系，建立起全方位的智慧采购平台。</p>
        </div>
        <div class="about_grey">
            <div class="about_title aboutBus">业务板块</div>
            <div class="about_line"></div>
            <img class="marginT60" src="<%= busPic %>" width="1142" height="1142">
        </div>
        <div class="about_title aboutSys">支撑服务体系</div>
        <div class="about_line"></div>
        <div class="about_main clearfix">
            <div class="about_sys_cell">
                <div class="about_sys_title">客服系统<span class="about_sys_tips">（计划 2018 年三季度上线）</span></div>
                <div class="about_sys_con">支持 web、wap、app、电话、微信、QQ 等 接入方式，构建完善、标准的全流程客户服 务体系，快速响应用户需求，一键沟通，让用 户享受贴心服务</div>
            </div>
            <div class="about_sys_cell">
                <div class="about_sys_title">网页广告系统<span class="about_sys_tips">（计划 2018 年三季度上线）</span></div>
                <div class="about_sys_con">提供多种创意展现方式，支持多产品组 合橱窗，确保在正确的时间、正确的位置、用 正确的价格、向正确的人群展现的正确广告</div>
            </div>
            <div class="about_sys_cell">
                <div class="about_sys_title">统计功能<span class="about_sys_tips">（计划 2018 年四季度上线）</span></div>
                <div class="about_sys_con">对海量数据的自由计算、实时统计和准 确分析，支持用户的报名量、招投标量、成交 量、中标率等数据实时统计与查看</div>
            </div>
            <div class="about_sys_cell">
                <div class="about_sys_title">智能搜索<span class="about_sys_tips">（计划 2018 年四季度上线）</span></div>
                <div class="about_sys_con">解决用户结构化数据搜索需求，用户可 以自由配置文档的字段及属性，如按用户名 称、地理区域、项目名称、采购方式、发布时 间、信息类型等多重维度的关键词搜索</div>
            </div>
            <div class="about_sys_cell">
                <div class="about_sys_title">供应商评价体系<span class="about_sys_tips">（计划 2018 年四季度上线）</span></div>
                <div class="about_sys_con">依据交易记录设置科学、全面、客观的评价指标，为采购商提供全方位采购保障， 帮助供应商快速成长</div>
            </div>
            <div class="about_sys_cell">
                <div class="about_sys_title">供应商管理库<span class="about_sys_tips">（计划 2018 年四季度上线）</span></div>
                <div class="about_sys_con">海量精选，建立企业自己的合格供方 库，集成精准询盘、快速寻源、汰换资源等管 理功能，是您的经营好助手</div>
            </div>
            <div class="about_sys_cell">
                <div class="about_sys_title">第三方信息导航<span class="about_sys_tips">（计划2019年一季度上线）</span></div>
                <div class="about_sys_con">打破信息间的壁垒，可以仅在一个平台 中将最新的招标公告、供求消息、行业资讯 等信息快速提供给广大用户</div>
            </div>
            <div class="about_sys_cell">
                <div class="about_sys_title">即时通讯系统<span class="about_sys_tips">（计划2019年二季度上线）</span></div>
                <div class="about_sys_con">连通供需双方，嵌入团购交流，多端同 步，随时随地沟通，为用户交易的文字聊天、 短语音消息场景提供优质、全面的即时通讯 技术解决方案</div>
            </div>
            <div class="about_sys_cell">
                <div class="about_sys_title">提供开放接口<span class="about_sys_tips">（计划2019年三季度上线）</span></div>
                <div class="about_sys_con">专注于企业工作效率提升，帮助用 户连接不同的 OA 管理系统，对于重复有 规律的工作流程，实现登陆一个平台批 量化处理</div>
            </div>
        </div>
        <div class="about_grey">
            <div class="about_title aboutTeam">我们的团队</div>
            <div class="about_line"></div>
            <div class="about_team_con clearfix">
                <div class="about_team_img clearfix">
                    <img class="marginB10" src="<%= teamPic1 %>">
                    <img class="marginR10" src="<%= teamPic2 %>">
                    <img src="<%= teamPic3 %>">
                </div>
                <div class="about_team_des">
                    <p style="margin: 30px 40px">生材网由有数十名从业 10 年+的建筑央企资深采购专家、专注互联网产品研发 10 年+ 的 IT 工程师以及实操型互联网运营专家组成，团队先后参与了建筑、物贸、金融、制造、物流 等行业的多个项目，既有丰富的建筑行业招采运作经验，也具备极强的互联网产品策划、开 发、运营及管理能力，为用户提供及时、周详的平台使用服务。</p>
                    <p style="margin: 152px 0 0 40px;font-size: 24px;font-weight: 700;">兴趣，决定了热情；用心决定了品质</p>
                    <p style="margin-left: 80px;font-size: 24px;font-weight: 700;color: #666;">对科技的幻想则是我们的灯塔和兴趣所在</p>
                    <p style="margin-left: 120px;font-size: 24px;font-weight: 700;color: #999;">对技术的热情和追求可以使我们直面挑战砥砺前行</p>
                </div>
            </div>
        </div>
        <div class="about_title aboutAdv">我们的优势</div>
        <div class="about_line"></div>
        <div class="about_adv_img"></div>
        <div class="about_tg_bg">
            <div class="about_title aboutTag">我们的愿景</div>
            <div class="about_line"></div>
            <div class="about_tg_con">
                <p>立足湖北</p>
                <p>辐射全国</p>
                <p>服务于国家一带一路发展战略</p>
            </div>
        </div>
    </div>
    <div class="video_box">

    </div>
</div>