<div class="room_container">
    <div class="room_bg"></div>
    <div class="room_box_bid">
        <div class="bidLine_container">
            <ul>
                <li class="line_none" style="margin-left: 90px;"><span class="line_inner"></span></li>
                <li class="line_none"><span class="line_inner"></span></li>
                <li class="line_none"><span class="line_inner"></span></li>
                <li class="line_act"><span class="line_inner"><i class="iconfont icon-xinfeng"></i></span></li>
                <li class="line_done"><span class="line_inner"><i class="iconfont icon-maikefeng"></i></span></li>
                <li class="line_done"><span class="line_inner"><i class="iconfont icon-ren1"></i></span></li>
                <li class="line_done"><span class="line_inner"><i class="iconfont icon-fenxi"></i></span></li>
            </ul>
        </div>
        <div class="room_box_title">开标</div>
        <div class="room_box_content">
            <div class="room_box_form">
                <input type="hidden" name="tender_id" value="137086">
                <p class="room_box_tips"><i class="iconfont icon-gantanhao"></i>在线开标操作不可逆，且仅能操作1次，仅谨慎操作！</p>
                <div class="room_box_inline">
                    <label>开标口令：</label>
                    <input type="text" class="cjy-input-" name="token" style="width:300px;">
                </div>
                <div class="room_box_inline">
                    <label>开标密钥：</label>
                    <span class="js_upload"></span>
                    <!-- <a href="javascript:;" class="box_upload">点击上传<input type="file" id="uploadFile" name="uploadFile" style="position: absolute;width: 100%;height: 100%;padding: 0;top: 0;right: 0;opacity: 0;cursor: pointer;"></a> -->
                    <div id="process-files" style="margin-left:70px;"></div>
                    <span class="box_upload_con" style="margin-left:70px;"></span>
                </div>
            </div>
            <div class="room_box_btns">
                <a href="javascript:;" class="room_box_confirm">开标</a>
                <a href="javascript:;" class="room_box_cancel">返回</a>
            </div>
        </div>
    </div>
</div>