<%= otherTop %>
<div class="bid_head_container">
    <div class="bid_head_con clearfix">
        <div class="bid_head_title">中铁八局集团昆明铁路建设有限公司珠三角城际新百广XBZH-2标四工XBZH-2标工程项目螺纹钢、管材等公开采购中铁八局集团昆明铁路建设有限公司珠三角城</div>
        <div class="bid_head_tips">
            <span>采购编号： HBLQJTCLZB20180141</span>
            <span>发布时间： 2018-12-12 14:34</span>
            <span>经办人： 张三/1350713736</span>
        </div>
        <div class="bid_head_cells">
            <span>物资/设备采购</span>
            <span>邀请招标</span>
            <span>在线开标</span>
            <span>资格预审</span>
        </div>
    </div>
    <div class="bid_body_container">
        <div class="bid_body_con">
            <div class="bid_multi_title"><span class="act">新增邀请单位</span></div>
            <div class="bid_body_detail">
                <div class="bid_detail_nav">
                    <ul class="keyUl">
                        <li class="act"><a href="javascript:;">包件1（BJBH-001）</a></li>
                        <li><a href="javascript:;">包件2（BJBH-002）</a></li>
                        <li><a href="javascript:;">包件2（BJBH-003）</a></li>
                    </ul>
                </div>
                <div class="material_list">
                    <table>
                        <colgroup>
                            <col width="10%">
                            <col width="25%">
                            <col width="15%">
                            <col width="15%">
                            <col width="15%">
                            <col width="15%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>供应商名称</th>
                                <th>供应商来源</th>
                                <th>供应商等级</th>
                                <th>联系人</th>
                                <th>联系电话</th>
                            </tr>
                        </thead>
                        <tbody class="page_list">
                            <!-- <tr>
                                <td colspan="9" styele="text">
                                    <div class="page_loading"></div>
                                </td>
                            </tr> -->
                            <tr>
                                <td>1</td>
                                <td>湖北交投物流有限公司</td>
                                <td>我的供应商</td>
                                <td>A</td>
                                <td>张三</td>
                                <td>13512254444</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>湖北交投物流有限公司</td>
                                <td>我的供应商</td>
                                <td>A</td>
                                <td>张三</td>
                                <td>13512254444</td>
                            </tr>
                            <!-- <tr>
                                <td colspan="9">
                                    <div class="page_list_noneBg"></div>
                                    <p class="page_list_noneCon"
                                        style="width: 100%;margin-bottom: 60px;font-size: 24px;color: #999;text-align: center;">
                                        没有找到相关内容</p>
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                    <div class="clear"></div>
                </div>
                <a href="javascript:;" class="bid_company_add">+ 新增邀请单位</a>
            </div>
        </div>
    </div>
</div>