.material_list table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    float: left;
}
.material_list tr{
    border-bottom: solid 1px #e5e5e5;
}
.material_list tbody tr:hover{
    background-color: #fcfcfc;
}
.material_list th,.material_list td{
    line-height: 1.5;
    padding-left: 20px;
    font-size: 14px;
    position: relative;
    text-align: left;
}
.material_list td {
    padding-top: 20px;
    padding-bottom: 20px;
    vertical-align: top;
}
.material_list th{
    height: 60px;
    background-color: #F8F8F8;
    font-weight: 700;
}