<%= otherTop %>
<div class="bid_head_container">
    <div class="bid_head_con clearfix">
        <div class="bid_head_handle">
            <a href="#" class="bid_handle_btn"><i class="iconfont icon-wenhao1"></i>答疑澄清<div class="bid_bubble_warp"><span class="bid_bubble">新增<span class="textOrange">5</span>条记录</div></a>
        </div>
        <div class="bid_head_title">中铁八局集团昆明铁路建设有限公司珠三角城际新百广XBZH-2标四工XBZH-2标工程项目螺纹钢、管材等公开采购中铁八局集团昆明铁路建设有限公司珠三角城</div>
        <div class="bid_head_tips">
            <span>采购编号： HBLQJTCLZB20180141</span>
            <span>发布时间： 2018-12-12 14:34</span>
            <span>经办人： 张三/1350713736</span>
        </div>
        <div class="bid_head_cells">
            <span>物资/设备采购</span>
            <span>邀请招标</span>
            <span>在线开标</span>
            <span>资格预审</span>
        </div>
        <ul class="bid_head_steps">
            <li class="stepDone"><p>报名中</p><i class="bid_steps_circle"></i></li>
            <li class="stepDone"><p>资格预审中</p><i class="bid_steps_circle"></i></li>
            <li class="stepDone"><p>待录入资审结果</p><i class="bid_steps_circle"></i></li>
            <li class="stepDone"><p>投标/报价中</p><i class="bid_steps_circle"></i></li>
            <li class="stepDone"><p>待开标</p><i class="bid_steps_circle"></i></li>
            <li class="stepDoing"><p>评标中</p><i class="bid_steps_circle"></i></li>
            <li><p>待结果公示</p><i class="bid_steps_circle"></i></li>
            <li><p>结果公示中</p><i class="bid_steps_circle"></i></li>
            <li><p>待中标/成交公告</p><i class="bid_steps_circle"></i></li>
            <li><p>招标结束</p><i class="bid_steps_circle"></i></li>
        </ul>
    </div>
    <div class="bid_body_container">
        <div class="bid_body_con">
            <div class="bid_body_title"><span>评标中：在线评标</span></div>
            <div class="bid_body_detail">
                <div class="bid_detail_nav">
                    <ul class="keyUl">
                        <li class="act"><a href="javascript:;">包件1（BJBH-001）</a></li>
                        <li><a href="javascript:;">包件2（BJBH-002）</a></li>
                        <li><a href="javascript:;">包件2（BJBH-003）</a></li>
                    </ul>
                </div>
                <div class="bid_detail_form">
                    <div class="bid_form_block"><span class="bid_form_cell">开标人：李四 / 13012122323</span><span class="bid_form_cell">预计开标时间：2018-12-12  12:00</span><span class="bid_form_cell">实际开标时间：2018-12-12  12:00</span><span class="bid_form_cell"><a href="" class="bid_form_link">前往在线评标室</a></span></div>
                    <div class="bid_form_block"><span class="bid_form_cell">评标方式：在线评标</span><span class="bid_form_cell">评标小组：<a href="" class="textBlue">查看</a></span><span class="bid_form_cell">评标模板：<span class="textBlack3">未设置</span></span><span class="bid_form_cell"><a href="" class="bid_form_btn">发布结果公示</a></span></div>
                </div>
                <div class="material_list">
                    <table>
                        <colgroup>
                            <col width="5%">
                            <col width="15%">
                            <col width="10%">
                            <col width="10%">
                            <col width="12%">
                            <col width="8%">
                            <col width="8%">
                            <col width="8%">
                            <col width="12%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>供应商名称</th>
                                <th>投标/报价状态</th>
                                <th>报价</th>
                                <th>投标/报价文件</th>
                                <th>联系人</th>
                                <th>标书费</th>
                                <th>保证金</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody class="page_list">
                            <!-- <tr>
                                <td colspan="9" styele="text">
                                    <div class="page_loading"></div>
                                </td>
                            </tr> -->
                            <tr>
                                <td>1</td>
                                <td>湖北交投物流有限公司</td>
                                <td><p><span class="status4"></span>已提交</p><p>2018-12-12  20:00</p></td>
                                <td>100，000,000.12元</td>
                                <td>
                                    <p><i class="iconfont icon-fujian"></i><span class="width100 ellipsis marginL4" style="vertical-align: -4px;">附件名称1.jpg</span><a href="" class="textBlue marginL4">下载</a></p>
                                    <p><i class="iconfont icon-fujian"></i><span class="width100 ellipsis marginL4" style="vertical-align: -4px;">如果名字很长就截断如果名字很长就截断如果名字很长就截断.jpg</span><a href="" class="textBlue marginL4">下载</a></p>
                                </td>
                                <td><p>张家辉</p><p>13512254444</p></td>
                                <td><p><span class="status4"></span>已通过</p></td>
                                <td><span class="status4"></span>已通过</td>
                                <td><p><a href="javascript:;" class="textBlue">查看详情</a><span class="textBlack3">（标书费）</span></p>
                                    <p><a href="javascript:;" class="textBlue">查看详情</a><span class="textBlack3">（保证金费）</span></p></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>湖北交投物流有限公司</td>
                                <td><p><span class="status4"></span>已提交</p><p>2018-12-12  20:00</p></td>
                                <td>100，000,000.12元</td>
                                <td>
                                    <p><i class="iconfont icon-fujian"></i><span class="width100 ellipsis marginL4" style="vertical-align: -4px;">附件名称1.jpg</span><a href="" class="textBlue marginL4">下载</a></p>
                                    <p><i class="iconfont icon-fujian"></i><span class="width100 ellipsis marginL4" style="vertical-align: -4px;">如果名字很长就截断如果名字很长就截断如果名字很长就截断.jpg</span><a href="" class="textBlue marginL4">下载</a></p>
                                </td>
                                <td><p>张家辉</p><p>13512254444</p></td>
                                <td><p><span class="status4"></span>已通过</p></td>
                                <td><span class="status4"></span>已通过</td>
                                <td><p><a href="javascript:;" class="textBlue">查看详情</a><span class="textBlack3">（标书费）</span></p>
                                    <p><a href="javascript:;" class="textBlue">查看详情</a><span class="textBlack3">（保证金费）</span></p></td>
                            </tr>
                            <!-- <tr>
                                <td colspan="9">
                                    <div class="page_list_noneBg"></div>
                                    <p class="page_list_noneCon"
                                        style="width: 100%;margin-bottom: 60px;font-size: 24px;color: #999;text-align: center;">
                                        没有找到相关内容</p>
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>