<div class="headline_bg_wrap">
    <div class="headline_bg"></div>
</div>
<div class="headline_main">
    <ul class="headline_list">
        <li class="headline_item clearfix">
            <div class="headline_left">
                <span>08&nbsp;/&nbsp;11</span>
            </div>
            <div class="headline_right">
                <h3><a href="javascript:;">国台办:反对美与台湾地区进行任何形式官方往来</a></h3>
                <p>新华社北京8月3日电 国务院台办发言人马晓光3日应询表示，台湾问题事关中国主权和领土完整，也是中美关系中最重要、最敏感的问题。我们坚决反对美国与台湾地区进行任何形式的官方往来和军事联系。民进党当局企图挟洋自重，只会造成台海局势更加紧张动荡，两岸关系更加复杂严峻。</p>
            </div>
        </li>
        <li class="headline_item clearfix">
            <div class="headline_left">
                <span>08&nbsp;/&nbsp;11</span>
            </div>
            <div class="headline_right">
                <h3><a href="javascript:;">国台办:反对美与台湾地区进行任何形式官方往来</a></h3>
                <p>新华社北京8月3日电 国务院台办发言人马晓光3日应询表示，台湾问题事关中国主权和领土完整，也是中美关系中最重要、最敏感的问题。我们坚决反对美国与台湾地区进行任何形式的官方往来和军事联系。民进党当局企图挟洋自重，只会造成台海局势更加紧张动荡，两岸关系更加复杂严峻。</p>
            </div>
        </li>
        <li class="headline_item clearfix">
            <div class="headline_left">
                <span>08&nbsp;/&nbsp;11</span>
            </div>
            <div class="headline_right">
                <h3><a href="javascript:;">国台办:反对美与台湾地区进行任何形式官方往来</a></h3>
                <p>新华社北京8月3日电 国务院台办发言人马晓光3日应询表示，台湾问题事关中国主权和领土完整，也是中美关系中最重要、最敏感的问题。我们坚决反对美国与台湾地区进行任何形式的官方往来和军事联系。民进党当局企图挟洋自重，只会造成台海局势更加紧张动荡，两岸关系更加复杂严峻。</p>
            </div>
        </li>
        <li class="headline_item clearfix">
            <div class="headline_left">
                <span>08&nbsp;/&nbsp;11</span>
            </div>
            <div class="headline_right">
                <h3><a href="javascript:;">国台办:反对美与台湾地区进行任何形式官方往来</a></h3>
                <p>新华社北京8月3日电 国务院台办发言人马晓光3日应询表示，台湾问题事关中国主权和领土完整，也是中美关系中最重要、最敏感的问题。我们坚决反对美国与台湾地区进行任何形式的官方往来和军事联系。民进党当局企图挟洋自重，只会造成台海局势更加紧张动荡，两岸关系更加复杂严峻。</p>
            </div>
        </li>
        <li class="headline_item clearfix">
            <div class="headline_left">
                <span>08&nbsp;/&nbsp;11</span>
            </div>
            <div class="headline_right">
                <h3><a href="javascript:;">国台办:反对美与台湾地区进行任何形式官方往来</a></h3>
                <p>新华社北京8月3日电 国务院台办发言人马晓光3日应询表示，台湾问题事关中国主权和领土完整，也是中美关系中最重要、最敏感的问题。我们坚决反对美国与台湾地区进行任何形式的官方往来和军事联系。民进党当局企图挟洋自重，只会造成台海局势更加紧张动荡，两岸关系更加复杂严峻。</p>
            </div>
        </li>
        <li class="headline_item clearfix">
            <div class="headline_left">
                <span>08&nbsp;/&nbsp;11</span>
            </div>
            <div class="headline_right">
                <h3><a href="javascript:;">国台办:反对美与台湾地区进行任何形式官方往来</a></h3>
                <p>新华社北京8月3日电 国务院台办发言人马晓光3日应询表示，台湾问题事关中国主权和领土完整，也是中美关系中最重要、最敏感的问题。我们坚决反对美国与台湾地区进行任何形式的官方往来和军事联系。民进党当局企图挟洋自重，只会造成台海局势更加紧张动荡，两岸关系更加复杂严峻。</p>
            </div>
        </li>
        <li class="headline_item clearfix">
            <div class="headline_left">
                <span>08&nbsp;/&nbsp;11</span>
            </div>
            <div class="headline_right">
                <h3><a href="javascript:;">国台办:反对美与台湾地区进行任何形式官方往来</a></h3>
                <p>新华社北京8月3日电 国务院台办发言人马晓光3日应询表示，台湾问题事关中国主权和领土完整，也是中美关系中最重要、最敏感的问题。我们坚决反对美国与台湾地区进行任何形式的官方往来和军事联系。民进党当局企图挟洋自重，只会造成台海局势更加紧张动荡，两岸关系更加复杂严峻。</p>
            </div>
        </li>
        <li class="headline_item clearfix">
            <div class="headline_left">
                <span>08&nbsp;/&nbsp;11</span>
            </div>
            <div class="headline_right">
                <h3><a href="javascript:;">国台办:反对美与台湾地区进行任何形式官方往来</a></h3>
                <p>新华社北京8月3日电 国务院台办发言人马晓光3日应询表示，台湾问题事关中国主权和领土完整，也是中美关系中最重要、最敏感的问题。我们坚决反对美国与台湾地区进行任何形式的官方往来和军事联系。民进党当局企图挟洋自重，只会造成台海局势更加紧张动荡，两岸关系更加复杂严峻。</p>
            </div>
        </li>
        <li class="headline_item clearfix">
            <div class="headline_left">
                <span>08&nbsp;/&nbsp;11</span>
            </div>
            <div class="headline_right">
                <h3><a href="javascript:;">国台办:反对美与台湾地区进行任何形式官方往来</a></h3>
                <p>新华社北京8月3日电 国务院台办发言人马晓光3日应询表示，台湾问题事关中国主权和领土完整，也是中美关系中最重要、最敏感的问题。我们坚决反对美国与台湾地区进行任何形式的官方往来和军事联系。民进党当局企图挟洋自重，只会造成台海局势更加紧张动荡，两岸关系更加复杂严峻。</p>
            </div>
        </li>
        <li class="headline_item clearfix">
            <div class="headline_left">
                <span>08&nbsp;/&nbsp;11</span>
            </div>
            <div class="headline_right">
                <h3><a href="javascript:;">国台办:反对美与台湾地区进行任何形式官方往来</a></h3>
                <p>新华社北京8月3日电 国务院台办发言人马晓光3日应询表示，台湾问题事关中国主权和领土完整，也是中美关系中最重要、最敏感的问题。我们坚决反对美国与台湾地区进行任何形式的官方往来和军事联系。民进党当局企图挟洋自重，只会造成台海局势更加紧张动荡，两岸关系更加复杂严峻。</p>
            </div>
        </li>
    </ul>
    <div id="pages">
        <%= pageNav %>
    </div>
</div>