.back_main_title .back_title_btn{
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0 14px;
    margin-top: 30px;
    background-color: #fc6940;
    border: 1px solid #fc6940;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    color: #fff;
}
.back_main_title .back_title_btn:hover{
    background-color: #F3623A;
    border: 1px solid #F3623A;
    color: #fff;
}

.back_main_notice{
    margin-bottom: 40px;
    padding: 10px;
    background-color: #FCFAE3;
    border: 1px solid #F7E3A4;
}
.back_main_notice .noticeBg,.back_main_notice .warningBg {
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin-right: 10px;
    border-radius: 12px;
}
.back_main_notice p{
    width: 780px;
    line-height: 2;
    font-size: 14px;
}
.back_main_notice .noticeBg i,.back_main_notice .warningBg i{
    font-size: 14px;
}

.back_info_item{
    margin-bottom: 20px;
}
.back_info_item label{
    float: left;
    display: block;
    max-width: 750px;
    padding: 10px 0;
    line-height: 20px;
    font-size: 14px;
}
.back_info_item label.back_info_title{
    width: 240px;
    text-align: right;
    color: #999;
}
.back_info_item .back_main_block{
    margin-left: 240px;
}

.back_info_item .itemBtn {
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    border-radius: 4px;
    background-color: #00B27E;
    font-size: 16px;
    color: #fff;
    text-align: center;
}
.back_info_item .itemBtn:hover {
    background-color: #00A776;
    color: #fff;
}


.back_info_item .itemBtn {
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    border-radius: 4px;
    background-color: #00B27E;
    font-size: 16px;
    color: #fff;
    text-align: center;
}
.back_info_item .itemBtn:hover {
    background-color: #00A776;
    color: #fff;
}

/*附件上传*/
.affixCon{
    display: none;
    padding: 0 10px 10px 10px;
    background-color: #f7f7f7;
    border: 1px solid #eee;
}
.affixCon .affix_item{
    margin-top: 10px;
}
.affix_item span{
    display: inline-block;
    max-width: 500px;
    margin-left: 10px;
    margin-right: 20px;
}
.affix_item i{
    vertical-align: 2px;
}
.affix_item i.icon-huishouxiang{
    cursor: pointer;
}

.js_none{
    display: none;
}

