<div class="com_top_menu clearfix">
    <div class="top_menu_left">
        <a class="website_logo" href="javascript:;"></a>
    </div>
    <div class="top_menu_right">
        <div class="top_search_warp">
            <span class="top_search_sel">
                <span>询价单</span><i class="iconfont icon-xiajiantou"></i>
                <dl>
                    <dd>询价单</dd>
                    <dd>公司</dd>
                    <dd>产品</dd>
                </dl>
            </span>
            <input type="text" class="top_search_input" placeholder="请输入关键字进行搜索">
            <a href="javascript:;" class="top_search_btn iconfont icon-sousuo"></a>
        </div>
        <a href="#" class="top_publish_btn">发布询比价</a>
        <a href="javascript:;" class="top_advisory_img"><i class="top_advisory_icon"></i><span class="top_advisory_tel">027-82815329</span></a>
    </div>
</div>