<div class="other_top_con">
    <div class="other_top_crumbs">
        <i class="iconfont icon-ditu"></i>
        <a href="#">我的招标</a>
        <span>&nbsp;>&nbsp;投标详情</span>
    </div>
    <% if(timeShow){ %>
    <div class="other_top_date">
        <p class="date_last">剩余 04 天 12 小时 20 分</p>
        <p class="date_info">资审截止时间： 2018-12-12  20:00</p>
    </div>
    <% } %>
    <div class="other_top_title"><%= title %></div>
</div>