<div class="breadcrumbs_wrap">
    <div class="breadcrumbs_inner">
        <%= backCrumbs %>
    </div>
    <div class="bidding_detail_wrap">
        <div class="bidding_detail_header">
            <h1>湖南省交通运输厅湖南省普通国省道勘查与设计要点编制项目公开招标公告</h1>
            <div class="bidding_number_date">
                <span class="marginR30">发布时间：2018-09-08&nbsp;&nbsp;12:00:00</span>
                <span class="marginR30">信息来源：湖南省政府采购网</span>
            </div>
        </div>
        <div class="bidding_detail_content">
            <span class="seal_success"></span>
            <div class="zhuanzai_box">
                <p>受湖南省交通运输厅的委托，本代理机构对湖南省普通国省道勘查与设计要点编制项目项目进行采购，现将采购事项公告如下：</p>
                <h3>一、采购项目信息</h3>
                <p>项目名称：湖南省普通国省道勘查与设计要点编制项目</p>
                <p>政府采购计划编号：湘财采计[2018]006555号</p>
                <p>采购项目编号：102111820180719</p>
                <p>采购方式：公开招标</p>
                <p>采购预算：1,500,000元</p>
                <p>采购项目内容与数量：</p>

                <table class="table" width="100%">
                    <thead>
                        <tr>
                            <th width="7%">包名</th>
                            <th width="30%">品目分类</th>
                            <th width="20%">品目名称</th>
                            <th width="8%;">数量</th>
                            <th width="8%">单位</th>
                            <th width="10%">预算金额（元）</th>
                            <th width="18%">代理服务费限价（元）</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr align="center">
                            <td>1</td>
                            <td>C99-其他服务</td>
                            <td>编制《湖南省普通国省道勘查与设计指南》</td>
                            <td>1</td>
                            <td>批</td>
                            <td>1,500,000</td>
                            <td>22,000</td>
                        </tr>
                    </tbody>
                </table>
                <h3>二、投标人的资格要求</h3>
                <p>2.1  供应商基本资格条件：</p>
                <p>（1）投标人法人营业执照副本复印件；</p>
                <p>（2）法定代表人授权委托书原件及双方身份证复印件；</p>
                <p>（3）投标人税务登记证(国税或地税)复印件；</p>
                <p>（4）投标人社会保险登记证或缴纳社会保险的凭证复印件。</p>
                <p>（5）投标人参加本次政府采购活动前3年内没有重大违法记录的书面声明。</p>
                <p><span class="color_gray">原文地址：</span><span class="color_red">http://www.ccgp-hunan.gov.cn/page/notice/notice.jsp?noticeId=1000321139</span></p>
            </div>
        </div>
    </div>
</div>