<div class="vip_bg_wrap">
    <div class="vip_banner"></div>
    <div class="vip_title">VIP会员服务</div>
    <div class="vip_tips clearfix">
        <div class="vip_supplier">
            <div class="vip_supplier_title"></div>
            <div class="vip_supplier_con">
                <ul>
                    <li><span class="num">1.</span>会员可参与投标活动</li>
                    <li><span class="num">2.</span>会员在网站平台开设标准网店</li>
                    <li><span class="num">3.</span>会员在支付广告位置费用后发布网页、APP广告</li>
                    <li><span class="num">4.</span>会员团购服务<span class="vip_notice">（单独收费）</span></li>
                    <li><span class="num">5.</span>会员金融咨询服务<span class="vip_notice">（单独收费）</span></li>
                    <li><span class="num">6.</span><span
                                style="display: inline-block;width: 416px;vertical-align: top;">参与楚天都市报与生材网联合组织的“湖北省建筑行业十佳供应商”评比活动<span
                                    class="vip_notice">（具体办法另行制定）</span></span></li>
                </ul>
            </div>
        </div>
        <div class="vip_purchaser">
            <div class="vip_purchaser_title"></div>
            <div class="vip_purchaser_con">
                <ul>
                    <li><span class="num">1.</span>供应商管理功能服务</li>
                    <li><span class="num">2.</span>网上公开招标、询比价等服务</li>
                    <li><span class="num">3.</span>对稀缺供应商资源的信息服务</li>
                    <li><span class="num">4.</span>团购服务</li>
                    <li><span class="num">5.</span>金融咨询服务<span class="vip_notice">（单独收费）</span></li>
                    <li><span class="num">6.</span>招标采购统计数据查询</li>
                    <li><span class="num">7.</span>评价供应商提供的商品及服务质量</li>
                    <li><span class="num">8.</span><span
                                style="display: inline-block;width: 416px;vertical-align: top;">对规模较大、使用OA管理系统的公司，可以按照要求提供生材网网站平台与会员OA系统对接接口功能</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="vip_pdfCon">
        <div class="vip_pdf"></div>
        <div class="vip_file">
            <div class="vip_item" style="margin-left: 366px;">
                <a href="http://static.materialw.com/file/生材网VIP会员服务协议（供应商类）.pdf" target="_blank">
                    <img src="<%= vipSeller %>">
                    <p>生材网VIP会员服务协议（供应商类）</p>
                </a>
            </div>
            <div class="vip_item">
                <a href="http://static.materialw.com/file/生材网VIP会员服务协议（采购商类）.pdf" target="_blank">
                    <img src="<%= vipBuyer %>">
                    <p>生材网VIP会员服务协议（采购商类）</p>
                </a>
            </div>
        </div>
    </div>
    <div class="vip_title">申请VIP会员</div>
    <div class="vip_btnCon clearfix">
        <div class="vip_bg_seller">
            <a href="javascript:;" class="vip_apply">申请成为供应商VIP</a>
        </div>
        <div class="vip_bg_buyer">
            <a href="javascript:;" class="vip_none">申请成为采购商VIP</a>
            <p>采购商VIP暂不支持在线申请，如有疑问请拨打<span class="vip_notice">（027-82815329）</span></p>
        </div>
    </div>
    <!--<div class="vip_noLogin">-->
        <!--<p>这里将放一段文字，文字待定。暂不支持在线申请，如有疑问请拨打<span class="vip_notice">（027-82815329）</span>暂不支持在线申请，如有疑问请拨打<span class="vip_notice">（027-82815329）</span>暂不支持在线申请，如有疑问请拨打<span class="vip_notice">（027-82815329）</span></p>-->
    <!--</div>-->
</div>