<%= otherTop %>
<div class="bid_head_container">
    <div class="bid_head_con clearfix">
        <div class="bid_head_title">中铁八局集团昆明铁路建设有限公司珠三角城际新百广XBZH-2标四工XBZH-2标工程项目螺纹钢、管材等公开采购中铁八局集团昆明铁路建设有限公司珠三角城</div>
        <div class="bid_head_tips">
            <span>采购编号： HBLQJTCLZB20180141</span>
            <span>发布时间： 2018-12-12 14:34</span>
            <span>经办人： 张三/1350713736</span>
        </div>
        <div class="bid_head_cells">
            <span>物资/设备采购</span>
            <span>邀请招标</span>
            <span>在线开标</span>
            <span>资格预审</span>
        </div>
    </div>
    <div class="bid_body_container">
        <div class="bid_body_con">
            <div class="bid_multi_title"><span class="act">变更记录</span></div>
            <div class="bid_body_detail">
                <div class="dateSHow">
                    <div class="bid_head_btns">
                        <a href="javascript:;" class="bid_change_btn">变更时间信息</a>
                        <a href="javascript:;" class="bid_change_btn marginL10">新增邀请单位</a>
                        <a href="javascript:;" class="bid_change_link">变更其他信息</a>
                    </div>
                    <div class="material_list">
                        <table>
                            <colgroup>
                                <col width="30%">
                                <col width="10%">
                                <col width="10%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>变更公告标题</th>
                                    <th>变更时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody class="page_list">
                                <tr>
                                    <td>变更公告标题变更公告标题变更公告标题变更公告标题变更公告标题</td>
                                    <td>2019-12-12  12：00</td>
                                    <td><a href="#" class="textBlue">查看详情</a></td>
                                </tr>
                                <tr>
                                    <td>变更公告标题变更公告标题</td>
                                    <td>2019-12-12  12：00</td>
                                    <td><a href="#" class="textBlue">查看详情</a></td>
                                </tr>
                                <tr>
                                    <td>变更公告标题变更公告标题变更公告标题变更公告标题变更公告标题变更公告标题变更公告标题</td>
                                    <td>2019-12-12  12：00</td>
                                    <td><a href="#" class="textBlue">查看详情</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>