<div class="back_main">
    <div class="back_main_crumbs">
        <i class="iconfont icon-ditu"></i>
        <a href="#">订单管理</a>
        <span>></span>
        <span>商品评价</span>
    </div>
    <div class="back_main_content">
        <div class="back_comment_warp">
            <div class="back_comment_con">
                <div class="back_comment_cell" product_id="52">
                    <div class="back_comment_left">
                        <img src="<%= detailPic %>">
                        <p class="marginT10"><span class="textBlack1">商品名称</span> 品牌 </p>
                        <p>属性值、属性值、属性值、属性值、属性值、属性值、属性值、属性值、</p>
                        <p class="textRed">￥ 12,00</p>
                    </div>
                    <div class="back_comment_right">
                        <div class="back_comment_star">
                            <span>商品满意度</span>
                            <span class="back_star_con" point="0"><i></i><i></i><i></i><i></i><i></i></span>
                            <span class="starTxt">4星</span>
                            <span class="starDes">满意</span>
                        </div>
                        <textarea class="cjy-textarea" maxlen="200" style="width: 780px;height: 90px;"></textarea>
                        <div class="back_comment_imgs">
                            <!-- <a href="javascript:;" class="back_imgs_cell">
                                <i class="imgs_del iconfont icon-cha1"></i>
                                <img src="<%= detailPic %>">
                                <input type="hidden" name="picPath">
                            </a> -->
                            <!-- <a href="javascript:;" class="back_imgs_add">
                                <input type="file" id="uploadFile1" name="uploadFile" style="position: absolute;width: 100%;height: 100%;top: 0;right: 0;padding: 0;opacity: 0;cursor: pointer;">
                                <i class="iconfont icon-shangchuanzhaopian"></i>
                            </a> -->
                            <span class="js_upload" id="js_upload0"><i class="iconfont icon-shangchuanzhaopian"></i></span><div id="process-files0" class="process-files"></div>
                        </div>
                    </div>
                </div>
                <div class="back_comment_cell" product_id="53">
                    <div class="back_comment_left">
                        <img src="<%= detailPic %>">
                        <p class="marginT10"><span class="textBlack1">商品名称</span> 品牌 </p>
                        <p>属性值、属性值、属性值、属性值、属性值、属性值、属性值、属性值、</p>
                        <p class="textRed">￥ 12,00</p>
                    </div>
                    <div class="back_comment_right">
                        <div class="back_comment_star">
                            <span>商品满意度</span>
                            <span class="back_star_con" point="0"><i></i><i></i><i></i><i></i><i></i></span>
                            <span class="starTxt">4星</span>
                            <span class="starDes">满意</span>
                        </div>
                        <textarea class="cjy-textarea" maxlen="200" style="width: 780px;height: 90px;"></textarea>
                        <div class="back_comment_imgs">
                            <span class="js_upload" id="js_upload1"><i class="iconfont icon-shangchuanzhaopian"></i></span><div id="process-files1" class="process-files"></div>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="order_id" value="104">
                <div class="back_comment_btns clearfix">
                    <a href="javascript:;" class="comment_add">提交评论</a>
                </div>
            </div>
        </div>
    </div>
</div>