<div class="back_main">
    <div class="back_main_crumbs">
        <i class="iconfont icon-ditu textBlack3"></i>
        <a href="#" class="textBlack1">我的投标</a> > 投标详情<span class="textRed">（包件1（BJBH-001）</span>
    </div>
    <div class="back_main_title">
        <span class="active">项目详情</span>
        <span><a href="#">采购详情</a></span>
    </div>
    <div class="back_main_content">
        <div class="project_title">中铁八局集团昆明铁路建设有限公司珠三角城际新百广XBZH-2标四工XBZH-2标工程项目螺纹钢、管材等公开采购中铁八局集团昆明铁路建设有限公司珠三角城</div>
        <div class="project_status"><span>在建中</span></div>
        <div class="project_detail_title"><i class="detail_title_circle"></i>基本信息<a href="#" class="marginL10">修改项目操作员</a><a href="#">修改项目信息</a></div>
        <div class="project_info_warp">
            <div class="project_info_block">
                <label>项目操作员：</label>
                <span class="project_person">张嘉嘉(15007137362)</span>
                <span class="project_person">李玲玲(15007137362)</span>
            </div>
            <div class="project_info_block clearfix">
                <div class="project_info_cell">
                    <label>项目操作员：</label><span class="textBlack1 fontBold">2018-11-22 14:00</span>
                </div>
                <div class="project_info_cell">
                    <label>更新时间：</label><span class="textBlack1 fontBold">2018-11-22 14:00</span>
                </div>
            </div>
            <div class="project_info_block clearfix">
                <div class="project_info_cell">
                    <label>项目所在地：</label><span class="textBlack1">湖北省-丹江口市-xx区</span>
                </div>
                <div class="project_info_cell">
                    <label>详细地址：</label><span class="textBlack1 fontBold">丹江口路1001号xxx项目经理部</span>
                </div>
            </div>
            <div class="project_info_block clearfix">
                <div class="project_info_cell">
                    <label>项目类型：</label><span class="textBlack1 fontBold">公路工程</span>
                </div>
                <div class="project_info_cell">
                    <label>项目规模：</label><span class="textBlack1 fontBold">全长10000公里，投资100亿</span>
                </div>
            </div>
            <div class="project_info_block clearfix">
                <div class="project_info_cell">
                    <label>资金来源：</label><span class="textBlack1 fontBold">自筹资金</span>
                </div>
                <div class="project_info_cell">
                    <label>业主付款方式：</label><span class="textBlack1 fontBold">月结85%</span>
                </div>
            </div>
            <div class="project_info_block clearfix">
                <div class="project_info_cell">
                    <label>质量标准：</label><span class="textBlack3 fontBold">未填写</span>
                </div>
                <div class="project_info_cell">
                    <label>项目部备注：</label><span class="textBlack3 fontBold">未填写</span>
                </div>
            </div>
        </div>
        <div class="project_detail_title"><i class="detail_title_circle"></i>项目简介</div>
        <div class="project_content_warp">
            <p>丹江口市武当山高铁小镇项目包含汉十高铁武当山站站前广场及道路、六里坪（白庙）至均县一级公路（以下简称六均路）、机场快速通道三大子项目，此次询价项目为六均路子项目。六均路全长11.315公里，六均路总投资为6.768亿元，其建筑安装费为5.777亿元，线路前4.2公里路段路基宽26米，其余路段路基宽度为21米，均为双向四车道、沥青混凝土路面，六均路有大桥5座（40米预制预应力混凝土T梁）、小桥1座（16米预制预应力空心板梁）、过街涵5处、涵洞18道、深路堑6处（挖方约350万方）、高填方6处（填方约200万方）、市政管线2324米、新旧路基衔接长约1165米、路面安全设施等，项目拟定工期30个月。
            </p>
            <br>
            <p>丹江口市武当山高铁小镇项目包含汉十高铁武当山站站前广场及道路、六里坪（白庙）至均县一级公路（以下简称六均路）、机场快速通道三大子项目，此次询价项目为六均路子项目。六均路全长11.315公里，六均路总投资为6.768亿元，其建筑安装费为5.777亿元，线路前4.2公里路段路基宽26米，其余路段路基宽度为21米，均为双向四车道、沥青混凝土路面，六均路有大桥5座（40米预制预应力混凝土T梁）、小桥1座（16米预制预应力空心板梁）、过街涵5处、涵洞18道、深路堑6处（挖方约350万方）、高填方6处（填方约200万方）、市政管线2324米、新旧路基衔接长约1165米、路面安全设施等，项目拟定工期30个月。
            </p>
            <div class="project_content_imgs">
                <img src="<%= npPic %>">
                <img>
                <img>
            </div>
        </div>
    </div>
</div>