<%= header %>
<div class="exportCon">
    <div class="export_top_menu clearfix">
        <a href="javascript:;" class="export_btn">导出</a>
        <a href="javascript:;" class="edit_btn">修改</a>
    </div>
    <div class="export_box">
        <div class="export_bg"></div>
        <h1 class="export_title">中铁北京工程局集团有限公司政府铁路钢筋焊网及冷轧钢筋集中采购招标公告</h1>
        <div class="export_status"><span class="bg_gray">已截标</span></div>
        <div class="export_head">
            集采基本信息
            <span class="export_line"></span>
        </div>
        <div class="export_body">
            <h2 style="margin-top: 0;">操作人基本信息</h2>
            <table class="td60">
                <colgroup>
                    <col width="110">
                    <col width="170">
                    <col width="180">
                    <col width="230">
                    <col width="120">
                    <col width="280">
                </colgroup>
                <tbody>
                <tr>
                    <td class="export_tlt">操作人：</td>
                    <td>高小英</td>
                    <td class="export_tlt">发布招标公告时间：</td>
                    <td>2018-09-14 11:02</td>
                    <td class="export_tlt">操作地IP：</td>
                    <td>显示操作人IP地址</td>
                </tr>
                </tbody>
            </table>

            <h2>招标基本信息</h2>
            <table class="td80">
                <colgroup>
                    <col width="130">
                    <col width="260">
                    <col width="150">
                    <col width="190">
                    <col width="190">
                    <col width="180">
                </colgroup>
                <tbody>
                <tr>
                    <td class="export_tlt" rowspan="2">招标名称：</td>
                    <td rowspan="2">中铁北京工程局集团有限公司郑阜 铁路钢筋焊网及冷轧钢筋集中采购招标公告</td>
                    <td class="export_tlt">采购预算：</td>
                    <td>1810 0000 000元</td>
                    <td class="export_tlt">报名截止时间：</td>
                    <td>2018-09-14  10:23:50</td>
                </tr>
                <tr>
                    <td class="export_tlt">标书价格：</td>
                    <td>3000元</td>
                    <td class="export_tlt">招标文件发售时间：</td>
                    <td>2018-09-14  10:23:50</td>
                </tr>
                <tr>
                    <td class="export_tlt">企业招标编号：</td>
                    <td>企业招标编号编号</td>
                    <td class="export_tlt">投标保证金金额：</td>
                    <td>3000元</td>
                    <td class="export_tlt">招标文件发售截止时间：</td>
                    <td>2018-09-14  10:23:50</td>
                </tr>
                <tr>
                    <td class="export_tlt">所属项目：</td>
                    <td>项目信息或暂未填写</td>
                    <td class="export_tlt">投标方式：</td>
                    <td>线上投标</td>
                    <td class="export_tlt">澄清提问截止时间：</td>
                    <td>2018-09-14  10:23:50</td>
                </tr>
                <tr>
                    <td class="export_tlt">招标类型：</td>
                    <td>物资招标</td>
                    <td class="export_tlt">开标方式：</td>
                    <td>线上开标</td>
                    <td class="export_tlt">澄清补遗截止时间：</td>
                    <td>2018-09-14  10:23:50</td>
                </tr>
                <tr>
                    <td class="export_tlt">招标方式：</td>
                    <td>公开招标</td>
                    <td class="export_tlt">公告期限：</td>
                    <td>自发布之日起6个工作日</td>
                    <td class="export_tlt">投标截止时间：</td>
                    <td>2018-09-14  10:23:50</td>
                </tr>
                </tbody>
            </table>

            <h2>邀请的供应商</h2>
            <table class="normal">
                <colgroup>
                    <col width="60">
                    <col width="270">
                    <col width="160">
                    <col width="120">
                    <col width="120">
                    <col width="120">
                    <col width="200">
                </colgroup>
                <thead>
                <tr>
                    <th>序号</th>
                    <th>供应商</th>
                    <th>供应商来源</th>
                    <th>企业评级</th>
                    <th>参与投标次数</th>
                    <th>中标次数</th>
                    <th>供应商联系方式</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>武汉市市政集团有限公司</td>
                    <td>平台供应商</td>
                    <td>-</td>
                    <td>4</td>
                    <td>1</td>
                    <td>027-5675150</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>武汉市大建设市政集团有限公司</td>
                    <td>我的企业供应商</td>
                    <td>A</td>
                    <td>8</td>
                    <td>6</td>
                    <td>027-5675150</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>武汉市市政集团有限公司</td>
                    <td>我的企业供应商</td>
                    <td>A</td>
                    <td>4</td>
                    <td>1</td>
                    <td>027-5675150</td>
                </tr>
                </tbody>
            </table>

            <h2>公告正文</h2>
            <div class="export_tips">
                <p>1．项目概况与谈判采购内容</p>
                <p>1.1采购条件：本次竞争性谈判采购物资的款项实行按月集中支付。本次采购项目施工单位已确定，因工程施工需要，现对项目物资进行竞争性谈判采购。</p>
                <p>1.2项目概况：见附件一。</p>
                <p>1.3谈判采购内容：物资品种、包件划分、计划交货期等见附件二。</p>
                <p>2．供应商资格要求</p>
                <p>2.1本次采购要求申请人具备以下要求，并在人员、设备、资金等方面具备相应的能力。</p>
                <p>(1) 本次报价人必须在中国中铁采购电子商务平台(www.crecgec.com)注册；</p>
                <p>(2) 本次采购要求报价人具体资格要求、具备业绩，详见(附件二)。</p>
                <p>3．谈判文件的发放及谈判响应文件的递交</p>
            </div>
            <ul class="export_annex">
                <li><i class="iconfont icon-fujian"></i>公告文件附件1.dov<a href="#" class="textOrange">下载</a></li>
                <li><i class="iconfont icon-fujian"></i>公告文件附件2.dov<a href="#" class="textOrange">下载</a></li>
            </ul>
        </div>

        <div class="export_head">
            招标文件
            <span class="export_line"></span>
        </div>
        <div class="export_body">
            <ul class="export_annex">
                <li><i class="iconfont icon-xlsx fontSize24"></i>公告文件附件1.xlsx<a href="#" class="textOrange">下载</a></li>
                <li><i class="iconfont icon-word fontSize24"></i>公告文件附件1.xlsx<a href="#" class="textOrange">下载</a></li>
                <li><i class="iconfont icon-pdf fontSize24"></i>公告文件附件1.xlsx<a href="#" class="textOrange">下载</a></li>
            </ul>
            <div class="export_remark">备注：补充说明补充说明  未做任何备注显示 “—”</div>
        </div>

        <div class="export_head">
            供应商报名信息
            <span class="export_line"></span>
        </div>
        <div class="export_body">
            <div class="export_total">
                <span class="marginR24 textBlack3">已报名单位：<span class="textBlack1">36家</span></span>
                <span class="textBlack3">已邀请单位：<span class="textBlack1">6家</span></span>
            </div>
            <table class="normal marginT20">
                <colgroup>
                    <col width="50">
                    <col width="260">
                    <col width="150">
                    <col width="100">
                    <col width="120">
                    <col width="100">
                    <col width="200">
                    <col width="110">
                </colgroup>
                <thead>
                <tr>
                    <th>序号</th>
                    <th>供应商</th>
                    <th>供应商来源</th>
                    <th>企业评级</th>
                    <th>参与投标次数</th>
                    <th>中标次数</th>
                    <th>报名时间</th>
                    <th>报名状态</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>武汉市市政集团有限公司</td>
                    <td>平台供应商</td>
                    <td>-</td>
                    <td>4</td>
                    <td>1</td>
                    <td>2018-06-29 12:00:00</td>
                    <td class="textGreen">已报名</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>武汉市大建设市政集团有限公司</td>
                    <td>我的企业供应商</td>
                    <td>A</td>
                    <td>8</td>
                    <td>6</td>
                    <td>2018-06-29 12:00:00</td>
                    <td class="textOrange">待报名</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>武汉市市政集团有限公司</td>
                    <td>我的企业供应商</td>
                    <td>A</td>
                    <td>4</td>
                    <td>1</td>
                    <td>2018-06-29 12:00:00</td>
                    <td class="textGreen">已报名</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="export_head">
            标书收款记录
            <span class="export_line"></span>
        </div>
        <div class="export_body">
            <div class="export_total">
                <span class="textOrange">标书价格：34,000元</span>
            </div>
            <table class="normal marginT20">
                <colgroup>
                    <col width="50">
                    <col width="230">
                    <col width="130">
                    <col width="180">
                    <col width="130">
                    <col width="180">
                    <col width="100">
                    <col width="90">
                </colgroup>
                <thead>
                <tr>
                    <th>序号</th>
                    <th>供应商</th>
                    <th>提交凭证操作用户</th>
                    <th>提交凭证时间</th>
                    <th>审核凭证操作用户</th>
                    <th>审核时间</th>
                    <th>审核状态</th>
                    <th>凭证</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>武汉市市政集团有限公司</td>
                    <td>姓名</td>
                    <td>2018-06-29 12:00:00</td>
                    <td>姓名</td>
                    <td>2018-06-29 12:00:00</td>
                    <td>已通过</td>
                    <td></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>武汉市大建设市政集团有限公司</td>
                    <td>姓名</td>
                    <td>2018-06-29 12:00:00</td>
                    <td>姓名</td>
                    <td>2018-06-29 12:00:00</td>
                    <td>待确认</td>
                    <td><a href="javascript:;" class="textOrange">查看</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>武汉市市政集团有限公司</td>
                    <td>姓名</td>
                    <td>2018-06-29 12:00:00</td>
                    <td>姓名</td>
                    <td>2018-06-29 12:00:00</td>
                    <td>待确认</td>
                    <td><a href="javascript:;" class="textOrange">查看</a></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="export_head">
            答疑/澄清文件
            <span class="export_line"></span>
        </div>
        <div class="export_body">
            <table class="td60">
                <colgroup>
                    <col width="110">
                    <col width="170">
                    <col width="180">
                    <col width="630">
                </colgroup>
                <tbody>
                <tr>
                    <td class="export_tlt">提交人：</td>
                    <td>高小英</td>
                    <td class="export_tlt">提交时间：</td>
                    <td>2018-09-14 11:02</td>
                </tr>
                <tr>
                    <td class="export_tlt">澄清文件：</td>
                    <td colspan="3">
                        <ul class="export_annex marginT20">
                            <li><i class="iconfont icon-fujian"></i>公告文件附件1.dov<a href="#" class="textOrange">下载</a></li>
                            <li><i class="iconfont icon-fujian"></i>公告文件附件2.dov<a href="#" class="textOrange">下载</a></li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="export_head">
            投标保证金收款记录
            <span class="export_line"></span>
        </div>
        <div class="export_body">
            <div class="export_total">
                <span class="textOrange">投标保证金金额：34,000元</span>
            </div>
            <table class="normal marginT20">
                <colgroup>
                    <col width="50">
                    <col width="230">
                    <col width="130">
                    <col width="180">
                    <col width="130">
                    <col width="180">
                    <col width="100">
                    <col width="90">
                </colgroup>
                <thead>
                <tr>
                    <th>序号</th>
                    <th>供应商</th>
                    <th>提交凭证操作用户</th>
                    <th>提交凭证时间</th>
                    <th>审核凭证操作用户</th>
                    <th>审核时间</th>
                    <th>审核状态</th>
                    <th>凭证</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>武汉市市政集团有限公司</td>
                    <td>姓名</td>
                    <td>2018-06-29 12:00:00</td>
                    <td>姓名</td>
                    <td>2018-06-29 12:00:00</td>
                    <td>已通过</td>
                    <td></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>武汉市大建设市政集团有限公司</td>
                    <td>姓名</td>
                    <td>2018-06-29 12:00:00</td>
                    <td>姓名</td>
                    <td>2018-06-29 12:00:00</td>
                    <td>待确认</td>
                    <td><a href="javascript:;" class="textOrange">查看</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>武汉市市政集团有限公司</td>
                    <td>姓名</td>
                    <td>2018-06-29 12:00:00</td>
                    <td>姓名</td>
                    <td>2018-06-29 12:00:00</td>
                    <td>待确认</td>
                    <td><a href="javascript:;" class="textOrange">查看</a></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="export_head">
            回标信息
            <span class="export_line"></span>
        </div>
        <div class="export_body">
            <div class="export_total">
                <span class="textOrange">投标截止时间：2018-09-14  10:23:50</span>
            </div>
            <div class="export_numCon">
                <span class="export_num">1</span>
                <table class="td80 marginT20">
                    <colgroup>
                        <col width="130">
                        <col width="260">
                        <col width="140">
                        <col width="190">
                        <col width="190">
                        <col width="170">
                    </colgroup>
                    <tbody>
                    <tr>
                        <td class="export_tlt">供应商：</td>
                        <td>汉阳市政集团有限公司</td>
                        <td class="export_tlt">投标人：</td>
                        <td colspan="3">高小英</td>
                    </tr>
                    <tr>
                        <td class="export_tlt">供应商来源：</td>
                        <td>我的企业供应商</td>
                        <td class="export_tlt">企业评级：</td>
                        <td>A</td>
                        <td class="export_tlt">参与投标次数：</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <td class="export_tlt">中标次数：</td>
                        <td>16</td>
                        <td class="export_tlt">投标/报价时间：</td>
                        <td>2018-09-15 13:53</td>
                        <td class="export_tlt">状态：</td>
                        <td class="textOrange">已投标</td>
                    </tr>
                    <tr>
                        <td class="export_tlt">投标文件：</td>
                        <td colspan="5">
                            <ul class="export_annex marginT20">
                                <li><i class="iconfont icon-fujian"></i>公告文件附件1.dov<a href="#" class="textOrange">下载</a></li>
                                <li><i class="iconfont icon-fujian"></i>公告文件附件2.dov<a href="#" class="textOrange">下载</a></li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="export_numCon">
                <span class="export_num">2</span>
                <table class="td80 marginT20">
                    <colgroup>
                        <col width="130">
                        <col width="260">
                        <col width="140">
                        <col width="190">
                        <col width="190">
                        <col width="170">
                    </colgroup>
                    <tbody>
                    <tr>
                        <td class="export_tlt">供应商：</td>
                        <td>汉阳市政集团有限公司</td>
                        <td class="export_tlt">投标人：</td>
                        <td colspan="3">高小英</td>
                    </tr>
                    <tr>
                        <td class="export_tlt">供应商来源：</td>
                        <td>我的企业供应商</td>
                        <td class="export_tlt">企业评级：</td>
                        <td>A</td>
                        <td class="export_tlt">参与投标次数：</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <td class="export_tlt">中标次数：</td>
                        <td>16</td>
                        <td class="export_tlt">投标/报价时间：</td>
                        <td>2018-09-15 13:53</td>
                        <td class="export_tlt">状态：</td>
                        <td class="textOrange">已投标</td>
                    </tr>
                    <tr>
                        <td class="export_tlt">投标文件：</td>
                        <td colspan="5">
                            <ul class="export_annex marginT20">
                                <li><i class="iconfont icon-fujian"></i>公告文件附件1.dov<a href="#" class="textOrange">下载</a></li>
                                <li><i class="iconfont icon-fujian"></i>公告文件附件2.dov<a href="#" class="textOrange">下载</a></li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="export_head">
            开标信息
            <span class="export_line"></span>
        </div>
        <div class="export_body">
            <table class="td60">
                <colgroup>
                    <col width="110">
                    <col width="170">
                    <col width="180">
                    <col width="630">
                </colgroup>
                <tbody>
                <tr>
                    <td class="export_tlt">开标人：</td>
                    <td>高小英</td>
                    <td class="export_tlt">开标时间：</td>
                    <td>2018-09-14 11:02</td>
                </tr>
                <tr>
                    <td class="export_tlt">澄清文件：</td>
                    <td colspan="3">
                        <ul class="export_annex marginT20">
                            <li><i class="iconfont icon-fujian"></i>公告文件附件1.dov<a href="#" class="textOrange">下载</a></li>
                            <li><i class="iconfont icon-fujian"></i>公告文件附件2.dov<a href="#" class="textOrange">下载</a></li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="export_head">
            评标信息
            <span class="export_line"></span>
        </div>
        <div class="export_body">
            平台暂不支持线上评标
        </div>

        <div class="export_head">
            中标（成交）详情
            <span class="export_line"></span>
        </div>
        <div class="export_body">
            <table class="td80">
                <colgroup>
                    <col width="130">
                    <col width="260">
                    <col width="150">
                    <col width="550">
                </colgroup>
                <tbody>
                <tr>
                    <td class="export_tlt">招标名称：</td>
                    <td>湖北省楚建易网络科技有限公司</td>
                    <td class="export_tlt">发布时间：</td>
                    <td>2018-09-14 11:02</td>
                </tr>
                <tr>
                    <td class="export_tlt">中标单位：</td>
                    <td colspan="3">
                        <ul class="marginT20 marginB20">
                            <li><a href="#" target="_blank" class="textOrange">中标单位中标单位中标单位1</a></li>
                            <li class="marginT10"><a href="#" target="_blank" class="textOrange">中标单位中标单位中标单位1</a></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="export_tlt">涉及金额：</td>
                    <td colspan="3">3654576,068.00</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="export_footer">
        <a href="javascript:;" class="export_btn">导出</a>
        <a href="javascript:;" class="edit_btn">修改</a>
    </div>
</div>
<%= footer %>