<div class="quote_warp">
    <div class="quote_crumbs">
        <i class="iconfont icon-ditu"></i>
        当前位置：<a href="#">快捷询价</a>><a href="#">询价单详情</a>><a href="#">立即报价</a>
    </div>
    <div class="quote_container">
        <div class="quote_title">
            <h1>报价单详情</h1>
            <p class="clearfix"><span class="floatL textBlack3">报价时间：2018-12-22  17:44</span><span class="floatR">查看询价单</span></p>
        </div>
        <div class="quote_banner">
            <div class="quote_banner_con">
                <div class="quote_banner_box"></div>
                <div class="quote_banner_title">
                    <h1>湖北省楚建易网络科技有限公司</h1>
                    <p class="textWhite">程旭东  /  1346103436</p>
                </div>
                <div class="quote_banner_nav">
                    <span>
                        <i class="iconfont icon-xingxing1"></i>
                        <a href="#">查看历史评价</a>
                    </span>
                    <span>
                        <i class="iconfont icon-chengjiao"></i>
                        <p>累计成交 1 次</p>
                    </span>
                    <span>
                        <i class="iconfont icon-baojia"></i>
                        <p>历史报价 10 次</p>
                    </span>
                </div>
            </div>
        </div>
        <div class="quote_base">
            <div class="quote_base_con">
                <div class="quote_base_line">
                    <label>公司规模</label>
                    <div class="base_inline">151-500人</div>
                    <label>注册资金</label>
                    <div class="base_inline">100万</div>
                </div>
                <div class="quote_base_line">
                    <label>年营业额</label>
                    <div class="base_inline">500万-1000万</div>
                    <label>企业类型</label>
                    <div class="base_inline">集体企业</div>
                </div>
                <div class="quote_base_line">
                    <label>纳税人类型</label>
                    <div class="base_inline">一般纳税人</div>
                </div>
                <div class="quote_base_line">
                    <label>供应物资分类</label>
                    <div class="base_block">
                            <span class="classify_cell">有色金属 钢轨</span><span class="classify_cell">有色金属 钢轨</span><span class="classify_cell">有色金属 钢轨</span><span class="classify_cell">有色金属 钢轨</span>
                    </div>
                </div>
                <div class="quote_base_line">
                    <label>经营区域</label>
                    <div class="base_block">
                        湖北省，北京市，湖北省，北京市，过长则两行展示哦哦哦哦哦哦，最多展示两行湖北省，北京市，湖北省，北京市，过长则两行展示哦哦哦哦湖北省，北京市，湖北省，北京市，过长则两行展示哦哦哦哦哦哦，最多展示两行湖北省，北京市，湖北省，北京市，过长则两行展示哦哦哦哦
                    </div>
                </div>
                <div class="quote_base_line">
                    <label>公司联系方式</label>
                    <div class="base_block">027-5675150</div>
                </div>
                <div class="quote_base_line">
                    <label>公司地址</label>
                    <div class="base_block">湖北省武汉市江岸区新长江国际大厦21层</div>
                </div>
                <div class="quote_base_line">
                    <label>认证资料</label>
                    <div class="base_block">
                        <img src="https://file.materialw.com/group1/M00/00/05/rBAM3FuSSzGAFjGdAAQV8ShmCPk526.png">
                        <img src="https://file.materialw.com/group1/M00/00/05/rBAM3FuSSzGAFjGdAAQV8ShmCPk526.png">
                    </div>
                </div>
            </div>
            <div class="quote_base_line" style="margin-top:30px;text-align:center;"><a href="javascript:;" class="showMore" style="color:#9E6B49;"><span>展开更多基本信息</span><br><i class="iconfont icon-xiajiantou"></i></a></div>
        </div>
        <div class="quote_info">
            <div class="quote_info_title">
                <span class="quote_info_line"></span>
                <span class="quote_info_txt">//////  <span class="fontSize18">报价信息</span>  //////</span>
                <span class="quote_info_line"></span>
            </div>
            <div class="quote_info_con">
                <table class="quote_info_table">
                    <colgroup>
                        <col width="50">
                        <col width="250">
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="200">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>物资名称</th>
                            <th>采购量</th>
                            <th>含税单价</th>
                            <th>税率</th>
                            <th>小计</th>
                            <th>采购商备注信息</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>PH标准液（盛世康普   48.8±2.1μm  ）</td>
                            <td>20瓶</td>
                            <td>￥1200.00</td>
                            <td>16%</td>
                            <td>￥24000.00</td>
                            <td>生产日期新一些</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>PH标准液（盛世康普   48.8±2.1μm  ）</td>
                            <td>20瓶</td>
                            <td>￥1200.00</td>
                            <td>16%</td>
                            <td>￥24000.00</td>
                            <td>生产日期新一些</td>
                        </tr>
                        <tr>
                            <td colspan="7" style="text-align:right;">
                                <span class="fontSize16 textBlack1">总计：￥</span>
                                <span class="fontSize24 textRed">60.00</span>
                                <span class="textBlack3">（含运费：0.00）</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="quote_info">
            <div class="quote_info_title">
                <span class="quote_info_line"></span>
                <span class="quote_info_txt">//////  <span class="fontSize18">交易信息</span>  //////</span>
                <span class="quote_info_line"></span>
            </div>
            <div class="quote_info_con">
                <div class="quote_base_line">
                    <label>经营区域</label>
                    <div class="base_block">
                        <i class="moneyIcon">￥</i>账期支付<span class="textRed">（要求180天内完成支付）</span><i class="iconfont icon-wenhao"></i>
                    </div>
                </div>
                <div class="quote_base_line">
                    <label>经营区域</label>
                    <div class="base_block">
                        2018年12月18日<span class="textRed">（买家要求最晚到货日期 2018-12-27 0：47）</span>
                    </div>
                </div>
                <div class="quote_base_line">
                    <label>经营区域</label>
                    <div class="base_block">
                        增值税专用发票
                    </div>
                </div>
                <div class="quote_base_line">
                    <label>补充说明</label>
                    <div class="base_block">
                        在歌德眼里，王国贵族不比自己高贵，他也是他们中一分子，他脱帽致敬只是对赏识自己的人群的一种尊重。众所周知，歌德26岁就被为魏玛在歌德眼里，王国贵族不比自己高贵，他也是他们中一分子，他脱帽致敬只是对赏识自己的人群的一种尊重。众所周知，歌德26岁就被为魏玛在歌德眼里，王国贵族不比自己高贵，他也是他们中一分子，他脱帽致敬只是对赏识自己的人群的一种尊重。众所周知，歌德26岁就被为魏玛
                    </div>
                </div>
                <div class="quote_base_line" style="margin-top:10px;">
                    <label>附件</label>
                    <ul class="file_con">
                        <li><i class="iconfont icon-fujian"></i><a href="#">这里放名称，点击可预览</a><a class="file_download">下载</a></li>
                        <li><i class="iconfont icon-fujian"></i><a href="#">这里放名称，点击可预览</a><a class="file_download">下载</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>