<div class="module_item_wrap">
    <div class="module_item">
        <h1>多选框checkbox</h1>
        <input type="checkbox" title="可用-已选" checked>
    </div>
    <div class="module_item">
        <h1>单选框radio</h1>
        <input type="radio" name="radio" title="可用-已选" checked>
        <input type="radio" name="radio" title="可用-已选">
        <input type="radio" name="radio" title="可用-已选">
        <input type="radio" name="radio1" title="可用-已选" disabled>
        <input type="radio" name="radio1" title="可用-已选" checked>
        <input type="radio" name="radio1" title="可用-已选">
    </div>
    <div class="module_item">
        <h1>下拉框select</h1>
        <select>
            <option value="">请选择</option>
            <option value="1">请选择1</option>
            <option value="2">请选择2</option>
            <option value="3">请选择3</option>
            <option value="1">请选择1</option>
            <option value="2">请选择2</option>
            <option value="3">请选择3</option>
            <option value="1">请选择1</option>
            <option value="2">请选择2</option>
            <option value="3">请选择3</option>
            <option value="1">请选择1</option>
            <option value="2">请选择2</option>
            <option value="3">请选择3</option>
        </select>
    </div>
    <div class="module_item">
        <h1>多级下拉框multi</h1>
        <div cjy-multi></div>
    </div>
    <div class="module_item">
        <h1>输入框input</h1>
        <input type="text" name="successDemo" class="cjy-input-">
        <input type="text" name="warningDemo" class="cjy-input-">
        <input type="text" name="errorDemo" class="cjy-input-">
    </div>
    <div class="module_item">
        <h1>文本框input</h1>
        <textarea class="cjy-textarea" maxlen="50" rows="3" style="width: 600px;"></textarea>
    </div>
    <div class="module_item">
        <h1>地区选择控件</h1>
        <div cjy-area province="1" city="11" area="111"></div>
    </div>
    <div class="module_item">
        <h1>提示浮层</h1>
        <a class="view_float" href="javascript:;">查看浮层</a>
    </div>
    <div class="module_item">
        <h1>预览大图浮层</h1>
        <a class="view_bigphoto" href="javascript:;">预览大图浮层</a>
    </div>
    <div class="module_item">
        <h1>独家招标-供应商（弹出层）</h1>
        <a class="gys_box1" href="javascript:;">供应商1</a>
        <br /><br />
        <a class="gys_box2" href="javascript:;">供应商2</a>
        <br /><br />
        <a class="gys_box3" href="javascript:;">供应商3</a>
    </div>
    <div class="module_item">
        <h1>申请成为会员</h1>
        <a class="sqhy_box" href="javascript:;">申请成为会员</a>
    </div>
    <div class="module_item">
        <h1>物料分类库升级</h1>
        <a class="cataUp_box" href="javascript:;">物料分类库升级</a>
    </div>
    <div class="module_item">
        <h1>独家招标 - 采购商</h1>
        <a class="cgs_box1" href="javascript:;">报名信息</a>
        <br /><br />
        <a class="cgs_box2" href="javascript:;">回标详情</a>
        <br /><br />
        <a class="cgs_box3" href="javascript:;">录入招标结果</a>
    </div>
    <div class="module_item">
        <h1>在线开标</h1>
        <a class="openbid_box1" href="javascript:;">在线开标1</a>
        <br /><br />
        <a class="openbid_box2" href="javascript:;">在线开标2</a>
    </div>
    <div class="module_item">
        <h1>邀请招标 - 挑选供应商</h1>
        <a class="txgys_box" href="javascript:;">挑选供应商</a>
    </div>
    <div class="module_item">
        <h1>企业供应商 - 审核/修改供应商</h1>
        <a class="qygys_box" href="javascript:;">企业供应商</a>
    </div>
    <div class="module_item">
        <h1>收款管理 - 审核支付凭证</h1>
        <a class="skgl_box" href="javascript:;">收款管理</a>
    </div>
    <div class="module_item">
        <h1>供应商评价</h1>
        <a class="pingjia_box" href="javascript:;">供应商评价</a>
    </div>
    <div class="module_item">
        <h1>上传付款凭证</h1>
        <a class="upload_payment" href="javascript:;">上传付款凭证</a>
    </div>
</div>
