<div class="back_main_title">
    <span>商品发布</span>
</div>
<div class="order_process">
    <div class="process_bar_box">
        <div class="process_bar has_bar"></div>
        <div class="process_bar"></div>
        <div class="process_bar"></div>
    </div>
    <div class="process_wrap">
        <div class="process_box has_process">
            <div class="process_circle">
                <span>1</span>
            </div>
            <p>所属类目</p>
        </div>
        <div class="process_box">
            <div class="process_circle">
                <span>2</span>
            </div>
            <p>基本信息</p>
        </div>
        <div class="process_box">
            <div class="process_circle">
                <span>3</span>
            </div>
            <p>完成</p>
        </div>
    </div>
</div>
<div class="publish_wrap">
    <div class="description_box">
        <i class="iconfont icon-i"></i>
        <p class="description_txt">为您发布的商品信息，选择合适的类目，请勿重复发布，如需更新价格或库存，请前往<a class="" href="javascript:;">【商品仓库】</a>栏目修改。若没有找到合适的类目，请前往<a class="" href="javascript:;">修改入驻信息</a>，重新选择主营类目后再发布商品。</p>
    </div>
    <div class="cate_box">
        <div class="cate_wrap">
            <div class="cate_inner">
                <ul class="cate_menu">
                    <li class="cate_item cate_active">
                        <a class="cate_link ellipsis" href="javascript:;">一级分类</a>
                        <i class="iconfont icon-youjiantou"></i>
                    </li>
                    <li class="cate_item">
                        <a class="cate_link ellipsis" href="javascript:;">一级分类</a>
                        <i class="iconfont icon-youjiantou"></i>
                    </li>
                    <li class="cate_item">
                        <a class="cate_link ellipsis" href="javascript:;">一级分类</a>
                        <i class="iconfont icon-youjiantou"></i>
                    </li>
                    <li class="cate_item">
                        <a class="cate_link ellipsis" href="javascript:;">一级分类</a>
                        <i class="iconfont icon-youjiantou"></i>
                    </li>
                    <li class="cate_item">
                        <a class="cate_link ellipsis" href="javascript:;">一级分类</a>
                        <i class="iconfont icon-youjiantou"></i>
                    </li>
                    <li class="cate_item">
                        <a class="cate_link ellipsis" href="javascript:;">一级分类</a>
                        <i class="iconfont icon-youjiantou"></i>
                    </li>
                    <li class="cate_item">
                        <a class="cate_link ellipsis" href="javascript:;">一级分类</a>
                        <i class="iconfont icon-youjiantou"></i>
                    </li>
                    <li class="cate_item">
                        <a class="cate_link ellipsis" href="javascript:;">一级分类</a>
                        <i class="iconfont icon-youjiantou"></i>
                    </li>
                    <li class="cate_item">
                        <a class="cate_link ellipsis" href="javascript:;">一级分类</a>
                        <i class="iconfont icon-youjiantou"></i>
                    </li>
                    <li class="cate_item">
                        <a class="cate_link" href="javascript:;">一级分类</a>
                        <i class="iconfont icon-youjiantou"></i>
                    </li>
                </ul>
            </div>
            <div class="cate_inner">
                <p>请先选择一级分类</p>
                <!-- <ul class="cate_menu">
                    <li class="cate_item cate_active">
                        <a class="cate_link ellipsis" href="javascript:;">二级分类</a>
                        <i class="iconfont icon-youjiantou"></i>
                    </li>
                </ul> -->
            </div>
            <div class="cate_inner">
                <p>请先选择二级分类</p>
                <!-- <ul class="cate_menu">
                    <li class="cate_item cate_active">
                        <a class="cate_link ellipsis" href="javascript:;">三级分类</a>
                        <i class="iconfont icon-gou"></i>
                    </li>
                </ul> -->
            </div>
        </div>
        <div class="cate_result">
            <p>您当前选择的商品类目是：<b>一级分类&nbsp;&#62;&nbsp;二级分类&nbsp;&#62;&nbsp;三级分类</b></p>
        </div>
    </div>
    <div class="next_box">
        <a href="javascript:;">下一步，填写信息详情</a>
    </div>
</div>