<div class="applyentry_wrap">
    <div class="applyentry_bg"></div>
    <div class="applyentry_inner">
        <div class="order_process">
            <div class="process_bar_box">
                <div class="process_bar has_bar"></div>
                <div class="process_bar has_bar"></div>
                <div class="process_bar has_bar"></div>
                <div class="process_bar"></div>
            </div>
            <div class="process_wrap">
                <div class="process_box has_process">
                    <div class="process_circle">
                        <span>1</span>
                    </div>
                    <p>选择主营类目</p>
                </div>
                <div class="process_box has_process">
                    <div class="process_circle">
                        <span>2</span>
                    </div>
                    <p>提交资质</p>
                </div>
                <div class="process_box has_process">
                    <div class="process_circle">
                        <span>3</span>
                    </div>
                    <p>签署协议</p>
                </div>
                <div class="process_box">
                    <div class="process_circle">
                        <span>4</span>
                    </div>
                    <p>资质审核</p>
                </div>
            </div>
        </div>
    </div>
    <div class="applyentry_body">
        <h1>商家入驻协议</h1>
        <p>
            本协议由湖北省楚建易网络科技有限公司（下称“甲方”）与拟在“生材网MATERIALW.COM”开放平台（以下简称“甲方平台”）以独立第三方经营者身份设立店铺进行经营的甲方会员用户（下称“乙方”）在自愿、平等、公平及诚实信用原则的基础上，根据《中华人民共和国合同法》等相关法律、法规的规定，经友好协商缔结。
        </p>
        <p>
            乙方通过“用户在线入驻系统”办理店铺入驻过程中，一经勾选“我已仔细阅读并同意协议”并点击“提交入驻申请按键”，即意味着乙方同意与甲方签订本协议并自愿受本协议约束，但乙方在线同意本协议并不导致本协议立即生效。用户所提交的资料经甲方审核通过后，本协议对甲乙双方具有法律效力。
        </p>
        <p>
            本协议由协议正文、附件及依据本协议公示于“生材网”平台的各项规则所组成，协议附件及规则与协议正文具有同等法律效力，如规则与协议正文约定不一致的，以公布生效日期或签署日期在后的文件为准执行。
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            一、相关定义及解释
        </p>
        <p>
            1、“生材网MATERIALW.COM”：指所有者为“湖北省楚建易网络科技有限公司”，为用户提供信息发布、交流以及其他技术服务的电子商务服务平台。域名为<a href="http://www.materialw.com">www.materialw.com</a>。
        </p>
        <p>
            2、甲方平台：甲方为会员用户设立店铺进行经营，并与其它用户达成交易意向的特定网络空间。用户完成入驻手续后，可在此空间开设店铺并从事经营。
        </p>
        <p>
            3、用户入驻：指满足本协议第二条入驻基本条件并完成本协议第三条入驻流程成为甲方平台经营者的过程。
        </p>
        <p>
            4、商品：乙方发布于甲方平台的产品，商品包括但不限于商品本身、附件、配件、促销礼品、赠品及其包装等。
        </p>
        <p>
            5、协议服务期：以甲乙双方签订的《生材网VIP会员协议》有效期为准。
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            二、用户入驻基本条件
        </p>
        <p>
            1、乙方已经成为甲方VIP会员的采购商或供应商；
        </p>
        <p>
            2、乙方已依照中华人民共和国法律注册并领取合法有效的营业执照及其他法定经营许可证;
        </p>
        <p>
            3、乙方申请经营的商品来源合法，资质齐全;
        </p>
        <p>
            4、乙方同意本协议及甲方平台相关规则。
        </p>
        <p>
            5、证明文件提交：
        </p>
        <p>
            1）&nbsp;乙方须根据甲方平台相关规则及要求向甲方提交证明文件或其他相关证明，包括但不限于营业执照、银行开户许可证、授权委托书、商标注册证、质检报告、报关单、产品来源地证明等。
        </p>
        <p>
            2）乙方保证向甲方提供的上述证明文件或其他相关证明真实、合法、有效，并保证上述证明文件或其他相关证明发生任何变更或更新时，及时通知甲方，若上述文件变更或更新导致乙方不符合本协议所规定入驻条件的，甲方有权单方全部或部分限制乙方经营，直至终止服务。
        </p>
        <p>
            3）乙方对其提交的证明文件或其他相应证明的真实性、合法性、准确性、有效性承担所有法律责任，若因乙方提交虚假、过期文件或未及时更新或通知证明文件导致纠纷或被相关国家机关处罚的，由乙方独立承担所有法律责任，如因此造成甲方损失的，乙方应予以赔偿。
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            三、入驻流程
        </p>
        <p>
            1、乙方同意本协议；
        </p>
        <p>
            2、乙方根据所选择商铺类型，提交或上传相应的证明材料；
        </p>
        <p>
            3、甲方审核通过后，在3个工作日内为乙方开通服务；
        </p>
        <p>
            4、甲方为乙方开通服务后，乙方可利用注册时的用户名及密码登陆商家后台，根据甲方平台相关规则及流程向乙方特定店铺上传、发布商品信息，与用户交流达成交易，使用其他有偿服务等。
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            四、服务内容及乙方店铺经营方式
        </p>
        <p>
            1、甲方依照本协议约定为乙方开通店铺服务后，乙方可使用甲方平台布商品信息，与愿意购买乙方商品的甲方其他用户进行在线交流，订立买卖合同，并向通过甲方平台购买其商品的用户提供售后服务，同时可参与甲方平台相关活动及使用甲方平台同意提供的其他有偿服务。
        </p>
        <p>
            2、乙方店铺经营方式：乙方店铺内商品，均以乙方自身名义进行商品信息上传、展示、咨询答复、商品销售、物流配送服务及售后服务提供等;乙方销售及服务出现争议、纠纷、国家机关机构调查时，由乙方自行处理。甲方不参与乙方店铺的经营，不承担前述争议、纠纷、调查的法律后果，由乙方独立承担，如因此造成甲方损失的，乙方应予以赔偿。
        </p>
        <p>
            3、甲方为促成乙方与其他用户交易提供平台及相关服务。甲方对于乙方买卖合同关系的订立、履行及风险不做出任何明示、默示的承诺或保证，亦不承担对交易未按期付款或造成任何损失等的垫付或赔偿等责任。
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            五、店铺服务的中断和终止
        </p>
        <p>
            1、乙方需要停止店铺服务的，应至少提前七个工作日向甲方提出书面申请，经甲方审核同意后由甲方停止该店铺的服务功能。
        </p>
        <p>
            2、出现以下任一情形时，甲方有权随时中断、终止乙方相关店铺的服务;
        </p>
        <p>
            1）乙方不满足入驻条件的;
        </p>
        <p>
            2）乙方提供虚假资质文件的;
        </p>
        <p>
            3）乙方产品价格、规格等信息标示出错，导致行政处罚、争议和纠纷的;
        </p>
        <p>
            4）乙方产品质量、标识不合格的，或者产品涉嫌走私、假冒伪劣、旧货、返修品的;
        </p>
        <p>
            5）乙方销售及服务出现侵犯第三方合法权利或违反法律法规规定的情形;
        </p>
        <p>
            6）其他违反本协议约定或相关平台规则的，或者其他甲方认为侵犯平台或消费者权益的。
        </p>
        <p>
            3、因乙方违反相关法律法规或者违反本协议规定等原因而致使甲方网站中断、终止对用户服务的，对于服务中断、终止之前用户交易行为依下列原则处理： <br />&nbsp;&nbsp;&nbsp;&nbsp;1）甲方有权决定是否在中断、终止对用户服务前将乙方被中断或终止服务的情况和原因通知用户交易关系方，包括但不限于对该交易有意向但尚未达成交易的用户,参与该交易竞价的用户，已达成交易要约用户。
        </p>
        <p>
            2）服务中断、终止之前，乙方已经上传至甲方商城的物品尚未交易或交易尚未完成的，甲方有权在中断、终止服务的同时删除此项物品的相关信息。
        </p>
        <p>
            3）服务中断、终止之前，乙方已经就其他用户出售的具体物品作出要约，但交易尚未结束，甲方有权在中断或终止服务的同时删除该用户的相关要约和信息。
        </p>
        <p>
            4、甲方若因乙方的行为（包括但不限于刊登的商品）侵害了第三方的权利或违反了相关规定，而受到第三方的追偿或受到主管机关的处分时，乙方应赔偿甲方因此所产生的一切损失及费用。
        </p>
        <p>
            5、因违反相关法律法规或者违反本协议规定，且情节严重的，甲方有权终止乙方的其它服务。
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            六、甲方的权利和义务
        </p>
        <p>
            1、因网上交易平台的特殊性，甲方没有义务对所有用户的注册资料、所有的交易行为以及与交易有关的其他事项进行事先审查，但如发生以下情形，甲方有权限制乙方的活动、向乙方核实有关资料、发出警告通知、暂时中止、无限期中止或拒绝向乙方提供服务：
        </p>
        <p>
            1）乙方违反本协议或因被提及而纳入本协议的文件；
        </p>
        <p>
            2）存在用户或第三方通知本平台，认为乙方或其具体交易事项存在违法或不当行为，并提供相关证据，而甲方无法联系到乙方核证或验证其向甲方提供的任何资料；
        </p>
        <p>
            3）存在用户或第三方通知本平台，认为乙方或其具体交易事项存在违法或不当行为，并提供相关证据。甲方以普通非专业交易者的知识水平标准对相关内容进行判别，可以明显认为这些内容或行为可能对甲方用户或甲方造成经济损失或法律责任。
        </p>
        <p>
            2、甲方有权在不通知乙方的前提下删除或采取其他限制性措施处理下列信息：包括但不限于以炒作信用为目的；存在欺诈等恶意或虚假内容；与网上交易无关或不是以交易为目的；存在恶意竞价或其他试图扰乱正常交易秩序因素；该信息违反公共利益或可能严重损害甲方和其他用户合法利益的。
        </p>
        <p>
            3、鉴于互联网服务具有的跨地域、新权益等特殊性，乙方同意，在甲方、其他用户或其他第三方有证据指控乙方发布的商品涉嫌侵权且乙方在1个工作日内无法提供合理解释时，甲方可以采取包括但不限于商品隐藏、暂停结算、乙方下线等方式在内的措施促进公平交易，同时甲方有权暂时停止为乙方提供服务直至乙方与其他用户协商一致终止有关指控，因此造成甲方损害，乙方应向甲方作出全数补偿。
        </p>
        <p>
            4、甲方仅提供信息交流、进行物品买卖的平台，而非买卖双方的代理商、合伙
            人、雇员或雇主等经营关系人。公布在甲方平台的交易物品是乙方自行上传进行交易的物品，并非甲方所有。对于乙方刊登物品、提供的信息或参与竞标的过程，甲方均不加以监视或控制，亦不介入物品的交易过程，包括运送、付款、退款、瑕疵担保及其它交易事项，且不承担因交易物品存在品质、权利上的瑕疵以及交易方履行交易协议的能力而产生的任何责任。
        </p>
        <p>
            5、甲方有义务在现有技术水平的基础上努力确保整个网上交易平台的正常运行，尽力避免服务中断或将中断时间限制在最短时间内，保证乙方网上交易活动的顺利进行。
        </p>
        <p>
            6、甲方有义务对乙方在注册使用甲方网上交易平台中所遇到的问题及反映的情况及时作出回复。
        </p>
        <p>
            7、乙方因在甲方网上交易与其他用户产生纠纷的，乙方通过司法部门或行政部门依照法定程序要求甲方提供相关资料，甲方应积极配合并提供有关资料；乙方将纠纷告知，或甲方知悉纠纷情况的，经审核后，有权通过电子邮件及电话联系向纠纷双方了解纠纷情况，并将所了解的情况通过电子邮件互相通知对方。
        </p>
        <p>
            8、在反网络欺诈行动中，本着保护广大用户利益的原则，当用户举报相关交易可能存在欺诈而产生交易争议时，本平台有权通过表面判断暂时冻结相关用户账号，并有权核对当事人身份资料及要求提供交易相关证明材料。
        </p>
        <p>
            9、根据国家法律法规、本协议的内容和甲方所掌握的事实依据，可以认定乙方存在违法或违反本协议行为以及其他不当行为，甲方有权在本交易平台及所在网站上以网络发布形式公布乙方的违法行为，并有权随时作出删除相关信息，而无须征得乙方的同意。
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            七、乙方的权利和义务
        </p>
        <p>
            1、乙方有权根据本协议的规定及甲方平台发布的相关规则，利用甲方平台发布交易信息、查询物品信息、购买物品、与其他用户订立物品买卖合同、参加甲方的有关活动及有权享受甲方提供的其他的有关资讯及信息服务。
        </p>
        <p>
            2、乙方有权根据需要更改密码和交易密码，但乙方应对以该用户名进行的所有活动和事件负全部责任。
        </p>
        <p>
            3、乙方有义务确保向甲方提供的任何资料、注册信息真实准确，包括但不限于真实姓名、身份证号、联系电话、地址、邮政编码等。保证甲方及其他用户可以通过上述联系方式与自己进行联系。同时，乙方也有义务在相关资料实际变更时及时更新有关注册资料。
        </p>
        <p>
            4、乙方不得以任何形式擅自转让或授权他人使用自己在甲方平台的用户帐号和密码。乙方聘请第三方代运营公司代表乙方运营店铺的，第三方代运营公司的一切行为均视同为乙方亲自实施，由乙方承担所有法律后果;乙方与第三方代运营公司间的权利义务关系由乙方与第三方代运营公司单独解决，不得影响到甲方及甲方其他用户的权利。
        </p>
        <p>
            5、 乙方有义务确保在甲方平台上登录物品、发布的交易信息真实、准确，无误导性。
        </p>
        <p>
            6、乙方不得在甲方平台买卖国家禁止销售的或限制销售的物品、不得买卖侵犯他人知识产权或其他合法权益的物品，也不得买卖违背社会公共利益或公共道德的物品。
        </p>
        <p>
            7、 乙方不得在甲方平台发布各类违法或违规信息，包括但不限于物品信息、交易信息、物品留言、店铺留言、评价内容等。
        </p>
        <p>
            8、乙方在甲方平台交易中应当遵守诚实信用原则，不得以干预或操纵物品价格等不正当竞争方式扰乱网上交易秩序，不得从事与网上交易无关的不当行为，不得在交易平台上发布任何违法信息。
        </p>
        <p>
            9、乙方不应采取不正当手段（包括但不限于虚假交易、互换好评等方式）提高自身或他人信用度，或采用不正当手段恶意评价其他用户，降低其他用户信用度。
        </p>
        <p>
            10、乙方承诺自己在使用甲方平台实施的所有行为遵守国家法律、法规和平台的相关规定以及各种社会公共利益或公共道德。对于任何法律后果的发生，乙方将以自己的名义独立承担所有相应的法律责任。
        </p>
        <p>
            11、乙方在甲方平台交易过程中如与其他用户因交易产生纠纷，可以请求甲方从中予以协调。乙方如发现其他用户有违法或违反本协议的行为，可以向甲方举报。如乙方因网上交易与其他用户产生诉讼的，乙方有权通过司法部门要求甲方提供相关资料。
        </p>
        <p>
            12、乙方应自行承担因交易产生的相关费用，并依法纳税。
        </p>
        <p>
            13、未经甲方书面允许，乙方不得将甲方资料以及在甲方平台上所展示的任何信息以复制、修改、翻译等形式制作衍生作品、分发或公开展示，包括但不限于交易数据、用户信息、支付信息、甲方其他用户展示于甲方平台的信息等。
        </p>
        <p>
            14、乙方同意接收来自甲方平台的信息，包括但不限于活动信息、交易信息、促销信息等。
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            八、协议的修订
        </p>
        <p>
            本协议可由甲方随时修订，并将修订后的协议公告于甲方平台之上，修订后的条款内容自公告时起生效，并成为本协议的一部分。乙方若在本协议修改之后，仍继续使用甲方平台，则视为乙方接受和自愿遵守修订后的协议。甲方行使修改或中断服务时，不需对任何第三方负责。
        </p>
        <p>
            九、甲方的责任范围
        </p>
        <p>
            当乙方接受该协议时，应明确了解并同意∶
        </p>
        <p>
            1、是否经由甲方平台下载或取得任何资料，由乙方自行考虑、衡量并且自负风险，因下载任何资料而导致乙方电脑系统的任何损坏或资料流失，乙方应负完全责任。
        </p>
        <p>
            2、乙方经由甲方取得的建议和资讯，无论其形式或表现，绝不构成本协议未明示规定的任何保证。
        </p>
        <p>
            3、基于以下原因而造成的利润、商誉、使用、资料损失或其它无形损失，甲方不承担任何直接、间接、附带、衍生性或惩罚性赔偿（即使甲方已被告知前款赔偿的可能性）：
        </p>
        <p>
            1）经由或通过甲方平台购买或取得的任何物品，或接收之信息，或进行交易所随之产生的替代物品及服务的购买成本。
        </p>
        <p>
            2）乙方的传输或资料遭到未获授权的存取或变更。
        </p>
        <p>
            3）甲方平台中任何第三方之声明或行为。
        </p>
        <p>
            4）甲方平台其它相关事宜。
        </p>
        <p>
            4、甲方提供与其它互联网上的网站或资源的链接，乙方可能会因此连结至其它运营商经营的网站，但不表示甲方与这些运营商有任何关系。其它运营商经营的网站均由各经营者自行负责，不属于甲方控制及负责范围之内。对于存在或来源于此类网站或资源的任何内容、广告、产品或其它资料，甲方亦不予保证或负责。因使用或依赖任何此类网站或资源发布的或经由此类网站或资源获得的任何内容、物品或服务所产生的任何损害或损失，甲方不负任何直接或间接的责任。
        </p>
        <p>
            5、甲方仅为乙方提供交易平台，对于乙方所刊登的交易物品的合法性、真实性及其品质，以及乙方履行交易的能力等，甲方一律不负任何担保责任。乙方如果因使用甲方平台，或因购买刊登于甲方平台的任何物品而受有损害时，甲方不负任何补偿或赔偿责任。
        </p>
        <p>
            十、不可抗力
        </p>
        <p>
            在本协议履行期间，协议方任何一方遭受不可抗力，均应在遭受不可抗力后尽快通知对方，并于通知之日起15日内提供相关证明文件。因不可抗力导致本协议中止、终止的，协议方均不须向对方承担违约责任。本协议所称之不可抗力意指不能预见、不能避免并不能克服的
            客观情况，包括但不限于战争、台风、水灾、火灾、雷击或地震、罢工、暴动、法定疾病、黑客攻击、网络病毒、电信部门技术管制、政府行为或任何其它自然或人为造成的灾难等客观情况。
        </p>
        <p>
            十一、争议解决方式
        </p>
        <p>
            1、本协议及其修订本的有效性、履行和与本协议及其修订本效力有关的所有事宜，将受中华人民共和国法律管辖，任何争议仅适用中华人民共和国法律。
        </p>
        <p>
            2、履行本协议过程中产生的任何争议，协议方应协商解决。协商不成的，均应向甲方办公住址所在地法院起诉。
        </p>
        <p>
            <br />
        </p>
        <div class="applyentry_btns clearfix">
            <a href="javascript:;" class="applyentry_btn_up">上一步</a>
            <a href="javascript:;" class="applyentry_btn_go">同意协议</a>
        </div>
    </div>
</div>