<div class="applyentry_wrap">
    <div class="applyentry_bg"></div>
    <div class="applyentry_inner">
        <div class="order_process">
            <div class="process_bar_box">
                <div class="process_bar has_bar"></div>
                <div class="process_bar has_bar"></div>
                <div class="process_bar has_bar"></div>
                <div class="process_bar has_bar"></div>
            </div>
            <div class="process_wrap">
                <div class="process_box has_process">
                    <div class="process_circle">
                        <span>1</span>
                    </div>
                    <p>选择主营类目</p>
                </div>
                <div class="process_box has_process">
                    <div class="process_circle">
                        <span>2</span>
                    </div>
                    <p>提交资质</p>
                </div>
                <div class="process_box has_process">
                    <div class="process_circle">
                        <span>3</span>
                    </div>
                    <p>签署协议</p>
                </div>
                <div class="process_box has_process">
                    <div class="process_circle">
                        <span>4</span>
                    </div>
                    <p>资质审核</p>
                </div>
            </div>
        </div>
        <!-- 资质审核中 -->
        <div class="verify_box">
            <div class="verify_default"></div>
            <h2>资质审核中</h2>
            <p class="verify_ing">我们会在2个工作日内给到审核结果，请耐心等待~</p>
            <strong>若有疑问请致电027-82815329</strong>
        </div>
        <!-- 资质审核失败 -->
        <div class="verify_box">
            <div class="verify_defeat"></div>
            <h2>资质审核失败</h2>
            <p class="verify_reson"><span>原因：</span>展示后台填写的审核不通过的原因展示后台填写的审核不通过的原因，若不通过原因内容较长，换行展示啊。<a href="javascript:;">立即修改</a></p>
            <strong>若有疑问请致电027-82815329</strong>
        </div>
    </div>
</div>