<div class="room_container">
    <div class="room_bg"></div>
    <div class="room_box_bid">
        <div class="bidLine_container">
            <ul>
                <li class="line_done" style="margin-left: -90px;"><span class="line_inner"><i class="iconfont icon-xinfeng"></i></span></li>
                <li class="line_done"><span class="line_inner"><i class="iconfont icon-maikefeng"></i></span></li>
                <li class="line_done"><span class="line_inner"><i class="iconfont icon-ren1"></i></span></li>
                <li class="line_act"><span class="line_inner"><i class="iconfont icon-fenxi"></i></span></li>
                <li class="line_none"><span class="line_inner"></span></li>
                <li class="line_none"><span class="line_inner"></span></li>
                <li class="line_none"><span class="line_inner"></span></li>

            </ul>
        </div>
        <div class="room_box_title"><p>评标结束，汇总中</p><a href="javascript:;" class="box_title_confirm">下一步</a></div>
        <div class="room_box_content">
            <p class="summary_tips"><i class="iconfont icon-gantanhao"></i>请先完成分数计算方式设置！</p>
            <div class="summary_type">
                <a href="javascript:;" class="summary_cell selected" style="margin-right:20px;"><span class="summary_checked"></span><i class="iconfont icon-gou"></i><span class="summary_txt" style="margin-top:28px;">直接求平均值</span></a>
                <a href="javascript:;" class="summary_cell"><span class="summary_checked"></span><i class="iconfont icon-gou"></i><span class="summary_txt" style="margin-top:16px;">去最高&最低分后， 求平均值</span></a>
            </div>
            <div class="summary_btns">
                <a href="javascript:;" class="summary_btn_next">下一步</a>
            </div>
        </div>
    </div>
</div>