<%= otherTop %>
<div class="bid_head_container">
    <div class="bid_head_con clearfix">
        <div class="bid_head_handle">
            <a href="#" class="bid_handle_btn"><i class="iconfont icon-wenhao1"></i>答疑澄清<div class="bid_bubble_warp"><span class="bid_bubble">新增<span class="textOrange">5</span>条记录</div></a>
        </div>
        <div class="bid_head_title">中铁八局集团昆明铁路建设有限公司珠三角城际新百广XBZH-2标四工XBZH-2标工程项目螺纹钢、管材等公开采购中铁八局集团昆明铁路建设有限公司珠三角城</div>
        <div class="bid_head_tips">
            <span>采购编号： HBLQJTCLZB20180141</span>
            <span>发布时间： 2018-12-12 14:34</span>
            <span>经办人： 张三/1350713736</span>
        </div>
        <div class="bid_head_cells">
            <span>物资/设备采购</span>
            <span>邀请招标</span>
            <span>在线开标</span>
            <span>资格预审</span>
        </div>
        <ul class="bid_head_steps">
            <li class="stepDone"><p>报名中</p><i class="bid_steps_circle"></i></li>
            <li class="stepDone"><p>资格预审中</p><i class="bid_steps_circle"></i></li>
            <li class="stepDone"><p>待录入资审结果</p><i class="bid_steps_circle"></i></li>
            <li class="stepDone"><p>投标/报价中</p><i class="bid_steps_circle"></i></li>
            <li class="stepDone"><p>待开标</p><i class="bid_steps_circle"></i></li>
            <li class="stepDone"><p>评标中</p><i class="bid_steps_circle"></i></li>
            <li class="stepDone"><p>待结果公示</p><i class="bid_steps_circle"></i></li>
            <li class="stepDone"><p>结果公示中</p><i class="bid_steps_circle"></i></li>
            <li class="stepDoing"><p>待中标/成交公告</p><i class="bid_steps_circle"></i></li>
            <li><p>招标结束</p><i class="bid_steps_circle"></i></li>
        </ul>
    </div>
    <div class="bid_body_container">
        <div class="bid_body_con">
            <div class="bid_body_title"><span>待中标/成交公告</span></div>
            <div class="bid_body_detail">
                <div class="bid_detail_form">
                    <div class="bid_form_block">
                        <label>前期公示情况：</label>
                        <div class="bid_form_cell"><span>候选人公示（<span class="textBlue fontBold">1</span>）</span><span class="marginL20">废标公示（<span class="textBlue fontBold">2</span>）</span><span class="marginL20">流标公示（<span class="textBlue fontBold">1</span>）</span></div>
                    </div>
                    <div class="bid_form_block">
                        <label>公示开始时间：</label>
                        <div class="bid_form_cell">2018-12-12  12:00</div>
                    </div>
                    <div class="bid_form_block">
                        <label>公示结束时间：</label>
                        <div class="bid_form_cell">2018-12-12  12:00<span class="bid_form_notice">已结束</span></div>
                    </div>
                    <div class="bid_form_block textC">
                        <a href="javascript:;" class="bid_form_btn">发布最终结果公告</a>
                        <i class="iconfont icon-wenhao"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>