<div class="back_main">
    <div class="back_main_title">
        <span class="active">我的供应商</span>
        <span>集团供应商</span>
        <a href="javascript:;" class="back_title_btn floatR">供应商类别管理</a>
    </div>
    <div class="back_main_nav">
        <ul>
            <li class="act"><a>物资/设备采购</a></li>
            <li><a>物资/设备租赁</a></li>
            <li><a>劳务分包</a></li>
            <li><a>专业分包</a></li>
            <li><a>其它</a></li>
        </ul>
    </div>
    <div class="back_main_content">
        <div class="back_main_search">
            <div>
                <select name="status">
                    <option value="">供应商状态</option>
                    <option value="1">待上传</option>
                    <option value="2">待审核</option>
                    <option value="3">正常</option>
                    <option value="4">审核未通过</option>
                    <option value="5">已拉黑</option>
                </select>
                <select name="level">
                    <option value="">供应商等级</option>
                    <option value="2">A</option>
                    <option value="1">B</option>
                </select>
                <a href="javascript:;" class="btn_clear">清除</a>
            </div>
            <div class="marginT20">
                <input name="company_name" type="text" placeholder="输入关键字：供应商名称" class="cjy-input-">
                <a href="javascript:;" class="btn_confirm">搜索</a>
                <a href="javascript:;" class="btn_clear">清除</a>
            </div>
        </div>

        <div class="back_main_list" id="supplier">
            <div class="back_list_top">
                <ul class="back_list_sort">
                    <li class="act">加入时间<i class="iconfont icon-xiajiantou1"></i></li>
                    <li>等级<i class="iconfont icon-xiajiantou1"></i></li>
                </ul>
                <a href="javascript:;" class="back_list_btn floatR">导出供应商列表</a>
                <a href="javascript:;" class="back_list_btn floatR">邀请供应商</a>
                <span class="floatR">共<span>4</span>条记录</span>
            </div>
            <div class="material_list">
                <table>
                    <colgroup>
                        <col width="250">
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="120">
                        <col width="120">

                    </colgroup>
                    <thead>
                    <tr>
                        <th>供应商名称</th>
                        <th>状态</th>
                        <th>供应商等级</th>
                        <th>联系人</th>
                        <th>联系方式</th>
                        <th>加入时间</th>
                        <th>操作</th>

                    </tr>
                    </thead>
                    <tbody class="page_list">
                    <tr v-if="loading">
                        <td colspan="7">
                            <div class="page_loading"></div>
                        </td>
                    </tr>
                    <template v-if="list.length>0">
                    <tr v-for="(item,index) in list">
                        <td>{{item.supplier_name}}</td>
                        <input type="hidden" name="company_id" :value="item.company_id">
                        <input type="hidden" name="id" :value="item.id">
                        <td>{{item.status}}</td>
                        <td>{{item.supplier_level}}</td>
                        <td>张雁</td>
                        <td>13409897654</td>
                        <td>{{item.add_time}}</td>
                        <td v-html="item.is_manager"></td>
                        <input type="hidden" name="supplier_file" :value="item.supplier_file">
                    </tr>
                    </template>
                    <tr v-else><td colspan="7"><div class="page_list_noneBg"></div><p class="page_list_noneCon" style="width: 100%;margin-bottom: 10px;font-size: 24px;color: #999;text-align: center;">暂无供应商加入您的企业库，快去申请吧〜</p><a href="javascript:;" class="back_list_btn" style="margin-bottom:80px;">邀请供应商</a></td></tr>
                    </tbody>
                </table>
                <div class="clear"></div>
            </div>
            <input type="hidden" name="role_type" value="1">
            <div id="pages">
                <vue-page @get-list="getSupplier" :count="count" :limit="10" v-if="list.length>0"></vue-page>
            </div>
        </div>
    </div>
</div>