<div class="breadcrumbs_wrap">
    <div class="breadcrumbs_inner">
        <%= backCrumbs %>
    </div>
</div>
<div class="headline_detail_wrap">
    <div class="headline_detail">
        <h1>台风"云雀"在沪浙交界处登陆 路径"奇葩"史无前台风"云雀"在沪浙交界处</h1>
        <p class="public_time">发布时间：2018-09-08  12:00:00</p>
        <div class="headline_article">
            <p>画了个大大的“Ω”，在横扫日本后进入东海，又打了一个“结”，随后便直奔华东中部沿海——拥有“奇葩”路径的今年第12号台风“云雀”，于8月3日早上在上海金山与浙江平湖交界处登陆。</p>
            <p>气象资料显示，台风“云雀”于7月25日5时在西北太平洋洋面生成，并于29日凌晨在日本本州岛南部沿海登陆，随后向我国华东沿海靠近。在东海上，“云雀”的走位非常奇葩，先打了一个结，又来了一次迂回折返，随后便直奔包括上海在内的华东中部沿海。</p>
            <p>据气象专家介绍，“云雀”路径的奇葩，可谓是史无前例。一般而言，台风通常生成于热带海洋上，如逐渐向北移动到达中纬度时，由于环境场变差、能耗等原因，台风强度减弱并逐渐消失；而受到中纬度西风带的影响，台风的行进路线也多转为自西向东移动。</p>
            <p>正因为上述因素，能在强大的中纬度西风带中存活并逆流而行的台风就非常少，如同“云雀”一般，在北纬34度附近长时间逆袭，横扫日本后进入东海，并在华东中部沿海登陆，绝对是史无前例。</p>
            <p>画了个大大的“Ω”，在横扫日本后进入东海，又打了一个“结”，随后便直奔华东中部沿海——拥有“奇葩”路径的今年第12号台风“云雀”，于8月3日早上在上海金山与浙江平湖交界处登陆。</p>
            <p>气象资料显示，台风“云雀”于7月25日5时在西北太平洋洋面生成，并于29日凌晨在日本本州岛南部沿海登陆，随后向我国华东沿海靠近。在东海上，“云雀”的走位非常奇葩，先打了一个结，又来了一次迂回折返，随后便直奔包括上海在内的华东中部沿海。</p>
        </div>
    </div>
</div>