<div class="back_main">
    <div class="back_main_title">
        <span>产品参数</span>
    </div>
    <div class="back_main_content">
        <div class="back_main_item">
            <label><span>*</span>产品编号：</label>
            <div class="back_main_block adjust_height">
                <span>122354841</span>
            </div>
        </div>
        <div class="back_main_item">
            <label><span>*</span>产品名称：</label>
            <div class="back_main_block">
                <input type="text" class="cjy-input-" placeholder="请输入供应链金场负责人电话" autocomplete="off">
            </div>
        </div>
        <div class="back_main_item">
            <label><span>*</span>贷款金额：</label>
            <div class="back_main_block">
                <input name="" type="text" class="cjy-input-" autocomplete="off" style="width: 112px;">
                <span>&nbsp;至&nbsp;</span>
                <input name="" type="text" class="cjy-input-" autocomplete="off" style="width: 114px;">
                <span>&nbsp;&nbsp;万元</span>
            </div>
        </div>
        <div class="back_main_item">
            <label><span>*</span>还款期限：</label>
            <input name="" type="text" class="cjy-input-" autocomplete="off" style="width: 112px;">
            <span>&nbsp;至&nbsp;</span>
            <input name="" type="text" class="cjy-input-" autocomplete="off" style="width: 114px;">
            <span>&nbsp;&nbsp;个月</span>
        </div>
        <div class="back_main_item">
            <label>还款年利率：</label>
            <div class="back_main_block">
                <input type="text" class="cjy-input-" autocomplete="off"><span>&nbsp;&nbsp;%</span>
            </div>
        </div>
        <div class="back_main_item">
            <label><span>*</span>产品状态：</label>
            <div class="back_main_block">
                <select name="" value="1">
                    <option value="1">上架</option>
                    <option value="2">下架</option>
                </select>
            </div>
        </div>
        <div class="back_main_item">
            <label>产品链接：</label>
            <div class="back_main_block">
                <input type="text" class="cjy-input-" autocomplete="off">
            </div>
        </div>
        <div class="back_main_item">
            <label><span>*</span>贷款类型：</label>
            <div class="back_main_block">
                <select name="" value="1" style="width: 142px;">
                    <option value="1">贷款类</option>
                    <option value="2">保理类</option>
                    <option value="3">贴现类</option>
                </select>
                <select name="" value="" style="width: 142px;">
                    <option value="">请选择</option>
                </select>
            </div>
        </div>
        <div class="back_main_item">
            <label><span>*</span>还款类型：</label>
            <div class="back_main_block">
                <select name="" value="1">
                    <option value="1">先息后本</option>
                    <option value="2">按月扣息</option>
                    <option value="3">随借随还</option>
                </select>
            </div>
        </div>
        <div class="back_main_item">
            <label><span>*</span>品牌故事图片：</label>
            <div class="back_main_block control_height">
                <span class="js_upload"></span>
                <!-- <a class="upload_img" style="position: relative;" href="javascript:;">点击上传
                    <input name="uploadFile" id="uploadFile" style="position: absolute;width: 100%;height: 100%;top: 0;right: 0;opacity: 0;cursor: pointer;" type="file" accept="image/*">
                </a> -->
                <span class="noticeCon"><span class="noticeBg"><i class="iconfont icon-i"></i></span>支持jpg / jepg / png</span>
                <div id="process-files"></div>
                <div class="adv_img">
                    <img src="https://yf.materialw.com:8080/static/img/533215b2e502f752dcdeb4a04195efc8.png">
                    <input name="product_img" type="hidden" value="">
                </div>
            </div>
        </div>
    </div>
    <div class="back_main_title">
        <span>产品简介（必填）</span>
    </div>
    <div class="back_main_content">
        <textarea class="cjy-textarea" maxlen="500" rows="3" style="width: 600px;"></textarea>
    </div>
    <div class="back_main_title">
        <span>申请条件（非必填）</span>
    </div>
    <div class="back_main_content">
        <div id="demo" style="width: 620px;height: 460px;"></div>
    </div>
    <div class="product_sub_area">
        <button class="product_add">新增产品信息</button>
    </div>
    <div class="product_sub_area">
        <button class="product_save">保存</button>
    </div>
    <div class="product_sub_area">
        <button class="product_nosave">保存</button>
    </div>
</div>