<div class="back_main">
    <div class="back_main_title">
        <span>标书订单管理</span>
    </div>
    <div class="back_main_content">
        <div class="back_main_search">
            <select value="0">
                <option value="0">全部邀请</option>
                <option value="1">已接受的邀请招标</option>
                <option value="2">待接受的邀请招标</option>
            </select>
            <a href="javascript:;" class="btn_confirm">确认</a>
        </div>
        <div class="back_list_info clearfix">
            <span class="floatR">共20条数据</span>
        </div>
        <div class="page_list"></div>
        <div class="page_container_wrap" size="10" total="11"></div>
        <!--<div class="back_list_con">-->
            <!--<div class="back_tender_Item">-->
                <!--<div class="back_item_head">-->
                    <!--<span>公告日期：2018-06-29 12:00:00</span>-->
                    <!--<span class="marginL40">截止日期：2018-06-29 12:00:00</span>-->
                <!--</div>-->
                <!--<div class="back_item_body">-->
                    <!--<div><span class="back_body_title">中国铁建怀邵衡铁路、瑞昌市立交桥、轨枕制造、光谷高科... </span><span class="back_tips_disabled">已拒绝</span>-->
                    <!--</div>-->
                    <!--<div class="fontSize14 marginT18">-->
                        <!--<span class="textBlack3">评标方式：机器人 ...</span>-->
                        <!--<span class="textBlack3 marginL30">交付地点：湖北省 -恩施土家…</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="back_tender_Item hover_pass">-->
                <!--<div class="back_item_head">-->
                    <!--<span>公告日期：2018-06-29 12:00:00</span>-->
                    <!--<span class="marginL40">截止日期：2018-06-29 12:00:00</span>-->
                <!--</div>-->
                <!--<div class="back_item_body">-->
                    <!--<div><span class="back_body_title">中国铁建怀邵衡铁路、瑞昌市立交桥、轨枕制造、光谷高科... </span><span class="back_tips_waiting">待处理</span>-->
                    <!--</div>-->
                    <!--<div class="fontSize14 marginT18">-->
                        <!--<span class="textBlack3">评标方式：机器人 ...</span>-->
                        <!--<span class="textBlack3 marginL30">交付地点：湖北省 -恩施土家…</span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<a href="#" class="back_item_pass">-->
                    <!--<i class="iconfont icon-gou"></i>-->
                    <!--<span>接受</span>-->
                <!--</a>-->
                <!--<a href="#" class="back_item_noPass">-->
                    <!--<i class="iconfont icon-cha1"></i>-->
                    <!--<span>拒绝</span>-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="back_tender_Item">-->
                <!--<div class="back_item_head">-->
                    <!--<span>公告日期：2018-06-29 12:00:00</span>-->
                    <!--<span class="marginL40">截止日期：2018-06-29 12:00:00</span>-->
                <!--</div>-->
                <!--<div class="back_item_body">-->
                    <!--<div><span class="back_body_title">中国铁建怀邵衡铁路、瑞昌市立交桥、轨枕制造、光谷高科... </span><span class="back_tips_success">已接受</span>-->
                    <!--</div>-->
                    <!--<div class="fontSize14 marginT18">-->
                        <!--<span class="textBlack3">评标方式：机器人 ...</span>-->
                        <!--<span class="textBlack3 marginL30">交付地点：湖北省 -恩施土家…</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>