<div class="breadcrumbs_wrap">
    <div class="breadcrumbs_inner">
        <%= backCrumbs %>
    </div>
    <div class="bidding_detail_wrap">
        <div class="bidding_detail_header">
            <h1>XXX华丽高速项目-钢材招标</h1>
            <div class="bidding_number_date">
                <span class="marginR30">企业招标编号：XXXXXXXXXXXX</span>
                <span class="marginR30">平台招标编号：XXXXXXXXXXXX</span>
                <span>发布时间：2018-09-08&nbsp;&nbsp;12:00:00</span>
            </div>
        </div>
        <div class="bidding_detail_content">
            <span class="seal_success"></span>
            <ul class="bidding_pro">
                <li class="bidding_pro_li">
                    <span class="bidding_pro_title">所属项目：</span>
                    <span class="bidding_pro_name">XXX华丽高速项目</span>
                </li>
                <li class="bidding_pro_li">
                    <span class="bidding_pro_title">招标单位：</span>
                    <span class="bidding_pro_name">湖北楚建易网络科技有限公司</span>
                </li>
                <li class="bidding_pro_li">
                    <span class="bidding_pro_title">中标单位：</span>
                    <span class="bidding_pro_name color333">已流标</span>
                </li>
                <li class="bidding_pro_li">
                    <span class="bidding_pro_title">涉及金额：</span>
                    <span class="bidding_pro_name color333">-</span>
                </li>
                <a href="#" class="supplychain_column"><img src="<%= ad %>"></a>
            </ul>
            <p class="bidding_pro_foot">
                <a class="bidding_pro_btn" href="javascript:;">查看详情</a>
            </p>
        </div>
    </div>
</div>