<div class="room_container">
    <div class="bidLine_container">
        <ul>
            <li class="line_none" style="margin-left: 90px;"><span class="line_inner"></span></li>
            <li class="line_none"><span class="line_inner"></span></li>
            <li class="line_none"><span class="line_inner"></span></li>
            <li class="line_act"><span class="line_inner"><i class="iconfont icon-xinfeng"></i></span></li>
            <li class="line_done"><span class="line_inner"><i class="iconfont icon-maikefeng"></i></span></li>
            <li class="line_done"><span class="line_inner"><i class="iconfont icon-ren1"></i></span></li>
            <li class="line_done"><span class="line_inner"><i class="iconfont icon-fenxi"></i></span></li>
        </ul>
    </div>
    <p class="jiantou"><i class="iconfont icon-xiajiantou"></i></p>
    <div class="room_title">开标<span class="msgCon"><span class="helpBg"><i class="iconfont icon-wenhao"></i></span><div class="tagBox"><span class="tagArrow"></span><div class="tagCon"><p>综合评分由报价文件评审、投入资金及垫付能力评审、生产规模及业绩信誉评审、报价评审等构成。</p></div></div></span></div>
    <div class="room_tips">
        <span class="room_tips_arrow"></span>
        <p>预计开标时间：2018-12-12  14:20</p>
        <p>开标人：张三 / 15007127362</p>
    </div>
    <a class="room_btn_biding">开标</a>
</div>