<div class="back_main">
    <div class="back_main_title">
        <span>标书订单管理</span>
    </div>
    <div class="back_main_content">
        <div class="back_main_notice clearfix">
            <div class="clearfix"><span class="noticeBg floatL"><i class="iconfont icon-i"></i></span><p class="floatL"><span class="textGreen">提示：</span>报名单位需根据招标单位要求<span class="textRed">支付标书费用</span>，才能在线<span class="textRed">浏览招标详情、下载标书文件</span>。</p></div>
            <div class="marginT10 clearfix"><span class="warningBg floatL"><i class="iconfont icon-gantanhao"></i></span><p class="floatL"><span class="textRed">支付：</span>目前支付方式由招标单位与投标单位自行约定。投标单位将在线上传支付凭证，由招标单位在当前页面进行审核确认，确认无误后将为投标单位开启“浏览招标详情”/“下载标书文件”等功能。</p></div>
        </div>
        <div class="back_main_search">
            <select value="2">
                <option value="">审核状态</option>
                <option value="2">待审核</option>
                <option value="1">已通过</option>
                <option value="-1">未通过</option>
            </select>
            <input type="text" placeholder="输入关键字：招标名称" name="word" class="cjy-input-" value="">
            <a href="javascript:;" class="btn_confirm">确认</a>
        </div>
        <input type="hidden" name="type" value="margin">
        <div class="back_list_con">
            <!--<div class="back_tender_Item">-->
                <!--<div class="back_item_head">-->
                    <!--<span>提交时间：2018-06-30  12:00:00</span>-->
                    <!--<span class="marginL40">订单编号：77406485696</span>-->
                <!--</div>-->
                <!--<div class="back_item_body">-->
                    <!--<div><span class="back_body_title">XXXX华丽高速公路-钢材招标</span><span class="back_tips_waiting">待支付</span></div>-->
                    <!--<div class="fontSize14 marginT18"><span class="textBlack3">供应商：</span>武汉市大建设市政集团有限公司<span class="textBlack3 marginL40">涉及金额：3,000.00元</span></div>-->
                <!--</div>-->
                <!--<a href="#" class="back_item_edit">-->
                    <!--<i class="iconfont icon-bianji"></i>-->
                    <!--<span>修改</span>-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="back_tender_Item">-->
                <!--<div class="back_item_head">-->
                    <!--<span>提交时间：2018-06-30  12:00:00</span>-->
                    <!--<span class="marginL40">订单编号：77406485696</span>-->
                <!--</div>-->
                <!--<div class="back_item_body">-->
                    <!--<div><span class="back_body_title">XXXX华丽高速公路-钢材招标</span><span class="back_tips_disabled">无需支付</span></div>-->
                    <!--<div class="fontSize14 marginT18"><span class="textBlack3">供应商：</span>武汉市大建设市政集团有限公司<span class="textBlack3 marginL40">涉及金额：3,000.00元</span></div>-->
                <!--</div>-->
                <!--<a href="#" class="back_item_edit">-->
                    <!--<i class="iconfont icon-bianji"></i>-->
                    <!--<span>修改</span>-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="back_tender_Item hover_edit">-->
                <!--<div class="back_item_head">-->
                    <!--<span>提交时间：2018-06-30  12:00:00</span>-->
                    <!--<span class="marginL40">订单编号：77406485696</span>-->
                <!--</div>-->
                <!--<div class="back_item_body">-->
                    <!--<div><span class="back_body_title">XXXX华丽高速公路-钢材招标</span><span class="back_tips_success">已支付</span></div>-->
                    <!--<div class="fontSize14 marginT18"><span class="textBlack3">供应商：</span>武汉市大建设市政集团有限公司<span class="textBlack3 marginL40">涉及金额：3,000.00元</span></div>-->
                <!--</div>-->
                <!--<a href="#" class="back_item_edit">-->
                    <!--<i class="iconfont icon-bianji"></i>-->
                    <!--<span>修改</span>-->
                <!--</a>-->
            <!--</div>-->
            <div class="page_list"></div>
        </div>
        <div class="page_container_wrap" size="10" total="3"></div>
    </div>
</div>