<div class="register_main">
    <div class="register_container">
        <div class="reg_form_item">
            <label>手机：</label>
            <div class="register_block">
                <input type="text" name="user_mobile" class="cjy-input-">
            </div>
        </div>
        <div class="reg_form_item">
            <label>短信验证码：</label>
            <div class="register_block">
                <input type="text" class="cjy-input-" name="sms_code" style="width: 200px;">
                <a href="javascript:;" class="set_code">获取验证码</a>
            </div>
        </div>
    </div>
    <div class="register_btns">
        <a href="javascript:;" class="btn_confirm">下一步</a>
    </div>
</div>