<div class="order_warp">
    <div class="order_notice_con"><span class="iconfont icon-i"></span>资审文件费支付成功（若对公转账，则采购单位确认支付凭证无误）后，即可在线<span class="textRed">下载资格预审文件</span>，请尽快完成支付！</div>

    <div class="order_pay_con">
        <div class="order_pay_top clearfix">
            <div class="pay_detail">
                <i class="iconfont icon-xiangmu1"></i>
                <p class="pay_bidName">武汉市市政建设集团有限公司洛阳市王城大道快速路一期建设工程第1标段（第Ⅰ施工段）水泥管 显示全，展示不下换行吧</p>
                <p class="pay_bidLoad"><i class="iconfont icon-jieguo"></i><a href="#" class="marginL4">招标公告</a></p>
            </div>
            <span class="pay_money">
                <span class="block marginB10">应付金额</span>
                <span class="fontSize24 textRed fontBold">￥3800.00</span>
            </span>
        </div>
        <div class="order_pay_nav">
            <span class="pay_nav_cell">支付方式</span>
        </div>
        <div class="order_pay_body clearfix">
            <div class="pay_body_cell pay_body_bg1 active">
                <span class="iconfont icon-gou"></span>
                <div class="cell_bg"></div>
                <div class="body_cell_con">
                    <span class="cell_logo_bg"><img src="<%= logoDemo1 %>"></span>
                    <div class="cell_des">
                        <span class="block">
                            <span class="fontSize16">对公转账</span>
                            <span class="showTag">
                                <i class="iconfont icon-wenhao"></i>
                                <div class="tagBox">
                                    <span class="tagArrow"></span>
                                    <div class="tagCon">
                                        <p>通过<span class="textRed">网上银行（网银）</span>或<span class="textRed">银行柜台</span>或<span class="textRed">手机银行</span>等方式进行支付。文件费用支付成功后需上传支付凭证，待采购单位确认凭证无误后，可在线下载相应文件。</p>
                                    </div>
                                </div>
                            </span>
                        </span>
                        <span class="fontSize12 block" style="width: 189px;line-height: 1.5;margin-top: 6px;">收款单位：湖北国际经济技术合作</span>
                    </div>
                </div>
            </div>
            <div class="pay_body_cell pay_body_bg2">
                <span class="iconfont icon-gou"></span>
                <div class="cell_bg"></div>
                <div class="body_cell_con">
                    <span class="cell_logo_bg"><img src="<%= logoDemo %>"></span>
                    <div class="cell_des">
                        <span class="block">
                            <span class="fontSize16">融易付</span>
                            <span class="showTag">
                                <i class="iconfont icon-wenhao"></i>
                                <div class="tagBox">
                                    <span class="tagArrow"></span>
                                    <div class="tagCon">
                                        <p>付款方与收款方均绑定融易付后，可通过融易付担保支付方式支付投标/报价保证金。招标结束后，可实现保证金的一键退还，退款极速到账。</p>
                                    </div>
                                </div>
                            </span>
                        </span>
                        <span class="fontSize12 block">保证您的交易安全合规</span>
                    </div>
                </div>
                <a href="" class="cell_notice"><i class="iconfont icon-i"></i>什么是融易付？</a>
            </div>
        </div>
        <div class="order_pay_foot clearfix">
            <a href="javascript:;" class="order_confirm js_goPay">去支付</a>
            <a href="javascript:;" class="order_cancel marginR20">返回</a>
        </div>

        <div class="transfer_warp">
            <div class="transfer_flow">
                <div class="transfer_flow_title">操作流程</div>
                <div class="transfer_flow_steps">
                    <div class="flow_steps_line"></div>
                    <ul class="clearfix">
                        <li>
                            <span class="flow_steps_num">1</span>
                            <p class="textBlack1 fontBold marginT20">对公转账</p>
                            <p class="fontSize12 width200 marginT4 inlineBlock">选择网上银行（网银）或银行柜台或手机银行进行转账</p>
                        </li>
                        <li>
                            <span class="flow_steps_num">2</span>
                            <p class="textBlack1 fontBold marginT20">上传支付凭证</p>
                            <p class="fontSize12 width200 marginT4 inlineBlock">为避免影响您正常下载资格预审文件，请上传真实有效的支付凭证</p>
                        </li>
                        <li>
                            <span class="flow_steps_num">3</span>
                            <p class="textBlack1 fontBold marginT20">采购单位确认支付凭证</p>
                            <p class="fontSize12 width200 marginT4 inlineBlock">支付凭证上传后，需等待采购单位 确认，待支付凭证确认无误后可在线下载文件。</p>
                        </li>
                        <li>
                            <span class="flow_steps_num">4</span>
                            <p class="textBlack1 fontBold marginT20">下载资格预审文件</p>
                            <p class="fontSize12 width200 marginT4 inlineBlock"></p>
                        </li>
                    </ul>
                </div>
            </div>
            <p class="transfer_date_tips"><i class="iconfont icon-deng"></i>请在<span class="textRed fontSize16" end_time="1:23:20:12">47小时20分12秒</span>内通过<span class="tips_box">网上银行（网银）</span>或<span class="tips_box">银行柜台</span>或<span class="tips_box">手机银行</span>完成资审文件费的支付和支付凭证的上传！</p>
            <div class="transfer_info_warp">
                <div class="transfer_info_con">
                    <div class="transfer_info_title"><i class="transfer_info_circle"></i>采购单位收款信息</div>
                    <div class="transfer_info_block clearfix"><label>收款单位：</label><div class="transfer_info_item">湖北省楚建易网络科技有限公司</div></div>
                    <div class="transfer_info_block clearfix"><label>开户银行：</label><div class="transfer_info_item">招商银行</div></div>
                    <div class="transfer_info_block clearfix"><label>银行账户：</label><div class="transfer_info_item">127911390810401</div></div>
                    <!-- <div class="transfer_info_block clearfix"><label>收款账户：</label><div class="transfer_info_item">参考<a href="#" class="textBlue">招标/询价详情</a></div></div> -->
                    <div class="transfer_info_block clearfix"><label>联系人：</label><div class="transfer_info_item">高小英/13476103436</div></div>
                </div>
                <div class="transfer_info_con">
                    <div class="transfer_info_title"><i class="transfer_info_circle"></i>特别提醒</div>
                    <ul>
                        <li class="clearfix"><i class="transfer_info_dot"></i><p>若您已完成支付，还需上传支付凭证，待支付凭证确认无误后，可在线下载资格预审文件；</p></li>
                        <li class="clearfix"><i class="transfer_info_dot"></i><p>若您已上传支付凭证，请尽快联系采购单位在线确认支付凭证。</p></li>
                        <li class="clearfix"><i class="transfer_info_dot"></i><p>如有疑问，请及时咨询生材网客服  027-82815329</p></li>
                    </ul>
                </div>
            </div>
            <div class="order_pay_foot clearfix" style="margin: 0;">
                <a href="javascript:;" class="order_confirm js_upload">上传支付凭证</a>
                <a href="javascript:;" class="order_cancel marginR20 js_goBack">返回</a>
            </div>
        </div>      
    </div>
</div>