<%= otherTop %>
<div class="bid_head_container">
    <div class="bid_head_con clearfix">
        <div class="bid_head_handle">
            <a href="#" class="bid_handle_btn"><i class="iconfont icon-wenhao1"></i>答疑澄清<div class="bid_bubble_warp"><span class="bid_bubble">新增<span class="textOrange">5</span>条记录</div></a>
        </div>
        <div class="bid_head_title">中铁八局集团昆明铁路建设有限公司珠三角城际新百广XBZH-2标四工XBZH-2标工程项目螺纹钢、管材等公开采购中铁八局集团昆明铁路建设有限公司珠三角城</div>
        <div class="bid_head_tips">
            <span>采购编号： HBLQJTCLZB20180141</span>
            <span>发布时间： 2018-12-12 14:34</span>
            <span>经办人： 张三/1350713736</span>
        </div>
        <div class="bid_head_cells">
            <span>物资/设备采购</span>
            <span>邀请招标</span>
            <span>在线开标</span>
            <span>资格预审</span>
        </div>
        <ul class="bid_head_steps">
            <li class="stepDone"><p>报名中</p><i class="bid_steps_circle"></i></li>
            <li class="stepDone"><p>资格预审中</p><i class="bid_steps_circle"></i></li>
            <li class="stepDone"><p>待录入资审结果</p><i class="bid_steps_circle"></i></li>
            <li class="stepDone"><p>投标/报价中</p><i class="bid_steps_circle"></i></li>
            <li class="stepDone"><p>待开标</p><i class="bid_steps_circle"></i></li>
            <li class="stepDone"><p>评标中</p><i class="bid_steps_circle"></i></li>
            <li class="stepDoing"><p>待结果公示</p><i class="bid_steps_circle"></i></li>
            <li><p>结果公示中</p><i class="bid_steps_circle"></i></li>
            <li><p>待中标/成交公告</p><i class="bid_steps_circle"></i></li>
            <li><p>招标结束</p><i class="bid_steps_circle"></i></li>
        </ul>
    </div>
    <div class="bid_body_container">
        <div class="bid_body_con">
            <div class="bid_body_title"><span>待结果公示</span></div>
            <div class="bid_body_detail">
                <div class="bid_detail_form">
                    <div class="bid_form_block"><span class="bid_form_cell">评标方式：在线评标</span><span class="bid_form_cell">评标开始时间：2018-12-12  12:00</span><span class="bid_form_cell">评标结束时间：2018-12-12  12:00</span></div>
                    <div class="bid_form_block"><span class="bid_form_cell">总汇人：李四 / 13012122323</span><span class="bid_form_cell">总汇时间：2018-12-12  12:00</span><span class="bid_form_cell">总汇结果：<a href="" class="textBlue">设置</a></span><span class="bid_form_cell"><a href="" class="bid_form_btn">发布结果公示</a></div>
                </div>
            </div>
        </div>
    </div>
</div>