.module_item_wrap{
    width: 100%;
}
.module_item_wrap .module_item{
    width: 1180px;
    padding: 20px 0;
    margin: 0 auto;
}
.module_item_wrap .module_item h1{
    font-size: 18px;
    margin-bottom: 10px;
}
/* 商家入驻 */
.apply-entry-box .apply-entry-bg{
    width: 540px;
    height: 135px;
    background: url('../../../public-resource/imgs/member/shop_apply.png') no-repeat;
    margin-bottom: 35px;
}
.apply-entry-inner p{
    font-size: 14px;
    color: #666;
    text-align: center;
    line-height: 1.5;
}
.apply-entry-inner strong{
    color: #dd2e2e;
    font-weight: normal;
}
.apply-entry-inner .apply-entry-btn{
    text-align: center;
    margin-top: 30px;
}
.apply-entry-btn .now-apply{
    width: 170px;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    background-color: #fc6940;
    font-size: 16px;
    color: #fff;
    text-align: center;
    border: none;
}
.apply-entry-btn .now-apply:hover{
    background-color: #f3623a;
}
/* 新增仓库 */
.new-warehouse-box .warehouse-item{
    margin-bottom: 20px;
}
.warehouse-item .warehouse-label{
    float: left;
    display: block;
    width: 114px;
    height: 40px;
    font-size: 14px;
    color: #999;
    text-align: right;
    line-height: 40px;
}
.warehouse-label span{
    color: #ca3c3c;
    margin-right: 6px;
    vertical-align: -3px;
}
.warehouse-item .warehouse-input{
    float: left;
    position: relative;
}
.warehouse-input input[type=text]{
    width: 340px;
}
.warehouse-input .search-ware{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    background-color: #fc6940;
    cursor: pointer;
}
.warehouse-input #baiduMap{
    width: 660px;
    height: 470px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
.warehouse-input .default_address{
    font-size: 14px;
    color: #333;
}
.default_address .icon-wenhao{
    display: inline-block;
    width: 18px;
    height: 18px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 18px;
    border-radius: 18px;
    background-color: #7392b5;
    margin-left: 6px;
}
.tangram-suggestion-main{
    z-index: 1000;
}
/* 修改分类 */
.type-box{
    padding: 0 30px;
}
.type-list .type-item{
    float: left;
    margin-right: 28px;
}
.type-item:last-child,.type-item .cjy-select{
    margin-right: 0;
}
.type-item label{
    font-size: 14px;
    color: #999;
}
.type-item select{
    width: 158px;
}
.type-box p{
    font-size: 14px;
    color: #999;
    text-indent: 20px;
    padding: 18px 0;
    margin-top: 20px;
    background-color: #fafafa;
}
.type-box p span{
    color: #333;
}

/* 修改运费 */
.fare-box .fare-label{
    float: left;
    display: block;
    width: 94px;
    height: 40px;
    font-size: 14px;
    color: #999;
    text-align: right;
    line-height: 40px;
}
.fare-box .fare-input{
    float: left;
}
.fare-input input[type=text]{
    width: 140px;
}
/* 上传付款凭证 */
.payment-box .payment-title{
    float: left;
    display: block;
    width: 130px;
    font-size: 14px;
    color: #999;
    text-align: right;
}
.payment-box .payment-content{
    float: left;
}
.payment-region .payment-area{
    float: left;
    margin-top: -12px;
}
.payment-region p{
    float: left;
    font-size: 14px;
    color: #999;
    margin-left: 10px;
}
.payment-region p i{
    display: inline-block;
    width: 18px;
    height: 18px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 18px;
    background-color: #50b2f6;
    border-radius: 100%;
    margin-right: 6px;
}
.payment-area input{
    display: none;
}
.payment-area .upload-payment{
    display: block;
    width: 98px;
    height: 38px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 38px;
    background-color: #00b27e;
    border: 1px solid #019a6d;
    border-radius: 4px;
    cursor: pointer;
}
.payment-area .upload-payment:hover{
    background-color: #00a776;
}
.payment-content .payment-list{
    width: 336px;
    background-color: #f7f7f7;
    border: 1px solid #eee;
    padding: 20px 20px 0;
    margin-top: 10px;
}
.payment-list .payment-item{
    margin-bottom: 20px;
}
.payment-item .payment-link{
    max-width: 300px;
    vertical-align: -2px;
    margin-left: 6px;
}

/* 新增收货地址 */
.shipping-box .shipping-item{
    margin-bottom: 20px;
}
.shipping-item .shipping-label{
    float: left;
    display: block;
    width: 114px;
    height: 40px;
    font-size: 14px;
    color: #999;
    text-align: right;
    line-height: 40px;
}
.shipping-label span{
    color: #ca3c3c;
    margin-right: 6px;
    vertical-align: -3px;
}
.shipping-input .cjy-input-{
    width: 344px;
}
.shipping-input select{
    width: 158px;
}
.shipping-input .cjy-select{
    margin-right: 10px;
}
.shipping-box .default_address {
    font-size: 14px;
    color: #333;
    margin-left: 114px;
}
/* 新增增值税普通发票 */
.invoice-box .invoice-item{
    margin-bottom: 20px;
}
.invoice-item .invoice-label{
    float: left;
    display: block;
    width: 146px;
    height: 40px;
    font-size: 14px;
    color: #999;
    text-align: right;
    line-height: 40px;
}
.invoice-label span{
    color: #ca3c3c;
    margin-right: 6px;
    vertical-align: -3px;
}
.invoice-input .cjy-input-{
    width: 344px;
}
.invoice-input select{
    width: 158px;
}
.invoice-input .cjy-select{
    margin-right: 10px;
}
.invoice-input #receipts-name{
    width: 78px;
}
.invoice-input #receipts-phone{
    width: 234px;
    margin-left: 10px;
}
/* 图片轮播 */
.power-box{
    padding: 0 30px;
}
.power-box .power-tips{
    height: 40px;
    background-color: #fcfae3;
    line-height: 40px;
    border: 1px solid #f7e3a4;
    margin-bottom: 20px;
}
.power-tips p{
    font-size: 14px;
    color: #666;
    margin-left: 10px;
}
.power-tips b{
    font-weight: normal;
    color: #df2b2b;
}
.power-tips i,.power-item .icon-cha1{
    display: inline-block;
    width: 18px;
    height: 18px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 18px;
    border-radius: 100%;
}
.power-tips i{
    background-color: #50b2f6;
    margin-right: 10px;
    vertical-align: 2px;
}
.power-list .power-item{
    width: 231px;
    height: 169px;
    border: 1px solid #e5e5e5;
    position: relative;
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
}
.power-list .power-item:hover{
    border-style: dashed;
    border-color: #00b27e;
}
.power-list .power-item:nth-child(3n){
    margin-right: 0px;
}
.power-item .icon-cha1{
    display: none;
    position: absolute;
    right: -9px;
    top: -9px;
    background-color: #fd4545;
    cursor: pointer;
}
.power-list .power-item:hover .icon-cha1{
    display: block;
}
.power-item .icon-lianjie{
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: block;
    width: 36px;
    height: 40px;
    font-size: 14px;
    color: #666;
    text-align: center;
    line-height: 40px;
    background-color: #fff;
}
.power-item .power-img{
    width: 100%;
    height: 128px;
    line-height: 128px;
    background-color: #fafafa;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
}
.power-img img{
    width: 100%;
}
.power-item .cjy-input-{
    width: 184px;
    padding-left: 36px;
    /* width: 210px; */
    border: none;
}
.power-item .cjy-input-:focus{
    border: none!important;
    box-shadow: none;
}
.power-list .upload-power{
    float: left;
}
.upload-power input{
    display: none;
}
.upload-power label{
    display: block;
    width: 230px;
    height: 169px;
    border: 1px dashed #e5e5e5;
    font-size: 60px;
    color: #ccc;
    text-align: center;
    line-height: 169px;
    cursor: pointer;
}
/* 主营产品 */
.main-product{
    padding: 0 30px;
    position: relative;
}
.main-product .product-tips{
    height: 40px;
    background-color: #fcfae3;
    line-height: 40px;
    border: 1px solid #f7e3a4;
    margin-bottom: 20px;
}
.product-tips p{
    font-size: 14px;
    color: #666;
    margin-left: 10px;
}
.product-tips b{
    font-weight: normal;
    color: #df2b2b;
}
.product-tips i{
    display: inline-block;
    width: 18px;
    height: 18px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 18px;
    border-radius: 100%;
    background-color: #50b2f6;
    margin-right: 10px;
    vertical-align: 2px;
}
.product-area .product-table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #e5e5e5;
    border-bottom: none;
    background-color: #fff;
    margin-top: 20px;
}
.product-table th{
    height: 50px;
    font-size: 12px;
    color: #666;
    line-height: 50px;
    background-color: #fafafa;
    border-bottom: 1px solid #e5e5e5;
}
.product-table td{
    font-size: 12px;
    color: #666;
    padding: 20px 0;
    border-bottom: 1px solid #e5e5e5;
}
.product-table .color999{
    color: #999
}
.product-table .colorRed{
    font-weight: normal;
    color: #fc6940;
}
.product-intro .product-photo{
    float: left;
    width: 52px;
    height: 52px;
    border: 1px solid #e5e5e5;
    overflow: hidden;
    margin-right: 16px;
}
.product-photo img{
    width: 100%;
}
.product-intro .product-name{
    float: left;
    width: 110px;
    font-size: 12px;
    color: #333;
    line-height: 18px;
    padding-top: 9px;
}
.brand-area span{
    display: block;
    line-height: 18px;
}
.product-table .text-center{
    text-align: center;
}
.attr-box p{
    line-height: 18px;
}
.attr-box .icon-xiajiantou,.attr-box .icon-shangjiantou{
    display: inline-block;
    font-size: 12px;
    color: #fc6940;
    margin-left: 10px;
    transform: rotate(0deg);
    transition: transform .3s ease-in;
}
.attr-box .expand-btn:hover .icon-xiajiantou,.attr-box .expand-btn:hover .icon-shangjiantou{
    transform: rotate(360deg);
}
.attr-box .expand-btn{
    cursor: pointer;
}
.main-product .had-select{
    position: absolute;
    left: 30px;
    bottom: -65px;
    font-size: 14px;
    color: #666;
}
.attr-box .inner-table{
    position: relative;
}
.inner-table .expand-div{
    display: none;
}
.inner-table table{
    width: 1100px;
    border-collapse: collapse;
    border: 1px solid #00b27e;
    border-bottom: none;
    background-color: #fff;
    position: absolute;
    left: -420px;
    top: 18px;
    z-index: 1;
}
.inner-table th,.inner-table td{
    text-align: center;
}
.inner-table tr:last-child td{
    border-bottom: 1px solid #00b27e;
}
.inner-table .multi-left{
    border-left: 1px solid #e5e5e5;
}
.inner-table .multi-right{
    border-right: 1px solid #e5e5e5;
}
.inner-table .icon-wenhao{
    display: inline-block;
    width: 18px;
    height: 18px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 18px;
    background-color: #7392b5;
    border-radius: 100%;
    margin-left: 6px;
    vertical-align: 1px;
}
.expand-div::before,.expand-div::after{
    display: block;
    content: " ";
    border: 7px solid transparent;
    border-bottom: 7px solid #00b27e;
    position: absolute;
    left: 40px;
    top: 4px;
}
.expand-div::after{
    border-bottom: 7px solid #fafafa;
    top: 5px;
    z-index: 1;
}