<div class="back_main">
    <div class="back_main_title">
        <span class="active">编辑供应商详情</span>
    </div>
    <div class="back_main_content">
        <div class="back_thin_content">
            <div class="back_info_item clearfix">
                <label class="back_info_title">当前密码：</label>
                <label>供应商名称供应商名称供应商名称</label>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title">供应商状态：</label>
                <div class="back_main_block">
                    <select>
                        <option value="">合作中</option>
                    </select>
                    <a href="javascript:;" class="marginL10 textBlue">操作记录</a>
                </div>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title"></label>
                <div class="back_main_block">
                    <textarea class="cjy-textarea" placeholder="请输入调整原因" maxlen="100"></textarea>
                </div>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title">供应商类别：</label>
                <label>物资/设备采购</label>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title">供应商等级：</label>
                <label>A</label>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title">联系人：</label>
                <label>A</label>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title">联系方式：</label>
                <label>A</label>
            </div>
            <div class="back_info_item clearfix">
                <label class="back_info_title">联系方式：</label>
                <label>A</label>
            </div>
            <div class="back_main_btns clearfix">
                <a class="btn_confirm floatR marginL10" href="javascript:;">保存</a>
                <a class="btn_cancel floatR" href="javascript:;">返回</a>
            </div>
        </div>
    </div>
</div>