<div class="back_main">
    <div class="back_main_content">
        <div class="dimension_warp">
            <div class="dimension_title">
                不良记录主题不良记录主题不良记录主题不良记录主题不良记录主题
            </div>
            <div class="dimension_time">2018-09-08 12:00</div>
            <div class="dimension_content">
                这里放正文这里放正文这里放正文这里放正文这里放正文这里放正文这里放正文这里放正文这里放正文这里放正文这里放正文这里放正文这里放正文这里放正文这里放正文这里放正文这里放正文这里放正文这里放正文这里放正文这里放正文这里放正文这里放正文这里放正文这里放正文这里放正文这里放正文这里放正文这里放正文这里放正文这里放正文这里放正文这里放正文这里放正文
                这里放正文这里放正文这里放正文这里放正文这里放正文这里放正文这里放正文这里放正文这里放正文这里放正文这里放正文这里放正文这里放正文这里放正文这里放正文这里放正文这里放正文这里放正文这里放正文这里放正文这里放正文这里放正文
            </div>
            <div class="dimension_file">
                <div class="affix_item"><i class="iconfont icon-fujian"></i><span class="ellipsis">这里放名称这里放名称</span><a class="textBlue">下载</a></div>
                <div class="affix_item"><i class="iconfont icon-fujian"></i><span class="ellipsis">这里放名称这里放名称</span><a class="textBlue">下载</a></div>
            </div>
        </div>
    </div>
</div>