<div class="back_main">
    <div class="back_main_title">
        <span>首页设置</span>
    </div>
    <div class="back_main_content">
        <div class="back_main_item">
            <label><span>*</span>故事标题：</label>
            <div class="back_main_block">
                <input type="text" class="cjy-input-" placeholder="请输入故事标题名称" autocomplete="off">
            </div>
        </div>
        <div class="back_main_item">
            <label><span>*</span>品牌故事图片：</label>
            <div class="back_main_block">
                <span class="js_upload" id="js_upload0"></span>
                <!-- <a class="upload_img" style="position: relative;" href="javascript:;">点击上传<input name="uploadFile" id="uploadFile" style="position: absolute;width: 100%;height: 100%;top: 0;right: 0;opacity: 0;cursor: pointer;" type="file" accept="image/*"></a> -->
                <span class="noticeCon"><span class="noticeBg"><i class="iconfont icon-i"></i></span>支持jpg / jepg / png</span>
                <div id="process-files0"></div>
                <div class="adv_img">
                    <img src="<%= noPic %>">
                    <input name="" type="hidden" value="">
                </div>
            </div>
        </div>
        <div class="back_main_item">
            <label><span>*</span>品牌故事图片：</label>
            <div class="back_main_block">
                <textarea class="cjy-textarea" maxlen="500" rows="3" style="width: 600px;" placeholder="请输入内容"></textarea>
            </div>
        </div>
        <div class="back_main_item">
            <label>视频标题1：</label>
            <div class="back_main_block">
                <input type="text" class="cjy-input-" autocomplete="off">
            </div>
        </div>
        <div class="back_main_item">
            <label>宣传视频1：</label>
            <div class="back_main_block">
                <span class="js_upload_video" id="js_upload_video1"></span>
                <!-- <a class="upload_vedio" style="position: relative;" href="javascript:;">点击上传<input name="uploadFile" id="uploadFile1" style="position: absolute;width: 100%;height: 100%;top: 0;right: 0;opacity: 0;cursor: pointer;" type="file" accept="image/*"></a> -->
                <div class="video_area"></div>
                <div id="process-files-video1"></div>
            </div>
        </div>
        <div class="back_main_item">
            <label>视频1封面截图：</label>
            <div class="back_main_block">
                <span class="js_upload" id="js_upload1"></span>
                <!-- <a class="upload_img" style="position: relative;" href="javascript:;" data-num="1">点击上传<input name="uploadFile" id="uploadFile2" style="position: absolute;width: 100%;height: 100%;top: 0;right: 0;opacity: 0;cursor: pointer;" type="file" accept="image/*"></a> -->
                <span class="noticeCon"><span class="noticeBg"><i class="iconfont icon-i"></i></span>支持jpg / jepg / png</span>
                <div id="process-files1"></div>
                <div class="adv_img">
                    <img src="https://static.dev.materialw.com/supplychain//static/img/4c58bb6c3601848d2c2bde905fd9f165.png">
                    <input name="story_video_img_1" type="hidden" value="">
                </div>
            </div>
        </div>
        <div class="back_main_item">
            <label>视频标题2：</label>
            <div class="back_main_block">
                <input type="text" class="cjy-input-" autocomplete="off">
            </div>
        </div>
        <div class="back_main_item">
            <label>宣传视频2：</label>
            <div class="back_main_block">
                <span class="js_upload_video" id="js_upload_video2"></span>
                <!-- <a class="upload_vedio" style="position: relative;" href="javascript:;">点击上传<input name="uploadFile" id="uploadFile1" style="position: absolute;width: 100%;height: 100%;top: 0;right: 0;opacity: 0;cursor: pointer;" type="file" accept="image/*"></a> -->
                <div class="video_area"></div>
                <div id="process-files-video2"></div>
            </div>
        </div>
        <div class="back_main_item">
            <label>视频2封面截图：</label>
            <div class="back_main_block">
                <span class="js_upload" id="js_upload2"></span>
                <!-- <a class="upload_img" style="position: relative;" href="javascript:;" data-num="1">点击上传<input name="uploadFile" id="uploadFile2" style="position: absolute;width: 100%;height: 100%;top: 0;right: 0;opacity: 0;cursor: pointer;" type="file" accept="image/*"></a> -->
                <span class="noticeCon"><span class="noticeBg"><i class="iconfont icon-i"></i></span>支持jpg / jepg / png</span>
                <div id="process-files2"></div>
                <div class="adv_img">
                    <img src="https://static.dev.materialw.com/supplychain//static/img/4c58bb6c3601848d2c2bde905fd9f165.png">
                    <input name="story_video_img_1" type="hidden" value="">
                </div>
            </div>
        </div>
        <div class="back_main_item">
            <label>视频标题3：</label>
            <div class="back_main_block">
                <input type="text" class="cjy-input-" autocomplete="off">
            </div>
        </div>
        <div class="back_main_item">
            <label>宣传视频3：</label>
            <div class="back_main_block">
                <span class="js_upload_video" id="js_upload_video3"></span>
                <!-- <a class="upload_vedio" style="position: relative;" href="javascript:;">点击上传<input name="uploadFile" id="uploadFile1" style="position: absolute;width: 100%;height: 100%;top: 0;right: 0;opacity: 0;cursor: pointer;" type="file" accept="image/*"></a> -->
                <div class="video_area"></div>
                <div id="process-files-video3"></div>
            </div>
        </div>
        <div class="back_main_item">
            <label>视频3封面截图：</label>
            <div class="back_main_block">
                <span class="js_upload" id="js_upload3"></span>
                <!-- <a class="upload_img" style="position: relative;" href="javascript:;" data-num="1">点击上传<input name="uploadFile" id="uploadFile2" style="position: absolute;width: 100%;height: 100%;top: 0;right: 0;opacity: 0;cursor: pointer;" type="file" accept="image/*"></a> -->
                <span class="noticeCon"><span class="noticeBg"><i class="iconfont icon-i"></i></span>支持jpg / jepg / png</span>
                <div id="process-files3"></div>
                <div class="adv_img">
                    <img src="https://static.dev.materialw.com/supplychain//static/img/4c58bb6c3601848d2c2bde905fd9f165.png">
                    <input name="story_video_img_1" type="hidden" value="">
                </div>
            </div>
        </div>
        <div class="back_main_item">
            <label></label>
            <div class="back_main_block">
                <span class="noticeCon"><span class="noticeBg"><i class="iconfont icon-i"></i></span>视频格式只能支持MP4、且不得大于50兆</span>
            </div>
        </div>
    </div>
    <div class="back_main_btns clearfix">
        <a class="btn_confirm floatR" href="javascript:;">保存</a>
    </div>
</div>