<div class="back_main">
    <div class="back_main_title">
        <span class="active">待办事项</span>
        <a href="#" class="back_title_btn floatR">全部</a>
    </div>
    <div class="back_main_content">
        <ul class="icon_list clearfix">
            <li>
                <a>
                    <span class="handler_icon handlerIcon1"></span>
                    <span class="handler_name">开标密钥下载</span>
                    <i class="handler_num">1</i>
                </a>
            </li>
            <li>
                <a>
                    <span class="handler_icon handlerIcon2"></span>
                    <span class="handler_name">资审文件开启密钥下载</span>
                    <i class="handler_num">1</i>
                </a>
            </li>
            <li class="active">
                <a>
                    <span class="handler_icon handlerIcon3"></span>
                    <span class="handler_name">供应商准入</span>
                    <i class="handler_num">1</i>
                </a>
            </li>
            <li>
                <a>
                    <span class="handler_icon handlerIcon4"></span>
                    <span class="handler_name">资审文件费确认</span>
                    <i class="handler_num">1</i>
                </a>
            </li>
            <li>
                <a>
                    <span class="handler_icon handlerIcon5"></span>
                    <span class="handler_name">标书款确认</span>
                    <i class="handler_num">1</i>
                </a>
            </li>
            <li>
                <a>
                    <span class="handler_icon handlerIcon6"></span>
                    <span class="handler_name">保证金确认</span>
                    <i class="handler_num">1</i>
                </a>
            </li>
        </ul>
    </div>
    <div class="back_main_title marginT20">
        <span class="active">进行中的招标</span>
        <a href="#" class="back_title_btn floatR">全部</a>
    </div>
    <div class="back_main_content">
        <ul class="icon_list clearfix">
            <li>
                <a>
                    <span class="handler_icon handlerIcon7"></span>
                    <span class="handler_name">报名中</span>
                    <i class="handler_num">1</i>
                </a>
            </li>
            <li>
                <a>
                    <span class="handler_icon handlerIcon8"></span>
                    <span class="handler_name">资格预审中</span>
                    <i class="handler_num">1</i>
                </a>
            </li>
            <li class="active">
                <a>
                    <span class="handler_icon handlerIcon9"></span>
                    <span class="handler_name">待录入资格预审结果</span>
                    <i class="handler_num">1</i>
                </a>
            </li>
            <li>
                <a>
                    <span class="handler_icon handlerIcon10"></span>
                    <span class="handler_name">投标/报价中</span>
                    <i class="handler_num">1</i>
                </a>
            </li>
            <li>
                <a>
                    <span class="handler_icon handlerIcon11"></span>
                    <span class="handler_name">待开标</span>
                    <i class="handler_num">1</i>
                </a>
            </li>
            <li>
                <a>
                    <span class="handler_icon handlerIcon12"></span>
                    <span class="handler_name">评标中</span>
                    <i class="handler_num">1</i>
                </a>
            </li>
            <li>
                <a>
                    <span class="handler_icon handlerIcon13"></span>
                    <span class="handler_name">待结果公示</span>
                    <i class="handler_num">1</i>
                </a>
            </li>
            <li>
                <a>
                    <span class="handler_icon handlerIcon14"></span>
                    <span class="handler_name">结果公示中</span>
                    <i class="handler_num">1</i>
                </a>
            </li>
            <li>
                <a>
                    <span class="handler_icon handlerIcon15"></span>
                    <span class="handler_name">待中标/成交公示</span>
                    <i class="handler_num">1</i>
                </a>
            </li>
            <li>
                <a>
                    <span class="handler_icon handlerIcon16"></span>
                    <span class="handler_name">待确认中标通知书</span>
                    <i class="handler_num">1</i>
                </a>
            </li>
            <li>
                <a>
                    <span class="handler_icon handlerIcon17"></span>
                    <span class="handler_name">招标编辑中···</span>
                    <i class="handler_num">1</i>
                </a>
            </li>
        </ul>
    </div>
</div>