<div class="back_main">
    <div class="comingCon">
        <div class="comingNotice"><i class="iconfont icon-ling"></i>待办（<span>2</span>）</div>
        <ul class="comingList">
            <li>
                <p class="fontSize16">在线开标密钥下载<span class="textBlack3">（请在收到通知后24小时内完成下载）</span><span class="textBlack3 floatR">2018-08-08  12:00:00</span></p>
                <p class="fontSize16 marginT20"><span class="width180 textOrange marginR60 ellipsis" title="XXXXX高速公路钢材招标">XXXXX高速公路钢材招标</span>发布人：楚生材</p>
                <a href="javascript:;" class="downLoad">下载</a>
            </li>
            <li>
                <p class="fontSize16">在线开标密钥下载<span class="textBlack3">（请在收到通知后24小时内完成下载）</span><span class="textBlack3 floatR">2018-08-08  12:00:00</span></p>
                <p class="fontSize16 marginT20"><span class="width180 textOrange marginR60 ellipsis" title="XXXXX高速公路钢材招标">XXXXX高速公路钢材招标</span>发布人：楚生材</p>
                <a href="javascript:;" class="downLoad">下载</a>
            </li>
        </ul>
    </div>



    <div class="back_main_bg"></div>
    <p class="fontSize24">欢迎来到采购商中心！</p>
    <p class="fontSize16 textBlack3">在这里您可以随时进行企业项目、招标项目的维护与跟踪。</p>
</div>