<div class="breadcrumbs_wrap">
    <div class="breadcrumbs_inner">
        <%= backCrumbs %>
    </div>
</div>
<div class="guestmode_bg">
    <div class="guestmode_bg_inner">
        <div class="guestmode_jindu">
            <i class="iconfont icon-jinrongtubiao_jindu"></i>
            <p>截标时间：<b>2018-08-08&nbsp;&nbsp;12:00:00</b></p>
        </div>
    </div>
</div>
<%= timeline %>
<div class="bgf2">
    <div class="zhaobiao_info">
        <div class="zb_tabs">
            <ul class="zb_tabs_list clearfix">
                <li class="zb_tabs_li"><a href="javascript:;">招标基本信息</a></li>
                <li class="zb_tabs_li active"><a href="javascript:;">招标细节要求</a></li>
                <li class="zb_tabs_li"><a href="javascript:;">招标单位简介</a></li>
                <li class="zb_tabs_li"><a href="javascript:;">项目简介</a></li>
                <li class="zb_tabs_li"><a href="javascript:;">答疑/回复</a></li>
            </ul>
        </div>
        <div class="zb_tabs_wrap">
            <div class="zb_tabs_content">
                <div class="msg_tips_wrap">
                    <p class="msg_tips"><i class="iconfont icon-i"></i>提示：如标书设置为需要购买，未经企业确认的供应商将无法在线查看/下载以下内容</p>
                </div>
                <div class="biaoshu_div">
                    <ul class="biaoshu_ul">
                        <li class="biaoshu_li">
                            <span class="biaoshu_span">需要购买标书：</span>
                            <span class="biaoshu_intro">是</span>
                        </li>
                        <li class="biaoshu_li">
                            <span class="biaoshu_span">标书价格：</span>
                            <span class="biaoshu_intro">3600.00元</span>
                        </li>
                        <li class="biaoshu_li">
                            <span class="biaoshu_span">标书文件：</span>
                            <span class="biaoshu_intro color-red">海花岛乐享社区地块主体及配套建设招标-招标文件</span>
                        </li>
                        <li class="biaoshu_li">
                            <span class="biaoshu_span">需要支付投标保证金：</span>
                            <span class="biaoshu_intro">否</span>
                        </li>
                        <li class="biaoshu_li">
                            <span class="biaoshu_span vertical-top lineheight32">支付说明：</span>
                            <p  class="biaoshu_intro lineheight32 width680">投标人购买招标文件采取电汇方式，不接收现金等其它付款方式。将购买招标文件的款项电汇（必须是从投标人的基本账户汇出，不接受信汇及个人汇款等方式）至招标代理机构北京中铁国际招标有限公司账号，同时须在汇款单据上注明招标编号及包件号。</p>
                        </li>
                        <li class="biaoshu_li">
                            <span class="biaoshu_span">需要送样：</span>
                            <span class="biaoshu_intro">是</span>
                        </li>
                        <li class="biaoshu_li">
                            <span class="biaoshu_span">需要送货上门：</span>
                            <span class="biaoshu_intro">否</span>
                        </li>
                    </ul>
                </div>
                <div class="wuzi_list">
                    <p class="wuzi_list_title">物资清单</p>
                    <table class="wuzi_table">
                        <thead>
                            <tr>
                                <th class="w91">序号</th>
                                <th class="w208">物资名称</th>
                                <th class="w176">规格型号</th>
                                <th class="w176">参数指标</th>
                                <th class="w97">品牌</th>
                                <th class="w73">单位</th>
                                <th class="w97">数量</th>
                                <th class="w97">备注</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td><p>钢材</p></td>
                                <td><p>/</p></td>
                                <td><p>/</p></td>
                                <td><p>/</p></td>
                                <td>吨</td>
                                <td><span>10</span></td>
                                <td><p>/</p></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td><p>钢材</p></td>
                                <td><p>/</p></td>
                                <td><p>/</p></td>
                                <td><p>/</p></td>
                                <td>吨</td>
                                <td><span>10</span></td>
                                <td><p>/</p></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td><p>钢材</p></td>
                                <td><p>/</p></td>
                                <td><p>/</p></td>
                                <td><p>/</p></td>
                                <td>吨</td>
                                <td><span>10</span></td>
                                <td><p>/</p></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="supplement">
                        <span class="supplement_span">补充说明：</span>
                        <p>-</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>