<div class="order_warp">
    <div class="order_title">收获信息</div>
    <div class="order_address">
        <div class="order_line clearfix">
            <label>所在单位</label>
            <div class="line_con">湖北省楚建易网络科技有限公司默认带出公司名称</div>
        </div>
        <div class="order_line clearfix">
            <label class="lineHeignt"><span class="textRed">*</span>联系人</label>
            <div class="line_con">
                <input type="text" class="cjy-input-">
            </div>
        </div>
        <div class="order_line clearfix">
            <label>收获地址</label>
            <div class="line_con">湖北省武汉市新长江国际大厦</div>
        </div>
        <div class="order_line clearfix">
            <label class="lineHeignt"><span class="textRed">*</span>联系方式</label>
            <div class="line_con">
                <input type="text" class="cjy-input-">
            </div>
        </div>
    </div>
    <div class="order_title">商品清单</div>
    <div class="order_pList_con">
        <div class="order_shop">
            <i class="iconfont icon-dianpu marginR10"></i>昆山金誉盛钢金属材料有限公司
        </div>
        <div class="order_list_table">
            <table cellSpacing=0 cellPadding=0>
                <colgroup>
                    <col width="200">
                    <col width="200">
                    <col width="200">
                    <col width="150">
                    <col width="150">
                    <col width="180">
                    <col width="150">
                </colgroup>
                <thead>
                    <tr>
                        <th>物资信息</th>
                        <th>品牌</th>
                        <th>规格型号</th>
                        <th>采购量</th>
                        <th>单价（含税）</th>
                        <th>税率</th>
                        <th>小计</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>PH标准液</td>
                        <td>盛世康普</td>
                        <td>(48.8±2.1μm)</td>
                        <td>100 瓶</td>
                        <td>￥1500.00</td>
                        <td>16%</td>
                        <td>￥150000.00</td>
                    </tr>
                    <tr>
                        <td>PH标准液</td>
                        <td>盛世康普</td>
                        <td>(48.8±2.1μm)</td>
                        <td>100 瓶</td>
                        <td>￥1500.00</td>
                        <td>16%</td>
                        <td>￥150000.00</td>
                    </tr>
                    <tr>
                        <td>PH标准液</td>
                        <td>盛世康普</td>
                        <td>(48.8±2.1μm)</td>
                        <td>100 瓶</td>
                        <td>￥1500.00</td>
                        <td>16%</td>
                        <td>￥150000.00</td>
                    </tr>
                </tbody>
            </table>
            <div class="clear"></div>
        </div>
        <div class="order_list_footer clearfix">
            <span class="order_money">
                <span>￥1.00</span>
                <span>￥192,000 .00</span>
                <span class="order_total">￥60.00</span>
            </span>
            <span class="order_money_title">
                <label>运费：</label>
                <label>货物总金额：</label>
                <label class="order_total_title">应付总额（含运费）：</label>
            </span>
        </div>
    </div>
    <div class="order_title">发票信息<span>（含收票地址信息）</span></div>
    <div class="order_invoice">
        <a href="javascript:;" class="invoice_item checked"><i></i>增值税普通发票</a>
        <a href="javascript:;" class="invoice_item"><i></i>增值税专用发票</a>
        <a href="javascript:;" class="invoice_item"><i></i>不需要发票</a>
    </div>
    <div class="order_invoice_con">
        <div class="order_line clearfix">
            <label class="adr_label">收票地址</label>
            <div class="line_con adr_list">
                <div class="adr_item checked">
                    <i></i>
                    <span>发票抬头发票抬头发票抬头发票抬头</span>
                    <span class="adr_default">默认地址</span>
                    <span class="adr_btns">
                        <a href="javascript:;" class="marginR10" name="setDefault">设为默认收货地址</a>
                        -
                        <a href="javascript:;" class="marginL10" name="changeInfo">修改信息</a>
                    </span>
                </div>
                <div class="adr_item default">
                    <i></i>
                    <span>发票抬头发票抬头发票抬头发票抬头</span>
                    <span class="adr_default">默认地址</span>
                    <span class="adr_btns">
                        <a href="javascript:;" class="marginR10" name="setDefault">设为默认收货地址</a>
                        -
                        <a href="javascript:;" class="marginL10" name="changeInfo">修改信息</a>
                    </span>
                </div>
                <div class="adr_item">
                    <i></i>
                    <span>发票抬头发票抬头发票抬头发票抬头</span>
                    <span class="adr_default">默认地址</span>
                    <span class="adr_btns">
                        <a href="javascript:;" class="marginR10" name="setDefault">设为默认收货地址</a>
                        -
                        <a href="javascript:;" class="marginL10" name="changeInfo">修改信息</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="order_line clearfix">
            <label class="adr_label"></label>
            <div class="line_con">
                <a class="adr_more"><i class="iconfont icon-xiajiantou"></i><span>展开地址</span></a>
                <a class="adr_add marginL20 invoice_add_class"><i class="iconfont icon-jiahao1"></i><span>新增地址</span></a>
            </div>
        </div>
    </div>
    <div class="order_bottom">
        <div class="order_bottom_con">
            <a href="#" class="order_goCart floatL">取消</a>
            <a href="#" class="order_confirm floatR">提交订单</a>
            <span class="order_bottom_money floatR">￥60.00</span>
            <label class="floatR">应付总额（含运费）：</label>
        </div>
    </div>
</div>