<%= otherTop %>
<div class="bid_head_container">
    <div class="bid_head_con clearfix">
        <div class="bid_head_title">中铁八局集团昆明铁路建设有限公司珠三角城际新百广XBZH-2标四工XBZH-2标工程项目螺纹钢、管材等公开采购中铁八局集团昆明铁路建设有限公司珠三角城</div>
        <div class="bid_head_tips">
            <span>采购编号： HBLQJTCLZB20180141</span>
            <span>发布时间： 2018-12-12 14:34</span>
            <span>经办人： 张三/1350713736</span>
        </div>
        <div class="bid_head_cells">
            <span>物资/设备采购</span>
            <span>邀请招标</span>
            <span>在线开标</span>
            <span>资格预审</span>
        </div>
    </div>
    <div class="bid_body_container">
        <div class="bid_body_con">
            <div class="bid_multi_title"><span class="act">发布变更公告</span></div>
            <div class="bid_body_detail">
                <div class="bid_block clearfix">
                    <label>公告标题：</label>
                    <div class="bid_block_item"><input type="text" class="cjy-input-" placeholder="" style="width:1080px;"></div>
                </div>
                <div class="bid_block clearfix">
                    <label>公告正文：</label>
                    <div class="bid_block_item">
                        <div id="myEditor"></div>
                    </div>
                </div>
                <div class="bid_block clearfix">
                    <label>公告附件：</label>
                    <div class="bid_block_item">
                        <span id="uploadBtn"></span>
                        <span class="bid_msg_con" style="margin-left: 20px;vertical-align: 2px;"><i class="iconfont icon-i"></i>最多可上传8个附件（非招标文件）,支持jpg、png、jpeg、bmp、pdf、xls、xlsx、doc、docx、txt</span>
                        <div id="process-files"></div>
                        <div class="bid_fujian_list">
                            <p class="fujian_con"><i class="iconfont icon-fujian"></i><a href="" class="fujian_link">资审文件1.doc</a><a href="javascript:;" class="marginL20 textBlue fujian_del">删除</a></p>
                        </div>
                    </div>
                </div>
                <div class="bid_foot_btns">
                    <a href="javascript:;" class="bid_change_cancel">取消</a>
                    <a href="javascript:;" class="bid_change_save">发布</a>
                </div>
            </div>
        </div>
    </div>
</div>