<div class="bidDetail_banner">
    <div class="bid_head_crumbs">
        <i class="iconfont icon-ditu"></i>
        当前位置：
        <a href="#">中标(成交)公告</a>&gt;<a href="#">公告详情</a>&gt;<span>澄清记录</span>
    </div>
</div>
<div class="bidDetail_wrap">
    <div class="bidDetail_main">
        <div class="bidDetail_head">
            <i class="circle_left"></i>
            <i class="circle_right"></i>
            <h1>中铁八局集团昆明铁路建设有限公司珠三角城际新百广XBZH-2标四工XBZH-2标工程项目螺纹钢、管材等公开采购中铁八局集团昆明铁路建设有限公司珠三角城</h1>
            <span class="block marginT14">变更时间：2019-08-05   09:30</span>
        </div>
        <div class="bidDetail_body">
            <div class="rich_web_txt marginT30">
                <p style="color: #333;margin-bottom: 20px;line-height: 2;">各潜在投标人：</p>
                <p style="color: #333;margin-bottom: 20px;line-height: 2;">经研究，对泽口灌区（潜江部分）续建配套与节水改造工程2019年度项目（项目名称）HBSJ-201905SL-002001001经研究，对泽口灌区（潜江部分）续建配套与节水改造工程2019年度项目（项目名称）HBSJ-201905SL-002001001经研究，对泽口灌区（潜江部分）续建配套与节水改造工程2019年度项目（项目名称）HBSJ-201905SL-002001001经研究，对泽口灌区（潜江部分）续建配套与节水改造工程2019年度项目（项目名称）HBSJ-201905SL-002001001经研究，对泽口灌区（潜江部分）续建配套与节水改造工程2019年度项目（项目名称）HBSJ-201905SL-002001001</p>
                <p style="text-align: right;color: #333;margin-bottom: 10px;line-height: 2;">湖北腾升工程管理有限责任公司</p>
                <p style="text-align: right;color: #333;line-height: 2;">2019年6月10日</p>
            </div>
            <div class="bid_detail_title"><i class="detail_title_circle"></i>时间变更</div>
            <div class="material_list clearfix">            
                <table>
                    <colgroup>
                        <col width="10%">
                        <col width="10%">
                        <col width="10%">
                    </colgroup>
                    <thead>
                        <tr><th>时间项</th>
                        <th>最新时间</th>
                        <th>变更前</th>
                    </tr></thead>
                    <tbody>
                        <tr>
                            <td>报名截止时间</td>
                            <td>2019-12-12  12：00</td>
                            <td>2019-12-12  12：00</td>
                        </tr>
                        <tr>
                            <td>资审文件递交截止时间</td>
                            <td>2019-12-12  12：00</td>
                            <td>2019-12-12  12：00</td>
                        </tr>
                        <tr>
                            <td>投标截止时间</td>
                            <td>2019-12-12  12：00</td>
                            <td>2019-12-12  12：00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="bid_detail_title"><i class="detail_title_circle"></i>附件下载</div>
            <div class="detail_file_list">
                <div class="detail_file_cell"><i class="iconfont icon-fujian"></i>投标文件1.doc<a href="javascript:;" class="textBlue marginL12">下载</a></div>
                <div class="detail_file_cell"><i class="iconfont icon-fujian"></i>投标文件1.doc<a href="javascript:;" class="textBlue marginL12">下载</a></div>
            </div>
        </div>
    </div>
</div>