<div class="applyentry_wrap">
    <div class="applyentry_bg"></div>
    <div class="applyentry_head">
        <div class="applyentry_logo">
            <div class="applyentry_logo_bg"></div>
            <img src="<%= logoDemo %>">
            <i class="iconfont icon-vip"></i>
        </div>
        <div class="applyentry_company">湖北省路桥集团有限公司</div>
        <div class="applyentry_applyCon">
            <a href="javascript:;" class="apply_btn">申请入驻</a>
        </div>
        <div class="textC"><span class="applyentry_title">开通店铺</span></div>
        <div class="applyentry_body">
            <p class="fontSize12 textBlack3 textC">完善信息，更多商机等着您</p>
            <div class="applyentry_cellCon clearfix">
                <div class="applyentry_cell">
                    <div class="cell_con">
                        <span class="cell_icon1"></span>
                        <p>立即绑定善融商城账户</p>
                    </div>
                </div>
                <div class="applyentry_cell">
                    <div class="cell_con">
                        <span class="cell_icon2"></span>
                        <p>完善公司信息</p>
                    </div>
                </div>
                <div class="applyentry_cell">
                    <div class="cell_con">
                        <span class="cell_icon3"></span>
                        <p>发布商品</p>
                    </div>
                </div>
                <div class="applyentry_cell">
                    <div class="cell_con">
                        <span class="cell_icon4"></span>
                        <p>装修店铺</p>
                    </div>
                </div>
            </div>
            <div class="applyentry_bottom">
                <span></span>
                咨询热线：027-82815329
                <span></span>
            </div>
        </div>
    </div>
</div>