<%= otherTop %>
<div class="bid_head_container">
    <div class="bid_head_con clearfix">
        <div class="bid_head_handle">
            <a href="#" class="bid_handle_btn"><i class="iconfont icon-wenhao1"></i>答疑澄清<div class="bid_bubble_warp"><span class="bid_bubble">新增<span class="textOrange">5</span>条记录</div></a>
        </div>
        <div class="bid_head_title">中铁八局集团昆明铁路建设有限公司珠三角城际新百广XBZH-2标四工XBZH-2标工程项目螺纹钢、管材等公开采购中铁八局集团昆明铁路建设有限公司珠三角城</div>
        <div class="bid_head_tips">
            <span>采购编号： HBLQJTCLZB20180141</span>
            <span>发布时间： 2018-12-12 14:34</span>
            <span>经办人： 张三/1350713736</span>
        </div>
        <div class="bid_head_cells">
            <span>物资/设备采购</span>
            <span>邀请招标</span>
            <span>在线开标</span>
            <span>资格预审</span>
        </div>
        <ul class="bid_head_steps">
            <li class="stepDone"><p>报名中</p><i class="bid_steps_circle"></i></li>
            <li class="stepDone"><p>资格预审中</p><i class="bid_steps_circle"></i></li>
            <li class="stepDone"><p>待录入资审结果</p><i class="bid_steps_circle"></i></li>
            <li class="stepDone"><p>投标/报价中</p><i class="bid_steps_circle"></i></li>
            <li class="stepDone"><p>待开标</p><i class="bid_steps_circle"></i></li>
            <li class="stepDone"><p>评标中</p><i class="bid_steps_circle"></i></li>
            <li class="stepDone"><p>待结果公示</p><i class="bid_steps_circle"></i></li>
            <li class="stepDone"><p>结果公示中</p><i class="bid_steps_circle"></i></li>
            <li class="stepDone"><p>待中标/成交公告</p><i class="bid_steps_circle"></i></li>
            <li class="stepDoing"><p>招标结束</p><i class="bid_steps_circle"></i></li>
        </ul>
    </div>
    <div class="bid_body_container">
        <div class="bid_body_con">
            <div class="bid_body_title"><span>招标结束</span></div>
            <div class="bid_body_detail">
                <div class="bid_detail_tips">
                    <span class="textBlack1 marginL20 marginR100">公示时间：2018-12-12  12:00</span>
                    <span class="textBlack1 marginR100">公示结束时间：2018-12-12  12:00</span>
                    <span class="textBlack1 marginR100">报价信息：已公开</span>
                    <span class="textBlack1">中标通知书：<span class="textBlue">录入信息</span></span>
                </div>
                <div class="bid_detail_title"><i class="detail_title_circle"></i>公示结果</div>
                <div class="material_list">
                    <table>
                        <colgroup>
                            <col width="10%">
                            <col width="10%">
                            <col width="8%">
                            <col width="8%">
                            <col width="25%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>包件号</th>
                                <th>采购内容</th>
                                <th>采购量</th>
                                <th>招标结果</th>
                                <th>公示信息</th>
                            </tr>
                        </thead>
                        <tbody class="page_list">
                            <tr>
                                <td>GC-2009-01</td>
                                <td>钢材</td>
                                <td>12000吨</td>
                                <td><span class="status4"></span>已定标/已成交</td>
                                <td>
                                    <p class="fontBlod">【中标单位】</p>
                                    <p><i class="bid_table_num">1</i><span class="bid_table_name">湖北省楚建易网络科技有限公司</span><span class="bid_table_pay">100,000,000.00元</span></p>
                                    <p><i class="bid_table_num">2</i><span class="bid_table_name">湖北省冶金科学研究所</span><span class="bid_table_pay">110,000,000.00元</span></p>
                                </td>
                            </tr>
                            <tr>
                                <td>GC-2009-02</td>
                                <td>水泥</td>
                                <td>11000吨</td>
                                <td><span class="status5"></span>已废标</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>GC-2009-03</td>
                                <td>柴油</td>
                                <td>15000吨</td>
                                <td><span class="status5"></span>已流标</td>
                                <td>报价单位不足三家，经专家组判定，已确认为流标报价单位不足三家，经专家组判定，已确认为流标报价单位不足三家，经专家组判定，已确认认为流标。完整显示公司信息。</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="clear"></div>
                </div>
                <div class="bid_detail_title"><i class="detail_title_circle"></i>结果公告正文</div>
                <div class="bid_detail_content">
                    <p>在这物欲横流的世界里，我们总是患得患失。要么是爱而不得，要么是得而又失。殊不知，人世间的种种，原本不属于你的，即便你苦苦哀求，执着于此，即便得到了也仍是郁郁寡欢。而那些原本属于你的，即便此刻得而又失，终会一日也会失而复得，以另一种方式回到你的身旁。在这物欲横流的世界里，我们总是患得患失。要么是爱而不得，要么是得而又失。殊不知，人世间的种种，原本不属于你的，即便你苦苦哀求，执着于此，即便得到了也仍是郁郁寡欢。而那些原本属于你的，即便此刻得而又失，终会一日也会失而复得，以另一种方式回到你的身旁。在这物欲横流的世界里，我们总是患得患失。要么是爱而不得，要么是得而又失。殊不知，人世间的种种，原本不属于你的，即便你苦苦哀求，执着于此，即便得到了也仍是郁郁寡欢。而那些原本属于你的，即便此刻得而又失，终会一日也会失而复得，以另一种方式回到你的身旁。在这物欲横流的世界里，我们总是患得患失。要么v是爱而不得，要么是得而又失。殊不知，寡欢。而那些原本属于你的，即便此刻得而又失，终会一日也会失而复得，以另一种方式回到你的身旁。在这物欲横流的世界里，我们总是患得患失。要么是爱而不得，要么是得而又失。殊不知，人世间的种种，原本不属于你的，即便你苦苦哀求，执着于此，即便得到了也仍是郁郁寡欢。而那些原本属于你的，即便此刻得而又失，终会一日也会失而复得，以另一种方式回到你的身旁。在这物欲横流的世界里，我们总是患得患失。要么是爱而不得，要么是得而又失。殊不知，人世间的种种，原本不属于你的，即便你苦苦哀求，执着于此，即便得到了也仍是郁郁寡欢。而那些原本属于你的，即便此刻得而又失，终会一日也会失而复得，以另一种方式回到你的身旁。</p>
                </div>
            </div>
        </div>
    </div>
</div>